.help
  -if @help && !@help.content.blank?
    -content_for :modal_title do
      -if CMS_CONFIG["ALLOW_HELP_EDIT"]
        %a.btn.btn-mini.pull-right.help-edit{:'data-toggle' => 'collapse', :href => '#helpedit', :title => "Edit Help", :rel => "tooltip", :'data-placement' => "left"}
          %i.grcicon-edit
      -if @help.title.present?
        =@help.title
      -else
        =@help_slug.humanize
        Help
    .help-content.rtf
      =display_as_html @help.content
  -else
    -content_for :modal_title do
      -if CMS_CONFIG["ALLOW_HELP_EDIT"]
        %a.btn.btn-mini.pull-right.help-edit{:'data-toggle' => 'collapse', :href => '#helpedit', :title => "Edit Help", :rel => "tooltip", :'data-placement' => "left"}
          %i.grcicon-edit
      GRC Help
    .help-content.rtf
      %p This content is coming soon.  We are working on it.


-if CMS_CONFIG["ALLOW_HELP_EDIT"]
  #helpedit.collapse
    .row-fluid
      .well
        =form_for @help, :url => update_help_path, :method => :post, :remote => true do |f|
          =f.label :help_title
          =f.text_field :title, :class => 'span12'
          =f.label :help_content
          .wysiwyg-area
            =f.text_area :content, :class => 'span12 double wysihtml5 rtftextarea', :rows => 8
          .row-fluid
            .span12
              =f.submit :Save, :class => 'btn btn-warning pull-right'
          =f.hidden_field :slug

=render :partial => "shared/wysihtml5"
