-content_for :modal_title do
  Help for Quick Find

%p On Quick Find, you can:

%p Search by short-code or title keywords
%p Hover over results to help identify the item you want
%p Click the item to explore the item
