#impactscopewidget.WidgetBox
  .WidgetBoxHeading
    .WidgetTitle Impact / Scope
    %nav
      %a.widgetbtn{"data-toggle" => "modal", :href => "#comingsoonModal"}
        %i.gcmsicon-questionmark-grey
      %input.ui-corner-all.widgetsearch{:placeholder => "Search", :type => "text"}/
      %a.accordion-toggle.widgetbtn{"data-toggle" => "collapse", :href => "#impactScopeInfo"}
        %i.gcmsicon-enlarge-grey
  .WidgetBoxContent.information
    #impactScopeInfo.collapse.in
      /Button Filters
      .button-set
        .row-fluid
          .span4
            .span12.btn.btn-info{:href => ""}
              Org Groups
          .span4
            .span12.btn.halfopacity{:href => ""}
              Products
          .span4
            .span12.btn.halfopacity{:href => ""}
              Facilities
          
      .button-set
        .row-fluid
          .span4
            .span12.btn{:href => ""}
              Data Assets
          .span4
            .span12.btn.halfopacity{:href => ""}
              Products
          .span4
            .span12.btn.halfopacity{:href => ""}
              Markets 
      %hr.hr-widget
      / TABS
      .row-fluid
        .span12.nominheight.itemswell
          .row-fluid.nominheight
            .span12.nominheight
              %h4.nominheight
                Org Groups
                %a.btn.btn-blue.minibtn.pull-right Edit List
          .row-fluid
            .span12.captionbox
              .subtitle Org groups that have implemented this Control (2)
          .row-fluid
            %ul.span12
              %li.controlSlot
                .row-fluid.nominheight
                  .span6.nominheight
                    %span.controls-group GWT
                  .span6.nominheight
                    %a.btn.minibtn.pull-right Review
                .row-fluid.nominheight
                  .span12.nominheight
                    %span.controls-subgroup Google Corp IT Team
              %li.controlSlot
                .row-fluid.nominheight
                  .span6.nominheight
                    %span.controls-group FIN
                  .span6.nominheight
                    %a.btn.minibtn.pull-right Review
                .row-fluid.nominheight
                  .span12.nominheight
                    %span.controls-subgroup Google Data Center Team
     
  / end of span