-content_for :widget_title do
  Quick Find

-content_for :widget_buttons do
  %input.ui-corner-all.widgetsearch.clear-value(type='text' placeholder='Search')

.tabbable#quick_find
  %ul.nav.nav-tabs
    %li=link_to 'Controls', '#controls', :data => { :'tab-href' => quick_controls_path, :toggle => 'tab' }
    %li=link_to 'Biz Processes', '#biz_processes', :data => { :'tab-href' => quick_biz_processes_path, :toggle => 'tab' }
  .tab-content
    #controls.tab-pane
    #biz_processes.tab-pane

