-content_for :widget_title do
  Quick Find

-content_for :widget_buttons do
  %input.ui-corner-all.widgetsearch.clear-value(type='text' placeholder='Search')

-content_for :widget_help, 'quick_find'

.tabbable#quick_find
  %ul.nav.nav-tabs
    %li=link_to 'Controls', '#controls', :data => { :'tab-href' => quick_controls_path, :toggle => 'tab' }
    %li=link_to 'Biz Processes', '#biz_processes', :data => { :'tab-href' => quick_biz_processes_path, :toggle => 'tab' }
    %li=link_to 'Systems', '#systems', :data => { :'tab-href' => quick_systems_path, :toggle => 'tab' }
    %li=link_to 'Products', '#products', :data => { :'tab-href' => quick_products_path, :toggle => 'tab' }
  .tab-content
    #controls.tab-pane
    #biz_processes.tab-pane
    #systems.tab-pane
    #products.tab-pane

-if has_feature? :BETA
  .row-fluid
    .span6
    .span6
      %label.fltrt
        %strong 254
        of 500
