-if @biz_processes.empty?
  .no-results
    No results found
-else
  %ul.nav.nav-tabs.nav-stacked
    -@biz_processes.each do |biz_process|
      %li=link_to biz_process.title, flow_system_path(biz_process)
