-if @biz_processes.empty?
  .no-results
    No results found
-else
  %ul.nav.nav-tabs.nav-stacked
    -@biz_processes.each do |biz_process|
      %li.group
        %a{ :href => flow_system_path(biz_process), :'data-popover-href' => tooltip_flow_system_path(biz_process), :'data-popover-trigger' => 'sticky-hover' }
          %h3=biz_process.slug
          %p.oneline
            %strong=biz_process.title
            &nbsp;
            =raw biz_process.description
