-if @options.empty?
  .no-results
    No results found
-else
  %ul.nav.nav-tabs.nav-stacked
    -@options.each do |option|
      %li
        %a.widgetbtn.fltrt{ :'data-form-target' => "refresh", :'data-modal-reset' => "reset", :'data-toggle' => "modal-ajax-form", :href => edit_flow_option_path(option), :'data-target' => "#ajax-modal-options-3-edit" }
          %i.gcmsicon-edit-grey
        =link_to '#' do
          =option.title
