-if @options.empty?
  .no-results
    No results found
-else
  %a.btn.btn-warning{ :href => export_flow_options_path(:format => :csv) }
    %i.gcmsicon-import-white
    Export
  -@options.sort_by(&:role).group_by(&:role).each do |role, options_for_role|
    %h4=role.humanize.titleize
    %ul.nav.nav-tabs.nav-stacked
      -options_for_role.sort_by(&:title).each do |option|
        %li
          %a.widgetbtn.fltrt{ :'data-form-target' => "refresh", :'data-modal-reset' => "reset", :'data-toggle' => "modal-ajax-form", :href => edit_flow_option_path(option), :'data-target' => "#ajax-modal-options-3-edit" }
            %i.gcmsicon-edit-grey
          =link_to '#' do
            =option.title
