%ul.nav.nav-tabs.nav-stacked
  -@sections.each do |section|
    %li
      %a{ :href => '#', :'data-popover-href' => tooltip_flow_section_path(section) }
        %h3=section.slug
        %p.oneline
          %strong=section.title
          &nbsp;
          =control.description
