.modal-header
  %nav
    %a.widgetbtn{ :'data-dismiss' => 'modal', :href => '#'}
      %i.grcicon-x-grey
  %h1 Unauthorized

.modal-body
  You are not authorized to perform this action. You may need to change your role, or ask the owner of the object
  to grant you permission.

.modal-footer
  .row-fluid
    .span9
    %nav.fltrt.txtrt.span3
      %a.btn.btn-large.btn-primary{"data-dismiss" => "modal", :href => "#"} Close
