-default_message = "Could not import: verify the file is correctly formatted."
-message = default_message if local_assigns[:message].nil?

.row-fluid
  %hr.hr-widget

.row-fluid
  .span6
    %h4
      =message
