%div.bphead.remote{:title => bp.slug}><
  =link_to url_for(:action => :openbp, :id => bp.id), :remote => true, :"data-type" => "html" do
    %img.tree{:src => "/images/expand.gif"}>
  =link_to url_for(:action => :openbp, :id => bp.id), :remote => true, :"data-type" => "html" do
    =bp.title
  .tree
