.systemhead.remote
  -link_to url_for(:action => :opensys, :biz_process_id => biz_process.id, :id => system.id), :remote => true do
    %img.tree{:src => "/images/expand.gif"}>
  -link_to url_for(:action => :opensys, :biz_process_id => biz_process.id, :id => system.id), :remote => true do
    %span{:title => system.slug}><
      =system.title
  -@state = system.state_by_process(biz_process)
  %span{:class => @state[:state]}
    =@state[:state].to_s.capitalize
  %span
    (
    %span{:class => @state[:state]}
      =@state[:bad]
    ="/"
    =@state[:count]
    )
  %span.owner
    =system.owner.display_name
