<div class="row-fluid">
  {{#withclass 'selected:selected span10 slot regulationslot toggle selector collapsed oneline'}}
  <a href="javascript://">
    <i class="grcicon-ok slct"></i>
    <strong class="prefix">{{slug}}</strong>
    {{firstnonempty title description_inline}}
  </a>
  {{/withclass}}
  <a class="attached badge controllistRM status {{#if linked_controls.length}}badge-warning {{/if}}{{^linked_controls.length}}{{#if na}} badge-warning {{else}} badge-important {{/if}}{{/linked_controls.length}}" href="/mapping_section_dialog/{{id}}">
    {{#if linked_controls.length}}
      {{{linked_controls.length}}}
    <ul class="spannomargin" title="{{join 'slug' linked_controls}}" style="display:none">
    <li>
      <strong>{{linked_controls.length}}</strong>
      : 
    </li>
      {{#linked_controls}}
        <li>
          {{slug}}
        </li>
      {{/linked_controls}}
    </ul>
    {{else}}
        {{#if na}}
          N/A
        {{else}}
          0
        {{/if}}
    {{/if}}
  </a>
</div>
{{#if children}}
  <div class="item-content in">
    <ul class="tree-structure" id="children_{{slug}}">
      {{#children}}
        <li id="content_{{slug}}" {{data 'model'}} data-model="true">
          {{> /assets/sections/slug_node.mustache}}
        </li>
      {{/children}}
    </ul>
  </div>
{{/if}}
