-content_for :modal_title do
  %h1 Add Person

%script#person_option{ :type => 'text/html', :'data-prefix' => 'person' }
  %li{ :'data-id' => '<%= person.id %>', :'data-name' => '<%= person.name %>', :'data-company' => '<%= person.company %>' }
    .row-fluid
      .span8
        %span.company <%= person.company %>
        %span.name <%= person.name %>
      .span4.actions
        %a.widgetbtn.pull-right.add-me{:href => "#", :'data-toggle' => 'selector-list-select'}
          %i.grcicon-chevron-right
        %a.widgetbtn.pull-right{:href => edit_flow_person_path('<%=person.id%>'), :'data-toggle' => 'modal-ajax-listeditform', :'data-selector-target' => '.source, .target' }
          %i.gcmsicon-edit-grey

%script#object_person_selected_data{ :type => 'text/html' }
  %span.company <%= person.company %>
  %span.name <%= person.name %>

%script#object_person_selected{ :type => 'text/html', :'data-mappings' => 'object:person', :'data-member' => 'object_person', :'data-role' => 'accountable', :'data-start_date' => '', :'data-stop_date' => '' }
  %li{ :'data-id' => '<%= id %>', :'data-object-id' => '<%= person.id %>' }
    .row-fluid
      .span6.object_info{ :'data-template-id' => 'object_person_selected_data' }
        -#%span.company <%= person.company %>
        -#%span.name <%= person.name %>
      .span6.actions
        %input{ :type => 'hidden', :name => 'items[<%= id %>][id]', :value => '<% if (id.toString().substr(0,3) != "new") { %><%= id %><% } %>'.html_safe }
        %input{ :type => 'hidden', :name => 'items[<%= id %>][personable_type]', :value => object.class.name }
        %input{ :type => 'hidden', :name => 'items[<%= id %>][personable_id]', :value => object.id }
        %input{ :type => 'hidden', :name => 'items[<%= id %>][person_id]', :value => '<%= person.id %>' }
        %input._destroy{ :type => 'hidden', :name => 'items[<%= id %>][_destroy]', :value => '' }
        %a.widgetbtn.pull-right{ :href => '#', :'data-toggle' => 'selector-list-remove' }
          %i.icon-minus-sign
        %a.widgetbtn.pull-right{ :href => edit_flow_person_path('<%=person.id%>'), :'data-toggle' => 'modal-ajax-listeditform', :'data-selector-target' => '.source, .target' }
          %i.gcmsicon-edit-grey
        .btn-group.inline
          %a.span7.btn.btn-success.btn-mini.dropdown-toggle.nominheight.halfopacity.pull-right{"data-toggle" => "dropdown"}
            <%= (role && role.length > 0) ? role[0].toUpperCase() + role.substr(1) : "Select Role" %>
          %input{ :type => 'hidden', :name => 'items[<%= id %>][role]', :value => '<%= role %>' }
          %ul.dropdown-menu{ :'data-toggle' => 'dropdown-select-list' }
            %li
              %a#makeAccountable{ :'data-value' => 'accountable', :href => '#' }
                is Accountable for
            %li
              %a#makeResponsible{ :'data-value' => 'responsible', :href => '#' }
                is Responsible for
        %span.help-inline
    .row-fluid
      .span4
      .span4
        %label Start Date (Optional)
        %input.span12.date{:type => "text", :placeholder => "MM/DD/YYYY", :name => 'items[<%= id %>][start_date]', :'data-toggle' => 'datepicker', :value => '<%= this.format_date(start_date) %>'}
      .span4
        %label Stop Date (Optional)
        %input.span12.date{:type => "text", :placeholder => "MM/DD/YYYY", :name => 'items[<%= id %>][stop_date]', :'data-toggle' => 'datepicker', :value => '<%= this.format_date(stop_date) %>'}

.row-fluid
  .span5
    %h4
      Add Person
      %a.widgetbtn.widgetbtnselector{ :href => new_flow_person_path, :'data-toggle' => 'modal-ajax-listnewform', :'data-selector-target' => '.source, .target' }
        %i.gcmsicon-add
      -#%a.btn.btn-blue.addbtn.fltrt.new{ :href => new_flow_person_path, :'data-toggle' => 'modal-ajax-listnewform', :'data-list-target' => '.source, .target' }
        %i.icon-user.icon-white
        New Person
      .pull-right
        %input.widgetsearch{:type => "text", :placeholder => "Search Person"}

    .filter-block
      .row-fluid
        .span12
          -#.modal-search.clearfix
            .btn-group.closed
              -#%a#filterButton.btn.dropdown-toggle{"data-toggle" => "dropdown"}
                GRC Directory
                %span.caret
              -#%ul.dropdown-menu
                %li
                  %a#showCompanyDirectory{:href => "#", :'data-toggle' => ''}
                    Company Directory
                %li
                  %a#showGRCDirectory{:href => "#", :'data-toggle' => ''}
                    GRC Directory

          -#.additional-filters.filter-group
            .row-fluid
              .span4
                %label Name
                %input.span12{:type=>"text", :placeholder => "enter name"}
              .span4
                %label Org. group
                %input.span12{:type=>"text", :placeholder => "example: IT"}
              .span4
                %label Title
                %input.span12{:type=>"text", :placeholder => "example: Compliance"}

          .tabbable.tabs-left
            .tab-content
              #category1.tab-pane.active
                .people-list.short
                  %ul.source{ :'data-list-data-href' => flow_people_url, :'data-template-id' => 'person_option' }
  .span7
    %h4 Roles for this system
    .people-list.currentlist
      %ul.target{ :'data-list-data-href' => flow_object_people_path(:object_type => object.class.name, :object_id => object.id), :'data-template-id' => 'object_person_selected' }
