.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active=link_to pat(:list), accounts_path
      %li=link_to pat(:new), new_account_path
  .content
    %h2.title
      =pat(:all)
      =mt(:accounts)
    .inner
      %table.table
        %tr
          %th.first=mat(:account, :name)
          %th=mat(:account, :role)
          %th=mat(:account, :surname)
          %th=mat(:account, :email)
          %th.last!="&nbsp;"
        -@accounts.each do |account|
          %tr
            %td.first=link_to h(account.name), edit_account_path(account)
            %td=account.role
            %td&=account.surname
            %td&=account.email
            %td.last
              =button_to pat(:edit), edit_account_path(account), :method => :get, :class => :button_to
              ="|"
              =button_to pat(:delete), account, :method => :delete, :class => :button_to
      .actions-bar.wat-cf
        .actions!="&nbsp;"

-render_for :sidebar, :partial => "base/sidebar"
