.block
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to pat(:list), accounts_path
      %li.active=link_to pat(:new), new_account_path
  .content
    %h2.title
      =pat(:new)
      =mt(:account)
    .inner
      =form_for @account, :method => :put, :html => {:class => :form} do |f|
        =render :partial => "admin/accounts/form", :locals => { :f => f }

/-content_for :sidebar, partial("base/sidebar")
