
-controls.each do |control|
  .item-main{ :'data-object-id' => control.id, :'data-object-type' => control.class.name.underscore }
    .openclose{ :class => 'lastchild' }
    .item-title
      .row-fluid
        =render :partial => 'object_leaf', :locals => { :instance => control, :object_type => 'compliance', :object_icon => 'grcicon-control' }

