-sections = directive.sections.includes(:controls => :implementing_controls)

-content_for :widget_title do
  %i{ :class => "grcicon-#{directive.section_meta_kind}" }
  =directive.section_meta_kind.to_s.pluralize.titleize
  %span=sections.count

-content_for :widget_help, 'directive_controls'

-content_for :widget_id, 'directive_controls_widget'

-content_for :widget_buttons do
  .filter
    -unless directive.company_controls?
      .row-fluid
        .span6
          -#%input.ui-corner-all.widgetsearch.clear-value(type='text' placeholder='Search')
        .span6
          .pull-right
            %a.btn.btn-add{ :href => new_flow_section_path(:'section[directive_id]' => directive.id), :'data-toggle' => 'modal-ajax-form', :'data-modal-reset' => 'reset', :'data-dirty' => '#regulations, #combo', :'data-route' => "tab=regulations", :'data-form-target' => 'refresh', :rel => 'tooltip', :title => "Create New #{directive.section_meta_kind.to_s.titleize}" }
              %i.grcicon-add
              #{directive.section_meta_kind.to_s.titleize}
            -#%a.btn.btn-add{ :href => new_flow_control_path(:'control[directive_id]' => directive.id), :'data-toggle' => 'modal-ajax-form', :'data-modal-reset' => 'reset', :'data-dirty' => '#category_controls, #combo', :'data-route' => "tab=category_controls", :'data-modal-class' => 'modal-wide', :title => 'Create New Control' }
              %i.grcicon-add
              Control

.action-items
  %a.expandAll.btn.btn-mini{:href => "#", :rel => "tooltip", :title => "Expand all"}
    %i.grcicon-wide-black
  %a.shrinkAll.btn.btn-mini{:href => "#", :rel => "tooltip", :title => "Collapse all"}
    %i.grcicon-normal-black

%ul.tree-structure#regulations
  =render :partial => 'sections', :locals => { :sections => sections, :expanded => true, :editable_notes => true }
