-is_root = true
-expand_this = false

%ul.tree-structure
  -directives.each do |directive|
    -sections = directive.sections
    -if params[:s].present? && params[:search_sections].present?
      -sections = sections.db_search(params[:s])
    -has_children = sections.count > 0

    %li{ :'data-object-id' => directive.id }
      .item-main
        .openclose{ :class => !has_children && 'lastchild' }
        .item-title{ :class => is_root && 'active' }
          .row-fluid
            =render :partial => 'object_leaf', :locals => { :instance => directive, :object_type => 'governance', :object_icon => 'grcicon-directive' }
            .objects-count
              %a
                %i.grcicon-section-black
                =sections.count
          .item-actions
            %a.btn.btn-mini{ "rel" => "tooltip", "data-placement" => "top", "title" => "Edit this object", 'data-modal-class' => 'modal-wide', 'data-form-target' => 'refresh', "data-toggle" => "modal-ajax-form", :href => edit_flow_directive_path(directive.id) }
              %i.grcicon-edit-new
            %a.btn.btn-mini{ "rel" => "tooltip", "data-placement" => "top", "title" => "Go to this object's page", :href => flow_directive_path(directive.id) }
              %i.grcicon-goto
      .item-content{ :class => expand_this && 'in' }
        -if has_children
          %ul.tree-structure
            =render :partial => 'directives/sections', :locals => { :sections => sections, :show_edit => false }
