-#.row-fluid{ :style => 'position:absolute; top:-46px;' }
  .span12
    .span9
    .span3
      .barTitle.fltlft
        Regulation Linking
        .barCount.fltrt 100
      .progress.progress-large.active
        .bar.progressbar-success.hidefont.fltlft{ :'data-percentage' => '20', :'data-toggle' => 'tooltip', :'title' => "20 Done" } 20%
        .bar.progressbar-danger.hidefont.fltrt{ :'data-percentage' => '30', :'data-toggle' => 'tooltip', :'title' => "30 N/A" } 30%
        .bar.progressbar-warning.hidefont.fltrt{ :'data-percentage' => '50', :'data-toggle' => 'tooltip', :'title' => "50 Pending" } 50%

%ul.slugtree
  =walk_slug_tree(Directive.slugtree(controls), :li_class => 'control') do |item, step|
    .row-fluid
      -content_id = "content_#{rand(36**8).to_s(36)}" # unique ID for toggle
      .span12
        .span9.slot.regulationslot{ :'data-toggle' => 'collapse', :'data-target' => "##{content_id}" }
          .expander
          %a.widgetbtn.fltrt{ :href => flow_control_path(item), :title => 'View Control' }
            %i.grcicon-arrowright-grey
          %span.prefix=item.slug
          =item.title || strip_tags(item.description)
        .controllist.attached.span3{ :class => "statusblue" }
          -controls = item.implementing_controls
          -if !controls.empty?
            %ul.spannomargin{ :title => controls.map(&:slug).join(", ") }
              %li
                %strong #{controls.size}:
              -controls.each do |control|
                %li=control.slug
          -else
            .controls
              %strong 0
      .row-fluid-slotcontent.collapse{ :id => content_id }
        .span9
          =display_as_html item.description
