-content_for :page_help, 'import_controls'

-content_for :header do

  %ul.breadcrumbs
    %li=link_to 'PROGRAMS', programs_dash_path
    %li=link_to @program.title, flow_program_path(@program)
    %li Import
    
  %h1
    Import Controls

.container-fluid
  .row-fluid
    =render :partial => 'programs/import_controls',
            :layout => 'layouts/widget_box'
