-content_for :page_help, 'sections_import'

-content_for :header do

  %ul.breadcrumbs
    %li=link_to "dashboard", programs_dash_path
    %li=link_to @directive.title, flow_directive_path(@directive)
    %li Import

  %h1
    Import #{@directive.section_meta_kind.to_s.titleize.pluralize}

.container-fluid
  .row-fluid
    =render :partial => 'import',
            :layout => 'layouts/widget_box',
            :locals => { :directive => @directive }
