-content_for :page_help, 'import'

-content_for :header do

  %ul.breadcrumbs
    %li=link_to 'PROGRAMS', programs_dash_path
    %li=link_to @directive.title, flow_directive_path(@directive)
    %li Import
    
  %h1
    Import Program or Policy

.container-fluid
  .row-fluid
    =render :partial => 'import',
            :layout => 'layouts/widget_box'