-@messages = @messages.reject{|m|m.starts_with?("Invalid section heading") || m.starts_with?("Invalid directive heading")}

.row-fluid
  %hr.hr-widget

.row-fluid
  .span6
    %h4 Compliance Program
    .row-fluid
      .span10.control-group
        %label{:for => "slug"} Regulation / Contract / Policy
        %input#slug.span12{:disabled => "disabled", :value => @directive.slug, :type => "text"}/
        %br/

      .span2
        %label{:for => "version"} Version
        %input#version.span12{:disabled => "disabled", :value => @directive.version, :type => "text"}

.row-fluid
  %hr.hr-widget

.row-fluid
  %h4 Data to Import

.row-fluid
  #sampleData.span12.well{:style => 'overflow: scroll; max-height: 600px;'}
    -if @messages.present?
      -@messages.each do |m|
        %p.label-warning
          =m
      %br

    -if @errors.any?
      %p.label-warning
        See specific errors below
      %br

    %table.ggrc-table{:cellspacing => "0", :cellpadding => "0"}
      %col{:style => "width:10%"}
      %col{:style => "width:20%"}
      %col{:style => "width:35%"}
      %col{:style => "width:35%"}
      %thead
        %tr
          %th Code
          %th Title
          %th Description
          %th Notes
      %tbody
        %tr
          %td{:colspan => "4", :cellspacing => "0", :cellpadding => "0"}
            .inner-tabel
              %table.inner-ggrc-table{:cellspacing => "0", :cellpadding => "0"}
                %col{:style => "width:10%"}
                %col{:style => "width:20%"}
                %col{:style => "width:35%"}
                %col{:style => "width:35%"}
                %tbody
                  -columns = %w(slug title description notes)
                  -@sections.each_with_index do |sec, i|
                    %tr{ :class => (i % 2 == 0 ? :odd : :even) }
                      -columns.each do |column_name|
                        %td{ :class => ( (@errors[i].present? && @errors[i][column_name].present?) ? 'member-failure' : ((@warnings[i].present? && @warnings[i][column_name].present?) ? 'member-warning' : '' ) ) }
                          =sec.send(column_name)
                          -if @errors[i].present? && @errors[i][column_name].present?
                            .help-inline=@errors[i][column_name].join(', ')
                          -if @warnings[i].present? && @warnings[i][column_name].present?
                            .help-inline=@warnings[i][column_name].join(', ')

    Showing 1 to #{@sections.size} of #{@sections.size} entries
    %br/
    #{@creates.size} created, #{@updates.size} updated

%br

.row-fluid
  -if params[:confirm].blank?
    .span8
    .span1
      =link_to "Cancel", flow_directive_path(@directive), :class => "btn btn-large"
    .span3
      -if @errors.any?
        =submit_tag "Correct Errors Before Proceeding", :class => %w(btn btn-large btn-warning pull-right), :name => 'confirm', :disabled => true
      -elsif @messages.any? || @warnings.any?
        =submit_tag "Proceed With Caution", :class => %w(btn btn-large btn-warning pull-right), :name => 'confirm'
      -else
        =submit_tag "Finish Importing", :class => %w(btn btn-large btn-success pull-right), :name => 'confirm'
  -else
    .span12
      Import of
      =link_to @directive.title, flow_directive_path(@directive)
      is done.

