-columns = %w(slug title description notes controls)
-header_overrides = {}

-content_for :import_cancel_path, flow_directive_path(@directive)

-content_for :import_success do
  Import of
  =link_to @directive.title, flow_directive_path(@directive)
  is done.

-content_for :import_information do
  .row-fluid
    .span6
      %h4 Compliance Program
      .row-fluid
        .span10.control-group
          %label{:for => "slug"} Regulation / Contract / Policy
          %input#slug.span12{:disabled => "disabled", :value => @directive.slug, :type => "text"}/
          %br/

        .span2
          %label{:for => "version"} Version
          %input#version.span12{:disabled => "disabled", :value => @directive.version, :type => "text"}

-width_pcts = %w(10 20 25 25 30)

=render :partial => 'shared/import_table',
        :locals => { :columns => columns, :header_overrides => header_overrides, :width_pcts => width_pcts, :converter => @import }

