-instance = @directive
-@title = "GRC Directive: #{instance.title}"

-content_for :header do

  %ul.breadcrumbs
    %li=link_to 'PROGRAMS', programs_dash_path
    %li=instance.title

  %h1.governance
    .grcobject.governance{:rel => "tooltip", :'data-placement'=>"bottom", :title => "Directivem"}
      %i.grcicon-program
    =instance.title

-content_for :page_help, 'program'

-content_for :subheader_extras do
  %ul.actions.pull-right
    %li
      %a{:href => edit_flow_directive_path(instance), :'data-toggle' => 'modal-ajax-form', :'data-modal-reset' => 'reset', :'data-form-target' => 'refresh', :'data-modal-class' => 'modal-wide',:title => 'Edit Directive'}
        %i.grcicon-edit-new
        Edit Directive
    %li.btn-group
      %a.dropdown-toggle{:href => '#', :'data-toggle' => 'dropdown'}
        %i.grcicon-imp-exp
        Import/Export
        %span.caret
      %ul.dropdown-menu
        %li.divider
        -unless instance.company_controls?
          %li
            %a{:href => import_flow_directive_path(instance)}
              Import Regs
        %li
          %a{:href => import_controls_flow_directive_path(instance)}
            Import Controls
        %li.divider
        -unless instance.company_controls?
          %li
            %a{:href => export_flow_directive_path(instance, :format => :html), :'data-toggle' => 'modal-ajax'}
              Export Regs
        %li
          %a{:href => export_controls_flow_directive_path(instance, :format => :html), :'data-toggle' => 'modal-ajax'}
            Export Controls
    -unless instance.company_controls?
      %li
        %a{:href => mapping_directive_path(instance)}
          %i.grcicon-reg-map
          Reg Mapper
      %li
        %a{:href => new_flow_cycle_path(:'cycle[directive_id]' => instance.id), :'data-toggle' => 'modal-ajax-form', :'data-modal-reset' => 'reset', :'data-form-target' => 'redirect'}
          %i.grcicon-audit
          Start Audit

-content_for :subheader_plus do
  %a.navbarplus.fltrt{ :href => new_flow_directive_path, :'data-toggle' => 'modal-ajax-form', :'data-form-target' => 'redirect', :'data-modal-reset' => 'reset', :'data-modal-class' => 'modal-wide' }

.container-fluid
  #columns.row-fluid{ :'data-resize' => "true" }
    #middle-column.span8.widget-area
      =render :partial => 'directives/main',
              :layout => 'layouts/widget_box',
              :locals => { :directive => instance, :widget_class => "governance" }
    #right-column.span4.widget-area
      =render :partial => 'directives/info',
              :layout => 'layouts/widget_box',
              :locals => { :directive => instance, :widget_class => 'governance'}
      =render :partial => 'directives/more_info',
              :layout => 'layouts/widget_box',
              :locals => { :directive => instance, :widget_class => 'related'}
      -#if (instance.cycles.length != 0)
        =render :partial => 'directives/audit_cycles',
                :layout => 'layouts/widget_box',
                :locals => { :directive => instance }
      =render :partial => 'directives/programs',
              :layout => 'layouts/widget_box',
              :locals => { :directive => instance, :widget_class => 'governance' }

      -unless instance.company_controls?
        =render :partial => 'shared/related',
                :layout => 'layouts/widget_box',
                :locals => { :instance => instance, :widget_title => "Impact/Scope of Directive" }
