.group
  =f.label :username
  =f.text_field :username, :class => :text_field

.group
  =f.label :name
  =f.text_field :name, :class => :text_field

-if !f.object.new_record?
  =render :partial => 'shared/object_info', :locals => { :object => f.object, :approved => false }
