-content_for :modal_buttons do
  %input.ui-corner-all.widgetsearch{ :type => 'text', :placeholder => 'Search' }

-content_for :modal_title do
  %h1 Add Person

.row-fluid
  .span6
    %h3
      People associated with this object

    %script{ :type => 'text/html', :data => { :name => '', :username => '' }}
      %li.controlSlot{ :'data-id' => '<%= id %>' }
        %input(type='hidden' name='items[<%= id %>][id]' value='<%= id %>')
        %a{:href => "#", :'data-toggle' => 'list-remove'}
          .removeCircleButton.fltrt
            %i.gcmssmallicon-dash-white
        .arrowcontrols-group{ :'data-toggle' => 'list-select', :href => '#', :data => { :id => '<%= id %>', :name => '<%= name %>', :username => '<%= username %>' }}
          .controls-type <%= username %>
          .controls-subtype
            %select(name="items[<%= id %>][role]")
              %option(value='') Select Role
              %option(value='owner') Owner
              %option(value='none') None
          .controls-subgroup <%= name || '&nbsp;' %>

    %ul.itemlist#listObjectPersonList
      -object.object_people.each do |object_person|
        -person = object_person.person
        %li.controlSlot{ :'data-id' => person.id, :class => member_error_class(object_person) }
          =member_error_messages_inline(object_person)
          %input(type='hidden' name="items[#{person.id}][id]" value="#{person.id}")
          %a{:href => "#", :'data-toggle' => 'list-remove'}
            .removeCircleButton.fltrt
              %i.gcmssmallicon-dash-white
          .arrowcontrols-group{:'data-toggle' => 'list-select', :href => '#', :data => { :id => person.id, :name => person.name, :username => person.username, :role => object_person.role }}
            .controls-type=person.username
            .controls-subtype
              %select(name="items[#{person.id}][role]")
                %option(value=''){ :selected => object_person.role.nil? } Select Role
                %option(value='owner'){ :selected => object_person.role == 'owner' } Owner
                %option(value='none'){ :selected => object_person.role == 'none' } None
            .controls-subgroup=person.name || '&nbsp;'.html_safe

  .span6
    %h3
      Select person to add
      %a.btn.btn-blue.addbtn.fltrt{ :href => new_flow_person_path, :'data-toggle' => 'modal-ajax-listnewform', :'data-list-target' => '#listPersonList, #listObjectPersonList' }
        New Person

    %script{ :type => 'text/html' }
      %li.controlSlot{ :'data-id' => '<%= id %>' }
        .itemarrow
        .arrowcontrols-group{ :'data-toggle' => 'list-select', :href => '#', :data => { :id => '<%= id %>', :name => '<%= name %>', :username => '<%= username %>' }}
          .controls-type <%= username %>
          .controls-subgroup <%= name || '&nbsp;' %>

    %ul.itemlist#listPersonList{ :'data-list-href' => list_flow_people_path(:format => 'json'), :'data-list-target' => '#listObjectPersonList'}
      -options.each do |person|
        %li.controlSlot{ :'data-id' => person.id }
          .itemarrow
          .arrowcontrols-group{:'data-toggle' => 'list-select', :href => '#', :data => { :id => person.id, :name => person.name, :username => person.username }}
            .controls-type=person.username
            .controls-subgroup=person.name || '&nbsp;'.html_safe
