-# locals: object

%h3
  People
  %a.btn.btn-blue.addbtn.fltrt{:href => list_form_flow_people_path(:object_type => object.class.name, :object_id => object.id), :'data-toggle' => 'modal-ajax-listform', :'data-modal-reset' => 'reset', :'data-list-target' => '#peopleList' } Edit List

%script{ :type => 'text/html', :data => { :person => '', :role => '' }}
  %li.controlSlot{ :'data-id' => '<%= person.id %>' }
    -#%input{ :type => 'hidden', :name => '', :value => '<%= person.id %>' }
    -#%a{ :href => '#', :'data-toggle' => 'list-remove' }
      .circle.fltrt
        %i.gcmssmallicon-dash-white
    %span.controls-group <%= role %>
    %br
    %span.controls-subgroup <%= person.name %>
    %br

%ul
  -object.object_people.all.each do |object_item|
    -item = object_item.person
    %li.controlSlot{ :'data-id' => item.id }
      -#%input{ :type => 'hidden', :name => '', :value => item.id }
      -#%a{:href => "#", :'data-toggle' => 'list-remove'}
        .circle.fltrt
          %i.gcmssmallicon-dash-white
      %span.controls-group=object_item.role
      %br
      %span.controls-subgroup=item.name
      %br
