<ul class="slugtree nav nav-stacked">
 {{#this}}
 	<li {{data 'model'}} data-model="true">
	 	<div class="row-fluid" content_id="{{content_id}}">
      	{{> /controls/show_mapping.mustache}}
     </li>
    </div>
 {{/this}}
</ul>