<div class="span12">
	{{#withclass 'selected:selected =type span12 item slot regulationslot selector collapsed'}}
	<a href="javascript://">
		<span class="prefix">{{prefix}} {{slug}}</span>
		{{title}} 
		{{#unless title}} {{description}} {{/unless}}
	</a>
	{{/withclass}}
</div>
