 <div class="description" id="selected_{{type}}" oid="23">
  <div class="content">
  	{{#model}}
    <div>
      <span class="prefix">
        {{prefix}}
      </span>
      {{title}}
    </div>
    <div>
      {{description}}
    </div>
    {{else}}
    	Nothing selected
    {{/model}}
  </div>
