<div class="span12">
	<a class="span12 item slot regulationslot selector collapsed" data-remote="true" href="/mapping/selected_control/{{id}}?control_type={{type}}">
		<span class="prefix">{{prefix}} {{slug}}</span>
		{{title}} 
		{{#unless title}} {{description}} {{/unless}}
	</a>
</div>
