  {{#object_documents}}
  <li class="item fade" {{data 'model'}} data-model="true" rel="tooltip" data-placement="top" title="{{firstnonempty document.link_url 'No link'}}">
    <a class="btn btn-nano pull-right remove_document" rel="tooltip" data-placement="top" {{#system}}title="Remove from response"{{/system}} {{^system}}title="Remove from {{system_or_process}}"{{/system}} href="javascript://">
      <i class="grcicon-x-grey"></i>
    </a>
    <span>
      {{#if document.link_url}}
      <span>
        <a href="{{document.link_url}}" target="_blank">{{firstnonempty document.title document.link_url}}</a>
      </span>
      {{else}}
        <span>{{document.title}}</span>
      {{/if}}
      </span>
      <select class="edit-document-role">
        <option value="general" {{#if_equals role 'general'}}selected="true"{{/if_equals}}>General Doc</option>
      </select>
  </li>
  {{/object_documents}}
  <li class="inline-editing inline-add-document hide">
    <form>
      <div class="row-fluid">
        <div class="span10">
          <input class="span12 input-title" name="title" placeholder="Doc title or URL" type="text" {{ (el) -> el.pbc_autocomplete_documents() }}>
        </div>
        <div class="span2">
          <a class="btn btn-mini span12 add-document" data-modal-reset="reset" data-toggle="modal-ajax-form" href="/documents/new" data-target="#ajax-modal-documents-new">
            <i class="grcicon-add"></i>
          </a>
        </div>
      </div>
    </form>
  </li>
