  {{#object_documents}}
  <li {{data 'model'}} data-model="true">
    <div class="row-fluid">
      <div class="span6">
        {{#pack document issystem=system_or_process}}
        {{#if link_url}}
          <a class="inner-element" data-popover-trigger="sticky-hover" data-sticky-popover="true" data-content="{{render '/assets/pbc/iframe_tooltip.mustache'}}" {{^issystem}}data-placement="right"{{/issystem}} href="{{link_url}}" target="_blank">
              {{{withattr "data-original-title" "<div class='row-fluid'><div class='span12'><h3><i class='grcicon-link'></i> Viewing {firstnonempty title link_url} </span> </h3></div></div>"}}}
            {{firstnonempty title link_url}}
          </a>
        {{else}}
          <span class="inner-element">{{title}}</span>
        {{/if}}
        {{/pack}}
        </span>
      </div>
      <div class="span3">
        <select class="edit-document-role">
          <option value="general" {{#if_equals role 'general'}}selected="true"{{/if_equals}}>General Doc</option>
        </select>
      </div>
      <div class="span3">
        <div class="pull-right">
          <a class="btn btn-mini edit_document" rel="tooltip" data-toggle="modal-ajax-form" href="/documents/{{document.id}}/edit?no_delete=true" data-model-class="modal-wide" data-placement="bottom" title="Edit evidence" data-target="#ajax-modal-edit-evidence">
            <i class="grcicon-edit"></i>
          </a>
          <a class="btn btn-mini remove_document" rel="tooltip" data-placement="bottom" {{#system}}title="Remove from response"{{/system}}>
            <i class="grcicon-x-grey"></i>
          </a>
        </div>
      </div>
    </div>
  </li>
  {{/object_documents}}
  <li class="inline-editing inline-add-document hide">
    <form>
      <div class="row-fluid">
        <div class="span7">
          <input class="input-block-level input-title" name="title" placeholder="Search for Doc Title or URL" type="text" {{ (el) -> el.pbc_autocomplete_documents() }}>
          <a class="add-document" data-modal-reset="reset" data-toggle="modal-ajax-form" href="/documents/new" data-target="#ajax-modal-documents-new"></a>
          <!--
          <div class="error">
            There is no Doc or URL in the system that matches your search. Please create a new reference by pushing the + icon to the right
          </div>
          -->
        </div>
        <div class="span5">&nbsp;</div>
      </div>
    </form>
  </li>
