  {{#object_documents}}
  <li {{data 'model'}} data-model="true" rel="tooltip" data-placement="left" title="{{firstnonempty document.link_url 'No link'}}">
    <div class="row-fluid">
      <div class="span7">
        {{#if document.link_url}}
        <span>
          <a class="inner-element" href="{{document.link_url}}" target="_blank">{{firstnonempty document.title document.link_url}}</a>
        </span>
        {{else}}
          <span class="inner-element">{{document.title}}</span>
        {{/if}}
        </span>
      </div>
      <div class="span4">
        <select class="edit-document-role">
          <option value="general" {{#if_equals role 'general'}}selected="true"{{/if_equals}}>General Doc</option>
        </select>
      </div>
      <div class="span1">
        <a class="btn btn-mini remove_document" rel="tooltip" data-placement="bottom" {{#system}}title="Remove from response"{{/system}} {{^system}}title="Remove from {{system_or_process}}"{{/system}} href="javascript://">
          <i class="grcicon-x-grey"></i>
        </a>
      </div>
    </div>
  </li>
  {{/object_documents}}
  <li class="inline-editing inline-add-document hide">
    <form>
      <div class="row-fluid">
        <div class="span7">
          <input class="input-block-level input-title" name="title" placeholder="Search for Doc Title or URL" type="text" {{ (el) -> el.pbc_autocomplete_documents() }}>
        </div>
        <div class="span5">
          <a class="btn btn-mini pull-left add-document" data-modal-reset="reset" data-toggle="modal-ajax-form" href="/documents/new" data-target="#ajax-modal-documents-new" rel="tooltip" data-placement="top" title="Add new Evidence">
            <i class="grcicon-add-new-black"></i>
          </a>
        </div>
      </div>
    </form>
  </li>
