{{#list}}
  <li class="item" {{data 'model'}} data-model="true" data-id="{{id}}">
    <div class="item-main">
      <div class="openclose"></div>
      <div class="item-title">
        <div class="row-fluid">
          <div class="span12">
            <i class="grcicon-{{system.system_or_process}} process-icon"></i>
            Response using {{system.system_or_process_capitalized}}:
            <span style="color:#333">
              {{system.title}}
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="item-content response-items">
      <div class="row-fluid">
        {{#system}}
          {{> /assets/pbc/system.mustache}}
        {{/system}}
        <div class="span4">
          <div class="inner-response">
            <div class="row-fluid">
              <div class="span12">
                <a class="btn btn-mini delete-response pull-right" style="margin-top:0" href="/responses/{{id}}/delete" data-toggle="modal-ajax-form" title="Delete response" rel="tooltip" data-placement="left" data-id="{{id}}">
                  <i class="grcicon-x-grey"></i>
                </a>
                <h4>Evidence</h4>
              </div>
            </div>
            <div class="row-fluid">
              <div class="span12">
                <h5>{{type_name}}</h5>
                {{#if_equals type_name 'Documentation'}}
                  <ul class="items pbc-item-list">
                    {{> /assets/pbc/documents_list.mustache}}
                    <li class="toggle-add-document add-new">
                      <a href="javascript://">
                        + Add new document
                      </a>
                    </li>
                  </ul>
                {{/if_equals}}
                {{#if_equals type_name 'Interview'}}
                  <h5>
                    Meeting participants including interviewees
                  </h5>
                  <ul class="items pbc-item-list">
                    {{#object_people}}
                      <li {{data 'model'}} data-model="true" title="{{person.email}}">
                        <div class="span5">
                          {{person.name}}
                          &nbsp;
                        </div>
                        <div class="span6">
                          <select class="edit-person-role">
                            <option value="responsible" {{#if_equals role 'responsible'}}selected="true"{{/if_equals}}>Responsible</option>
                            <option value="accountable" {{#if_equals role 'accountable'}}selected="true"{{/if_equals}}>Accountable</option>
                          </select>
                        </div>
                        <div class="span1">
                          <a class="btn btn-nano pull-right remove_person span1" title="Remove from response" rel="tooltip" href="javascript://">
                            <i class="grcicon-x-grey"></i>
                          </a>                        
                        </div>
                      </li>
                    {{/object_people}}
                    <li class="inline-editing inline-add-person hide" data-system-id="{{system.id}}">
                      <form>
                        <div class="row-fluid">
                          <div class="span10">
                            <input class="span12 input-ldap" name="ldap" placeholder="LDAP or name" type="text" {{ (el) -> el.pbc_autocomplete_people() }}>
                          </div>
                          <div class="span2">
                            <a class="btn btn-mini span12 add-person" data-modal-reset="reset" data-toggle="modal-ajax-form" href="/people/new" data-target="#ajax-modal-people-new">
                              <i class="grcicon-add"></i>
                            </a>
                          </div>
                        </div>
                      </form>
                    </li>
                    <li class="toggle-add-person add-new">
                      <a href="javascript://">
                        + Add new participant
                      </a>
                    </li>
                  </ul>
                  <h5>
                    Meetings
                  </h5>
                  <ul class="items pbc-item-list">
                  {{#meetings}}
                    <li {{data 'model'}} data-model="true">
                      <div class="span10">
                        <a href="{{calendar_url}}" target="_blank">{{calendar_url}}</a>
                      </div>
                      <div class="span2">
                        <a class="btn btn-nano pull-right remove_person" href="javascript://">
                          <i class="grcicon-x-grey"></i>
                        </a>
                      </div>
                    </li>
                  {{/meetings}}
                  <li class="add-meeting add-new">
                    <a data-modal-reset="reset" data-toggle="modal-ajax-form" data-modal-class="modal-wide" href="/meetings/new?meeting[response_id]={{id}}">
                      + Add new meeting
                    </a>
                  </li>
                </ul>
              {{/if_equals}}
              {{#if_equals type_name 'Population Sample'}}
                {{#population_sample}}
                  <div class="row-fluid">
                    <div class="span6">
                      <h5>Population Worksheet</h5>
                    </div>
                    <div class="span6">
                      <h5>Population</h5>
                    </div>
                  </div>
                  <div data-model="true" {{data 'model'}}>
                    <div class="row-fluid">
                      <div class="span6">
                        <ul class="items pbc-item-list">
                          <li class="pbc-item">
                            <div class="row-fluid">
                              <div class="span10">
                                {{#if_null population_document}}
                                  &nbsp;
                                {{else}}
                                  {{#if_null population_document.link_url}}
                                    <span>{{population_document.title}}</span>
                                  {{else}}
                                    <a href="{{population_document.link_url}}" target="_blank">{{firstnonempty population_document.title population_document.link_url}}</a>
                                  {{/if_null}}
                                {{/if_null}}
                              </div>
                              <div class="span2">
                                <a class="btn btn-nano pull-right toggle-edit-population-doc" href="javascript://">
                                  <i class="grcicon-edit-grey"></i>
                                </a>
                              </div>
                            </div>
                          </li>
                          <li class="inline-editing inline-edit-population-doc hide" data-doc-type="population">
                            <form>
                              <div class="row-fluid">
                                <div class="span10">
                                  <input class="input-block-level input-title" name="title" placeholder="Doc title or URL" type="text" {{ (el) -> el.pbc_autocomplete_documents() }}>
                                </div>
                                <div class="span2">
                                  <a class="btn btn-mini add-document" data-modal-reset="reset" data-toggle="modal-ajax-form" href="/documents/new" data-target="#ajax-modal-documents-new">
                                    <i class="grcicon-add"></i>
                                  </a>
                                </div>
                              </div>
                            </form>
                          </li>
                        </ul>
                      </div>
                      <div class="span6">
                        <div class="row-fluid sample-widget">
                          <div class="span5">
                            <input class="input-block-level" name="population" type="text" value="{{population}}">
                          </div>
                          <div class="span7">
                            <a href="javascript://" class="save-population btn-mini btn disabled">
                              Saved
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row-fluid">
                    <div class="span6">
                      <h5>Sample Worksheet</h5>
                    </div>
                    <div class="span6">
                      <h5>Samples</h5>
                    </div>
                  </div>
                  <div class="row-fluid">
                    <div class="span6">
                      <ul class="items pbc-item-list">
                        <li class="pbc-item">
                          <div class="row-fluid">
                            <div class="span10">
                              {{#if_null sample_worksheet_document}}
                                &nbsp;
                              {{else}}
                                {{#if_null sample_worksheet_document.link_url}}
                                  <span>{{sample_worksheet_document.title}}</span>
                                {{else}}
                                  <a href="{{sample_worksheet_document.link_url}}" target="_blank">{{firstnonempty sample_worksheet_document.title sample_worksheet_document.link_url}}</a>
                                {{/if_null}}
                              {{/if_null}}
                            </div>
                            <div class="span2">
                              <a class="btn btn-nano pull-right toggle-edit-population-doc" href="javascript://">
                                <i class="grcicon-edit-grey"></i>
                              </a>      
                            </div>
                          </div>
                        </li>
                        <li class="inline-editing inline-edit-population-doc hide" data-doc-type="sample_worksheet">
                          <form>
                            <div class="row-fluid">
                              <div class="span10">
                                <input class="input-block-level input-title" name="title" placeholder="Doc title or URL" type="text" {{ (el) -> el.pbc_autocomplete_documents() }}>
                              </div>
                              <div class="span2">
                                <a class="btn btn-mini add-document" data-modal-reset="reset" data-toggle="modal-ajax-form" href="/documents/new" data-target="#ajax-modal-documents-new">
                                  <i class="grcicon-add"></i>
                                </a>
                              </div>
                            </div>
                          </form>
                        </li>
                      </ul>
                    </div>
                    <div class="span6">
                      <div class="row-fluid sample-widget">
                        <div class="span5"><input class="input-block-level" name="samples" type="text" value="{{samples}}"></div>
                        <div class="span7">
                          <a href="javascript://" class="save-samples btn-mini btn disabled">
                            Saved
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <h5>Sample Evidence Collection</h5>
                  <ul class="items pbc-item-list">
                    <li class="pbc-item">
                      <div class="row-fluid">
                        <div class="span10">
                          {{#if_null sample_evidence_document}}
                            &nbsp;
                          {{else}}
                            {{#if_null sample_evidence_document.link_url}}
                              <span>{{sample_evidence_document.title}}</span>
                            {{else}}
                              <a href="{{sample_evidence_document.link_url}}" target="_blank">{{firstnonempty sample_evidence_document.title sample_evidence_document.link_url}}</a>
                            {{/if_null}}
                          {{/if_null}}
                        </div>
                        <div class="span2">
                          <a class="btn btn-nano pull-right toggle-edit-population-doc" href="javascript://">
                            <i class="grcicon-edit-grey"></i>
                          </a>
                        </div>
                      </div>
                    </li>
                    <li class="inline-editing inline-edit-population-doc hide" data-doc-type="sample_evidence">
                      <form>
                        <div class="row-fluid">
                          <div class="span10">
                            <input class="input-block-level input-title" name="title" placeholder="Doc title or URL" type="text" {{ (el) -> el.pbc_autocomplete_documents() }}>
                          </div>
                          <div class="span2">
                            <a class="btn btn-mini add-document" data-modal-reset="reset" data-toggle="modal-ajax-form" href="/documents/new" data-target="#ajax-modal-documents-new">
                              <i class="grcicon-add"></i>
                            </a>
                          </div>
                        </div>
                      </form>
                    </li>
                  </ul>
                {{/population_sample}}
              {{/if_equals}}
            </div>
          </div>
        </div>
      </div>
      </div>
  </li>
{{/list}}
