/* ----------------------------------------------------
   created with http://www.texturepacker.com 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:d4e7477d34608426c3fad570a576e82e$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(grc-sprite.png);}

.add {width:16px; height:16px; background-position: -76px -92px}
.arrowdown {width:16px; height:16px; background-position: -76px -74px}
.arrowdown-white {width:18px; height:18px; background-position: -2px -102px}
.arrowleft {width:18px; height:18px; background-position: -2px -82px}
.arrowright {width:16px; height:16px; background-position: -76px -56px}
.arrowright-white {width:18px; height:18px; background-position: -2px -62px}
.arrowright-white-38 {width:18px; height:18px; background-position: -2px -62px}
.check {width:16px; height:16px; background-position: -76px -20px}
.check-green {width:16px; height:16px; background-position: -76px -38px}
.chevrondown {width:16px; height:16px; background-position: -58px -110px}
.chevrondown-blue {width:16px; height:16px; background-position: -76px -2px}
.chevronleft {width:16px; height:16px; background-position: -58px -74px}
.chevronleft-blue {width:16px; height:16px; background-position: -58px -92px}
.chevronright {width:16px; height:16px; background-position: -58px -38px}
.chevronright-blue {width:16px; height:16px; background-position: -58px -56px}
.chevronup {width:16px; height:16px; background-position: -58px -2px}
.chevronup-blue {width:16px; height:16px; background-position: -58px -20px}
.close {width:16px; height:16px; background-position: -40px -110px}
.edit {width:16px; height:16px; background-position: -40px -92px}
.enddot {width:16px; height:16px; background-position: -22px -110px}
.enddot-control {width:16px; height:16px; background-position: -40px -74px}
.enddot-default {width:16px; height:16px; background-position: -40px -56px}
.enddot-regulation {width:16px; height:16px; background-position: -40px -38px}
.enddot-risk {width:16px; height:16px; background-position: -40px -20px}
.enddot-system {width:16px; height:16px; background-position: -40px -2px}
.gear {width:18px; height:18px; background-position: -2px -42px}
.help {width:16px; height:16px; background-position: -22px -92px}
.import {width:18px; height:18px; background-position: -2px -22px}
.link {width:16px; height:16px; background-position: -22px -74px}
.more {width:16px; height:16px; background-position: -22px -56px}
.regmapper {width:18px; height:18px; background-position: -2px -2px}
.remove {width:16px; height:16px; background-position: -22px -38px}
.sortDown {width:16px; height:16px; background-position: -22px -20px}
.sortUp {width:16px; height:16px; background-position: -22px -2px}
