.block
  %h3 Sidebar
  .content
    %p Audit Cycle
    =form_for((@cycle || Cycle.new), :url => slugfilter_cycle_update_path(:format => :js) , :html => { :class => :form, :remote => true }) do |f|
      =f.collection_select :id, Cycle.all(:order => :start_at), :id, :display_name, :include_blank => true
      =f.submit "Show", :class => :button

    %p Filter by Regulation
    =form_for((@regulation || Regulation.new), :url => slugfilter_regulation_update_path(:format => :js) , :html => { :class => :form, :remote => true }) do |f|
      =f.collection_select :id, Regulation.all, :id, :display_name, :include_blank => true
      =f.submit "Show", :class => :button

    %p Default Company
    =form_for((@regulation || Regulation.new), :url => slugfilter_company_update_path(:format => :js) , :html => { :class => :form, :remote => true }) do |f|
      =f.collection_select :id, Regulation.all(:company => true), :id, :display_name, :include_blank => true
      =f.submit "Show", :class => :button

    %p Filter Controls by Slug
    =form_tag slugfilter_slug_update_path(:format => :js), :class => :form, :remote => true do
      =text_field_tag :slugfilter, session[:slugfilter], :class => 'text_field'
      =submit_tag "Filter", :class => :button
      =submit_tag "Clear", :name => :clear, :class => :button
    :javascript
      $(document).ready(function() {
        $("input#slugfilter").autocomplete({
          source: "#{url_for(:controller => "/slugfilter", :action => :values, :format => :js)}",
          minLength: 0,
        });
      });
