-form_tag slugfilter_index_path, {:remote => true, :class => :form} do
  =text_field_tag :slugfilter, session[:slugfilter], {:id => 'slugfilter', :class => 'text_field'}
  =submit_tag "Filter", :class => :button
  =submit_tag "Clear", :name => :clear, :class => :button
:javascript
  $(document).ready(function() {
    $("input#slugfilter").autocomplete({
      source: "#{slugfilter_values_path}",
      minLength: 0,
    });
  });

