-content_for :widget_title do
  Import PBC list

-content_for :widget_help, 'pbc_list_import'

=form_tag '', :class => 'import', :multipart => true, :remote => true, :'data-type' => 'html', :'data-update-target' => '#results-container' do

  %label(for="file") File to Upload
  .row-fluid
    .span9
      =file_field_tag "upload", :class => 'span12 btn'
    .span3
      =submit_tag "Upload and Review", :class => 'span12 btn btn-success btn-primary pull-right'

  #results-container
