.widget-head
  .widget-actions
    %a.btn.btn-mini{ :href => import_flow_pbc_list_path(pbc_list) }
      Import Requests
    %a.btn.btn-mini{ :href => export_flow_pbc_list_path(pbc_list), :'data-toggle' => 'modal-ajax' }
      Export Requests
    %a.btn.btn-mini{:href => "/help/pbc_list", :'data-toggle' => 'modal-ajax', :title => "Help - What is this?"}
      %i.grcicon-questionmark-grey
  %h2
    &nbsp;
.pbc-info-plate
  .row-fluid
    -#.span3.widget-titles
      %label Program
      %h4=pbc_list.audit_cycle.program.title
    -#.span3.widget-titles
      %label Title
      %h4=pbc_list.title
    .span4.widget-titles
      %label Audit Firm
      %h4=pbc_list.audit_cycle.audit_firm
    .span4.widget-titles
      %label Audit Lead
      %h4=pbc_list.audit_cycle.audit_lead
    .span4.widget-titles
      %label Audit Start Date
      %h4=pbc_list.audit_cycle.start_at && pbc_list.audit_cycle.start_at.strftime('%m/%d/%Y')
  .row-fluid
    .span12
      %label Description
      .rtf
        =raw pbc_list.audit_cycle.description

.widget-body
  =render :partial => "requests", :locals => { :pbc_list => pbc_list }

