.widget-head
  .widget-actions
    %a.btn.btn-mini{ :href => import_flow_pbc_list_path(pbc_list) }
      Import Requests
    %a.btn.btn-mini{ :href => export_flow_pbc_list_path(pbc_list), :'data-toggle' => 'modal-ajax' }
      Export Requests
    %a.btn.btn-mini{:href => "/help/pbc_list", :'data-toggle' => 'modal-ajax', :title => "Help - What is this?"}
      %i.grcicon-questionmark-grey
  %h2
    &nbsp;
.widget-filters
  .row-fluid
    -#.span3.widget-titles
      %label Program
      %h4=pbc_list.audit_cycle.program.title
    -#.span3.widget-titles
      %label Title
      %h4=pbc_list.title
    .span3.widget-titles
      %label Audit Firm
      %h4=pbc_list.audit_cycle.audit_firm
    .span3.widget-titles
      %label Audit Lead
      %h4=pbc_list.audit_cycle.audit_lead
    .span2.widget-titles
      %label Audit Start Date
      %h4=pbc_list.audit_cycle.start_at && pbc_list.audit_cycle.start_at.strftime('%m/%d/%Y')
  .row-fluid
    .span9
      %label Description
      .rtf
        =raw pbc_list.audit_cycle.description

  -filters_disabled = pbc_list.requests.count == 0
  -if !filters_disabled
    .row-fluid
      .span12
        .filters-box
          .row-fluid
            .span11
              %label
                Request Type
              %select{ :disabled => filters_disabled, :'data-toggle' => 'filter-requests', :'data-filter-attribute' => 'type-name' }
                %option{ :value => 'any', :selected => 'selected' } - Any -
                %option Documentation
                %option Interview
                %option Population Sample

              %label
                Status
              %select{ :disabled => filters_disabled, :'data-toggle' => 'filter-requests', :'data-filter-attribute' => 'status' }
                %option{ :value => 'any', :selected => 'selected' } - Any -
                -Request.statuses.each do |status|
                  %option=status

              %label
                Responsible Parties
              %select{ :disabled => filters_disabled, :'data-toggle' => 'filter-requests', :'data-filter-attribute' => 'person' }
                %option{ :value => 'any', :selected => 'selected' } - Any -
                -pbc_list.requests.all.map { |req| [req.company_responsible.presence, req.auditor_responsible.presence] }.flatten.compact.uniq.sort.each do |name|
                  %option=name

              %label
                Date (on or after)
              %input.span12#datepicker-control-date.date{:type => "text",  :placeholder => "MM/DD/YYYY", :disabled => filters_disabled, :'data-toggle' => 'filter-requests', :'data-filter-attribute' => 'date-requested' }
              :javascript
                $('#datepicker-control-date').datepicker();
            .span1
              %button.btn.span12{ :'data-toggle' => 'filter-reset' , :rel => "tooltip", :"data-position" => "top", :title => "Reset filters" }
                %i.grcicon-x-grey

.widget-body
  =render :partial => "requests", :locals => { :pbc_list => pbc_list }

