-requests = pbc_list.requests

.row-fluid
  .span12
    %h3.pbc-title
      %a.btn.btn-mini{ :href => new_flow_request_path(:'request[pbc_list_id]' => pbc_list.id), :'data-toggle' => 'modal-ajax-form', :'data-modal-reset' => 'reset', :'data-form-target' => 'refresh', :'data-modal-class' => 'modal-wide'}
        %i.grcicon-add
      .request-states
        %span.letter-group
          internal
          %br
          %span.letter D
          %span.letter E
        %span.letter-group
          external
          %br
          %span.letter D
          %span.letter E

      Requests

%ul.pbc-responses
  -requests.each do |request|
    %li.main-item
      .pbc-request-title-area
        .item
          .row-fluid
            .span2
              SOX-CON-1
            .span7
              Goog-Con-23
              &nbsp;&nbsp;
              Physically Protect Stored Data
            .span3
              %a.btn.btn-mini
                %i.enddot.default
              %a.btn.btn-mini
                %i.enddot.default
              &nbsp;
              %a.btn.btn-mini
                %i.enddot.accept
              %a.btn.btn-mini
                %i.enddot.decline
      .row-fluid.pbc-header
        .span3
          Control and Description from PBC
        .span2
          Request
        .span2
          Test
        .span2
          Notes
        .span2
          Status
        .span1
          &nbsp;
      .row-fluid
        .span3.pbc-item.pbc-control
          %a.btn.btn-mini.pull-right
            %i.grcicon-link
          .item.i-control
            =request.pbc_control_code
          %p=raw request.pbc_control_desc
        .span2.pbc-item.pbc-request
          %select.span12
            %option{:selected => "selected"} Documentation
            %option Interview
            %option Population Sample
          %p=raw request.request
        .span2.pbc-item.pbc-test
          %p=raw request.test
        .span2.pbc-item.pbc-notes
          %p=raw request.notes
        .span2.pbc-item.pbc-status
          %select.span12
            %option{:selected => "selected"} Draft
            %option Open - Waiting Compliance
            %option Open - Waiting Auditors
            %option Completed
          %p
            %strong Company:
            =request.company_responsible
            %br
            %strong Auditor:
            =request.auditor_responsible

          %p.subtle
            %strong Requested:
            =request.date_requested && request.date_requested.strftime('%m/%d/%Y')
        .span1.pbc-item.pbc-actions
          %a.btn.btn-mini{ :href => edit_flow_request_path(request.id), :'data-toggle' => 'modal-ajax-form', :'data-modal-reset' => 'reset', :'data-form-target' => 'refresh', :'data-modal-class' => 'modal-wide'}
            %i.grcicon-edit-grey

      .row-fluid
        =render :partial => "responses", :locals => { :pbc_list => pbc_list, :request => request }

