-# responses = request.responses

-new_response_id = "request-#{request.id}-response-new"
-response_list_id = "request-#{request.id}-responses"

%h3.pbc-title
  Responses (Documentation)
  %a.btn.btn-mini{"data-toggle" => "modal", :href => "#newResponse"}
    %i.grcicon-add{ "data-target" => "##{new_response_id}", "data-toggle" => "collapse" }
%ul.items-list.collapse{ :id => new_response_id }
  %li.item.i-process
    .row-fluid
      .span5.pbc-add-response
        %a#tooltip12.btn.btn-mini{ :href => new_flow_system_path, :'data-toggle' => 'modal-ajax-form', :'data-modal-reset' => 'reset', :'data-form-target' => 'redirect', :'data-modal-class' => 'modal-wide', "rel" => "tooltip", "data-placement" => "top", "title" => "Add new system/process" }
          %i.grcicon-add
        %input.pbc-system-search.span11{:type => "text", :placeholder => "Type to search systems/processes"}
      .span3
        %span.pbc-counter.empty
          %i.grcicon-person
          0
      .span3
        %span.pbc-counter.empty
          %i.grcicon-document
          0
      .span1
        &nbsp;
%ul.items-list.pbc-responses{ :id => response_list_id }
