-# responses = request.responses

-new_response_id = "request-#{request.id}-response-new"
-response_list_id = "request-#{request.id}-responses"

%h4.pbc-title.response-title-bar.pull-left
  ="Responses (#{request.type_name})"
%a.btn.btn-mini.btn-add{"data-toggle" => "modal", :href => "#newResponse"}
  %i.grcicon-add-new{ "data-target" => "##{new_response_id}", "data-toggle" => "collapse", "rel" => "tooltip", "data-placement" => "left", "title" => "Add new response" }

%ul.items-list.collapse{ :id => new_response_id }
  %li.item
    .row-fluid
      .span4.pbc-add-response
        %a#tooltip11.btn.btn-mini.pull-right{ :href => new_flow_system_path, :'data-toggle' => 'modal-ajax-form', :'data-modal-reset' => 'reset', :'data-modal-class' => 'modal-wide', "rel" => "tooltip", "data-placement" => "top", "title" => "Add new response" }
          %i.grcicon-add
        %input.pbc-system-search{:type => "text", :placeholder => "Type to search systems/processes"}
      .span1

      .span3
        %span.pbc-counter.empty
          %i.grcicon-person
          0
      .span3
        %span.pbc-counter.empty
          %i{ :class => request_type_icon(request.type_name) }
          0
      .span1
        &nbsp;
%ul.items-list.pbc-responses{ :id => response_list_id }


-#%ul.tree-structure
  %li
    .item-main
      .openclose
      .item-title
        .row-fluid
          .span10
            Response by "Account Security Policy Review" process
    .item-content
      .row-fluid
        .span12
          djidjs kdsjdksj djkds 
  %li
    .item-main
      .openclose
      .item-title
        .row-fluid
          .span10
            Response by "Account Security Policy Review" process
    .item-content.response-items
      .row-fluid
        .span8
          .inner-system
            .row-fluid
              .span6
                %h4
                  System 1
              .span6


            .row-fluid
              .span6
                %h5 Description
                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              .span6
                %h5
                  References
                %ul.items
                  %li
                    %a{:href => "#"} Privacy Policy Document
                  %li
                    %a{:href => "#"} Privacy Policy Document

            .row-fluid
              .span6
                %h5 Notes
                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              .span6
                %h5 People
                %ul.items
                  %li
                    %a{:href => "#"} Ron Springsteen Junior
                  %li
                    %a{:href => "#"} Roman Abramovic 
        .span4
          .inner-response
            .row-fluid
              .span12
                %h4 Response Info
            .row-fluid
              .span12
                %h5 Meeting Participants
                %ul.items
                  %li
                    %a{:href => "#"} Ron Springsteen Junior
                  %li
                    %a{:href => "#"} John Doe
                %br
                %h5 Meetings
                %ul.items
                  %li
                    %a{:href => "#"} 2012-12-12 PCI Audit Review
              