-model_name = controller_name.singularize.underscore
-model_title = model_name.titleize
-instance = instance_variable_get("@" + model_name)

-content_for :page_help, 'pbc_list_import'

-content_for :header do

  %ul.breadcrumbs
    %li=link_to 'dashboard', programs_dash_path
    %li=link_to instance.audit_cycle.program.title, flow_program_path(instance.audit_cycle.program_id)
    %li=link_to instance.audit_cycle.title, flow_cycle_path(instance.audit_cycle)
    %li=link_to 'PBC List', flow_pbc_list_path(instance)
    %li Import

  %h1
    Import PBC list

.container-fluid
  .row-fluid
    =render :partial => 'pbc_lists/import',
            :layout => 'layouts/widget_box'
