-content_for :page_help, 'pbc_list_import'

-content_for :header do
  %ul.breadcrumbs
    %li
      Import
    
  %h1
    Import PBC list

.row-static
  =render :partial => 'pbc_lists/import',
          :layout => 'layouts/widget_box'
