-model_name = controller_name.singularize.underscore
-model_title = model_name.titleize
-instance = instance_variable_get("@" + model_name)

-@title = "GRC: PBC List"

-content_for :header do
  %ul.breadcrumbs
    %li=link_to 'PROGRAMS', programs_dash_path
    %li=link_to instance.audit_cycle.program.title, flow_program_path(instance.audit_cycle.program_id)
    %li=link_to 'AUDITS', flow_program_path(instance.audit_cycle.program_id)
    %li= instance.audit_cycle.title
    
  %h1
    PBC List: #{instance.audit_cycle.title}

-content_for :page_help, 'pbc_list'

-content_for :subheader_extras do
  -#%h1#pageType.pull-right.highlighted PBC List

.row-fluid.fluid-layout
  .span12
    .widget.governance
      =render :partial => "main",
              :locals => { :pbc_list => instance }

