-model_name = controller_name.singularize.underscore
-model_title = model_name.titleize
-instance = instance_variable_get("@" + model_name)

-@title = "GRC #{model_title}: #{instance.title}"

-content_for :header do
  %ol#breadcrumb
    %li AUDIT
  .location#pageTitle=#instance.audit_cycle.program.title

-content_for :page_help, 'pbc_list'

-content_for :subheader_extras do
  %h1.pull-right.highlighted PBC List

.row-fluid.fluid-layout
  .span12
    .widget.governance
      =render :partial => "main",
              :locals => { :pbc_list => instance }

