-content_for :modal_title do
  %h1 Select References

-content_for :modal_help, :select_references

%script#document_option{ :type => 'text/html', :'data-prefix' => 'document' }
  %li{ :'data-id' => '<%= document.id %>', :'data-title' => '<%= document.title %>', :'data-link_url' => '<%= document.link_url %>', :'data-descriptor' => '<%= document.descriptor %>' }
    .row-fluid
      .span6
        %span.company <%= document.link_url || document.descriptor %>
        %span.name <%= document.title %>
      .span6.actions
        %a.widgetbtn.pull-right{ :href => '#', :'data-toggle' => 'selector-list-select' }
          %i.grcicon-chevron-right
        %a.widgetbtn.pull-right{ :href => edit_flow_document_path('<%=document.id%>'), :'data-toggle' => 'modal-ajax-listeditform', :'data-selector-target' => '.source, .target' }
          %i.gcmsicon-edit-grey

%script#document_option_data{ :type => 'text/html' }
  %span.company <%= document.link_url %>
  %span.name <%= document.title %>

%script#object_document_selected{ :type => 'text/html', :'data-mappings' => 'object:document', :'data-member' => 'object_document' }
  %li{ :'data-id' => '<%= id %>', :'data-object-id' => '<%= document.id %>' }
    .row-fluid
      .span6.object_info{ :'data-template-id' => 'document_option_data' }
      .span6.actions
        %input{ :type => 'hidden', :name => 'items[<%= id %>][id]', :value => '<% if (id.toString().substr(0,3) != "new") { %><%= id %><% } %>'.html_safe }
        %input{ :type => 'hidden', :name => 'items[<%= id %>][documentable_type]', :value => object.class.name }
        %input{ :type => 'hidden', :name => 'items[<%= id %>][documentable_id]', :value => object.id }
        %input{ :type => 'hidden', :name => 'items[<%= id %>][document_id]', :value => '<%= document.id %>' }
        %input._destroy{ :type => 'hidden', :name => 'items[<%= id %>][_destroy]', :value => '' }
        %a.widgetbtn.pull-right.add-me{:href => "#", :'data-toggle' => 'selector-list-remove'}
          %i.icon-minus-sign
        %a.widgetbtn.pull-right{:href => edit_flow_document_path('<%=document.id%>'), :'data-toggle' => 'modal-ajax-listeditform', :'data-selector-target' => '.source, .target' }
          %i.gcmsicon-edit-grey
        %h6.state

.row-fluid
  .span6
    %h4
      Add Reference
      %a.widgetbtn.widgetbtnselector{ :href => new_flow_document_path, :'data-toggle' => 'modal-ajax-listnewform', :'data-selector-target' => '.source, .target' }
        %i.gcmsicon-add
      .pull-right
        %input.widgetsearch{:type => "text", :placeholder => "Search References"}

    .filter-block
      .row-fluid
        .span12
          .tabbable.tabs-left
            .tab-content
              #category1.tab-pane.active
                .people-list.short
                  %ul.source{ :'data-list-data-href' => flow_documents_url, :'data-template-id' => 'document_option' }

  .span6
    %h4
      Associated References

    .people-list.currentlist
      %ul.target{ :'data-list-data-href' => flow_object_documents_path(:object_type => object.class.name, :object_id => object.id), :'data-template-id' => 'object_document_selected' }

