.group
  =f.label :title
  =f.text_field :title, :class => :text_field

.group
  =f.label :slug
  =f.text_field :slug, :class => :text_field

.group
  =f.label :company
  =f.check_box :company, :class => :check_box
  %span.description Does this group a specific company's control objectives?

.group
  =f.label :description
  =f.text_area :description, :class => :text_area

.group
  =f.label :source_document
  .sub-item
    =f.fields_for :source_document, @program.source_document do |b|
      =render "admin/documents/subitem", { :f => b, :document => @program.source_document }

.group
  =f.label :source_website
  .sub-item
    =f.fields_for :source_website, @program.source_website do |b|
      =render "admin/documents/subitem", { :f => b, :document => @program.source_website }

.group.navform.wat-cf
  =f.submit pat(:save), :class => :button
  =f.submit pat(:cancel), :onclick => "window.location='#{programs_path}';return false", :class => :button

%hr.section
%h3 Control Objectives
-edit_children(@program, :section)

