.block
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to pat(:list), programs_path
      %li=link_to pat(:new), new_program_path
      %li.active=link_to pat(:edit), edit_program_path(@program)
  .content
    %h2.title
      =pat(:edit)
      =mt(:program)
    .inner
      =form_for @program, :method => :put, :html => {:class => :form} do |f|
        =render :partial => "admin/programs/form", :locals => { :f => f }

/-content_for :sidebar, partial("base/sidebar")