.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active=link_to pat(:list), programs_path
      %li=link_to pat(:new), new_program_path
  .content
    %h2.title
      =pat(:all)
      =mt(:programs)
    .inner
      %table.table
        %tr
          %th=mat(:program, :title)
          %th.first=mat(:program, :type)
          %th=mat(:program, :updated_at)
          %th.last!="&nbsp;"
        -@programs.each do |program|
          %tr
            %td
              =link_to h(program.title), edit_program_path(program)
              .slug
                &=program.slug
            %td.first.type=program_display(program)
            %td=display_time(program.updated_at)
            %td.last
              =button_to pat(:edit), edit_program_path(program), :method => :get, :class => :button_to
              ="|"
              =button_to pat(:delete), program, :method => :delete, :class => :button_to
      .actions-bar.wat-cf
        .actions!="&nbsp;"

-render_for :sidebar, :partial => "base/sidebar"
