=form_for :items, :url => flow_relationships_path(@form_params), :method => :post, :remote => true do |f|
  =render :partial => 'list_form',
          :layout  => 'layouts/list_modal',
          :locals  => { :object => @object, :context => @context }
