-content_for :widget_title do
  Audit Cycles
  %span.badge=program.cycles.count

-content_for :widget_help, 'program_cycles'



-content_for :widget_buttons do
  -if has_feature? :BETA
    .filter
      .row-fluid
        .span12
          .pull-right
            %a.btn{ :href => '/design/audit-manager' }
              Audit Manager


%ul.tree
  -program.cycles.order("start_at DESC").each do |cycle|
    %li.main
      .row-fluid.info-primary
        .span12
          .buttons
            %a{:class => "btn btn-mini", :href => flow_cycle_path(cycle)}
              %i.grcicon-goto
          %a{:href => flow_cycle_path(cycle)}=cycle.title
          &nbsp;
          %span.secondary
            -if cycle.complete
              Complete (started #{days_ago_in_words cycle.start_at} ago)
            -else
              -if cycle.start_at == Time.zone.now.to_date
                Started today
              -elsif cycle.start_at < Time.zone.now.to_date
                Started #{days_ago_in_words cycle.start_at} ago
              -else
                Starting in #{days_ago_in_words cycle.start_at}