-content_for :widget_title do
  Audit Cycles

-content_for :widget_help, 'program_cycles'

-if has_feature? :BETA
  .fltnone
    %a.btn.btn-large.btn-inverse.demoItem{ :href => '/design/audit-manager' }
      Audit Manager
  %br

%ul.nav.nav-tabs.nav-stacked
  -program.cycles.order("start_at DESC").each do |cycle|
    %li.group
      %a{ :href => flow_cycle_path(cycle) }
        -if cycle.complete
          Complete (started #{time_ago_in_words cycle.start_at} ago)
        -else
          -if cycle.start_at <= Date.today
            Started #{time_ago_in_words cycle.start_at} ago
          -else
            Starting in #{time_ago_in_words cycle.start_at}
