-content_for :widget_title do
  Audit Cycles

-content_for :widget_help, 'program_cycles'

-if has_feature? :BETA
  .fltnone
    %a.btn.btn-large.btn-inverse.demoItem{ :href => '/design/audit-manager' }
      Audit Manager
  %br

%ul.nav.nav-tabs.nav-stacked
  -program.cycles.order("start_at DESC").each do |cycle|
    %a.item-link{ :href => flow_cycle_path(cycle) }
      .item
        .row-fluid
          .span6
            %strong=cycle.title
          .span6
            -if cycle.complete
              Complete (started #{time_ago_in_words cycle.start_at} ago)
            -else
              -if cycle.start_at == Time.zone.now.to_date
                Started today
              -elsif cycle.start_at < Time.zone.now.to_date
                Started #{days_ago_in_words cycle.start_at} ago
              -else
                Starting in #{days_ago_in_words cycle.start_at}
