-content_for :widget_title do
  Audit Cycles
  %span.badge=program.cycles.count

-content_for :widget_help, 'program_cycles'



-content_for :widget_buttons do
  -if has_feature? :BETA
    .filter
      .row-fluid
        .span12
          .pull-right
            %a.btn{ :href => '/design/audit-manager' }
              Audit Manager


%ul.tree
  -program.cycles.order("start_at DESC").each do |cycle|
    %li.main
      .item-identifier
        .item-title
          .row-fluid
            .span12
              %span.key
                %a{:href => flow_cycle_path(cycle)}=cycle.title
              %span.addition-info
                -if cycle.complete
                  Complete (started #{days_ago_in_words cycle.start_at} ago)
                -else
                  -if cycle.start_at == Time.zone.now.to_date
                    Started today
                  -elsif cycle.start_at < Time.zone.now.to_date
                    Started #{days_ago_in_words cycle.start_at} ago
                  -else
                    Starting in #{days_ago_in_words cycle.start_at}
                  -if cycle.end_at
                    %br
                    Ends on #{cycle.end_at.strftime("%m/%d/%y")}
                    
        .item-actions
          %a{:href => flow_cycle_path(cycle), :class => "btn btn-mini"}
            %i.grcicon-goto
