-subcategory_content_id = "content_#{rand(36**8).to_s(36)}"
%li
  .row-fluid{ :'data-toggle' => 'collapse', :'data-target' => "##{subcategory_content_id}" }
    .span12
      .slot.subsystemslot.span12
        .expander
        %span.prefix=subcategory ? subcategory.name : 'Uncategorized Controls'
  %ul.collapse{ :id => subcategory_content_id }
    -controls.each do |control|
      -control_content_id = "content_#{rand(36**8).to_s(36)}"
      %li
        .row-fluid{ :'data-toggle' => 'collapse', :'data-target' => "##{control_content_id}" }
          .span12
            .slot.controlslot.span12
              .expander
              %a.widgetbtn.fltrt{ :href => edit_flow_control_path(control), :'data-toggle' => 'modal-ajax-form', :'data-modal-reset' => 'reset', :title => 'Edit Control' }
                %i.gcmsicon-edit-grey
              %a.widgetbtn.fltrt{ :href => flow_control_path(control), :title => 'View Control' }
                %i.gcmsicon-arrowright-grey
              %span.prefix=control.slug
              =control.title
        .row-fluid-slotcontent.collapse{ :id => control_content_id }
          .span9
            =control.description
