-content_for :widget_title do
  -if @program.company_controls?
    Controls
  -else
    Regulations and Controls

-content_for :widget_help, 'program_controls'

-content_for :widget_buttons do
  -unless @program.company_controls?
    %a.btn.widgettextbtn{ :href => new_flow_section_path(:'section[program_id]' => program.id), :'data-toggle' => 'modal-ajax-form', :'data-modal-reset' => 'reset', :'data-dirty' => '#regulations, #combo', :'data-route' => "tab=regulations", :title => 'Create New Section' } Add Section
    %a.btn.widgettextbtn{ :href => new_flow_control_path(:'control[program_id]' => program.id), :'data-toggle' => 'modal-ajax-form', :'data-modal-reset' => 'reset', :'data-dirty' => '#category_controls, #combo', :'data-route' => "tab=category_controls", :'data-modal-class' => 'modal-wide', :title => 'Create New Control' } Add Control
  %input.ui-corner-all.widgetsearch.clear-value(type='text' placeholder='Search')

.tabbable
  -#.span3.fltrt
    %a.widgetbtn.shrinkAll
      %img{ :src => '/images/shrinkAll.png', :alt => 'Shrink All', :title => 'Shrink All' }
    %a.widgetbtn.expandAll
      %img{ :src => '/images/expandAll.png', :alt => 'Expand All', :title => 'Expand All' }

  %ul.nav.nav-tabs
    -unless @program.company_controls?
      %li.active=link_to 'Regulations', '#regulations', :data => { :toggle => 'tab', :'tab-href' => sections_flow_program_path(program) }
    %li=link_to 'Controls', '#category_controls', :data => { :toggle => 'tab', :'tab-href' => category_controls_flow_program_path(program) }
    -unless @program.company_controls?
      %li=link_to 'Combo', '#combo', :data => { :toggle => 'tab', :'tab-href' => section_controls_flow_program_path(program) }
  .tab-content
    -unless @program.company_controls?
      #regulations.tab-pane
    #category_controls.tab-pane
    -unless @program.company_controls?
      #combo.tab-pane
