-content_for :widget_title do
  Import Regulation

-content_for :widget_help, 'import'

=form_tag '', :class => 'import', :multipart => true, :remote => true, :'data-type' => 'html', :'data-update-target' => '#results-container' do
  %label(for="file") File to Upload
  =file_field_tag "upload"
  =submit_tag "Check Import"

  %div
    %div#results-container
