-content_for :widget_title do
  Import Regulation

-content_for :widget_help, 'import'

=form_tag '', :class => 'import', :multipart => true, :remote => true, :'data-type' => 'html', :'data-update-target' => '#results-container' do
  
  %label(for="file") File to Upload
  .row-fluid
    .span8
      =file_field_tag "upload", :class => 'span12 btn'
    .span4
      =submit_tag "Upload and Review", :class => 'span12 btn btn-success btn-primary pull-right'

  #results-container
