-content_for :widget_title do
  References, People

-content_for :widget_help, 'program_more_info'

-content_for :widget_id, 'program_more_info_widget'

%ul.tree-structure.simple
  =render :partial => 'documents/object_list',
          :locals  => { :object => program }

  =render :partial => 'people/object_list',
          :locals  => { :object => program }
