-content_for :widget_title do
  Program Info

-content_for :widget_help, 'program_info'

.information

  .row-fluid
    .span12
      .span4
        %label Code
        %input.span12{:disabled => "disabled", :type => "text", :value => program.slug }
      .span8
        %label Kind
        %select.span12{:disabled => "disabled" }
          %option{ :selected => 'selected' }
            =program.kind && program.kind.title
  .row-fluid
    .span12
      %label Full Title
      %input.span12{:disabled => "disabled", :type => "text", :value => program.title }
  .row-fluid
    .span12
      %label Description
      =display_as_html program.description

%hr

.row-fluid
  .span12
    =render :partial => 'documents/object_list',
            :locals  => { :object => program }

%hr

.row-fluid
  .span12
    =render :partial => 'people/object_list',
            :locals  => { :object => program }

%hr.hr-widget

.row-fluid
  .span6.nominheight
    %label.fltlft
      %strong> Created: #{program.created_at.strftime("%m/%d/%y")}
  .span6.nominheight
    %label.fltrt
      %strong> Updated: #{program.updated_at.strftime("%m/%d/%y")}
