-content_for :widget_title do
  Program Info

-content_for :widget_help, 'program_info'

-content_for :widget_buttons do
  %a.widgetbtn{:href => edit_flow_program_path(program), :'data-toggle' => 'modal-ajax-form', :'data-modal-reset' => 'reset', :'data-form-target' => 'refresh', :'data-modal-class' => 'modal-wide',:title => 'Edit Program'}
    %i.gcmsicon-edit-grey

.button-set
  .row-fluid
    .span4
      .btn-group.closed
        %a.span12.btn.btn-warning.dropdown-toggle{ :'data-toggle' => 'dropdown' }
          %i.gcmsicon-import-white
          Im/Export
          %span.caret
        %ul.dropdown-menu
          %li.divider
          %li
            %a{ :href => import_flow_program_path(program) }
              Import Regs
          %li
            %a{ :href => import_controls_flow_program_path(program) }
              Import Controls
          %li.divider
          %li
            %a{ :href => export_flow_program_path(program, :format => :html), :'data-toggle' => 'modal-ajax' }
              Export Regs
          %li
            %a{ :href => export_controls_flow_program_path(program, :format => :html), :'data-toggle' => 'modal-ajax' }
              Export Controls
    .span4
      %a.span12.btn.btn-warning{ :href => mapping_program_path(program) }
        %i.gcmsicon-mapping-white
        Reg Mapper
    .span4
      -if !program.company?
        %a.span12.btn.btn-warning{ :href => new_flow_cycle_path(:'cycle[program_id]' => program.id), :'data-toggle' => 'modal-ajax-form', :'data-modal-reset' => 'reset', :'data-form-target' => 'redirect', :'data-modal-class' => 'modal-wide' }
          %i.gcmsicon-play-white
          Start Audit


.information

  %hr.hr-widget

  .row-fluid
    .span12
      .span4
        %label Code
        %input.span12{:disabled => "disabled", :type => "text", :value => program.slug }
      .span8
        %label Type
        %select.span12{:disabled => "disabled" }
          %option{ :selected => 'selected' }
            =program.kind && program.kind.title
  .row-fluid
    .span12
      %label Full Title
      %input.span12{:disabled => "disabled", :type => "text", :value => program.title }
  .row-fluid
    .span12
      %label Description
      %textarea#textarea.span12{:disabled => "disabled"}=program.description

%hr

.row-fluid
  .span12
    =render :partial => 'documents/object_list',
            :locals  => { :object => program }

%hr

.row-fluid
  .span12
    =render :partial => 'people/object_list',
            :locals  => { :object => program }

%hr.hr-widget

.row-fluid
  .span6.nominheight
    %label.fltlft
      %strong> Created: #{program.created_at.strftime("%m/%d/%y")}
  .span6.nominheight
    %label.fltrt
      %strong> Updated: #{program.updated_at.strftime("%m/%d/%y")}
