-content_for :widget_title do
  Program Info

-content_for :widget_help, 'program_info'

-content_for :widget_buttons do
  %a.widgetbtn{:href => edit_flow_program_path(program), :'data-toggle' => 'modal-ajax-form', :'data-modal-reset' => 'reset', :title => 'Edit Program'}
    %i.gcmsicon-edit-grey

.information

  .toolbar-widget
    %a.btn.btn-warning{ :href => import_flow_program_path(@program) }
      %i.gcmsicon-import-white
      Import Regs
    %a.btn.btn-warning{ :href => mapping_program_path(program) }
      %i.gcmsicon-mapping-white
      Reg Mapper
    -if !program.company?
      %a.btn.btn-warning{ :href => '#create-cycle-modal', :'data-toggle' => 'modal-form' }
        %i.gcmsicon-play-white
        Start Audit

  %hr.hr-widget

  .row-fluid
    .span12
      .span4
        %label Short Code
        %input.span12{:disabled => "disabled", :type => "text", :value => program.slug }
      .span8
        %label Type
        %select.span12{:disabled => "disabled" }
          %option{ :selected => 'selected' }
            =program.company? ? 'Company' : 'Regulation'
  .row-fluid
    .span12
      %label Full Title
      %input.span12{:disabled => "disabled", :type => "text", :value => program.title }
  .row-fluid
    .span12
      %label Description
      %textarea#textarea.span12{:disabled => "disabled"}=program.description

  #create-cycle-modal.modal.hide.fade
    -cycle = Cycle.new()
    -cycle.program = program
    =form_for cycle, :url => flow_cycles_path, :method => :post, :remote => true, :html => {:class => :form} do |f|
      .modal-header
        %a.close{ "data-dismiss" => "modal" } x
        %h1 Edit Audit Cycle
      .modal-body
        =render :partial => 'cycles/form',
                :locals  => { :f => f }
      .modal-footer
        =f.submit pat(:save)
        =f.submit pat(:cancel), :type => 'reset'

%hr

.row-fluid
  .span12
    =render :partial => 'documents/object_list',
            :locals  => { :object => program }

%hr

.row-fluid
  .span12
    =render :partial => 'people/object_list',
            :locals  => { :object => program }

%hr.hr-widget

.row-fluid
  .span6.nominheight
    %label.fltlft
      %strong> Created: #{program.created_at.strftime("%m/%d/%y")}
  .span6.nominheight
    %label.fltrt
      %strong> Updated: #{program.updated_at.strftime("%m/%d/%y")}
