-category_roots = Category.roots.all

%ul.slugtree
  %li
    %ul
      -@category_tree.each do |category, branches|
        -if category.nil?
          =render :partial => 'category_controls_branch',
                  :locals  => { :subcategory => category, :controls => branches }
        -else
          %li
            .row-fluid
              .span12
                .span12.slot.controlslot
                  %span.prefix=category.name
            %ul
              -branches.each do |subcategory, controls|
                =render :partial => 'category_controls_branch',
                        :locals  => { :subcategory => subcategory, :controls => controls }

.widgetStatus.row-fluid
  .span5.fltrt
    %a.btn.btn-blue.addbtn.fltrt{"data-toggle" => "modal", :href => "#"} Showing Controls
  .span5.fltrt
    %a.expandAll.widgetbtn.fltrt{:style => "margin-right:5px;"}
      %i.grcicon-expandAll-grey
    %a.shrinkAll.widgetbtn.fltrt
      %i.grcicon-shrinkAll-grey
