-category_roots = Category.roots.all

%ul.slotlist
  -@category_tree.each do |category, children, controls|
    =render :partial => 'category_controls_branch',
            :locals => { :category => category, :children => children, :controls => controls }

.action-items
  %a.shrinkAll
    %i.grcicon-normal
    Shrink All
  %a.expandAll
    %i.grcicon-wide
    Expand All
