-content_for :header do
  %ol#breadcrumb
    %li=link_to @program.slug, flow_program_path(@program)
    %li Import
  .location#pageTitle Import regulations for #{@program.title}

.row-static
  =render :partial => 'programs/import',
          :layout => 'layouts/widget_box',
          :locals => { :program => @program }
