-content_for :page_help, 'import_controls'

-content_for :header do
  %ul.breadcrumbs
    %li
      Import
    
  %h1
    Import Controls

.row-static
  =render :partial => 'programs/import_controls',
          :layout => 'layouts/widget_box'
