-content_for :page_help, 'import_controls'

-content_for :header do
  %ol#breadcrumb
    %li=link_to 'PROGRAMS', programs_dash_path
    %li=link_to @program.title, flow_program_path(@program)
    %li.last Import
  .location#pageTitle Import Controls

.row-static
  =render :partial => 'programs/import_controls',
          :layout => 'layouts/widget_box'
