-content_for :page_help, 'import'

-content_for :header do
  %ol#breadcrumb
    %li Import
  .location#pageTitle Import Program

.row-static
  =render :partial => 'programs/import',
          :layout => 'layouts/widget_box'
