.row-fluid
  %hr.hr-widget

.row-fluid
  .span6
    %h4 Compliance Program
    .row-fluid
      .span10.control-group
        %label{:for => "slug"} Program/Regulation
        %input#slug.span12{:disabled => "disabled", :value => @program.slug, :type => "text"}/
        %br/

      .span2
        %label{:for => "version"} Version
        %input#version.span12{:disabled => "disabled", :value => @program.version, :type => "text"}

.row-fluid
  %hr.hr-widget

.row-fluid
  %h4 Data to Import

.row-fluid
  #sampleData.span12.well
    -if @messages.present?
      -@messages.each do |m|
        %p.label-warning
          =m
      %br

    -if @errors.any?
      %p.label-warning
        See specific errors below
      %br

    %table.ggrc-table
      %thead
        %tr
          %th Code
          %th Title
          %th Description
          %th Notes
      %tbody
        -columns = %w(slug title description notes)
        -@sections.each_with_index do |sec, i|
          %tr{ :class => (i % 2 == 0 ? :odd : :even) }
            -columns.each do |column_name|
              %td{ :class => ( (@errors[i].present? && @errors[i][column_name].present?) ? 'member-failure' : ((@warnings[i].present? && @warnings[i][column_name].present?) ? 'member-warning' : '' ) ) }
                =sec.send(column_name)
                -if @errors[i].present? && @errors[i][column_name].present?
                  .help-inline=@errors[i][column_name].join(', ')
                -if @warnings[i].present? && @warnings[i][column_name].present?
                  .help-inline=@warnings[i][column_name].join(', ')

    Showing 1 to #{@sections.size} of #{@sections.size} entries
    %br/
    #{@creates.size} created, #{@updates.size} updated

%br

.row-fluid
  -if params[:confirm].blank?
    .span9
    .span3
      -if @errors.any? || @messages.any?
        =submit_tag "Correct Errors Before Proceeding", :class => %w(span12 btn btn-large btn-warning btn-primary), :name => 'confirm', :disabled => true
      -else
        =submit_tag "Finish Importing", :class => %w(span12 btn btn-large btn-success btn-primary), :name => 'confirm'
  -else
    .span12
      Import of
      =link_to @program.title, flow_program_path(@program)
      is done.

