.row-fluid
  %hr.hr-widget

.row-fluid
  .span6
    %h4 Compliance Program
    .row-fluid
      .span10.control-group
        %label{:for => "slug"} Program/Regulation
        %input#slug.span12{:disabled => "disabled", :value => @program.slug, :type => "text"}/
        %br/

      .span2
        %label{:for => "version"} Version
        %input#version.span12{:disabled => "disabled", :value => @program.version, :type => "text"}

    .row-fluid
      .span12.control-group
        %label{:for => ""} Source Title
        %input.span12{:disabled => "disabled", :value => @program.title, :type => "text"}/

    .row-fluid
      .span12.control-group
        %label{:for => "url"} Source URL
        %input#url.span12{:disabled => "disabled", :value => @program.url, :type => "text"}/

    .row-fluid
      .span12.control-group
        %label{:for => "description"} Description
    .row-fluid{"control-group" => ""}
      .span12.well
        %textarea#description.span12.forminputsuccess{:placeholder => "", :rows => "4"}
          =@program.description
        :javascript
          $('#control-description3').wysihtml5({
            "image": false //Button to insert an image. Default true
          });
    .row-fluid

      .span5
        %label{:for => "control-code"} Name of uploaded file
        %input#control-code.span12{:disabled => "disabled", :value => params["upload"].original_filename, :type => "text"}

      .span3
        %label{:for => "control-code"} Doc Date
        #docdate.date{"data-date" => "TBD", "data-date-format" => "dd-mm-yy"}
          %input.span12.calendar{:size => "16", :type => "text", :value => "TBD"}/
        :javascript
          $('#docdate').datepicker();
      .span2
        %label{:for => "control-code"} Version
        %input#control-code.span12{:disabled => "disabled", :placeholder => "TBD", :type => "text"}

      .span2
        %label{:for => "control-code"} Pages
        %input#control-code.span12{:disabled => "disabled", :placeholder => "TBD", :type => "text"}

.row-fluid
  %hr.hr-widget

.row-fluid
  %h4 Sample Data

.row-fluid
  #sampleData.span12.well
    %table.ggrc-table
      %thead
        %tr
          %th Code
          %th Title
          %th Description
          %th Notes
      %tbody
        -columns = %w(slug title description notes)
        -@sections.each_with_index do |sec, i|
          %tr{ :class => (i % 2 == 0 ? :odd : :even) }
            -columns.each do |column_name|
              %td{ :class => ( (@errors[i].present? && @errors[i][column_name].present?) ? 'member-failure' : ((@warnings[i].present? && @warnings[i][column_name].present?) ? 'member-warning' : '' ) ) }
                =sec.send(column_name)
                -if @errors[i].present? && @errors[i][column_name].present?
                  .help-inline=@errors[i][column_name].join(', ')
                -if @warnings[i].present? && @warnings[i][column_name].present?
                  .help-inline=@warnings[i][column_name].join(', ')

    Showing 1 to #{@sections.size} of #{@sections.size} entries
    %br/
    #{@creates.size} created, #{@updates.size} updated


%div
  Warnings:

  -@messages.each do |m|
    %p{ :class => 'label-warning' }
      =m

.row-fluid
  %hr.hr-widget

.row-fluid
  -if params[:confirm].blank?
    .span9
    .span3
      =submit_tag "Finish Importing", :class => %w(span12 btn btn-large btn-success btn-primary), :name => 'confirm'
  -else
    .span12
      Import of
      =link_to @program.title, flow_program_path(@program)
      is done.

