-instance = @program
-@title = "GRC Program: #{instance.title}"

-content_for :header do

  %ul.breadcrumbs
    %li=link_to 'dashboard', programs_dash_path
    %li=instance.title

  %h1.governance
    .grcobject.governance{:rel => "tooltip", :'data-placement'=>"bottom", :title => "Program"}
      -if instance.company_controls?
        %i.grcicon-control
      -else
        %i.grcicon-program
    =instance.title

-content_for :page_help, 'program'

-content_for :subheader_extras do
  %ul.actions.pull-right
    %li
      %a{:href => edit_flow_program_path(instance), :'data-toggle' => 'modal-ajax-form', :'data-modal-reset' => 'reset', :'data-form-target' => 'refresh', :'data-modal-class' => 'modal-wide',:title => 'Edit Program'}
        %i.grcicon-edit
        Edit Program
    -unless instance.company_controls?
      %li
        %a{:href => new_flow_cycle_path(:'program_id' => instance.id), :'data-toggle' => 'modal-ajax-form', :'data-modal-reset' => 'reset', :'data-form-target' => 'redirect'}
          %i.grcicon-audit
          Start Audit
      %li
        %a{ :href => mapping_program_path(instance) }
          %i.grcicon-reg-map
          Control Mapper

-content_for :subheader_plus do
  %a.navbarplus.fltrt{ :href => new_flow_program_path, :'data-toggle' => 'modal-ajax-form', :'data-form-target' => 'redirect', :'data-modal-reset' => 'reset', :'data-modal-class' => 'modal-wide' }

.container-fluid
  #columns.row-fluid{ :'data-resize' => "true" }
    #middle-column.span8.widget-area
      =render :partial => 'main',
              :layout => 'layouts/widget_box',
              :locals => { :program => instance, :widget_class => 'widget-tabs widget-tabs-horizontal governance' }
      -unless instance.company_controls?
        =render :partial => 'related',
                :layout => 'layouts/widget_box',
                :locals => { :instance => instance, :widget_title => "Impact/Scope of Program's Directives", :widget_class => 'widget-tabs widget-tabs-horizontal related business' }
    #right-column.span4.widget-area
      =render :partial => 'info',
              :layout => 'layouts/widget_box',
              :locals => { :program => instance, :widget_class => 'governance'}
      -unless instance.company_controls?
        =render :partial => 'audit_cycles',
                :layout => 'layouts/widget_box',
                :locals => { :program => instance, :widget_class => 'governance' }
      =render :partial => 'more_info',
              :layout => 'layouts/widget_box',
              :locals => { :program => instance, :widget_class => 'related business'}
