-@title = "GRC Program: #{@program.title}"

-content_for :header do
  %ul.breadcrumbs
    %li=link_to 'PROGRAMS', programs_dash_path
    %li=@program.title
    
  %h1=@program.title

-content_for :page_help, 'program'

-content_for :subheader_extras do
  %h1.fltrt.highlighted Program

-content_for :subheader_plus do
  %a.navbarplus.fltrt{ :href => new_flow_program_path, :'data-toggle' => 'modal-ajax-form', :'data-form-target' => 'redirect', :'data-modal-reset' => 'reset', :'data-modal-class' => 'modal-wide' }

.container-fluid
  .row-fluid
    .span8
      =render :partial => 'programs/controls',
              :layout => 'layouts/widget_box',
              :locals => { :program => @program }
    .span4
      =render :partial => 'programs/show',
              :layout => 'layouts/widget_box',
              :locals => { :program => @program }
  
      -if (@program.cycles.length != 0)  
        =render :partial => 'programs/audit_cycles',
                :layout => 'layouts/widget_box',
                :locals => { :program => @program }
