-@title = "GRC Program: #{@program.title}"

-content_for :header do
  %ol#breadcrumb
    %li.last=link_to 'PROGRAMS', programs_dash_path
  .location#pageTitle=@program.title

-content_for :page_help, 'program'

-content_for :subheader_extras do
  %h1.fltrt.highlighted Program

-content_for :subheader_plus do
  %a.navbarplus.fltrt{ :href => new_flow_program_path, :'data-toggle' => 'modal-ajax-form', :'data-form-target' => 'redirect', :'data-modal-reset' => 'reset', :'data-modal-class' => 'modal-wide' }

.row-static
  .doubleColumn
    .doubleWide.fullHeight
      =render :partial => 'programs/controls',
              :layout => 'layouts/widget_box',
              :locals => { :program => @program }
  .singleColumn
    .singleWide.fullHeight
      =render :partial => 'programs/show',
              :layout => 'layouts/widget_box',
              :locals => { :program => @program }
    .singleWide.halfHeight

      -if (@program.cycles.length != 0)  
        =render :partial => 'programs/audit_cycles',
                :layout => 'layouts/widget_box',
                :locals => { :program => @program }
