-content_for :header do
  %h5.highlighted
    =link_to 'PROGRAMS', programs_dash_path
    %span.divider /
    =@program.slug
  %h1.location=@program.title

.row
  .span8
    =render :partial => 'programs/controls',
            :layout => 'layouts/widget_box',
            :locals => { :program => @program }
  .span4
    =render :partial => 'programs/show',
            :layout => 'layouts/widget_box',
            :locals => { :program => @program }
    =render :partial => 'programs/audit_cycles',
            :layout => 'layouts/widget_box',
            :locals => { :program => @program }

