-content_for :header do
  %ol#breadcrumb
    %li=link_to 'PROGRAMS', programs_dash_path
    %li=@program.slug
  .location#pageTitle=@program.title

.row-static
  .doubleColumn
    .doubleWide.fullHeight
      =render :partial => 'programs/controls',
              :layout => 'layouts/widget_box',
              :locals => { :program => @program }
  .singleColumn
    .singleWide.halfHeight
      =render :partial => 'programs/show',
              :layout => 'layouts/widget_box',
              :locals => { :program => @program }
    .singleWide.halfHeight
      =render :partial => 'programs/audit_cycles',
              :layout => 'layouts/widget_box',
              :locals => { :program => @program }
