-instance = @program
-@title = "GRC Program: #{instance.title}"

-content_for :header do

  %ul.breadcrumbs
    %li=link_to 'PROGRAMS', programs_dash_path
    %li=instance.title

  %h1.governance
    .grcobject.governance{:rel => "tooltip", :'data-placement'=>"bottom", :title => "Program"}
      %i.grcicon-program
    =instance.title

-content_for :page_help, 'program'

-content_for :subheader_extras do
  %ul.actions.pull-right
    %li
      %a{:href => edit_flow_program_path(instance), :'data-toggle' => 'modal-ajax-form', :'data-modal-reset' => 'reset', :'data-form-target' => 'refresh', :'data-modal-class' => 'modal-wide',:title => 'Edit Program'}
        %i.grcicon-edit-new
        Edit Program

-content_for :subheader_plus do
  %a.navbarplus.fltrt{ :href => new_flow_program_path, :'data-toggle' => 'modal-ajax-form', :'data-form-target' => 'redirect', :'data-modal-reset' => 'reset', :'data-modal-class' => 'modal-wide' }

.container-fluid
  #columns.row-fluid{ :'data-resize' => "true" }
    #middle-column.span8.widget-area
      =render :partial => 'programs/directives',
              :layout => 'layouts/widget_box',
              :locals => { :program => instance, :widget_class => 'governance' }
      =render :partial => 'programs/related',
              :layout => 'layouts/widget_box',
              :locals => { :instance => instance, :widget_title => "Impact/Scope of Program's Directives" }
    #right-column.span4.widget-area
      =render :partial => 'programs/show',
              :layout => 'layouts/widget_box',
              :locals => { :program => instance, :widget_class => 'governance'}
      =render :partial => 'programs/more_info',
              :layout => 'layouts/widget_box',
              :locals => { :program => instance, :widget_class => 'related'}
