-content_for :header do
  %ul#breadcrumbs
    %li=link_to 'Programs', programs_dash_path
    %li=@program.slug
  %h2=@program.title

.row
  .span8
    =render :partial => 'programs/controls',
            :layout => 'layouts/widget_box',
            :locals => { :program => @program }
  .span4
    =render :partial => 'programs/show',
            :layout => 'layouts/widget_box',
            :locals => { :program => @program }
    =render :partial => 'programs/audit_cycles',
            :layout => 'layouts/widget_box',
            :locals => { :program => @program }

