-@title = "GRC Program: #{@program.title}"

-content_for :header do
  %ol#breadcrumb
    %li=link_to 'PROGRAMS', programs_dash_path
    %li=@program.slug
  .location#pageTitle=@program.title

-content_for :page_help, 'program'

-content_for :subheader_extras do
  %h1.fltrt.highlighted Program

-content_for :subheader_plus do
  %a.navbarplus.fltrt{ :href => new_flow_program_path, :'data-toggle' => 'modal-ajax-form', :'data-modal-reset' => 'reset' }

.row-static
  .doubleColumn
    .doubleWide.fullHeight
      =render :partial => 'programs/controls',
              :layout => 'layouts/widget_box',
              :locals => { :program => @program }
  .singleColumn
    .singleWide.fullHeight
      =render :partial => 'programs/show',
              :layout => 'layouts/widget_box',
              :locals => { :program => @program }
    .singleWide.halfHeight
      =render :partial => 'programs/audit_cycles',
              :layout => 'layouts/widget_box',
              :locals => { :program => @program }
