-content_for :tooltip_title do
  .row-fluid
    .span10
      %h3
        %i.grcicon-program-color
        =program.slug
        %span=program.title
    .span2
      %a.btn.btn-mini.pull-right{:href => flow_program_path(program), :rel => "tooltip", :title => "View/Edit Program"} 
        %i.grcicon-goto

.row-fluid
  .span12
    %h4 Description
    -if program.description != ""
      =display_as_html program.description
    -else
      .rtf
        %p.no-data No description available

-# for story https://www.pivotaltracker.com/story/show/45635355        
-#.row-fluid
  .span12.popoverfooter
    %a{:href=>"#"}
      %i.grcicon-remove
      Unlink from 
      =program.slug