-content_for :tooltip_title do
  %h3 Program Information

=program.title
\|
=program.slug

%h3 Description

.item
  =display_as_html program.description

.item
  Created:
  =display_time(program.created_at)
.item
  Updated:
  =display_time(program.updated_at)
