-content_for :tooltip_title do
  %h3 Program Information

.row-fluid
  .span10
    %h3
      %i.grcicon-program-black
      =program.slug
      %span=program.title
  .span2
    %a.btn.btn-mini.pull-right{:href => flow_program_path(program), :rel => "tooltip", :title => "View/Edit Program"} 
      %i.grcicon-goto

.row-fluid
  .span12
    %h4 Description
    -if program.description != ""
      =display_as_html program.description
    -else
      .rtf
        %p.no-data No description available

.row-fluid
  .span6.created
    Created:
    =display_time(program.created_at)  
  .span6.updated
    Updated:
    =display_time(program.updated_at)