-@title = "GRC: Auditor Dashboard"

-content_for :header do
  %ul.breadcrumbs
    %li
      %a{:href => "programs.htm"}
        AUDIT
  %h1
    Sarbanes-Oxley 2012 Audit

-content_for :page_help, 'changeme'

-content_for :subheader_extras do
  %h1#pageType.pull-right.highlighted Auditor Dashboard

-content_for :header_buttons do
  .btn-group.last
    %a.btn{:href => "#"} Select Audit

.container-fluid
  .row-fluid
    .span8
      / .RegsandControls
      .WidgetBox
        .WidgetBoxHeading
          .pull-right
            /
              <a href="#comingsoonModal" class="widgetbtn" data-toggle="modal"><i class="grcicon-questionmark-grey"></i></a>
              <a href="#newsectionModal" data-toggle="modal"  class="widgettextbtn">Edit Regulations</a>
              <a href="#newsectionModal" data-toggle="modal"  class="widgettextbtn">Edit Controls</a>
              <input type="text" placeholder="Search" class="ui-corner-all widgetsearch">
          .WidgetTitle Audit Status
        / /.WidgetBoxHeading
        .WidgetBoxContent
          .row-fluid
            .span7
            .span2.well
              Requests
            .span3.well.pull-right
              .fltnone Target Systems
          .row-fluid
            .span7
            .span2
              %label &nbsp; Requests
            .span1
              %label &nbsp;Complete
            .span1
              %label &nbsp;Pending
            .span1
              %label &nbsp;Out
          #auditstatus
            / CONTENT VIA JSRENDER
        / /.WidgetBoxContent
      / /.RegsandControls
      .singleColumn
      / end of singlecolumn
      .singleColumn
    / end of doubleColumn
    .span4
      #systeminfowidget.WidgetBox
        .WidgetBoxHeading
          %nav
            %a.widgetbtn{"data-toggle" => "modal", :href => "#comingsoonModal"}
              %i.grcicon-questionmark-grey
            %a.accordion-toggle.widgetbtn{"data-toggle" => "collapse", :href => "#auditInfo"}
              %i.grcicon-enlarge-grey
          .WidgetTitle Audit Info
        .WidgetBoxContent
          .row-fluid
            .span6
              %label Audit Phase/Status
              %a.btn.btn-warning.span12{"data-toggle" => "modal", :href => "#comingsoonModal"}
                %i.grcicon-asterix-white
                Pre-Audit
            .span6
              %label Audit Firm
              %a.btn.span12{"data-toggle" => "modal", :href => "#comingsoonModal"}
                %i.grcicon-asterix-black
                Ernst and Young
          #auditInfo.in
            %hr.hr-widget/
            .row-fluid
              .span12
                %h3
                  References
                  %a.btn.btn-blue.addbtn.pull-right{"data-toggle" => "modal", :href => "#referenceSelectorModal"} Edit
                %ul#referenceList
                  %li.controlSlot.ui-draggable{"data-toggle" => "modal", :href => "#referenceSelectorModal"}
                    .controls-group
                      .controls-type 2010
                      .controls-subtype PDF
                      .controls-subgroup Privacy Report
                  %li.controlSlot.ui-draggable{"data-toggle" => "modal", :href => "#referenceSelectorModal"}
                    .controls-group
                      .controls-type 2011
                      .controls-subtype PDF
                      .controls-subgroup PWC Audit Portal
            %hr.hr-widget/
            .row-fluid
              .span12
                %h3
                  Responsible Parties
                  %a.btn.btn-blue.addbtn.pull-right{"data-toggle" => "modal", :href => "#peopleSelectorModal"} Edit
                %ul#peopleList
                  %li.controlSlot.ui-draggable{"data-toggle" => "modal", :href => "#referenceSelectorModal"}
                    .controls-group
                      .controls-type Paul Maybeck
                      .controls-subtype Senior Auditor
                      .controls-subgroup pMaybeck@ey.com
                  %li.controlSlot.ui-draggable{"data-toggle" => "modal", :href => "#referenceSelectorModal"}
                    .controls-group
                      .controls-type Sal Maybeck
                      .controls-subtype Field Auditor
                      .controls-subgroup sMaybeck@ey.com
      / end of widget
      #companycontrolwidget.WidgetBox
        .WidgetBoxHeading
          %nav
            %a.widgettextbtn{"data-toggle" => "modal", :href => "#auditdefaultscope"} Edit
          .WidgetTitle Default Scope of Audit
        .WidgetBoxContent
          .row-fluid.FLTNONE
            .controls-group.span6
            .span6
              .span4
                %label Current
              .span4
                %label Pending
              .span4
                %label Out
          %ul#TransactionList.in
            %li.controlSlot.ui-draggable.row-fluid{"data-toggle" => "modal", :href => "#referenceSelectorModal"}
              .controls-group.span6
                .controls-type PC-2
                .controls-subtype
                .controls-subgroup Traffic Team
              .span6.badges
                .span4
                  .badge.badge-success 1/3
                .span4
                  .badge.badge-warning 33
                .span4
                  .badge.badge-important 9
            %li.controlSlot.ui-draggable.row-fluid{"data-toggle" => "modal", :href => "#referenceSelectorModal"}
              .controls-group.span6
                .controls-type PC-2
                .controls-subtype
                .controls-subgroup Enterprise Apps
              .span6.badges
                .span4
                  .badge.badge-success 1/3
                .span4
                  .badge.badge-warning 33
                .span4
                  .badge.badge-important 9
            %li.controlSlot.ui-draggable.row-fluid{"data-toggle" => "modal", :href => "#referenceSelectorModal"}
              .controls-group.span6
                .controls-type PC-2
                .controls-subtype
                .controls-subgroup More Team Stuff
              .span6.badges
                .span4
                  .badge.badge-success 1/3
                .span4
                  .badge.badge-warning 33
                .span4
                  .badge.badge-important 9
      / end of widget
