-@title = "GRC: Audit Setup"

-content_for :header do
  %ol#breadcrumb
    %li.last
      %a{:href => "programs.htm"} AUDIT
  #pageTitle.location Sarbanes-Oxley 2012 Audit

-content_for :page_help, 'changeme'

-content_for :subheader_extras do
  %h1#pageType.pull-right.highlighted Audit Setup

.row-static
  .doubleColumn
    / .RegsandControls
    #RegsandControls.WidgetBox.fullHeight.doubleWide
      .WidgetBoxHeading
        .pull-right
          %a.widgetbtn{"data-toggle" => "modal", :href => "#comingsoonModal"}
            %i.gcmsicon-questionmark-grey
          %a.widgettextbtn{"data-toggle" => "modal", :href => "#newsectionModal"} Edit Regulations
          %a.widgettextbtn{"data-toggle" => "modal", :href => "#newsectionModal"} Edit Controls
          %input.ui-corner-all.widgetsearch{:placeholder => "Search", :type => "text"}/
        .WidgetTitle.doublewidth
          %strong Regulation
          \/
          %strong Controls
          Mapped to this Control
      / /.WidgetBoxHeading
      .WidgetBoxContent
        %ul#quicklinks.nav.nav-tabs
          %li
            %a{"data-toggle" => "tab", :href => "#xRegulation"} Regulation Sections
          %li.active
            %a{"data-toggle" => "tab", :href => "#xControls"} Controls
          %li.pull-right
            .progress.pull-right{:style => "width:160px;"}
              .bar.progressbar-success{"data-percentage" => "5", :style => "float: left; width: 0%; "} 5%
              .bar.progressbar-danger{"data-percentage" => "58", :style => "float: right; width: 0%; "} 58%
              .bar.progressbar-warning{"data-percentage" => "35", :style => "float: right; width: 0%; "} 35%
            %img{:alt => "Expand All", :src => "/images/expandAll.png"}/
            %img{:alt => "Shrink All", :src => "/images/shrinkAll.png"}/
        .tab-content
          #xRegulation.tab-pane Regulations
          #xControls.tab-pane.active Controls
          %ul.slugtree
            %li{:id => "content_PCI.A.1.4"}
              .row-fluid
                .span12
                  .collapsed.slot.regulationslot.toggle.span9{"data-target" => "#demo2", "data-toggle" => "collapse"}
                    %span.prefix> PCI.A.1.4
                    Enable processes to provide for timely forensic investigation...
                    .expander
                  .attached.progress.progress-large.active.span3
                    .bar.progressbar-success{"data-percentage" => "100", :style => "float: left; width: 100%; "}
                .row-fluid-slotcontent
                  .span9
                    #demo2.collapse{:style => "height: 0px; "}
                      Enable processes to provide for timely forensic investigation in the event of a compromise to any hosted merchant or service provider.
            %li{:id => "content_PCI.A.1.4"}
              .row-fluid
                .span12
                  .collapsed.slot.regulationslot.toggle.span9{"data-target" => "#demo2", "data-toggle" => "collapse"}
                    %span.prefix> PCI.A.1.4
                    Enable processes to provide for timely forensic investigation...
                    .expander
                  .attached.progress.progress-large.active.span3
                    .bar.progressbar-warning{"data-percentage" => "100", :style => "float: right; width: 100%; "}
                .row-fluid-slotcontent
                  .span9
                    #demo2.collapse{:style => "height: 0px; "}
                      Enable processes to provide for timely forensic investigation in the event of a compromise to any hosted merchant or service provider.
        / /.Class Content
      / /.WidgetBoxContent
    / /.RegsandControls
    .singleColumn
      #companycontrolwidget.WidgetBox
        .WidgetBoxHeading
          %nav
            %a.widgettextbtn{"data-toggle" => "modal", :href => "#"} Edit
            %a.widgetbtn{"data-toggle" => "modal", :href => "#comingsoonModal"}
              %i.gcmsicon-questionmark-grey
          .WidgetTitle.doublewidth Default Scope of Audit
        .WidgetBoxContent
          %ul#TransactionList.in
            %li#content_.singlecontrolSlot
              %ul#children_
                %li.accordion-toggle{"data-toggle" => "collapse", :href => "#demo16", :id => "content_PCI.1.1.5"}
                  .expander
                  %a{:href => "#"}/
                  .greyOut.pull-right
                    %i.gcmssmallicon-dash-white
                  = succeed "130k" do
                    %span.prefix Item 1
          .row-fluid-slotcontent
            .span13
              #demo16.collapse.in{:style => "height: 0px; "} Ea, quae humo wisi usitas eu dolore, interdico, modo utinam sudo ventosus. Quibus nunc ex ullamcorper quia persto. Et, dignissim dolore jus gilvus, premo. Nibh at quadrum occuro lobortis, macto duis uxor feugait obruo consequat nimis commodo vel nulla. Premo torqueo refero, letatio aliquip vel minim dolor inhibeo hendrerit. Amet huic vel, capto sed rusticus qui opto opes esca incassum ut regula. Blandit nibh iriure saepius ut duis camur facilisi eros illum occuro, quia letatio.
          %li#content_.singlecontrolSlot
            %ul#children_
              %li.accordion-toggle{"data-toggle" => "collapse", :href => "#demo15", :id => "content_PCI.1.1.5"}
                .expander
                %a{:href => "#"}/
                .greyOut.pull-right
                  %i.gcmssmallicon-dash-white
                = succeed "20k" do
                  %span.prefix Item 2
          .row-fluid-slotcontent
            .span14
              #demo15.collapse.in{:style => "height: 0px; "} Shine sharpest juicy best well pleasure treat revolutionary sleek. Comes aromatic introducing distinct, grown, made luxury rich, drink, sporty how cholesterol that, can. Product deeply odor best full savor clinically incredible. Vibrant high valuable blast pleasure believe shine. Inside hearty fights quick all, goodness aromatic flexible one ultra. Fights high-tech, what delivers like revolutionary cause really triple can't customer, grown. Ordinary keeps roasted really savor yours announcing compact now intense healthy, stimulates think.
      / end of widget
    / end of singlecolumn
    .singleColumn
      / ipactscope
      #impactscopewidget.WidgetBox
        .WidgetBoxHeading
          %nav
            %a.widgetbtn{"data-toggle" => "modal", :href => "#comingsoonModal"}
              %i.gcmsicon-questionmark-grey
            %input.ui-corner-all.widgetsearch{:placeholder => "Search", :type => "text"}/
            %a.accordion-toggle.widgetbtn{"data-toggle" => "collapse", :href => "#impactScopeInfo"}
              %i.gcmsicon-enlarge-grey
          .WidgetTitle Impact / Scope
        .WidgetBoxContent.information
          / TABS
          .row-fluid
            .span6
              %label
                %strong Systems Impacted
              %strong 239
              Systems
            .span6
              .row-fluid
                .span2.pull-right
                .span4.pull-right
                  %label.fltnone
                    %strong Verified
                  .badge.badge-success.fltnone 197
                .span3.pull-right
                  %label.fltnone
                    %strong Pend
                  .badge.badge-warning.fltnone 33
                .span3.pull-right
                  %label.fltnone
                    %strong Out
                  .badge.badge-important.fltnone 9
          #impactScopeInfo.row-fluid.in
            .span12
              %hr.hr-widget/
              %ul#quicklinks.nav.nav-tabs
                %li
                  %a{"data-toggle" => "tab", :href => "#impactscope-products"} Products
                %li
                  %a{"data-toggle" => "tab", :href => "#impactscope-bizarea"} Biz Area
                %li.active
                  %a{"data-toggle" => "tab", :href => "#impactscope-bizprocess"} Biz Process
                %li
                  %a{"data-toggle" => "tab", :href => "#impactscope-systems"} Systems
              / TAB CONTENT
              .tab-content
                #impactscope-products.tab-pane
                  %ul
                    %li.controlSlot.ui-draggable{"data-toggle" => "modal", :href => "#referenceSelectorModal"}
                      .controls-group
                        .controls-type 2010
                        .controls-subtype PDF
                        .controls-subgroup Privacy Report
                #impactscope-bizarea.tab-pane
                  %ul
                    %li.controlSlot.ui-draggable{"data-toggle" => "modal", :href => "#referenceSelectorModal"}
                      .controls-group
                        .controls-type 2010
                        .controls-subtype PDF
                        .controls-subgroup Privacy Report
                #impactscope-bizprocess.tab-pane.active
                  %ul
                    %li.controlSlot.ui-draggable{"data-toggle" => "modal", :href => "#referenceSelectorModal"}
                      .controls-group
                        .controls-type 2010
                        .controls-subtype PDF
                        .controls-subgroup Privacy Report
                    %li.controlSlot.ui-draggable{"data-toggle" => "modal", :href => "#referenceSelectorModal"}
                      .controls-group
                        .controls-type 2010
                        .controls-subtype PDF
                        .controls-subgroup Privacy Report
                    %li.controlSlot.ui-draggable{"data-toggle" => "modal", :href => "#referenceSelectorModal"}
                      .controls-group
                        .controls-type 2010
                        .controls-subtype PDF
                        .controls-subgroup Privacy Report
                    %li.controlSlot.ui-draggable{"data-toggle" => "modal", :href => "#referenceSelectorModal"}
                      .controls-group
                        .controls-type 2010
                        .controls-subtype PDF
                        .controls-subgroup Privacy Report
                #impactscope-systems.tab-pane
                  %ul
                    %li.controlSlot.ui-draggable{"data-toggle" => "modal", :href => "#referenceSelectorModal"}
                      .controls-group
                        .controls-type 2010
                        .controls-subtype PDF
                        .controls-subgroup Privacy Report
            / OTHER CONTENT
            %hr.hr-widget/
            .row-fluid.nominheight
              .span3.nominheight
                %label.pull-left{:for => "control-effectivedate"}
                  %strong> Products
                  \: 3
              .span3.nominheight
                %label.pull-left{:for => "control-effectivedate"}
                  %strong> Biz Areas
                  \: 2
              .span3.nominheight
                %label.pull-left{:for => "control-effectivedate"}
                  %strong> Biz Process
                  \: 9
              .span3.nominheight
                %label.pull-left{:for => "control-effectivedate"}
                  %strong> Systems
                  \: 239
      / end ipactscope
  / end of doubleColumn
  .singleColumn
    #systeminfowidget.WidgetBox
      .WidgetBoxHeading
        %nav
          %a.widgetbtn{"data-toggle" => "modal", :href => "#comingsoonModal"}
            %i.gcmsicon-questionmark-grey
        .WidgetTitle Audit Info
      .WidgetBoxContent.information
        .row-fluid
          .span6
            %label Audit Phase/Status
            %a.btn.btn-warning{"data-toggle" => "modal", :href => "#comingsoonModal"}
              %i.gcmsicon-asterix-white
              Pre-Audit Setup
          .span6
            %label Auditor Firm
            %a.btn{"data-toggle" => "modal", :href => "#comingsoonModal"}
              %i.gcmsicon-asterix-black
              Ernst and Young
        #programinformation.in
    / end of widget
    / Audit Status
    #systeminfowidget.WidgetBox
      .WidgetBoxHeading
        %nav
          %a.widgetbtn{"data-toggle" => "modal", :href => "#comingsoonModal"}
            %i.gcmsicon-questionmark-grey
        .WidgetTitle Audit Status
      .WidgetBoxContent.information
        .row-fluid
          .span12
            %h3 Audit Status
            .row-fluid
              .span12.well.whitewell
                %ul
                  %li
                    %strong 86
                    Controls
                  %li
                    %strong 212
                    Requests
                  %li
                    %strong 52
                    Responses
                  %li
                    %strong 23
                    Responses Accepted
                  %li
                    %strong 12
                    Controls Approved
            %h3 Impact
            .row-fluid
              .span12.well.whitewell
                %ul
                  %li
                    %strong 86
                    Controls
                  %li
                    %strong 212
                    Requests
                  %li
                    %strong 52
                    Responses
                  %li
                    %strong 23
                    Responses Accepted
                  %li
                    %strong 12
                    Controls Approved
        #programinformation.in
    / end of widget
    / Audit Schedule
    #systeminfowidget.WidgetBox
      .WidgetBoxHeading
        %nav
          %a.widgetbtn{"data-toggle" => "modal", :href => "#comingsoonModal"}
            %i.gcmsicon-questionmark-grey
        .WidgetTitle Audit Schedule
      .WidgetBoxContent.information
        .row-fluid
          .span2
            %label &nbsp; Date
          .span3
            %label &nbsp; Phase
          .span7
            %label &nbsp; Event
        .row-fluid
          %ul
            %li.singlecontrolSlot
              .span2.nominheight 030112
              .span3.nominheight Pre-Audit
              .span7.nominheight Audit MOU / Scope Set
            %li.singlecontrolSlot
              .span2.nominheight 030112
              .span3.nominheight Pre-Audit
              .span7.nominheight Audit MOU / Scope Set
            %li.singlecontrolSlot
              .span2.nominheight 030112
              .span3.nominheight Pre-Audit
              .span7.nominheight Audit MOU / Scope Set
            %li.singlecontrolSlot
              .span2.nominheight 030112
              .span3.nominheight Pre-Audit
              .span7.nominheight Audit MOU / Scope Set
        #programinformation.in
    / end of widget
