-@title = "GRC: Risk Gap Analysis"

-content_for :header do
  %ul.breadcrumbs
    %li
      %a{:href => "#"}
        GOVERNANCE
  %h1
    Governance

-content_for :page_help, 'changeme'

-content_for :subheader_extras do
  %h1#pageType.pull-right.highlighted Change Over Time

.container-fluid
  .row-fluid
    %img.demoItem{:src => '../images/tempScreenGapAnalysis.jpg'}
