-@title = "GRC: Risk Gap Analysis"

-content_for :header do
  %ol#breadcrumb
    %li.last
      %a{:href => "#"} GOVERNANCE
  #pageTitle.location Governance

-content_for :page_help, 'changeme'

-content_for :subheader_extras do
  %h1#pageType.pull-right.highlighted Change Over Time

.row-static
  %img.demoItem{:src => '../images/tempScreenGapAnalysis.jpg'}
