-@title = "GRC: Governance"

-content_for :header do
  %ul.breadcrumbs
    %li
      %a{:href => "#"}
        Governance
  %h1
    Governance

-content_for :page_help, 'changeme'

-content_for :subheader_extras do
	%h1#pageType.pull-right.highlighted Reg Review

.row-static
	

	%img.demoItem{:src => '../images/tempGovRegReview.png'}

