-@title = "GRC: Products"

-content_for :header do
  %ol#breadcrumb
    %li.last
      %a{:href => "programs.htm"} PROGRAMS / IMPORTING
  #pageTitle.location Sarbanes-Oxley Setup

-content_for :page_help, 'changeme'

-content_for :subheader_extras do
  %h1#pageType.fltrt.highlighted Importing Regulation Data


.row-fluid
  / .RegsandControls
  #RegsandControls.span12.WidgetBox.fullHeight
    .WidgetBoxHeading
      .fltrt
        %a.widgetbtn{"data-toggle" => "modal", :href => "#comingsoonModal"}
          %i.gcmsicon-questionmark-grey
        %a.widgetbtn{"data-toggle" => "modal", :href => "#comingsoonModal"}
          %i.gcmsicon-edit-grey
        %input.ui-corner-all.widgetsearch{:placeholder => "Search", :type => "text"}/
      .WidgetTitle.doublewidth Regulation Data Preview
    / /.WidgetBoxHeading
    .WidgetBoxContent
      .fltrt
        %a.btn.btn-blue.addbtn
          Download Template for Data Entry
      %ul#quicklinks.nav.nav-tabs
        %li
          %a{"data-toggle" => "tab", :href => "#Regulation"} Regulation
        %li
          %a{"data-toggle" => "tab", :href => "#Controls"} Controls
        %li.active
          %a{"data-toggle" => "tab", :href => "#Combo"} Combo
      .tab-content
        #Regulation.tab-pane Regulations
        #Controls.tab-pane Controls
        #Combo.tab-pane.active
          %ul.slugtree
            %li{:id => "content_PCI.A.1.4"}
              .row-fluid
                .span12
                  .collapsed.slot.regulationslot.toggle.span9{"data-target" => "#demo1", "data-toggle" => "collapse"}
                    %span.prefix> PCI.A.1.4
                    Enable processes to provide for timely forensic investigation in the event of a ...
                    .expander
                  .attached.progress-large.span3
                    .bar.progressbar-success{"data-percentage" => "100", :style => "float: left; width: 100%; "}
                #demo1.row-fluid-slotcontent.collapse
                  .span9
                    Enable processes to provide for timely forensic investigation in the event of a compromise to any hosted merchant or service provider.
            %li{:id => "content_PCI.A.1.4"}
              .row-fluid
                .span12
                  .collapsed.slot.regulationslot.toggle.span9{"data-target" => "#demo2", "data-toggle" => "collapse"}
                    %span.prefix> PCI.A.1.4
                    Enable processes to provide for timely forensic investigation in the event of a ...
                    .expander
                  .attached.progress-large.active.span3
                    .bar.progressbar-danger{"data-percentage" => "100", :style => "float: right; width: 100%; "}
                #demo2.row-fluid-slotcontent.collapse
                  .span9
                    Enable processes to provide for timely forensic investigation in the event of a compromise to any hosted merchant or service provider.
            %li{:id => "content_PCI.A.1.4"}
              .row-fluid
                .span12
                  .collapsed.slot.regulationslot.toggle.span9{"data-target" => "#demo3", "data-toggle" => "collapse"}
                    %span.prefix> PCI.A.1.4
                    Enable processes to provide for timely forensic investigation...
                    .expander
                  .attached.progress-large.active.span3
                    .bar.progressbar-warning{"data-percentage" => "100", :style => "float: right; width: 100%; "}
                #demo3.row-fluid-slotcontent.collapse
                  .span9
                    Enable processes to provide for timely forensic investigation in the event of a compromise to any hosted merchant or service provider.   
  -#=render :partial => 'design/widgets/impactscope'
