-@title = "GRC: PBC List"
 
-content_for :header do
  %ol#breadcrumb
    %li.last
      %a{:href => "#"} AUDIT
  #pageTitle.location Sarbanes-Oxley 2012 Audit

-content_for :page_help, 'changeme'

-content_for :subheader_extras do
  %h1#pageType.pull-right.highlighted PBC List

.row-fluid.fluid-layout
  .span12
    .widget.governance
      .widget-head
        .widget-actions
          %a.btn.btn-mini{"data-toggle" => "modal", :href => "#pbcListEdit"}
            %i.grcicon-edit-grey
          %a.btn.btn-mini{:href => "#"}
            %i.grcicon-questionmark-grey
        %h2
          PBC Request List
      .widget-filters
        .row-fluid
          .span3.widget-titles
            %label Program
            %h4 SOX Sarbanes Oxley
          .span3.widget-titles
            %label Title
            %h4 EY Google SOX PBC List
          .span2.widget-titles
            %label Audit Firm
            %h4 Ernst &amp; Young
          .span2.widget-titles
            %label Audit Lead
            %h4 Paul Harvey
          .span2.widget-titles
            %label List Import Date
            %h4 06/10/12
        .row-fluid
          .span9
            %label Description
            .rtf
              %p
                Lorem ipsum dolor sit amet,
                %strong consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                %a{:href => "#{}"} Ut enim ad minim veniam
                , quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

        .row-fluid
          .span3
            .filters-box.sort-by
              .row-fluid
                .span9
                  %label
                    Sort by
                  %select.span12
                    %option{:selected => "selected"} Control Code
                    %option Request Date
                .span3
                  %label
                    &nbsp;
                  .btn-group
                    %a.btn.btn-mini.active
                      %i.grcicon-sortUp
                    %a.btn.btn-mini
                      %i.grcicon-sortDown                             
          .span9
            .filters-box
              .row-fluid
                .span3
                  %label
                    Request Type
                  %select.span12
                    %option{:selected => "selected"} Documentation
                    %option Interview
                    %option Population Sample
                .span3
                  %label
                    Status
                  %select.span12
                    %option{:selected => "selected"} Draft
                    %option Open - Waiting Compliance
                    %option Open - Waiting Auditors
                    %option Completed
                .span3
                  %label
                    Person
                  %select.span12
                    %option - Any -
                .span2
                  %label 
                    Date (on or after)
                    %input.span12#datepicker-control-date.date{:type => "text",  :placeholder => "MM/DD/YYYY"}
                    :javascript
                      $('#datepicker-control-date').datepicker();
                .span1
                  %label &nbsp;
                  %button.btn.span12
                    %i.grcicon-x-grey
      .widget-body
        .pbc-request-zone
          .row-fluid
            .span7.pbc-main-title
              %h3 Requests
            .span2
              %span.word.pull-right
                %strong CA Status:
            .span1
              %span.word internal
              %span.letter D
              %span.letter E
            .span1
              %span.word external
              %span.letter D
              %span.letter E
            .span1.pbc-add
              %a#tooltip14.btn.btn-mini{"rel" => "tooltip", "data-placement" => "left", "title" => "Add New Request","data-toggle" => "modal", :href => "#newRequest"}
                %i.grcicon-add
        %ul.pbc-control-assessments
          %li.pbc-ca-item
            .pbc-ca-title
              .row-fluid
                .span2{"data-target" => "#pbc-requests-1", "data-toggle" => "collapse"}
                  .expander
                  %strong SOX-CON-1
                .span7
                  Goog-Con-23
                  Physically Protect Stored Data
                .span1
                  %a#tooltip-internal-design.btn.btn-mini{"rel" => "tooltip", "data-placement" => "top", "title" => "Internal: Test of Design","data-toggle" => "modal", :href => "#"}
                    %i.grcicon-blank
                  %a#tooltip-internal-efficiency.btn.btn-mini{"rel" => "tooltip", "data-placement" => "top", "title" => "Internal: Test of Efficiency","data-toggle" => "modal", :href => "#"}
                    %i.grcicon-blank
                .span1
                  %a#tooltip-external-design.btn.btn-mini.btn-success{"rel" => "tooltip", "data-placement" => "top", "title" => "External: Test of Design","data-toggle" => "modal", :href => "#"}
                    %i.grcicon-check-white
                  %a#tooltip-external-efficiency.btn.btn-mini.btn-warning{"rel" => "tooltip", "data-placement" => "top", "title" => "External: Test of Efficiency","data-toggle" => "modal", :href => "#"}
                    %i.grcicon-x-white

            #pbc-requests-1.pbc-ca-content.collapse
              %ul.pbc-requests
                %li.main-item
                  .row-fluid.pbc-item-head
                    .span3.pbc-item.pbc-control
                      %a.btn.btn-mini.pull-right
                        %i.grcicon-link                
                      .item.i-control
                        Con-334 Contol Title
                    .span3.pbc-request
                      .item
                        Request Type: Documentation
                    .span3
                      &nbsp;
                    .span2
                      &nbsp;
                    .span1.pbc-response-actions
                      %a#tooltip16.btn.btn-blue.btn-mini{"rel" => "tooltip", "data-placement" => "left", "title" => "More", "data-target" => "#pbc-request-1,#pbc-request-1a", "data-toggle" => "collapse"}
                        %i.grcicon-more
                  #pbc-request-1.row-fluid.collapse
                    .span3.pbc-item.pbc-control
                      %h5 PBC Control Description
                      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    .span2.pbc-item.pbc-request
                      %h5 Request
                      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    .span2.pbc-item.pbc-test
                      %h5 Test
                      %p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    .span2.pbc-item.pbc-notes
                      %h5 Notes
                      %p Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    .span2.pbc-item.pbc-status
                      %h5 Request Status
                      %select.span12
                        %option{:selected => "selected"} Draft
                        %option Open - Waiting Compliance
                        %option Open - Waiting Auditors
                        %option Completed
                      %p
                        %strong Company:
                        Joss Rayburn
                        %br
                        %strong Auditor:
                        Joss Rayburn

                      %p.subtle
                        %strong Requested:
                        04/22/12
                    .span1.pbc-item.pbc-actions
                      %a#tooltip12.btn.btn-mini{"rel" => "tooltip", "data-placement" => "left", "title" => "Edit Request", "data-toggle" => "modal", :href => "#newRequest"}
                        %i.grcicon-edit-grey

                  #pbc-request-1a.row-fluid.collapse
                    .span12 
                      %h4.pbc-title
                        Responses (Documentation)
                        %a#tooltip11.btn.btn-mini{"data-toggle" => "modal", :href => "#newResponse"}
                          %i.grcicon-add
                      %ul.items-list
                        %li.item.i-process
                          .row-fluid
                            .span5.pbc-add-response
                              %a#tooltip12.btn.btn-mini{"rel" => "tooltip", "data-placement" => "top", "title" => "Add new system/process", :href => "#"}
                                %i.grcicon-add
                              %input.span11{:type => "text", :placeholder => "Type to search systems/processes"}
                            .span3
                              %span.pbc-counter.empty
                                %i.grcicon-person
                                0
                            .span3
                              %span.pbc-counter.empty
                                %i.grcicon-document
                                0
                            .span1
                              &nbsp;
                        %li.item.i-process
                          .row-fluid
                            .span5
                              Proc-89 Accounts Security Policy Review
                            .span3
                              %span.pbc-counter
                                %i.grcicon-person
                                1
                            .span3
                              %span.pbc-counter
                                %i.grcicon-document
                                2
                            .span1.pbc-response-actions
                              %a#tooltip11.btn.btn-mini{"rel" => "tooltip", "data-placement" => "left", "title" => "More", "data-target" => "#pbc-response-1", "data-toggle" => "collapse"}
                                %i.grcicon-more
                          #pbc-response-1.row-fluid.collapse
                            .span5
                              %label
                                %strong Process Description
                              %p.full-view
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                              %label
                                %strong Process Notes
                              %p.full-view
                                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            .span3
                              %label
                                %strong People
                              %ul.pbc-item-list
                                %li
                                  %a.btn.btn-nano.pull-right
                                    %i.grcicon-edit-grey
                                  %a{:href => "#"} Dan Waterson (Responsible Party)
                                %li
                                  %a.btn.btn-nano
                                    %i.grcicon-add
                                  %a{:href => "#"}  Add new person
                            .span3
                              %label
                                %strong Documents
                              %ul.pbc-item-list
                                %li
                                  %a.btn.btn-nano.pull-right
                                    %i.grcicon-edit-grey
                                  %a{:href => "#"} Document Policy
                                %li
                                  %a.btn.btn-nano.pull-right
                                    %i.grcicon-edit-grey
                                  %a{:href => "#"} Document Policy 2
                                %li
                                  %a.btn.btn-nano
                                    %i.grcicon-add
                                  %a{:href => "#"}  Add new document                            
                            .span1.pbc-item.pbc-actions
                              %a.btn.btn-mini{"data-toggle" => "modal", :href => "#newResponseDocumentation"}
                                %i.grcicon-edit-grey
                              %a.btn.btn-mini
                                %i.grcicon-arrowright-grey
                        %li.item.i-process
                          .row-fluid
                            .span5
                              Proc-87 Population Sample Request Type Process
                            .span3
                              %span.pbc-counter
                                %i.grcicon-person
                                1
                            .span3
                              %span.pbc-counter
                                %i.grcicon-populationsample
                                2
                            .span1.pbc-response-actions
                              %a#tooltip11.btn.btn-mini{"rel" => "tooltip", "data-placement" => "left", "title" => "More", "data-target" => "#pbc-response-2", "data-toggle" => "collapse"}
                                %i.grcicon-more
                          #pbc-response-2.row-fluid.collapse
                            .span5
                              %label
                                %strong Process Description
                              %p.full-view
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                              %label
                                %strong Process Notes
                              %p.full-view
                                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            .span3
                              %label
                                %strong People
                              %ul.pbc-item-list
                                %li
                                  %a.btn.btn-nano.pull-right
                                    %i.grcicon-edit-grey
                                  %a{:href => "#"} Dan Waterson (Responsible Party)
                                %li
                                  %a.btn.btn-nano
                                    %i.grcicon-add
                                  %a{:href => "#"}  Add new person
                            .span3
                              %label
                                %strong Population Samples
                              %ul.pbc-item-list
                                %li
                                  %a.btn.btn-nano.pull-right
                                    %i.grcicon-edit-grey
                                  %a{:href => "#"} Population Sample Description
                                %li
                                  %a.btn.btn-nano.pull-right
                                    %i.grcicon-edit-grey
                                  %a{:href => "#"} Sample Description
                            .span1.pbc-item.pbc-actions
                              %a.btn.btn-mini{"data-toggle" => "modal", :href => "#newResponsePopulation"}
                                %i.grcicon-edit-grey
                              %a.btn.btn-mini
                                %i.grcicon-arrowright-grey
                        %li.item.i-process
                          .row-fluid
                            .span5
                              Proc-90 Interview Request Type Process
                            .span3
                              %span.pbc-counter.empty
                                %i.grcicon-person
                                0
                            .span3
                              %span.pbc-counter
                                %i.grcicon-calendar
                                1
                            .span1.pbc-response-actions
                              %a#tooltip11.btn.btn-mini{"rel" => "tooltip", "data-placement" => "left", "title" => "More", "data-target" => "#pbc-response-3", "data-toggle" => "collapse"}
                                %i.grcicon-more
                          #pbc-response-3.row-fluid.collapse
                            .span5
                              %label
                                %strong Process Description
                              %p.full-view
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                              %label
                                %strong Process Notes
                              %p.full-view
                                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            .span3
                              %label
                                %strong People
                              %ul.pbc-item-list
                                %li
                                  %a.btn.btn-nano
                                    %i.grcicon-add
                                  %a{:href => "#"}  Add new person
                            .span3
                              %label
                                %strong Meeting Events
                              %ul.pbc-item-list
                                %li
                                  %a.btn.btn-nano.pull-right
                                    %i.grcicon-edit-grey
                                  %a{:href => "#"} 2012-10-11 - First Interview
                                %li
                                  %a.btn.btn-nano
                                    %i.grcicon-add
                                  %a{:href => "#"}  Add new meeting event
                            .span1.pbc-item.pbc-actions
                              %a.btn.btn-mini
                                %i.grcicon-edit-grey{"data-toggle" => "modal", :href => "#newResponseInterview"}
                              %a.btn.btn-mini
                                %i.grcicon-arrowright-grey