-@title = "GRC: PBC List"
 
-content_for :header do
  %ol#breadcrumb
    %li.last
      %a{:href => "#"} AUDIT
  #pageTitle.location Sarbanes-Oxley 2012 Audit

-content_for :page_help, 'changeme'

-content_for :subheader_extras do
  %h1#pageType.pull-right.highlighted PBC List

-content_for :subheader_plus do
  %a.navbarplus.control.pull-right{ :href => "#comingsoonModal", "data-toggle" => "modal" }

.row-fluid.fluid-layout
  .span12
    .widget.governance
      .widget-head
        .widget-actions
          %input.widgetsearch{:type => "text", :placeholder => "Search"}
        %h2
          PBC Request
      .widget-body

        .pbc-header
          .row-fluid
            .span3
              Control and Description from PBC
            .span2
              Request
            .span2
              Test
            .span2
              Notes
            .span2
              Status
            .span1
              Actions
                      
        %ul.pbc-responses
          %li
            .row-fluid
              .span3.pbc-item.pbc-control
                %a.btn.btn-mini.pull-right
                  %i.gcmsicon-link                
                .item.i-control
                  Con-334 Contol Title
                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
              .span2.pbc-item.pbc-request
                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
              .span2.pbc-item.pbc-test
                %p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              .span2.pbc-item.pbc-notes
                %p Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              .span2.pbc-item.pbc-status
                %select.span12
                  %option Completed
                %p
                  %strong Company:
                  Joss Rayburn
                %select.span12
                  %option Completed
                %p
                  %strong Auditor:
                  Paul harvey
                %p.subtle
                  %strong Requested:
                  04/22/12
              .span1.pbc-item.pbc-actions
                %a.btn.btn-mini.btn-blue
                  %i.gcmsicon-more
                %a.btn.btn-mini
                  %i.gcmsicon-edit-grey
                %a.btn.btn-mini
                  %i.gcmsicon-link
      
