-@title = "GRC: Product"
 
-content_for :header do
  %ol#breadcrumb
    %li.last
      %a{:href => "programs.htm"} PRODUCT
  #pageTitle.location Sarbanes-Oxley

-content_for :page_help, 'changeme'

-content_for :subheader_extras do
  %h1#pageType.pull-right.highlighted Product

-content_for :subheader_plus do
  %a.navbarplus.fltrt{ :href => "#comingsoonModal", "data-toggle" => "modal" }
  
.row-static
  .doubleColumn
    #RegsandControls.WidgetBox.fullHeight.doubleWide
      .WidgetBoxHeading
        .pull-right
          %a.widgetbtn{"data-toggle" => "modal", :href => "#comingsoonModal"}
            %i.gcmsicon-questionmark-grey
          -#%a.widgetbtn{"data-toggle" => "modal", :href => "#comingsoonModal"}
            %i.gcmsicon-edit-grey
          %input.ui-corner-all.widgetsearch{:placeholder => "Search", :type => "text"}/
        .WidgetTitle.doublewidth Sub-Products, Processes and Controls

      .WidgetBoxContent
        
        -#%ul#quicklinks.nav.nav-tabs
          %li
            %a{"data-toggle" => "tab", :href => "#Regulation"} Regulation
          %li
            %a{"data-toggle" => "tab", :href => "#Controls"} Controls
          %li.active
            %a{"data-toggle" => "tab", :href => "#Combo"} Combo
        -#.tab-content
          #Regulation.tab-pane Regulations
          #Controls.tab-pane Controls
          #Combo.tab-pane.active
        %ul
          %li
            .row-fluid
              .slot.span12.regulationslot
                .slottitle.span8.toggle{"data-target" => "#demo1", "data-toggle" => "collapse"}
                  .expander
                  %span.prefix Product Group 
                  Example of a product group with multiple columns ...
                .span2.slotcolumn
                  .halfopacity.span12.nominheight.btn.btn-slotcolumn Full Audit
                .slotowner.span1
                  %a.slotowner GRC
                .slotactions.pull-right
                  %a.btn.btn-mini.btn-blue{"data-target" => "#demo1-summary", "data-toggle" => "collapse"}
                    %i.gcmsicon-more
              #demo1-summary.row-fluid.collapse
                .span12.infowell.nominheight
                  "Hi I am a general description or some such info box that you requested to see. You can't edit me. You can just enjoy the beautiful knowledge I pour into your ocular cavities. Learn my friend. Learn. Or if you don't want to just glaze over and scan down until you see the information you truly wanted." -Abraham Lincoln
              #demo1.row-fluid.collapse
                %ul
                  %li
                    %ul.slotlist
                      %li
                        .row-fluid
                          .slot.span12.regulationslot.statusgreen
                            .slottitle.span8.toggle{"data-target" => "#demo1-1-summary", "data-toggle" => "collapse"}
                              .enddot
                              %span.prefix Proc-1
                              Enable processes to provide for timely forensic investigation in the event of a ...
                            .slotcolumn.span2
                              .halfopacity.span12.nominheight.btn.btn-slotcolumn Data Integrity
                            .slotowner.span1
                              %a.slotowner{:href => "http://www.youtube.com/watch?v=oHg5SJYRHA0"} Rick Astley
                            .slotactions.pull-right
                              %a.btn.btn-mini.btn-blue{"data-target" => "#demo1-1-summary", "data-toggle" => "collapse"}
                                %i.gcmsicon-more
                        #demo1-1-summary.row-fluid.collapse
                          .span12.nominheight
                            .slotcontent.span12
                              %ul.contentactions.pull-right
                                %li
                                  %a.btn.btn-mini.halfopacity{"data-toggle" => "modal", :href => "#comingsoonModal"}
                                    %i.gcmsicon-edit-grey
                                %li
                                  %a.btn.btn-mini.halfopacity{"data-toggle" => "modal", :href => "#comingsoonModal"}
                                    %i.gcmsicon-link
                                %li
                                  %a.btn.btn-mini.halfopacity{"data-toggle" => "modal", :href => "#comingsoonModal"}
                                    %i.gcmsicon-arrowright-black
                              Enable processes to provide for timely forensic investigation in the event of a compromise to any hosted merchant or service provider. Enable processes to provide for timely forensic investigation in the event of a compromise to any hosted merchant or service provider. Enable processes to provide for timely forensic investigation in the event of a compromise to any hosted merchant or service provider.

                              Enable processes to provide for timely forensic investigation in the event of a compromise to any hosted merchant or service provider.Enable processes to provide for timely forensic investigation in the event of a compromise to any hosted merchant or service provider.Enable processes to provide for timely forensic investigation in the event of a compromise to any hosted merchant or service provider.
                        .row-fluid#demo1-1.collapse
                          .slotcontent.span12
                            
                              
                      %li
                        .row-fluid
                          .slot.span12.regulationslot
                            .slottitle.span8.toggle{"data-target" => "#demo2-1", "data-toggle" => "collapse"}
                              .expander
                              %span.prefix Proc-2
                              A secondary processes to provide for timely forensic investigation in the event of a ...
                            .slotcolumn.span2
                              .halfopacity.span12.nominheight.btn.btn-slotcolumn Annual Contracts
                            .slotowner.span1
                              %a.slotowner Rod Sterling
                            .slotactions.pull-right
                              %a.btn.btn-mini.btn-blue{"data-target" => "#demo2-1-content", "data-toggle" => "collapse"}
                                %i.gcmsicon-more
                        #demo2-1-content.row-fluid.collapse
                          .slotcontent.span12.infowell.nominheight
                            %ul.contentactions.pull-right
                              %li
                                %a.btn.btn-mini.halfopacity{"data-toggle" => "modal", :href => "#comingsoonModal"}
                                  %i.gcmsicon-edit-grey
                              %li
                                %a.btn.btn-mini.halfopacity{"data-toggle" => "modal", :href => "#comingsoonModal"}
                                  %i.gcmsicon-link
                              %li
                                %a.btn.btn-mini.halfopacity{"data-toggle" => "modal", :href => "#comingsoonModal"}
                                  %i.gcmsicon-arrowright-black
                            Enable processes to provide for timely forensic investigation in the event of a compromise to any hosted merchant or service provider. Enable processes to provide for timely forensic investigation in the event of a compromise to any hosted merchant or service provider. Enable processes to provide for timely forensic investigation in the event of a compromise to any hosted merchant or service provider.

                            Enable processes to provide for timely forensic investigation in the event of a compromise to any hosted merchant or service provider.Enable processes to provide for timely forensic investigation in the event of a compromise to any hosted merchant or service provider.Enable processes to provide for timely forensic investigation in the event of a compromise to any hosted merchant or service provider.
                        .row-fluid#demo2-1.collapse   
                          %ul.slotlist
                            %li
                              .row-fluid
                                .slot.span12.regulationslot
                                  .slottitle.span10.toggle{"data-target" => "#demo2-1-1", "data-toggle" => "collapse"}
                                    .expander
                                    %span.prefix Proc-2-1
                                    A secondary processes to provide for timely forensic investigation in the event of a ...
                                  .slotowner.span1
                                    %a.slotowner Rod Sterling
                                  .slotactions.pull-right
                                    %a.btn.btn-mini.btn-blue{"data-target" => "#demo2-1-1-summary", "data-toggle" => "collapse"}
                                      %i.gcmsicon-more
                              #demo2-1-1-summary.row-fluid.collapse
                                .span12.infowell.nominheight
                                  Enable processes to provide for timely forensic investigation in the event of a compromise to any hosted merchant or service provider.
                              #demo2-1-1.collapse
                                %ul
                                  %li
                                    .row-fluid
                                      .slot.span12.regulationslot.statusred.toggle{"data-target" => "#demo2-3", "data-toggle" => "collapse"}
                                        .slottitle.span11
                                          .enddot
                                          %span.prefix End of Line - no hierchal data
                                          In this situation the entire slot and the [...] more button do the same thing. 
                                         
                                        .slotactions.pull-right.pull-right
                                          %a.btn.btn-mini.btn-blue{"data-target" => "#demo2-3", "data-toggle" => "collapse"}
                                            %i.gcmsicon-more
                                    .row-fluid#demo2-3.collapse
                                      .slotcontent
                                        That is, to show the data contained within the slot content.
                                    %ul
                                      %li
                                        %ul
                                          %li
                                            .row-fluid
                                              .slot.span12.regulationslot.statusgreen.toggle{"data-target" => "#demo2-4-c1", "data-toggle" => "collapse"}
                                                %span.prefix Proc-2-1 Control 1 
                                                Simplify the slots with less buttons.
                                                .expander
                                            .row-fluid#demo2-4-c1.collapse
                                              .slotcontent
                                                I would prefer to remove the [...] more button in these cases and only have the full slot button. While we are technically looking at more data, the dot lets them know there is no hierchal data to be shown. Otherwise, this slot and the 3 following should all have that blue button as well. Visually messy.
                                              %ul
                                                %li
                                                  .row-fluid
                                                    .slot.span12.regulationslot.toggle{"data-target" => "#demo-control1", "data-toggle" => "collapse"}
                                                      %span.prefix Control 1 
                                                      Simplify the slots with less buttons.
                                                      .enddot
                                                  .row-fluid#demo-control1.collapse
                                                    .slotcontent
                                                      Single Control    

                                          %li
                                            .row-fluid
                                              .slot.span12.regulationslot.statusgreen.toggle{"data-target" => "#demo2-4-c2", "data-toggle" => "collapse"}
                                                %span.prefix Proc-2-1 Control 2
                                                Also without a [...] button.
                                                .enddot
                                            .row-fluid#demo2-4-c2.collapse
                                              .slotcontent
                                                Enable processes to provide for timely forensic investigation in the event of a compromise to any hosted merchant or service provider.
                                          %li
                                            .row-fluid
                                              .slot.span12.regulationslot.statusgreen.toggle{"data-target" => "#demo2-4-c3", "data-toggle" => "collapse"}
                                                %span.prefix Proc-2-1 Control 3
                                                Enable processes to provide for timely forensic investigation in the event of a ...
                                                .enddot
                                            .row-fluid#demo2-4-c3.collapse
                                              .slotcontent
                                                Enable processes to provide for timely forensic investigation in the event of a compromise to any hosted merchant or service provider.
            
          -#%li
            .row-fluid
              .span12
                .collapsed.slot.regulationslot.toggle.span9{"data-target" => "#demo2", "data-toggle" => "collapse"}
                  %span.prefix PCI.A.1.4
                  Enable processes to provide for timely forensic investigation in the event of a ...
                  .expander
                .attached.progress-large.active.span3
                  .bar.progressbar-danger{"data-percentage" => "100", :style => "float: right; width: 100%; "}
              #demo2.row-fluid-slotcontent.collapse
                .span9
                  Enable processes to provide for timely forensic investigation in the event of a compromise to any hosted merchant or service provider.
    .doubleColumn               
      -#productComplianceSchedule.WidgetBox
        .WidgetBoxHeading
          %nav
            %a.widgettextbtn{"data-toggle" => "modal", :href => "#"} Add Item
          .WidgetTitle Compliance Schedule
        .WidgetBoxContent
          .row-fluid.nominheight
            .span6.nominheight
            .span6.nominheight
              .span4.nominheight
                %label.fltnone Start
              .span4.nominheight
                %label.fltnone Finish
              .span4.nominheight
                %label.fltnone Status
          %ul#ComplianceList.in
            %li.controlSlot.ui-draggable.row-fluid.nominheight.statusred{"data-toggle" => "modal", :href => "#"}
              .span6.nominheight
                %span.prefix Fit and Proper Review
                .expander
              .span6.badges.nominheight
                .span4.nominheight
                  .badge.badge-info 01/15/12
                .span4.nominheight
                  .badge.badge-info 01/15/13
                .span4.nominheight
                  .badge.badge-important Late
            %li.controlSlot.ui-draggable.row-fluid.nominheight.statusyellow{"data-toggle" => "modal", :href => "#"}
              .span6.nominheight
                %span.prefix Fit and Proper Review
                .expander
              .span6.badges.nominheight
                .span4.nominheight
                  .badge.badge-info 01/15/12
                .span4.nominheight
                  .badge.badge-info 01/15/13
                .span4.nominheight
                  .badge.badge-warning In-Progress
            %li.controlSlot.ui-draggable.row-fluid.nominheight.statusgreen{"data-toggle" => "modal", :href => "#"}
              .span6.nominheight
                %span.prefix Fit and Proper Review
                .expander
              .span6.badges.nominheight
                .span4.nominheight
                  .badge.badge-info 01/15/12
                .span4.nominheight
                  .badge.badge-info 01/15/13
                .span4.nominheight
                  .badge.badge-success   Complete
              
  .singleColumn
    #productActions.WidgetBox
      .WidgetBoxHeading
        .WidgetTitle Product Actions
      .WidgetBoxContent.information
        .toolbar-widget
          .row-fluid
            .span2
              %a.span12.btn.btn-warning{"data-toggle" => "modal", :href => "#comingsoonModal"}
                New
            .span5
              %a.span12.btn.btn-warning{"data-toggle" => "modal", :href => "#comingsoonModal"}
                Request Audit
            .span5
              %a.span12.btn.btn-warning{"data-toggle" => "modal", :href => "#comingsoonModal"}
                Relationship Map

    #productInfo.WidgetBox
      .WidgetBoxHeading
        .WidgetTitle Product Info
        %nav
          %a.widgetbtn{"data-toggle" => "modal", :href => "#comingsoonModal"}
            %i.gcmsicon-questionmark-grey
          %a.accordion-toggle.widgetbtn{"data-toggle" => "collapse", :href => "#productInfoContent"}
            %i.gcmsicon-enlarge-grey
      .WidgetBoxContent.information.collapse.in
        .well 
          %label 
            Status
            .pull-right 
              %span.statustextgreen 85 
              %span /
              %span.statustextyellow 5 
              %span /
              %span.statustextred 10 
          .progress.progress-striped.active
            .bar.progressbar-success{"data-percentage" => "85", :style => "float: left; width: 0%; "}
            .bar.progressbar-danger{"data-percentage" => "10", :style => "float: right; width: 0%; "}
            .bar.progressbar-warning{"data-percentage" => "5", :style => "float: right; width: 0%; "}
        -#.toolbar-widget.well
          %a.btn.btn-warning{"data-toggle" => "modal", :href => "#comingsoonModal"}
            New Version
        
        #productInfoContent.collapse.in
          %hr.hr-widget
          .row-fluid
            .span12
              %h3.toggle{"data-target" => "#productAbout", "data-toggle" => "collapse"}
                .expander
                About
                %a.widgetbtn.pull-right{"data-toggle" => "modal", :href => "#comingsoonModal"}
                  %i.gcmsicon-edit-grey
              #productAbout.collapse
                .row-fluid
                  .span12
                    .span3
                      %label Code
                      %input.span12{:disabled => "disabled", :placeholder => "ABC", :type => "text"}/
                    .span3
                      %label Version
                      %input.span12{:disabled => "disabled", :placeholder => "1.0", :type => "text"}/
                    .span3
                      %label Type
                      %input.span12{:disabled => "disabled", :placeholder => "SaaS", :type => "text"}/
                    .span3
                .row-fluid
                  .span12
                    %label Description
                    %textarea#textarea{:disabled => "disabled", :placeholder => "", :rows => "3", :style => "margin: 0px; width: 98%; height: 73px; "} PCI DDS applies whenever Cardholder account data and Authentication Data is Stored, Processed or Transmitted. Examples Include: For more See Page 7 of document. Using h6 makes the label caps.
                .row-fluid
                  .span12
                    %label Direct Link
                    %input.span12{:disabled => "disabled", :placeholder => " ", :type => "text"}/
                .row-fluid
                  .span12
                    .span4
                      %label Effective Date
                      %input.span12{:disabled => "disabled", :placeholder => "", :type => "text"}/
                    .span4
                      %label Stop Date
                      %input.span12{:disabled => "disabled", :placeholder => "", :type => "text"}/
                    .span4
                      %label Status
                      %input.span12{:disabled => "disabled", :placeholder => "OK", :type => "text"}/
          %hr.hr-widget
          .row-fluid
            .span12
              %h3.toggle{"data-target" => "#productReferences", "data-toggle" => "collapse"}
                .expander
                References
                %a.widgetbtn.pull-right{"data-toggle" => "modal", :href => "#comingsoonModal"}
                  %i.gcmsicon-link
              %ul#productReferences.collapse
                %li.controlSlot
                  %span.controls-group PDF
                  %br/
                  %span.controls-subgroup Privacy Report 2011
                %li.controlSlot
                  %span.controls-group PDF
                  %br/
                  %span.controls-subgroup Privacy Report 2012
          %hr.hr-widget
          .row-fluid
            .span12
              %h3.toggle{"data-target" => "#productPeople", "data-toggle" => "collapse"}
                .expander
                People
                %a.widgetbtn.pull-right{"data-toggle" => "modal", :href => "#comingsoonModal"}
                  %i.gcmsicon-link
              %ul#productPeople.collapse
                %li.controlSlot
                  %span.controls-group JRayburn@google.com
                  %br/
                  %span.controls-subgroup Joss Rayburn
                %li.controlSlot
                  %span.controls-group rpoder@google.com
                  %br/
                  %span.controls-subgroup Ron Poder
          %hr.hr-widget
          .row-fluid.nominheight
            .span6.nominheight
              %label.pull-left{:for => "control-effectivedate"}
                %strong> Created
                \: 03/15/2012 19:16
            .span6.nominheight.pull-right
              %label.pull-right{:for => "control-verificationdate"}
                %strong> Updated
                \: 04/12/2012 14:32
      / end of widget
    / end of span
    =render :partial => 'design/widgets/related'
    / end of span
