-@title = "GRC: Product"
 
-content_for :header do
  %ol#breadcrumb
    %li.last
      %a{:href => "programs.htm"} PRODUCT
  #pageTitle.location Google Wallet

-content_for :page_help, 'changeme'

-content_for :subheader_extras do
  %h1#pageType.pull-right.highlighted Product

-content_for :subheader_plus do
  %a.navbarplus.fltrt{ :href => "#comingsoonModal", "data-toggle" => "modal" }

.row-fluid.fluid-layout
  .span8
    #RegsandControls.widget.governance
      .widget-head
        .widget-actions
          %a.widgetbtn{"data-toggle" => "modal", :href => "#comingsoonModal"}
            %i.gcmsicon-questionmark-grey
          %input.widgetsearch{:placeholder => "Search", :type => "text"}  
        %h2 Sub-Products, Processes and Controls
      .widget-body
        #sampleprogramsections
  .span4.sidebar
    #productActions.widget.governance
      .widget-head
        %h2 Product Actions
      .widget-body
        .widget-toolbar      
          .row-fluid
            .span2
              %a.span12.btn.btn-warning{"data-toggle" => "modal", :href => "#comingsoonModal"}
                New
            .span5
              %a.span12.btn.btn-warning{"data-toggle" => "modal", :href => "#comingsoonModal"}
                Request Audit
            .span5
              %a.span12.btn.btn-warning{"data-toggle" => "modal", :href => "#comingsoonModal"}
                Relationship Map
    .widget.governance
      .widget-head
        %h2 Product Info
      .widget-body
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    .widget.governance
      .widget-head
        %h2 Related
      .widget-body
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  

.row-static
  .doubleColumn
    #RegsandControls2.WidgetBox.fullHeight.doubleWide
      .WidgetBoxHeading
        .pull-right
          %a.widgetbtn{"data-toggle" => "modal", :href => "#comingsoonModal"}
            %i.gcmsicon-questionmark-grey
          -#%a.widgetbtn{"data-toggle" => "modal", :href => "#comingsoonModal"}
            %i.gcmsicon-edit-grey
          %input.ui-corner-all.widgetsearch{:placeholder => "Search", :type => "text"}/
        .WidgetTitle.doublewidth Sub-Products, Processes and Controls

      .WidgetBoxContent
        
        -#%ul#quicklinks.nav.nav-tabs
          %li
            %a{"data-toggle" => "tab", :href => "#Regulation"} Regulation
          %li
            %a{"data-toggle" => "tab", :href => "#Controls"} Controls
          %li.active
            %a{"data-toggle" => "tab", :href => "#Combo"} Combo
        -#.tab-content
          #Regulation.tab-pane Regulations
          #Controls.tab-pane Controls
          #Combo.tab-pane.active
        #sampleprogramsections
          -# Import this text
          

    .doubleColumn               
      -#productComplianceSchedule.WidgetBox
        .WidgetBoxHeading
          %nav
            %a.widgettextbtn{"data-toggle" => "modal", :href => "#"} Add Item
          .WidgetTitle Compliance Schedule
        .WidgetBoxContent
          .row-fluid.nominheight
            .span6.nominheight
            .span6.nominheight
              .span4.nominheight
                %label.fltnone Start
              .span4.nominheight
                %label.fltnone Finish
              .span4.nominheight
                %label.fltnone Status
          %ul#ComplianceList.in
            %li.controlSlot.ui-draggable.row-fluid.nominheight.statusred{"data-toggle" => "modal", :href => "#"}
              .span6.nominheight
                %span.prefix Fit and Proper Review
                .expander
              .span6.badges.nominheight
                .span4.nominheight
                  .badge.badge-info 01/15/12
                .span4.nominheight
                  .badge.badge-info 01/15/13
                .span4.nominheight
                  .badge.badge-important Late
            %li.controlSlot.ui-draggable.row-fluid.nominheight.statusyellow{"data-toggle" => "modal", :href => "#"}
              .span6.nominheight
                %span.prefix Fit and Proper Review
                .expander
              .span6.badges.nominheight
                .span4.nominheight
                  .badge.badge-info 01/15/12
                .span4.nominheight
                  .badge.badge-info 01/15/13
                .span4.nominheight
                  .badge.badge-warning In-Progress
            %li.controlSlot.ui-draggable.row-fluid.nominheight.statusgreen{"data-toggle" => "modal", :href => "#"}
              .span6.nominheight
                %span.prefix Fit and Proper Review
                .expander
              .span6.badges.nominheight
                .span4.nominheight
                  .badge.badge-info 01/15/12
                .span4.nominheight
                  .badge.badge-info 01/15/13
                .span4.nominheight
                  .badge.badge-success   Complete
              
  .singleColumn 

    #productInfo.WidgetBox
      .WidgetBoxHeading
        .WidgetTitle Product Info
        %nav
          %a.widgetbtn{"data-toggle" => "modal", :href => "#comingsoonModal"}
            %i.gcmsicon-questionmark-grey
          %a.accordion-toggle.widgetbtn{"data-toggle" => "collapse", :href => "#productInfoContent"}
            %i.gcmsicon-enlarge-grey
      .WidgetBoxContent.information.collapse.in
        .well 
          %label 
            Status
            .pull-right 
              %span.statustextgreen 85 
              %span /
              %span.statustextyellow 5 
              %span /
              %span.statustextred 10 
          .progress.progress-striped.active
            .bar.progressbar-success{"data-percentage" => "85", :style => "float: left; width: 0%; "}
            .bar.progressbar-danger{"data-percentage" => "10", :style => "float: right; width: 0%; "}
            .bar.progressbar-warning{"data-percentage" => "5", :style => "float: right; width: 0%; "}
        -#.toolbar-widget.well
          %a.btn.btn-warning{"data-toggle" => "modal", :href => "#comingsoonModal"}
            New Version
        
        #productInfoContent.collapse.in
          %hr.hr-widget
          .row-fluid
            .span12
              %h3.toggle{"data-target" => "#productAbout", "data-toggle" => "collapse"}
                .expander
                About
                %a.widgetbtn.pull-right{"data-toggle" => "modal", :href => "#comingsoonModal"}
                  %i.gcmsicon-edit-grey
              #productAbout.collapse
                .row-fluid
                  .span12
                    .span3
                      %label Code
                      %input.span12{:disabled => "disabled", :placeholder => "ABC", :type => "text"}/
                    .span3
                      %label Version
                      %input.span12{:disabled => "disabled", :placeholder => "1.0", :type => "text"}/
                    .span3
                      %label Type
                      %input.span12{:disabled => "disabled", :placeholder => "SaaS", :type => "text"}/
                    .span3
                .row-fluid
                  .span12
                    %label Description
                    %textarea#textarea{:disabled => "disabled", :placeholder => "", :rows => "3", :style => "margin: 0px; width: 98%; height: 73px; "} PCI DDS applies whenever Cardholder account data and Authentication Data is Stored, Processed or Transmitted. Examples Include: For more See Page 7 of document. Using h6 makes the label caps.
                .row-fluid
                  .span12
                    %label Direct Link
                    %input.span12{:disabled => "disabled", :placeholder => " ", :type => "text"}/
                .row-fluid
                  .span12
                    .span4
                      %label Effective Date
                      %input.span12{:disabled => "disabled", :placeholder => "", :type => "text"}/
                    .span4
                      %label Stop Date
                      %input.span12{:disabled => "disabled", :placeholder => "", :type => "text"}/
                    .span4
                      %label Status
                      %input.span12{:disabled => "disabled", :placeholder => "OK", :type => "text"}/
          %hr.hr-widget
          .row-fluid
            .span12
              %h3.toggle{"data-target" => "#productReferences", "data-toggle" => "collapse"}
                .expander
                References
                %a.widgetbtn.pull-right{"data-toggle" => "modal", :href => "#comingsoonModal"}
                  %i.gcmsicon-link
              %ul#productReferences.collapse
                %li.controlSlot
                  %span.controls-group PDF
                  %br/
                  %span.controls-subgroup Privacy Report 2011
                %li.controlSlot
                  %span.controls-group PDF
                  %br/
                  %span.controls-subgroup Privacy Report 2012
          %hr.hr-widget
          .row-fluid
            .span12
              %h3.toggle{"data-target" => "#productPeople", "data-toggle" => "collapse"}
                .expander
                People
                %a.widgetbtn.pull-right{"data-toggle" => "modal", :href => "#comingsoonModal"}
                  %i.gcmsicon-link
              %ul#productPeople.collapse
                %li.controlSlot
                  %span.controls-group JRayburn@google.com
                  %br/
                  %span.controls-subgroup Joss Rayburn
                %li.controlSlot
                  %span.controls-group rpoder@google.com
                  %br/
                  %span.controls-subgroup Ron Poder
          %hr.hr-widget
          .row-fluid.nominheight
            .span6.nominheight
              %label.pull-left{:for => "control-effectivedate"}
                %strong> Created
                \: 03/15/2012 19:16
            .span6.nominheight.pull-right
              %label.pull-right{:for => "control-verificationdate"}
                %strong> Updated
                \: 04/12/2012 14:32
      / end of widget
    / end of span
    =render :partial => 'design/widgets/related'
    / end of span
