-@title = "GRC: Product"
 
-content_for :header do
  %ol#breadcrumb
    %li.last
      %a{:href => "programs.htm"} PRODUCT
  #pageTitle.location Sarbanes-Oxley

-content_for :page_help, 'changeme'

-content_for :subheader_extras do
  %h1#pageType.pull-right.highlighted Product

.row-static
  .doubleColumn
    / .RegsandControls
    #RegsandControls.WidgetBox.fullHeight.doubleWide
      .WidgetBoxHeading
        .pull-right
          %a.widgetbtn{"data-toggle" => "modal", :href => "#comingsoonModal"}
            %i.gcmsicon-questionmark-grey
          %a.widgetbtn{"data-toggle" => "modal", :href => "#comingsoonModal"}
            %i.gcmsicon-edit-grey
          %input.ui-corner-all.widgetsearch{:placeholder => "Search", :type => "text"}/
        .WidgetTitle.doublewidth Sub-Products, Processes and Controls
      / /.WidgetBoxHeading
      .WidgetBoxContent
        
        -#%ul#quicklinks.nav.nav-tabs
          %li
            %a{"data-toggle" => "tab", :href => "#Regulation"} Regulation
          %li
            %a{"data-toggle" => "tab", :href => "#Controls"} Controls
          %li.active
            %a{"data-toggle" => "tab", :href => "#Combo"} Combo
        -#.tab-content
          #Regulation.tab-pane Regulations
          #Controls.tab-pane Controls
          #Combo.tab-pane.active
        %ul.slugtree
          %li
            .row-fluid
              .span12.collapsed.slot.regulationslot.toggle{"data-target" => "#demo1", "data-toggle" => "collapse"}
                .slottitle.span11
                  .expander
                  %span.prefix Proc-1
                  Enable processes to provide for timely forensic investigation in the event of 1 of many emergencies or other long text
                .slotactions.span1
                  .btn.btn-blue.btn-mini.pull-right . . .
              #demo1.row-fluid-slotcontent.collapse
                %ul
                  %li#columnheaders
                    %ul
                      %li
                        .row-fluid.nominheight
                          .span12.well.nominheight
                            .row-fluid.nominheight.slotheader
                              .span7.nominheight 
                                %label Process or System with Controls
                              .span2.nominheight
                                %label Owner
                              .span3.nominheight 
                                %label Control Verification
                  %li
                    %ul
                      %li
                        .row-fluid
                          .slot.span12.regulationslot.toggle{"data-target" => "#demo1-1", "data-toggle" => "collapse"}
                            .slottitle.span9
                              .expander
                              %span.prefix Proc-1
                              Enable processes to provide for timely forensic investigation in the event of a ...
                            .slotowner.span2
                              %a.slotowner Rick Astley
                            .slotactions.span1
                              .btn.btn-blue.btn-mini.pull-right . . .
                        .row-fluid#demo1-1.collapse
                          .slotcontent.span12
                            .pull-right
                              %a.widgetbtn{"data-toggle" => "modal", :href => "#comingsoonModal"}
                                %i.gcmsicon-questionmark-grey
                              %a.widgetbtn{"data-toggle" => "modal", :href => "#comingsoonModal"}
                                %i.gcmsicon-questionmark-grey
                              %a.widgetbtn{"data-toggle" => "modal", :href => "#comingsoonModal"}
                                %i.gcmsicon-questionmark-grey
                            Enable processes to provide for timely forensic investigation in the event of a compromise to any hosted merchant or service provider.
                            
                      %li
                        .row-fluid
                          .slot.span12.regulationslot.toggle{"data-target" => "#demo2-1", "data-toggle" => "collapse"}
                            .slottitle.span9
                              .expander
                              %span.prefix Proc-2
                              A secondary processes to provide for timely forensic investigation in the event of a ...
                            .slotowner.span2
                              %a.slotowner Rod Sterling
                            .slotactions.span1
                              .btn.btn-blue.btn-mini.pull-right . . .
                        .row-fluid#demo2-1.collapse
                          .slotcontent.span12
                            .pull-right
                              %a.widgetbtn{"data-toggle" => "modal", :href => "#comingsoonModal"}
                                %i.gcmsicon-questionmark-grey
                              %a.widgetbtn{"data-toggle" => "modal", :href => "#comingsoonModal"}
                                %i.gcmsicon-questionmark-grey
                              %a.widgetbtn{"data-toggle" => "modal", :href => "#comingsoonModal"}
                                %i.gcmsicon-questionmark-grey
                            Enable processes to provide for timely forensic investigation in the event of a compromise to any hosted merchant or service provider.
                          %ul
                            %li
                              .row-fluid
                                #slot.span12
                                  .span12.slot.regulationslot.toggle{"data-target" => "#demo2-2", "data-toggle" => "collapse"}
                                    %span.prefix Proc-2-2
                                    Enable processes to provide for timely forensic investigation in the event of a ...
                                    .expander
                              .row-fluid
                                #demo2-2.collapse
                                  Enable processes to provide for timely forensic investigation in the event of a compromise to any hosted merchant or service provider.
                            %ul
                              %li
                                .row-fluid
                                  #slot.span12
                                    .span12.slot.regulationslot.toggle{"data-target" => "#demo2-3", "data-toggle" => "collapse"}
                                      %span.prefix Proc-2-3
                                      Enable processes to provide for timely forensic investigation in the event of a ...
                                      .expander
                                .row-fluid
                                  #demo2-3.collapse
                                    Enable processes to provide for timely forensic investigation in the event of a compromise to any hosted merchant or service provider.
                              %ul
                                %li
                                  .row-fluid
                                    #slot.span12
                                      .span12.slot.regulationslot.toggle{"data-target" => "#demo2-4", "data-toggle" => "collapse"}
                                        %span.prefix Proc-2-4
                                        Enable processes to provide for timely forensic investigation in the event of a ...
                                        .expander
                                  .row-fluid
                                    #demo2-4.collapse
                                      Enable processes to provide for timely forensic investigation in the event of a compromise to any hosted merchant or service provider.
            %li
              .row-fluid
                #slot.span12
                  .span12.slot.regulationslot.toggle{"data-target" => "#demo3", "data-toggle" => "collapse"}
                    %span.prefix Yet Another Product
                    Enable processes to provide for timely forensic investigation in the event of a ...
                    .expander
              .row-fluid
                #demo3.collapse
                  Enable processes to provide for timely forensic investigation in the event of a compromise to any hosted merchant or service provider.
          -#%li
            .row-fluid
              .span12
                .collapsed.slot.regulationslot.toggle.span9{"data-target" => "#demo2", "data-toggle" => "collapse"}
                  %span.prefix PCI.A.1.4
                  Enable processes to provide for timely forensic investigation in the event of a ...
                  .expander
                .attached.progress-large.active.span3
                  .bar.progressbar-danger{"data-percentage" => "100", :style => "float: right; width: 100%; "}
              #demo2.row-fluid-slotcontent.collapse
                .span9
                  Enable processes to provide for timely forensic investigation in the event of a compromise to any hosted merchant or service provider.
    .doubleColumn               
      #productComplianceSchedule.WidgetBox
        .WidgetBoxHeading
          %nav
            %a.widgettextbtn{"data-toggle" => "modal", :href => "#"} Add Item
          .WidgetTitle Compliance Schedule
        .WidgetBoxContent
          .row-fluid.nominheight
            .span6.nominheight
            .span6.nominheight
              .span4.nominheight
                %label.fltnone Start
              .span4.nominheight
                %label.fltnone Finish
              .span4.nominheight
                %label.fltnone Status
          %ul#ComplianceList.in
            %li.controlSlot.ui-draggable.row-fluid.nominheight.statusred{"data-toggle" => "modal", :href => "#"}
              .span6.nominheight
                %span.prefix Fit and Proper Review
                .expander
              .span6.badges.nominheight
                .span4.nominheight
                  .badge.badge-info 01/15/12
                .span4.nominheight
                  .badge.badge-info 01/15/13
                .span4.nominheight
                  .badge.badge-important Late
            %li.controlSlot.ui-draggable.row-fluid.nominheight.statusyellow{"data-toggle" => "modal", :href => "#"}
              .span6.nominheight
                %span.prefix Fit and Proper Review
                .expander
              .span6.badges.nominheight
                .span4.nominheight
                  .badge.badge-info 01/15/12
                .span4.nominheight
                  .badge.badge-info 01/15/13
                .span4.nominheight
                  .badge.badge-warning In-Progress
            %li.controlSlot.ui-draggable.row-fluid.nominheight.statusgreen{"data-toggle" => "modal", :href => "#"}
              .span6.nominheight
                %span.prefix Fit and Proper Review
                .expander
              .span6.badges.nominheight
                .span4.nominheight
                  .badge.badge-info 01/15/12
                .span4.nominheight
                  .badge.badge-info 01/15/13
                .span4.nominheight
                  .badge.badge-success   Complete
              
  .singleColumn

    #productInfo.WidgetBox
      
      .WidgetBoxContent.information
        %label Actions
        .toolbar-widget.well
          .row-fluid
            .span4
              %a.span12.btn.btn-info{"data-toggle" => "modal", :href => "#comingsoonModal"}
                New Version
            .span4  
              %a.span12.btn.btn-warning{"data-toggle" => "modal", :href => "#comingsoonModal"}
                Request Audit
            .span4
              %a.span12.btn.btn-danger{"data-toggle" => "modal", :href => "#comingsoonModal"}
                Delete

    #productInfo.WidgetBox
      .WidgetBoxHeading
        .WidgetTitle Product Info
        %nav
          %a.widgetbtn{"data-toggle" => "modal", :href => "#comingsoonModal"}
            %i.gcmsicon-questionmark-grey
          %a.widgetbtn{"data-toggle" => "modal", :href => "#comingsoonModal"}
            %i.gcmsicon-edit-grey
          %a.accordion-toggle.widgetbtn{"data-toggle" => "collapse", :href => "#productInfoContent"}
            %i.gcmsicon-enlarge-grey
      #productInfoContent.WidgetBoxContent.information.collapse.in
        #productStatus.well 
          %label 
            Status
            .pull-right 
              %span.statustextgreen 85 
              %span /
              %span.statustextyellow 5 
              %span /
              %span.statustextred 10 
          .progress.progress-striped.active
            .bar.progressbar-success{"data-percentage" => "85", :style => "float: left; width: 0%; "}
            .bar.progressbar-danger{"data-percentage" => "10", :style => "float: right; width: 0%; "}
            .bar.progressbar-warning{"data-percentage" => "5", :style => "float: right; width: 0%; "}
        -#.toolbar-widget.well
          %a.btn.btn-warning{"data-toggle" => "modal", :href => "#comingsoonModal"}
            New Version
          
        %hr.hr-widget
          .row-fluid
            .span12
              %h3.toggle{"data-target" => "#productAbout", "data-toggle" => "collapse"}
                .expander
                About
                %a.btn.btn-blue.addbtn.pull-right{"data-toggle" => "modal", :href => "#referenceSelectorModal"} Edit
              #productAbout.collapse
                .row-fluid
                  .span12
                    .span3
                      %label Code
                      %input.span12{:disabled => "disabled", :placeholder => "ABC", :type => "text"}/
                    .span3
                      %label Version
                      %input.span12{:disabled => "disabled", :placeholder => "1.0", :type => "text"}/
                    .span3
                      %label Year
                      %input.span12{:disabled => "disabled", :placeholder => "2012", :type => "text"}/
                    .span3
                      %label Kind
                      %input.span12{:disabled => "disabled", :placeholder => "---", :type => "text"}/
                .row-fluid
                  .span12
                    %label Full Title
                    %input{:disabled => "disabled", :placeholder => "Sarbanes-Oxley Long Title", :style => "margin: 0px; width: 97%;", :type => "text"}/
                .row-fluid
                  .span12
                    %label Type
                    %input{:disabled => "disabled", :placeholder => "Regulation", :style => "margin: 0px; width: 97%;", :type => "text"}/
                .row-fluid
                  .span12
                    %label Version
                    %input{:disabled => "disabled", :placeholder => "1.2", :style => "margin: 0px; width: 97%;", :type => "text"}/
                .row-fluid
                  .span12
                    %label Scope / Applicability of this Program
                    %textarea#textarea{:disabled => "disabled", :placeholder => "", :rows => "3", :style => "margin: 0px; width: 98%; height: 73px; "} PCI DDS applies whenever Cardholder account data and Authentication Data is Stored, Processed or Transmitted. Examples Include: For more See Page 7 of document. Using h6 makes the label caps.
        %hr.hr-widget
        .row-fluid
          .span12
            %h3.toggle{"data-target" => "#productReferences", "data-toggle" => "collapse"}
              .expander
              References
              %a.btn.btn-blue.addbtn.pull-right{"data-toggle" => "modal", :href => "#referenceSelectorModal"} Edit
            %ul#productReferences.collapse
              %li.controlSlot
                %span.controls-group PDF
                %br/
                %span.controls-subgroup Privacy Report 2011
              %li.controlSlot
                %span.controls-group PDF
                %br/
                %span.controls-subgroup Privacy Report 2012
        %hr.hr-widget
        .row-fluid
          .span12
            %h3.toggle{"data-target" => "#productPeople", "data-toggle" => "collapse"}
              .expander
              People
              %a.btn.btn-blue.addbtn.pull-right{"data-toggle" => "modal", :href => "#referenceSelectorModal"} Edit
            %ul#productPeople.collapse
              %li.controlSlot
                %span.controls-group JRayburn@google.com
                %br/
                %span.controls-subgroup Joss Rayburn
              %li.controlSlot
                %span.controls-group rpoder@google.com
                %br/
                %span.controls-subgroup Ron Poder
        %hr.hr-widget
        .row-fluid.nominheight
          .span6.nominheight
            %label.pull-left{:for => "control-effectivedate"}
              %strong> Created
              \: 03/15/2012 19:16
          .span6.nominheight.pull-right
            %label.pull-right{:for => "control-verificationdate"}
              %strong> Updated
              \: 04/12/2012 14:32
      / end of widget
    / end of span
    =render :partial => 'design/widgets/impactscope'
    / end of span
