-@title = "GRC: Risk Gap Analysis"

-content_for :header do
  %ol#breadcrumb
    %li.last
      %a{:href => "#"} Products
  #pageTitle.location Beat that Quote

-content_for :page_help, 'changeme'

-content_for :subheader_extras do
  %h1#pageType.fltrt.highlighted Products

.row-fluid.fluid-layout

  .span8
    .widget.governance
      .widget-head
        .widget-actions      
          %a.btn.btn-mini{:href => "#"}
            %i.icon-pencil
          %input.widget-search{:type => "text", :placeholder => "Search"}
        
        %a.btn.btn-mini.pull-left.widget-trigger.active
          %i.icon-chevron-down
        %h2 
          Sub-Products, Processes and Controls
      .widget-body
        
        %ul.wlist
          %li
            .wlist-title              
              %a.btn.btn-mini.pull-left.list-trigger.active
                %i.icon-chevron-down
              %h3
                %span.code Proc-41
                Product Policies Annual Review
            .wlist-body
              %ul.wlist
                %li
                  .wlist-title
                    .widget-actions      
                      %a.btn.btn-mini.btn-warning{:href => "#"}
                        %i.icon-eye-open.icon-white
                        Data Integrity Review
                    %a.btn.btn-mini.pull-left.list-trigger.active
                      %i.icon-chevron-down
                    %h3
                      %span.code Con-23
                      Data Retention Policy
                  .wlist-body
                    %p
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                %li
                  .wlist-title
                    %a.btn.btn-mini.pull-left.list-trigger.active
                      %i.icon-chevron-down
                    %h3
                      %span.code Proc-41
                      Product Policies Annual Review
                  .wlist-body
                    %ul.wlist
                      %li
                        .wlist-title
                          .widget-actions      
                            %a.btn.btn-mini.btn-success{:href => "#"}
                              %i.icon-eye-open.icon-white
                              Annual Contracts Review
                          %a.btn.btn-mini.pull-left.list-trigger.active
                            %i.icon-chevron-down
                          %h3
                            %span.code Proc-41
                            Product Policies Annual Review
                        .wlist-body
                          %p
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                      %li
                        .wlist-title
                          .widget-actions
                            .progress
                              .bar.bar-success{:style => "width:50%"}
                              .bar.bar-warning{:style => "width:15%"}                            
                              .bar.bar-danger{:style => "width:35%"}
                            
                          %a.btn.btn-mini.pull-left.list-trigger.active
                            %i.icon-chevron-down

                          %h3
                            %span.code Proc-41
                            Product Policies Annual Review
                        .wlist-body
                          %p
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.


          %li
            .wlist-title
              %a.btn.btn-mini.pull-left.list-trigger.active
                %i.icon-chevron-down
              %h3
                %span.code Proc-41
                Product Policies Annual Review
            .wlist-body
              %p
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.


  .span4
    .sidebar

      .widget.risk
        .widget-head
          .widget-actions
            %a.btn.btn-mini{:href => "#"}
              %i.icon-info-sign
            
          %a.btn.btn-mini.pull-left.widget-trigger.active
            %i.icon-chevron-down
          %h2 System Info
        .widget-body
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

      .widget.compliance
        .widget-head
          .widget-actions
            %a.btn.btn-mini{:href => "#"}
              %i.icon-info-sign
            %input.widget-search{:type => "text", :placeholder => "Search"}
          %a.btn.btn-mini.pull-left.widget-trigger.active
            %i.icon-chevron-down
          %h2 Impact /Scope
        .widget-body
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

      .widget.risk
        .widget-head
          %a.btn.btn-mini.pull-left.widget-trigger.active
            %i.icon-chevron-down
          %h2 Compliance
        .widget-body
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.