-@title = "GRC: Risk Gap Analysis"

-content_for :header do
  %ol#breadcrumb
    %li.last
      %a{:href => "#"} Products
  #pageTitle.location Beat that Quote

-content_for :page_help, 'changeme'

-content_for :subheader_extras do
  %h1#pageType.pull-right.highlighted Products

.row-fluid.fluid-layout

  .span8
    .widget.governance
      .widget-head
        .widget-actions      
          %a.btn.btn-mini{:href => "#"}
            %i.icon-pencil
          %input.widget-search{:type => "text", :placeholder => "Search"}
        
        %a.widgetbtn.pull-left.widget-trigger.active
          %i.icon-chevron-down
        %h2 
          Sub-Products, Processes and Controls
      .widget-body

        %ul.wlist
          %li
            .wlist-title.main-title.is-product
              %a.widgetbtn.pull-left.list-trigger.active
                %i.icon-chevron-down
              %h3.clearfix
                Beat That Quote
            .wlist-body

        
              %ul.wlist
                %li
                  .wlist-title.is-system
                    %a.widgetbtn.pull-left.list-trigger.active
                      %i.icon-chevron-down
                    %h3.clearfix
                      %span.code PROC-41
                      %span.title Product Policies Annual Review
                      %span.owner
                        %a{:href => "#"} Vanilla Ice
                  .wlist-body
                    %ul.wlist
                      %li
                        .wlist-title.is-control
                          .widget-actions      
                            %a.widgetbtn.btn-warning{:href => "#"}
                              %i.icon-eye-open.icon-white
                              Data Integrity Review
                          %a.widgetbtn.pull-left.list-trigger.active
                            %i.icon-chevron-down
                          %h3.clearfix
                            %span.code CON-23
                            %span.title Retention Policy
                        .wlist-body
                          %p
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                      %li
                        .wlist-title.is-control
                          %a.widgetbtn.pull-left.list-trigger.active
                            %i.icon-chevron-down
                          %h3.clearfix
                            %span.code CON-24
                            %span.title Control of the Controls
                        .wlist-body
                          %ul.wlist
                            %li
                              .wlist-title.is-control
                                .widget-actions      
                                  %a.widgetbtn.btn-success{:href => "#"}
                                    %i.icon-eye-open.icon-white
                                    Annual Contracts Review
                                %a.widgetbtn.pull-left.list-trigger.active
                                  %i.icon-chevron-down
                                %h3.clearfix
                                  %span.code CON-25
                                  %span.title Another Control
                              .wlist-body
                                %p
                                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            %li
                              .wlist-title.is-control
                                .widget-actions
                                  .progress
                                    .bar.bar-success{:style => "width:40%"}
                                    .bar.bar-warning{:style => "width:15%"}                            
                                    .bar.bar-danger{:style => "width:10%"}
                            
                                %a.widgetbtn.pull-left.list-trigger.active
                                  %i.icon-chevron-down

                                %h3.clearfix
                                  %span.code CTRL-00
                                  %span.title Environment Control
                              .wlist-body
                                %p
                                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.


                %li
                  .wlist-title.is-system
                    %a.widgetbtn.pull-left.list-trigger.active
                      %i.icon-chevron-down
                    %h3.clearfix
                      %span.code PROC-XX
                      %span.title Hidden Camera
                      %span.owner
                        %a{:href => "#"} Vanilla Ice

                  .wlist-body
                    %p
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.


  .span4
    .sidebar

      .widget.risk
        .widget-head
          .widget-actions
            %a.btn.btn-mini{:href => "#"}
              %i.icon-info-sign
            
          %a.widgetbtn.pull-left.widget-trigger.active
            %i.icon-chevron-down
          %h2 System Info
        .widget-body
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

      .widget.compliance
        .widget-head
          .widget-actions
            %a.btn.btn-mini{:href => "#"}
              %i.icon-info-sign
            %input.widget-search{:type => "text", :placeholder => "Search"}
          %a.widgetbtn.pull-left.widget-trigger.active
            %i.icon-chevron-down
          %h2 Impact /Scope
        .widget-body
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

      .widget
        .widget-head
          %a.widgetbtn.pull-left.widget-trigger.active
            %i.icon-chevron-down
          %h2 Compliance
        .widget-body
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          
          
          