-@title = "GRC: Risk Risk"

-content_for :header do
  %ul.breadcrumbs
    %li
      %a{:href => "#"}
        RISK
  %h1
    Risk

-content_for :page_help, 'changeme'

-content_for :subheader_extras do
  %h1#pageType.pull-right.highlighted Risk

.row-static
  %img.demoItem{:src => '../images/tempScreenGapAnalysis.jpg'}
