-@title = "GRC: Systems"
 
-content_for :header do
  %ol#breadcrumb
    %li.last
      %a{:href => "#"} BUSINESS PROCESSES |
  #pageTitle.location Annaul SFO Fire Drill

-content_for :page_help, 'changeme'

-content_for :subheader_extras do
  %h1#pageType.pull-right.highlighted Business Process

-content_for :subheader_plus do
  %a.navbarplus.system.pull-right{ :href => "#comingsoonModal", "data-toggle" => "modal" }
  
.row-static
  .doubleColumn
    #RegsandControls.WidgetBox.fullHeight.doubleWide
      .WidgetBoxHeading
        .pull-right
          %a.widgetbtn{"data-toggle" => "modal", :href => "#comingsoonModal"}
            %i.gcmsicon-questionmark-grey
          -#%a.widgetbtn{"data-toggle" => "modal", :href => "#comingsoonModal"}
            %i.gcmsicon-edit-grey
          %input.ui-corner-all.widgetsearch{:placeholder => "Search", :type => "text"}/
        .WidgetTitle.doublewidth Sub-Systems & Controls
      .WidgetBoxContent
        #samplesystems
        
    .singleColumn
      #transactions.WidgetBox
        .WidgetBoxHeading
          .WidgetTitle Transactions
          %nav
            %a.widgetbtn{"data-toggle" => "modal", :href => "#comingsoonModal"}
              %i.gcmsicon-questionmark-grey
            -#%a.widgetbtn{"data-toggle" => "modal", :href => "#comingsoonModal"}
              %i.gcmsicon-edit-grey
            -#%a.widgetbtn{"data-toggle" => "modal", :href => "#referenceSelectorModal"}
              %i.gcmsicon-link
            %a.accordion-toggle.widgetbtn{"data-toggle" => "collapse", :href => "#transactionsContent"}
              %i.gcmsicon-enlarge-grey
        .WidgetBoxContent.information.collapse.in
          .row-fluid
            .span12.captionbox
              %a.widgetbtn.pull-right{"data-toggle" => "modal", :href => "#referenceSelectorModal"}
                %i.gcmsicon-link
              %h4
                Transactions for this System/Process
          #transactionsContent.collapse.in
            %hr.hr-widget
            .row-fluid
              .span12
                %a.widgetbtn.pull-right{"data-toggle" => "modal", :href => "#referenceSelectorModal"}
                  %i.gcmsicon-edit-grey
                %h3.toggle{"data-target" => "#dataGenerated", "data-toggle" => "collapse"}
                  .expander.in
                  Data Generated
                  
                %ul#dataGenerated.collapse.in
                  %li.controlSlot
                    %span.controls-subgroup 
                      ads data, customer data, campaign data, impression and click data
            %hr.hr-widget
            .row-fluid
              .span12
                %a.widgetbtn.pull-right{"data-toggle" => "modal", :href => "#referenceSelectorModal"}
                  %i.gcmsicon-edit-grey
                %h3.toggle{"data-target" => "#dataProcessed", "data-toggle" => "collapse"}
                  .expander.in
                  Data Processed
                  
                %ul#dataProcessed.collapse.in
                  %li.controlSlot
                    %span.controls-subgroup 
                      ADR receives data from MDB/Escanner regarding the network assets on the network.
            %hr.hr-widget
            .row-fluid
              .span12
                %a.widgetbtn.pull-right{"data-toggle" => "modal", :href => "#referenceSelectorModal"}
                  %i.gcmsicon-edit-grey
                %h3.toggle{"data-target" => "#dataStored", "data-toggle" => "collapse"}
                  .expander.in
                  Data Stored
                  
                %ul#dataStored.collapse.in
                  %li.controlSlot
                    %span.controls-subgroup 
                      Network asset data (including status) for suppliers - Juniper, In!nera & Celestica
            %hr.hr-widget
    .singleColumn
      =render :partial => 'design/widgets/systemsrelated'           
    
  .singleColumn
    #productInfo.WidgetBox
      .WidgetBoxHeading
        .WidgetTitle System Actions
      .WidgetBoxContent.information
        .toolbar-widget
          .row-fluid
            .span6
              -# There currently is an issue with this dropdown being inside the widget and therefore cropped. Can we move bootstrap twitter dropdown menus above (z-index)?
              .btn-group.closed
                %a.span12.btn.btn-warning.dropdown-toggle{"data-toggle" => "dropdown"}
                  %i.gcmsicon-import-white
                  Im/Export
                  %span.caret
                %ul.dropdown-menu
                  %li.divider
                  %li
                    %a{:href => "/systems/import"}
                      Import Systems
                  %li.divider
                  %li
                    %a{"data-toggle" => "modal-ajax", :href => "/systems/export.html"}
                      Export Systems
            -#.span4
              %a.span12.btn.btn-warning{"data-toggle" => "modal", :href => "#comingsoonModal"}
                New Version
            .span6
              %a.span12.btn.btn-warning{"data-toggle" => "modal", :href => "#comingsoonModal"}
                Relationship Map
    #productInfo.WidgetBox
      .WidgetBoxHeading
        .WidgetTitle System Info
        %nav
          %a.widgetbtn{"data-toggle" => "modal", :href => "#comingsoonModal"}
            %i.gcmsicon-questionmark-grey
          -#%a.widgetbtn{"data-toggle" => "modal", :href => "#comingsoonModal"}
            %i.gcmsicon-edit-grey
          %a.accordion-toggle.widgetbtn{"data-toggle" => "collapse", :href => "#productInfoContent"}
            %i.gcmsicon-enlarge-grey
      .WidgetBoxContent.information.collapse.in
        .well 
          %label 
            Status
            .pull-right 
              %span.statustextgreen 35 
              %span /
              %span.statustextyellow 55 
              %span /
              %span.statustextred 10 
          .progress.progress-striped.active
            .bar.progressbar-success{"data-percentage" => "35", :style => "float: left; width: 0%; "}
            .bar.progressbar-danger{"data-percentage" => "10", :style => "float: right; width: 0%; "}
            .bar.progressbar-warning{"data-percentage" => "55", :style => "float: right; width: 0%; "}
        -#.toolbar-widget.well
          %a.btn.btn-warning{"data-toggle" => "modal", :href => "#comingsoonModal"}
            New Version
        
        #productInfoContent.collapse.in
          %hr.hr-widget
          .row-fluid
            .span12
              %a.widgetbtn.pull-right.juke-left{"data-toggle" => "modal", :href => "#referenceSelectorModal"}
                %i.gcmsicon-edit-grey
              %h3.toggle{"data-target" => "#productAbout", "data-toggle" => "collapse"}
                .expander.in
                About
              #productAbout.collapse.in
                .row-fluid
                  .span12
                    .span2
                      %label Code
                      %input.span12{:disabled => "disabled", :placeholder => "ABC", :type => "text"}/
                    .span2
                      %label Version
                      %input.span12{:disabled => "disabled", :placeholder => "1.0", :type => "text"}/
                    
                    .span5
                      %label Kind
                      %input.span12{:disabled => "disabled", :placeholder => "Infrastructure", :type => "text"}/
                    .span3
                      %label Network Zone
                      %input.span12{:disabled => "disabled", :placeholder => "Corp", :type => "text"}/
                .row-fluid
                  .span12
                    %label Description
                    %textarea#textarea.span12{:disabled => "disabled", :placeholder => "", :rows => "3", :style => "height: 135px; "} PCI DDS applies whenever Cardholder account data and Authentication Data is Stored, Processed or Transmitted. Examples Include: For more See Page 7 of document. Using h6 makes the label caps.
                .row-fluid
                  .span12
                    %label Notes
                    %textarea#notes.span12{:disabled => "disabled", :placeholder => "", :rows => "3", :style => "height: 135px; "} ...
                .row-fluid
                  .span12
                    %label Direct Link
                    %input.span12{:disabled => "disabled", :placeholder => " ", :type => "text"}/
                .row-fluid
                  .span12
                    .span4
                      %label Effective Date
                      %input.span12{:disabled => "disabled", :placeholder => "", :type => "text"}/
                    .span4
                      %label Stop Date
                      %input.span12{:disabled => "disabled", :placeholder => "", :type => "text"}/
                    .span4
                      %label Status
                      %input.span12{:disabled => "disabled", :placeholder => "Active", :type => "text"}/
          %hr.hr-widget
          .row-fluid
            .span12
              %a.widgetbtn.pull-right.juke-left{"data-toggle" => "modal", :href => "#referenceSelectorModal"}
                %i.gcmsicon-link
              %h3.toggle{"data-target" => "#productCategories", "data-toggle" => "collapse"}
                .expander
                Categories
                
              %ul#productCategories.collapse
                %li.controlSlot
                  %a.widgetbtn.pull-right.juke-down
                    %i.gcmsicon-edit-grey
                  %span.controls-group SOX Category
                  %br/
                  %span.controls-subgroup Core
                -#%li.controlSlot
                  %span.controls-group Category
                  %br/
                  %span.controls-subgroup Risky Attribute
          %hr.hr-widget
          .row-fluid
            .span12
              %a.widgetbtn.pull-right.juke-left{"data-toggle" => "modal", :href => "#referenceSelectorModal"}
                %i.gcmsicon-link
              %h3.toggle{"data-target" => "#productReferences", "data-toggle" => "collapse"}
                .expander
                References
                
              %ul#productReferences.collapse
                %li.controlSlot
                  %a.widgetbtn.pull-right.juke-down
                    %i.gcmsicon-edit-grey
                  %span.controls-group PDF
                  %br/
                  %span.controls-subgroup Privacy Report 2011
                %li.controlSlot
                  %a.widgetbtn.pull-right.juke-down
                    %i.gcmsicon-edit-grey
                  %span.controls-group PDF
                  %br/
                  %span.controls-subgroup Privacy Report 2012
          %hr.hr-widget
          .row-fluid
            .span12
              %a.widgetbtn.pull-right.juke-left{"data-toggle" => "modal", :href => "#referenceSelectorModal"}
                %i.gcmsicon-link
              %h3.toggle{"data-target" => "#productPeople", "data-toggle" => "collapse"}
                .expander
                People
              
              %ul#productPeople.collapse
                %li.controlSlot
                  %a.widgetbtn.pull-right
                    %i.gcmsicon-edit-grey
                  %span.controls-group JRayburn@google.com
                  %br/
                  %span.controls-subgroup Joss Rayburn
                %li.controlSlot
                  %a.widgetbtn.pull-right
                    %i.gcmsicon-edit-grey
                  %span.controls-group rpoder@google.com
                  %br/
                  %span.controls-subgroup Ron Poder
          %hr.hr-widget
      / end of widget
    / end of span
    / end of span
