.group
  =f.label :title
  =f.text_field :title, :class => :text_field

.group
  =f.label :description
  =f.text_area :description, :class => :text_area

.group.navform.wat-cf
  =f.submit pat(:save), :class => :button
  =f.submit pat(:cancel), :onclick => "window.location='#{document_descriptors_path}';return false", :class => :button
