.block
  =render :partial => "admin/sections/secnav"
  .content
    %h2.title
      =pat(:all)
      =mt(:sections)
    .inner
      %table.table
        %tr
          %th.first=mat(:section, :title)
          %th=mat(:section, :type)
          %th=mat(:section, :program_id)
          %th=mat(:section, :updated_at)
          %th.last!="&nbsp;"
        -@sections.each do |section|
          %tr
            %td.first
              %span{:title => section.description}
                =link_to h(section.title), edit_section_path(section)
              .slug&=section.slug
            %td=program_display(section)
            %td=link_to section.program.display_name,
              edit_program_path(section.program)
            %td=display_time(section.updated_at)
            %td.last
              =button_to pat(:edit), edit_section_path(section), :method => :get, :class => :button_to
              ="|"
              =button_to pat(:delete), section, :method => :delete, :class => :button_to
      .actions-bar.wat-cf
        .actions!="&nbsp;"

-render_for :sidebar, :partial => "base/sidebar"
-render_for :sidebar, :partial => "base/control_nav"
