.block
  =render :partial => "admin/sections/secnav"
  .content
    %h2.title
      =pat(:new)
      =mt(:section)
    .inner
      =form_for @section, :method => :post, :html => {:class => :form} do |f|
        =render :partial => "admin/sections/form", :locals => { :f => f }

-render_for :sidebar, :partial => "base/sidebar"
-render_for :sidebar, :partial => "base/control_nav"
