.secondary-navigation
  %ul.wat-cf
    %li.first{:class => ("active" if request.path_info =~ /biz_processes$/)}=link_to pat(:list), biz_processes_path
    %li=link_to pat(:new), new_biz_process_path
    /%li=link_to pat(:controls), url(:biz_processes, :controls, 0)
    /%li=link_to pat(:systems), url(:biz_processes, :systems, 0)
