.block
  =render :partial => "admin/biz_processes/secnav"
  .content
    %h2.title
      =pat(:new)
      =mt(:biz_process)
    .inner
      =form_for @biz_process, :method => :put, :html => {:class => :form} do |f|
        =render :partial => "admin/biz_processes/form", :locals => { :f => f }

/-content_for :sidebar, partial("base/sidebar")
