.block
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to pat(:list), url(:biz_processes, :index)
      %li.active=link_to pat(:new), url(:biz_processes, :new)
  .content
    %h2.title
      Attach Control Objective to Business Process
    .inner
      %h3
        &=@biz_process.title
      =form_for :biz_process_section, url(:biz_processes, :create_section), :class => :form do |f|
        =partial "biz_processes/section_form", :locals => { :f => f }

-content_for :sidebar, partial("base/sidebar")
