-include_linked_programs = false if local_assigns[:include_linked_programs].nil?

%ul.tree-structure
  =walk_slug_tree(Directive.slugtree(controls)) do |item, step|
    -content_id = "content_#{rand(36**8).to_s(36)}" # unique ID for toggle
    .item-main
      .openclose{ :class => 'lastchild' }
      .item-title
        .row-fluid
          =render :partial => 'object_leaf', :locals => { :instance => item }

          -if include_linked_programs
            -programs = item.linked_programs
            .span2
              .objects-count
                -if !programs.empty?
                  -popover_content = capture_haml do
                    %ul
                      -programs.each do |program|
                        %li
                          %a{ :href => flow_program_path(program) }=program.title
                  -data_popover_trigger = { :placement => "right",
                                       :'popover-trigger' =>  "sticky-hover",
                                       :'original-title' => "Linked Programs",
                                       :content => popover_content }
                %a{ :data => data_popover_trigger }
                  %i.grcicon-program-black
                  =programs.count
        .item-actions
          %a.btn.btn-mini.pull-right{ :href => flow_control_path(item), :rel => 'tooltip', :title => "Go to this object's page" }
            %i.grcicon-goto
          %a.btn.btn-mini.pull-right{ :href => edit_flow_control_path(item), :'data-toggle' => 'modal-ajax-form', :'data-modal-reset' => 'reset', :'data-dirty' => "#controls, #combo", :rel => 'tooltip', :title => 'Edit Control' }
            %i.grcicon-edit
