-content_for :modal_title do
  Select Control

-content_for :modal_help, :select_control

%script#control_option{ :type => 'text/html', :'data-prefix' => 'control' }
  %li{ :'data-id' => '<%= control.id %>', :'data-title' => '<%= control.title %>', :'data-slug' => '<%= control.slug %>' }
    .row-fluid
      .span8
        .object-info
          %span.name <%= control.title %>
          %span.option <%= control.slug %>
      .span4.actions
        -#%a.widgetbtn.pull-right{:href => edit_flow_control_path('<%=control.id%>'), :'data-toggle' => 'modal-ajax-listeditform', :'data-selector-target' => '.source', :'data-modal-class' => 'modal-wide' }
          %i.grcicon-edit

%script#control_option_data{ :type => 'text/html' }
  .object-info
    %span.name <%= control.title %>
    %span.option <%= control.slug %>

.row-fluid.modal-source
  .span12
    %h3
      Select Control
      %a.widgetbtn.widgetbtnselector.btn.btn-add{ :href => new_flow_control_path, :'data-toggle' => 'modal-ajax-listnewform', :'data-selector-target' => '.source', :'data-modal-class' => 'modal-wide' }
        %i.grcicon-add
      .pull-right
        %input.widgetsearch{:type => "text", :placeholder => "Search Controls"}

    .filter-block
      .row-fluid
        .span12
          .tabbable.tabs-left
            .tab-content
              #category1.tab-pane.active
                .people-list
                  %ul.source{ :'data-list-data-href' => flow_controls_path(:format => :json), :'data-template-id' => 'control_option' }

