-content_for :widget_title do
  Control Implementation

-content_for :widget_help, 'control_main'

-content_for :widget_id, 'control_main_widget'

.tabbable
  %ul.nav.nav-tabs
    %li.text-business=link_to '<i class="grcicon-system-color"></i>Systems / <i class="grcicon-process-color"></i>Processes'.html_safe, '#systems_processes', :data => { :toggle => 'tab', :'tab-href' => systems_flow_control_path(control) }
    -if control.directive.company?
      %li.text-governance=link_to '<i class="grcicon-control-color"></i>Mapped Controls'.html_safe, '#controls', :data => { :toggle => 'tab', :'tab-href' => implemented_controls_flow_control_path(control) }
    -else
      %li.text-governance=link_to '<i class="grcicon-control-color"></i>Mapped Controls'.html_safe, '#controls', :data => { :toggle => 'tab', :'tab-href' => implementing_controls_flow_control_path(control) }
    %li.text-governance=link_to '<i class="grcicon-section-color"></i>Sections/Clauses'.html_safe, '#sections', :data => { :toggle => 'tab', :'tab-href' => sections_flow_control_path(control) }
    - if current_user.can_manage_risk?
      %li.text-risk=link_to '<i class="grcicon-risk-color"></i>Risks'.html_safe, '#risks', :data => { :toggle => 'tab', :'tab-href' => risks_flow_control_path(control) }

  .action-items
    %a.expandAll.btn.btn-mini{:href => "#", :rel => "tooltip", :title => "Expand all"}
      %i.grcicon-wide-black
    %a.shrinkAll.btn.btn-mini{:href => "#", :rel => "tooltip", :title => "Collapse all"}
      %i.grcicon-normal-black

  .tab-content
    #systems_processes.tab-pane
    #controls.tab-pane
    #sections.tab-pane
    #risks.tab-pane
