-content_for :widget_title do
  Categories, References, People

-content_for :widget_help, 'control_more_info'

-content_for :widget_id, "control_more_info_widget"

%ul.tree
  %li.category
    =render :partial => 'categories/object_list',
            :locals  => { :object => control, :scope_id => Control::CATEGORY_TYPE_ID }
            
  %li.category
    =render :partial => 'documents/object_list',
            :locals  => { :object => control }
  %li.category
    =render :partial => 'people/object_list',
            :locals  => { :object => control }