-content_for :widget_title do
  Control

-content_for :widget_help, 'control_info'

-content_for :widget_buttons do
  %a.widgetbtn{ :href => edit_flow_control_path(control), :'data-toggle' => 'modal-ajax-form', :'data-modal-reset' => 'reset', :title => 'Edit Control' }
    %i.gcmsicon-lock-grey

.nav.nav-tabs.nav-stacked
  %h4
    =control.title

  .section
    Description:
    -#=control.description

  .section
    %h3 About this Control
    .item
      Short Code: #{control.slug}
    .item
      Effective Date: #{display_time(control.effective_at)}
    .item
      Control Type: TBD
  .section
    %h3 Control Verification
    .item
      Frequency: #{pluralize(control.frequency, control.frequency_type.to_s)}
    .item
      Evidence Types:
      -control.evidence_descriptors.each do |desc|
        .item
          =desc.title
          .item
            =desc.description
  .section
    %h3 Mappings
    .item
      To Controls:
      -control.implemented_controls.each do |impl|
        .item
          =link_to impl.slug, flow_control_path(impl)
          =impl.title
    .item
      To Sections:
      -control.sections.each do |sec|
        .item
          =link_to sec.slug, section_path(sec)
          =sec.title

%hr

.row-fluid
  .span12#referenceList
    =render :partial => 'documents/object_list',
            :locals  => { :object => control }

%hr

.row-fluid
  .span12#peopleList
    =render :partial => 'people/object_list',
            :locals  => { :object => control }
