-content_for :widget_title do
  Control Info

-content_for :widget_help, 'control_info'

-content_for :widget_buttons do
  %a.widgetbtn{ :href => edit_flow_control_path(control), :'data-toggle' => 'modal-ajax-form', :'data-modal-reset' => 'reset', :'data-form-target' => 'refresh', :'data-modal-class' => 'modal-wide', :title => 'Edit Control' }
    %i.gcmsicon-edit-grey

.information
  .toolbar-widget

  %hr.hr-widget

  .row-fluid
    .span12
      .span4
        %label Code
        %input.inputtext-small{:type => "text", :disabled => "disabled", :value => control.slug}
      .span4
        %label Effective Date
        %input.inputtext-small{:type => "text", :disabled => "disabled", :value => control.start_date && control.start_date.strftime("%m/%d/%y")}
  .row-fluid
    .span12
      .span4
        %label Type
        %input.inputtext-small{:disabled => "disabled", :type => "text", :value => control.type && control.type.title}
      .span4
        %label Kind
        %input.inputtext-small{:disabled => "disabled", :type => "text", :value => control.kind && control.kind.title}
      .span4
        %label Means of Operation
        %input.inputtext-small{:disabled => "disabled", :type => "text", :value => control.means && control.means.title}
  .row-fluid
    .span12
      %label Full Title
      %input.span12{:disabled => "disabled", :type => "text", :value => control.title}
  .row-fluid
    .span4
      %label Version
      %input.inputtext-small{:disabled => "disabled", :type => "text"}
    .span4
      %label Status
      %input.inputtext-small{:disabled => "disabled", :type => "text"}
  .row-fluid
    .span12
      %label Description
      =raw control.description

%hr.hr-widget

.row-fluid
  .span12
    =render :partial => 'categories/object_list',
            :locals  => { :object => control }

%hr.hr-widget

.row-fluid
  .span12
    =render :partial => 'documents/object_list',
            :locals  => { :object => control }

%hr.hr-widget

.row-fluid
  .span12
    =render :partial => 'people/object_list',
            :locals  => { :object => control }

%hr.hr-widget

.row-fluid
  .span6.nominheight
    %label.fltlft
      %strong> Created: #{control.created_at.strftime("%m/%d/%y")}
  .span6.nominheight
    %label.fltrt
      %strong> Updated: #{control.updated_at.strftime("%m/%d/%y")}
