-content_for :widget_title do
  Control Info

-content_for :widget_help, 'control_info'

%ul.tree.info-list
  %li.category
    %h3
      About
    %section.content
      %ul.tree
        %li.main
          .item-content
            %ul.tree-content
              %li
                %label
                  Code
                %span
                  =control.slug
              %li
                %label
                  Type
                %span
                  =control.type && control.type.title
              %li
                %label
                  Kind
                %span
                  =control.kind && control.kind.title
              %li
                %label
                  Fraud-related
                %span
                  =control.fraud_related ? 'Yes' : 'No'
              %li
                %label
                  Significance
                %span
                  =control.key_control ? 'Key' : 'Non-key'
              %li
                %label
                  Assertions
                %span
                  =control.assertions.map(&:name).join(', ')
              %li
                %label
                  Means of Operation
                %span
                  =control.means && control.means.title
              %li
                %label
                  Confirm Frequency
                %span
                  =control.verify_frequency && control.verify_frequency.title
              %li
                %label
                  Description
                .html-box
                  =display_as_html control.description
              %li
                %label
                  Notes
                .html-box
                  =display_as_html control.notes
              %li
                %label
                  Direct Link
                %span
                  =link_to control.url do
                    =control.url
              %li
                %label
                  Effective Date
                %span
                  =control.start_date && control.start_date.strftime("%m/%d/%y")
              %li
                %label
                  Stop Date
                %span
                  =control.stop_date && control.stop_date.strftime("%m/%d/%y")
                  
                  
    
  %li.category
    =render :partial => 'categories/object_list',
            :locals  => { :object => control, :scope_id => Control::CATEGORY_TYPE_ID }
            
  %li.category
    =render :partial => 'documents/object_list',
            :locals  => { :object => control }
  %li.category
    =render :partial => 'people/object_list',
            :locals  => { :object => control }

%section.footer
  .row-fluid
    .span6
      %p.footer-left
        Created: #{control.created_at.strftime("%m/%d/%y")}
    .span6
      %p.footer-right
        Updated: #{control.updated_at.strftime("%m/%d/%y")}
