-content_for :widget_title do
  Control Text

-content_for :widget_help, 'control_text'

-content_for :widget_id, 'control_text_widget'

.row-fluid
  .span12.well
    =display_as_html control.description
