-@title = "CMS Control: #{@control.title}"

-content_for :header do
  %ol#breadcrumb
    %li=link_to 'CONTROLS', flow_controls_path
    %li=@control.slug
  .location#pageTitle=@control.title

-content_for :page_help, 'control'

-content_for :subheader_extras do
  %h1.fltrt.highlighted Control

.row-static
  .singleColumn
    .singleWide.halfHeight
      =render :partial => 'controls/show',
              :layout => 'layouts/widget_box',
              :locals => { :control => @control }

