-content_for :header do
  %h5.highlighted
    =link_to 'CONTROLS', flow_controls_path
    %span.divider /
    =@control.slug
  %h1.location=@control.title

.row
  .span8
    =render :partial => 'controls/show',
            :layout => 'layouts/widget_box',
            :locals => { :control => @control }

