-@title = "GRC Control: #{@control.title}"

-content_for :header do
  %ul.breadcrumbs
    %li=link_to "dashboard", programs_dash_path
    %li=@control.slug
  
  %h1.governance
    .grcobject.governance{:rel => "tooltip", :'data-placement'=>"bottom", :title => "Control"}
      %i.grcicon-control
    -if @control.title?
      =strip_tags(@control.title)
    -else
      =@control.slug


-content_for :page_help, 'control'

-content_for :subheader_extras do
  %ul.actions.pull-right
    %li
      %a{ :href => edit_flow_control_path(@control), :'data-toggle' => 'modal-ajax-form', :'data-modal-reset' => 'reset', :'data-form-target' => 'refresh', :'data-modal-class' => 'modal-wide', :title => 'Edit Control' }
        %i.grcicon-edit
        %span Edit Control

-content_for :subheader_plus do
  %a.navbarplus.fltrt{ :href => new_flow_control_path('control[directive_id]' => @control.directive_id), :'data-toggle' => 'modal-ajax-form', :'data-modal-reset' => 'reset', :'data-form-target' => 'redirect', :'data-modal-class' => 'modal-wide' }

.container-fluid
  #controls_columns.row-fluid{ :'data-resize' => "true" }
    #main_column.span8.widget-area
      =render :partial => 'controls/main',
              :layout => 'layouts/widget_box',
              :locals => { :control => @control, :widget_class => "governance widget-tabs widget-tabs-horizontal" }
      =render :partial => 'shared/add_widget_section'
    #right_column.span4.widget-area
      =render :partial => 'controls/info',
              :layout => 'layouts/widget_box',
              :locals => { :control => @control, :widget_class => "governance" }
      =render :partial => 'controls/more_info',
              :layout => 'layouts/widget_box',
              :locals => { :control => @control, :widget_class => 'related business' }
      =render :partial => 'shared/add_widget_section'
