-@title = "CMS Control: #{@control.title}"

-content_for :header do
  %ol#breadcrumb
    %li CONTROLS
    %li=@control.slug
  .location#pageTitle=@control.title

-content_for :page_help, 'control'

-content_for :subheader_extras do
  %h1.fltrt.highlighted Control

-content_for :subheader_plus do
  %a.navbarplus.fltrt{ :href => new_flow_control_path('control[program_id]' => @control.program_id), :'data-toggle' => 'modal-ajax-form', :'data-modal-reset' => 'reset' }

.row-static
  .doubleColumn
    .doubleWide.halfHeight
      =render :partial => 'controls/text',
              :layout => 'layouts/widget_box',
              :locals => { :control => @control }

    .doubleWide.halfHeight
      =render :partial => 'controls/mappings',
              :layout => 'layouts/widget_box',
              :locals => { :control => @control }

  .singleColumn
    .singleWide.fullHeight
      =render :partial => 'controls/show',
              :layout => 'layouts/widget_box',
              :locals => { :control => @control }
