-content_for :header do
  %ul#breadcrumbs
    %li=link_to 'Controls', flow_controls_path
    %li=@control.slug
  %h2=@control.title

.row
  .span8
    =render :partial => 'controls/show',
            :layout => 'layouts/widget_box',
            :locals => { :control => @control }

