-@title = "GRC Control: #{@control.title}"

-content_for :header do
  %ul.breadcrumbs
    %li
      CONTROLS
    %li=@control.slug
  
  %h1
    =@control.title

-content_for :page_help, 'control'

-content_for :subheader_extras do
  %h1.fltrt.highlighted Control

-content_for :subheader_plus do
  %a.navbarplus.fltrt{ :href => new_flow_control_path('control[program_id]' => @control.program_id), :'data-toggle' => 'modal-ajax-form', :'data-modal-reset' => 'reset', :'data-form-target' => 'redirect', :'data-modal-class' => 'modal-wide' }

.row-static
  .doubleColumn
    .doubleWide.halfHeight
      =render :partial => 'controls/main',
              :layout => 'layouts/widget_box',
              :locals => { :control => @control }

  .singleColumn
    .singleWide.fullHeight
      =render :partial => 'controls/show',
              :layout => 'layouts/widget_box',
              :locals => { :control => @control }

    -if has_feature? :BETA
      .singleWide.halfHeight
        =render :partial => 'shared/impact_scope'
