-@title = "CMS Control: #{@control.title}"

-content_for :header do
  %ol#breadcrumb
    %li=link_to 'CONTROLS', flow_controls_path
    %li=@control.slug
  .location#pageTitle=@control.title

-content_for :page_help, 'control'

-content_for :subheader_extras do
  %h1.fltrt.highlighted Control

.row-static
  .singleColumn
    .singleWide.halfHeight
      =render :partial => 'controls/show',
              :layout => 'layouts/widget_box',
              :locals => { :control => @control }

#edit-control-modal.modal.hide.fade
  =form_for @control, :url => flow_control_path(@control), :method => :put, :remote => true, :html => {:class => :form} do |f|
    .modal-header
      %a.close{ "data-dismiss" => "modal" } x
      %h1 Edit control
    .modal-body
      =render :partial => 'controls/form',
              :locals  => { :f => f }
    .modal-footer
      =f.submit pat(:save)
      =f.submit pat(:cancel), :type => 'reset'
