.popover-title
  %h3.oneline=@control.title

.popover-content
  .cleanlabels
    .row-fluid
      .span4
        %label Short Code
        %p=@control.slug
      .span8
        %label Title
        %p=@control.title

    %br/
    .row-fluid
      .span12
        %label Description
        %p=@control.description

    %br/
    .row-fluid
      .span6
        %label Version
        %p ---
      .span6
        %label Deprecated
        %p ---
