
-content_for :tooltip_title do
  .row-fluid
    .span12
      %h3
        %i{:class => "grcicon-control-black"}
        =@control.slug
        %span=@control.title

.row-fluid
  .span12
    %h4 Description
    -if @control.description != ""
      =display_as_html @control.description
    -else
      .rtf
        %p.no-data No description available

.row-fluid
  .span6.created
    %strong Created:
    =display_time(@control.created_at)
  .span6.updated
    %strong Updated:
    =display_time(@control.updated_at)