
-content_for :tooltip_title do
  .row-fluid
    .span12
      %h3
        %i{:class => "grcicon-control-color"}
        %span.title
          =@control.title
        %span.code
          =@control.slug

.popover-inner-content
  .row-fluid
    .span12
      %h4 Description
      -if @control.description != ""
        =display_as_html @control.description
      -else
        .rtf
          %p.no-data No description available