-content_for :modal_title do
  -if f.object.new_record?
    Create New Audit Cycle
  -else
    Edit Audit Cycle

-if !f.object.new_record?
  -content_for :modal_delete_path, delete_flow_cycle_path(f.object)

.row-fluid
  .span4
    -if f.object.program_id.present?
      =f.label :program_id
      =f.hidden_field :program_id
      =f.object.program.display_name
    -else
      =f.collection_select :program_id, Program.all, :id, :display_name, {}, {:class => :collection, :multiple => false}
    %br
    %span.description Program being audited

  =wrapped_date_field f, :span3, :start_at, :class => 'date', :label_name => 'Audit Start Date', :placeholder => 'MM/DD/YYYY'

  .span1
  .span4
    =f.label :complete
    =f.check_box :complete, :class => :check_box
    %br
    %span.description Was this audit cycle completed?

