-content_for :widget_title do
  Audit Info

-content_for :widget_id, "cycle_info_widget"

-content_for :widget_buttons do
  -if has_feature?(:BETA)
    .filter
      .row-fluid
        .span12
          .pull-right
            %a.btn.btn-warning.actionbutton
              Audit Dashboard
            %a.btn.btn-warning.actionbutton
              Invite Auditors

-content_for :widget_help, 'cycle_info'

%ul.info-list
  %li.float-element
    %label
      Audit Firm
    %span
      =cycle.audit_firm
  %li.float-element
    %label
      Audit Lead
    %span
      =cycle.audit_lead
  %li
    %label
      Description
    %span
      =display_as_html cycle.description

%ul.tree
  %li.category
    =render :partial => 'documents/object_list',
            :locals  => { :object => cycle }
  %li.category
    =render :partial => 'people/object_list',
            :locals  => { :object => cycle }

%section.footer
  .row-fluid
    .span6
      %p.footer-left
        Created: #{cycle.created_at.strftime("%m/%d/%y")}
    .span6
      %p.footer-right
        Updated: #{cycle.updated_at.strftime("%m/%d/%y")}
