-content_for :widget_title do
  Audit Info

-content_for :widget_help, 'cycle_info'

-content_for :widget_buttons do
  %a.widgetbtn{:href => edit_flow_cycle_path(cycle), :'data-toggle' => 'modal-ajax-form', :'data-modal-reset' => 'reset', :'data-form-target' => 'refresh', :title => 'Edit Audit Cycle'}
    %i.grcicon-edit-grey

-if has_feature?(:BETA)
  .row-fluid
    .span6
      %a.span12.btn.btn-warning.actionbutton
        Audit Dashboard
    .span6
      %a.span12.btn.btn-warning.actionbutton
        Invite Auditors

.row-fluid
  .span6
    %h5 Audit Firm
    %label=cycle.audit_firm
  .span6
    %h5 Audit Lead
    %label=cycle.audit_lead
    


%hr.hr-widget

.row-fluid
  .span12
    =render :partial => 'documents/object_list',
            :locals  => { :object => cycle }

%hr.hr-widget

.row-fluid
  .span12
    =render :partial => 'people/object_list',
            :locals  => { :object => cycle }

%hr.hr-widget

.row-fluid
  .span6.nominheight
    %label.fltlft
      %strong Created:
      #{cycle.created_at.strftime("%m/%d/%y")}
  .span6.nominheight
    %label.fltrt
      %strong Updated:
      #{cycle.updated_at.strftime("%m/%d/%y")}

