-content_for :widget_title do
  Audit Status

-content_for :widget_buttons do
  %input.widgetsearch{ :type => 'text', :placeholder => 'Search' }

.nav.nav-tabs.nav-stacked
  %p
    -if cycle.complete
      Complete (started #{days_ago_in_words cycle.start_at})
    -else
      -if cycle.start_at == Time.zone.now.to_date
        Started today
      -elsif cycle.start_at < Time.zone.now.to_date
        Started #{days_ago_in_words cycle.start_at} ago
      -else
        Starting in #{days_ago_in_words cycle.start_at}

      -if cycle.end_at
        %br
        Ends on #{cycle.end_at.strftime("%m/%d/%y")}
