-content_for :widget_title do
  References
  %span=cycle.object_documents.count
  , People
  %span=cycle.object_people.count

-content_for :widget_id, "cycle_more_info_widget"

-content_for :widget_help, 'cycle_more_info'

%ul.tree-structure.simple  
  =render :partial => 'documents/object_list',
          :locals  => { :object => cycle }

  =render :partial => 'people/object_list',
          :locals  => { :object => cycle }