-content_for :widget_title do
  Old Links

-content_for :widget_help, 'old_links'

%ul.nav.nav-tabs.nav-stacked
  %li
    %a{ :href => dashboard_index_path(:cycle_id => cycle.id) }
      %h3 Old Dashboard
      %a{ :href => evidence_index_path(:cycle_id => cycle.id) } Evidence
      %a{ :href => testing_index_path(:cycle_id => cycle.id) } Testing
      %a{ :href => "/testreport/top?cycle_id=#{cycle.id}" } Test Reports

