-content_for :widget_title do
  PBC Lists

-content_for :widget_help, 'cycle_pbclist'

-content_for :widget_buttons do
  %a.widgetbtn{"data-toggle" => "modal", :href => "#pbcListEdit"}
    %i.grcicon-add

.item-titles
  .row-fluid
    .span3
      Date
    .span4
      Firm
    .span5
      PBC Title
%a.item-link{:href => "/design/pbc-list"}
  .item
    .row-fluid        
      .span3
        03/15/12
      .span4
        Ernst & Young
      .span5
        EY Google SOX PBC
%a.item-link{:href => "/design/pbc-list"}
  .item
    .row-fluid        
      .span3
        03/05/11
      .span4
        Ernst & Young
      .span5
        EY SOX 2011
