-content_for :widget_title do
  Import PBC Lists

-content_for :widget_help, 'cycle_pbcimport'

-content_for :widget_id, 'cycle_pbcimport_widget'

.btn.btn-warning
  %i.grcicon-import-white
  Import PBC List