-content_for :widget_title do
  PBC List

-content_for :widget_help, 'cycle_pbclist'

-content_for :widget_buttons do
  -if cycle.pbc_lists.count == 0
    %a.widgetbtn{ :href => new_flow_pbc_list_path(:'pbc_list[audit_cycle_id]' => cycle.id), :'data-toggle' => 'modal-ajax-form', :'data-modal-reset' => 'reset', :'data-form-target' => 'refresh', :'data-modal-class' => 'modal-wide'}
      %i.grcicon-add

-cycle.pbc_lists.each do |pbc_list|
  %h5
    %span=pbc_list.control_assessments.count
    Requests
  %a.item-link{ :href => flow_pbc_list_path(pbc_list.id) }
    .progress.progress-higher
      .bar.bar-danger{"rel" => "tooltip", "data-placement" => "top", "title" => "Draft (10)", "data-percentage" => "10"}
      .bar.bar-warning{"rel" => "tooltip", "data-placement" => "top", "title" => "Open - Waiting Auditors (15)", "data-percentage" => "15"}
      .bar.bar-warning{"rel" => "tooltip", "data-placement" => "top", "title" => "Open - Waiting Compliance (45)", "data-percentage" => "45"}
      .bar.bar-success{"rel" => "tooltip", "data-placement" => "top", "title" => "Completed (30)", "data-percentage" => "30"}
  
  %a.btn.btn-mini.pull-right{ :href => flow_pbc_list_path(pbc_list.id), :style => "margin-top:6px" }
    &nbsp; View PBC List
    %i.grcicon-arrowright