-content_for :widget_title do
  Audit Schedule

-content_for :widget_help, 'cycle_schedule'

-content_for :widget_id, 'cycle_schedule_widget'

-content_for :widget_buttons do
  .filter
    .row-fluid
      .span12
        .pull-right
          %a.btn.btn-add{ :href => '#' }
            %i.grcicon-add
            New

