-content_for :widget_title do
  Default Scope of Audit

-content_for :widget_id, 'cycle_scope_widget'

-content_for :widget_buttons do
  .filter
    .row-fluid
      .span12
        .pull-right
          %a.btn.btn-info{ :href => '#' }
            Set Scope
