-content_for :widget_title do
  Audit Cycle

-content_for :widget_help, 'cycle_info'

.nav.nav-tabs.nav-stacked
  %p
    -if cycle.complete
      Complete (started #{time_ago_in_words cycle.start_at})
    -else
      -if cycle.start_at <= Date.today
        Started #{time_ago_in_words cycle.start_at} ago
      -else
        Starting in #{time_ago_in_words cycle.start_at}

