-content_for :widget_title do
  Workflows

-content_for :widget_id, 'cycle_workflows_widget'

-content_for :widget_buttons do
  .filter
    .row-fluid
      .span12
        .pull-right
          %a.btn.btn-info{ :href => '#' }
            All Owners
          %a.btn.btn-info{ :href => '#' }
            All States
          %a.btn.btn-info{ :href => '#' }
            All Types

