-content_for :widget_title do
  Workflows

-content_for :widget_buttons do
  %a.widgettextbtn{ :href => '#' }
    All Owners
  %a.widgettextbtn{ :href => '#' }
    All States
  %a.widgettextbtn{ :href => '#' }
    All Types

