-content_for :header do
  %ol#breadcrumb
    %li AUDIT
  .location#pageTitle #{@cycle.program.title} Audit

-content_for :page_help, 'cycle'

-content_for :subheader_extras do
  %h1.fltrt.highlighted#pageType Audit Manager

.row-static
  .doubleColumn
    .doubleWide.halfHeight
      =render :partial => 'cycles/main',
              :layout => 'layouts/widget_box',
              :locals => { :cycle => @cycle }

      .singleColumn
        =render :partial => 'cycles/scope',
                :layout => 'layouts/widget_box',
                :locals => { :cycle => @cycle }

      .singleColumn
        =render :partial => 'cycles/workflows',
                :layout => 'layouts/widget_box',
                :locals => { :cycle => @cycle }

  .singleColumn
    .fullHeight
      =render :partial => 'cycles/info',
              :layout => 'layouts/widget_box',
              :locals => { :cycle => @cycle }

    .halfHeight
      =render :partial => 'cycles/schedule',
              :layout => 'layouts/widget_box',
              :locals => { :cycle => @cycle }

