-content_for :header do
  %ul.breadcrumbs
    %li=link_to "dashboard", programs_dash_path
    %li=link_to @cycle.program.title, flow_program_path(@cycle.program_id)
    %li=@cycle.title

  %h1.governance.active
    .grcobject.governance{:rel => "tooltip", :'data-placement'=>"bottom", :title => @cycle.title}
      %i.grcicon-audit
    %span
    #{@cycle.title}

-content_for :page_help, 'cycle'

-content_for :subheader_extras do
  %ul.actions.pull-right
    %li
      %a.widgetbtn{:href => edit_flow_cycle_path(@cycle), :'data-toggle' => 'modal-ajax-form', :'data-modal-reset' => 'reset', :'data-form-target' => 'refresh', :title => 'Edit Audit Cycle'}
        %i.grcicon-edit
        %span Edit Audit

.container-fluid
  #cycles_columns.row-fluid{ :'data-resize' => "true" }
    #main_column.span8.widget-area

      =render :partial => 'pbc_lists/main',
              :layout => 'layouts/widget_box',
              :locals => { :pbc_list => @cycle.pbc_lists.first, :widget_class => 'governance', :pbc_is_read_only => true }

    #right_column.span4.widget-area
      =render :partial => 'cycles/info',
              :layout => 'layouts/widget_box',
              :locals => { :cycle => @cycle, :widget_class => 'governance' }

      =render :partial => 'cycles/more_info',
              :layout => 'layouts/widget_box',
              :locals => { :cycle => @cycle, :widget_class => 'related business' }

