-content_for :modal_title do
  -if f.object.new_record?
    Create a new option
  -else
    Edit option

-if !f.object.new_record?
  -content_for :modal_delete_path, delete_flow_option_path(f.object)

.row-fluid
  =wrapped_select f, :span5, :role, Option::ROLES.map { |o| [Option.human_name(o), o] }, :selected => f.object.role, :include_blank => true, :label_name => "Name of field"
  .span5
    .span12{ :class => error_class(f, :title) }
      =f.label :title, 'Text of option'
      =f.text_field :title, :class => 'span12', :placeholder => 'Title'
  .span2
    .span12{ :class => error_class(f, :required) }
      =f.label :required, 'Required'
      =f.check_box :required
.row-fluid
  .span12{ :class => error_class(f, :description) }
    =f.label :description, 'Description'
    =f.text_area :description, :class => 'span12 wysihtml5 double', :wrapper_div_class => 'wysiwyg-area', :placeholder => 'Description'
%br

=render :partial => "shared/wysihtml5"