-quick_result ||= nil
-if @options.empty?
  .no-results
    No results found
-else
  .action-items.action-below
    %a{ :href => export_flow_options_path(:format => :csv) }
      %i.grcicon-export
      Export
  
  -if quick_result
    -@options.sort_by(&:role).each do |option|
      =render 'base_objects/quick_result', { :item => option }
  -else

  -@options.sort_by(&:role).group_by(&:role).each do |role, options_for_role|
    %ul.tree-structure.simple
      %li.tab-title-holder
        %h3.tab-title
          =role.humanize.titleize
        
      -options_for_role.sort_by(&:title).each do |option|
        %li
          .item-main
            .item-title
              .row-fluid
                .span12
                  .oneline
                    %span.title
                      =option.title
              .item-actions
                %a.btn.btn-mini{ :'data-form-target' => "refresh", :'data-delete-target' => "refresh", :'data-modal-reset' => "reset", :'data-toggle' => "modal-ajax-form", :href => edit_flow_option_path(option) }
                  %i.grcicon-edit
