-if @options.empty?
  .no-results
    No results found
-else
  .action-items
    %a{ :href => export_flow_options_path(:format => :csv) }
      %i.grcicon-export
      Export
      
  -@options.sort_by(&:role).group_by(&:role).each do |role, options_for_role|
    %ul.tree
      %li.category
        %h3
          =role.humanize.titleize
        %section.content
          %ul.tree
            -options_for_role.sort_by(&:title).each do |option|
              %li.main
                .item-identifier
                  .item-title
                    .row-fluid
                      .span12
                        .showhide
                        %span.addition-info
                          =link_to '#' do
                            =option.title
                  .item-actions
                    %a.btn.btn-mini{ :'data-form-target' => "refresh", :'data-delete-target' => "refresh", :'data-modal-reset' => "reset", :'data-toggle' => "modal-ajax-form", :href => edit_flow_option_path(option) }
                      %i.grcicon-edit-grey
