%section.widget-add-placeholder
  .btn-group.dropup
    %a.dropdown-toggle.btn{:href => '#', :'data-toggle' => 'dropdown'}
      %i.grcicon-add-black
      Add Widget
      %i.grcicon-carot
    %ul.dropdown-menu