-content_for :widget_title do
  Related Graph

-content_for :widget_help, 'related_graph'

-ability_sets = ['', 'read', 'read-meta_read', 'edit']
#related-graph
  .button-set
    .row-fluid
      %ul
        -ability_sets.each do |ability_set|
          %li.btn.tab-btn.span3
            %a.span12{:href => "#graph-#{ability_set}-pane",
              "data-toggle" => 'tab',
              "data-source" => graph_flow_relationships_path(:oid => instance.id,
                :otype => instance.class.to_s,
                :abilities => ability_set),
              "data-full" => graph_flow_relationships_path(:oid => instance.id,
                :otype => instance.class.to_s),
              "data-refresh-time" => 60 }
              #{ability_set.to_s.titleize}

  .tab-content
    -ability_sets.each do |ability_set|
      .tab-pane{:id => "graph-#{ability_set}-pane"}