-state = false #f.object.approved?

.row-fluid.object-info
  -if !object.new_record?
    %span
      %strong Created:
      %span #{object.created_at && object.created_at.strftime("%m/%d/%y")}
    %span
      %strong Updated:
      %span.updatedDate #{object.updated_at && object.updated_at.strftime("%m/%d/%y")}
    %span
      %strong Last Editor:
      %span #{object.modified_by.nil? ? 'unknown' : object.modified_by.display_name}
    -if has_feature?(:BETA)
      %span.demoText
        %strong Approved by:
        -if state == 'approved'
          %span.statustextgreen Approved
        -else
          %span.statustextred Not Approved
    -else
      %span
    %span.status
      %h5
        Status:
        %span.statusValue Active
  -else
    %span
      %strong Creator:
      %span #{current_user.display_name}
    %span
    %span.status
      %h5
        Status:
        %span.statusValue Draft
  %span.force-wrap
