-widget_title = "Related" if local_assigns[:widget_title].nil?

-models = related_objects(instance)
-#left_models, right_models = arranged_related_objects(instance)

-content_for :widget_title do
  =widget_title

-content_for :widget_id, "related_widget"

-content_for :widget_help, 'related'
#related.open
  .row-fluid
    .span12
      .tabbable
        %ul.nav.nav-tabs
          -models.each do |model|
            -table_name = model.underscore.pluralize #.table_name
            %li.tab-btn
              %a{:href => "#related-#{table_name}-pane",
                "data-toggle" => 'tab',
                "data-source" => related_objects_flow_relationships_path(:oid => instance.id,
                  :otype => instance.class.to_s,
                  :related_model => model),
                "data-template" => "/assets/related.mustache",
                "data-refresh-time" => 60 }
                %i.grcicon-system-black
                #{table_name.titleize}
  .tab-content
    -models.each do |model|
      .tab-pane{:id => "related-#{model.underscore.pluralize}-pane"}
        Data for #{model.titleize}