-model_name = controller_name.singularize.underscore
-model_title = model_name.titleize
-instance = instance_variable_get("@" + model_name)

-content_for :tooltip_title do
  %h3 #{model_title} Information

=instance.title
\|
=instance.slug

%h3 Description

.item
  =instance.description

.item
  Created:
  =display_time(instance.created_at)
.item
  Updated:
  =display_time(instance.updated_at)
