.modal-header
  %nav
    %a.widgetbtn{ :'data-dismiss' => 'modal', :href => '#'}
      %i.gcmsicon-x-grey
  %h1 Confirm Delete?

.modal-body.cleanlabels.compact-rows
  %h4 Are you sure you want to delete this record?
  %p
    Deleting
    =model.title
    will delete
    =(models.map { |name, count| "#{count} #{name.pluralize}" }).join(", ")
    and unlink from
    =(relationships.map { |name, count| "#{count} #{name.pluralize}" }).join(", ")

.modal-footer
  .row-fluid
    %nav.fltlft.txtlft.span3
      %a.btn.btn-large.btn-info{:'data-dismiss' => 'modal', :href => '#' } Cancel
    .span6
    %nav.fltrt.txtrt.span3
      -#=link_to "Delete", url, { :method => :delete, :class => 'btn btn-large btn-warning' }
      %a.btn.btn-large.btn-warning{ :href => url, :'data-remote' => 'remote', :'data-method' => 'delete' } Delete
