-content_for :widget_title do
  #{title_prefix} Controls

-content_for :widget_buttons do
  %span.nav-box
    %input.ui-corner-all.widgetsearch.clear-value(type='text' value='Search...')

=render :partial => 'control_list_content', :locals => { :controls => controls, :control_type => control_type }
