-content_for :widget_title do
  #{title_prefix} Controls

-content_for :widget_help, (control_type == 'regulation' ? 'mapping_rcontrols' : 'mapping_ccontrols' )

-content_for :widget_id, (control_type == 'regulation' ? 'mapping_rcontrols_widget' : 'mapping_ccontrols_widget' )

-content_for :widget_buttons do
  .filter
    .row-fluid
      .span6
        %input.ui-corner-all.widgetsearch-tocontent(type='text' placeholder='Search')

      .span6
        .pull-right
          %a.btn.clearselection{ :href => "javascript://"}
            Reset
          -if control_type == 'regulation'
            %a.btn.btn-add{ :href => new_flow_control_path(:program_id => @program.id, :company => false), :'data-toggle' => 'modal-ajax-form', :'data-modal-reset' => 'reset', :'data-modal-class' => 'modal-wide', :title => 'Create New Regulation Control' }
              %i.grcicon-add
              New
          -else
            %a.btn.btn-add{ :href => new_flow_control_path(:company => true), :'data-toggle' => 'modal-ajax-form', :'data-modal-reset' => 'reset', :'data-modal-class' => 'modal-wide', :title => 'Create New Company Control' }
              %i.grcicon-add
              New

.spinner
