-content_for :widget_title do
  #{title_prefix} Controls
.items
  -controls.each do |control|
    .item
      %span.prefix
        =control.slug
      =link_to control.title, mapping_selected_control_path(control, :control_type => control_type), :remote => true, :method => :post, :class => :selector
