%ul.nav.nav-stacked.nav-tabs{:data => { :href => mapping_controls_path(@program, control_type, :format => :html)}}
  -controls.each do |control|
    %li.group.item
      =link_to  mapping_selected_control_path(control, :control_type => control_type), :remote => true, :method => :post, :class => :selector do
        %h3=control.slug
        %p=control.title
