-content_for :widget_title do
  #{title_prefix} Controls

-content_for :widget_buttons do
  %a.btn.widgetbtn(onclick='clear_selection(this)')
    Reset

  %input.ui-corner-all.widgetsearch-tocontent(type='text' placeholder='Search')

=render :partial => 'control_list_content', :locals => { :controls => controls, :control_type => control_type }
