-content_for :widget_title do
  #{title_prefix} Controls

-content_for :widget_help, (control_type == 'regulation' ? 'mapping_rcontrols' : 'mapping_ccontrols' )

-content_for :widget_buttons do
  %a.widgettextbtn(onclick='clear_selection(this)')
    Reset
  -if control_type == 'regulation'
    %a.widgettextbtn{ :href => '#create-rcontrol-modal', :data => { :toggle => 'modal-form', :control_type => control_type }}
      New
  -else
    %a.widgettextbtn{ :href => '#create-ccontrol-modal', :data => { :toggle => 'modal-form', :control_type => control_type }}
      New

  %input.ui-corner-all.widgetsearch-tocontent(type='text' placeholder='Search')

-cache({:action => 'show', :action_suffix => "#{control_type}_controls_#{@search}"}, :expires_in => @ttl || 300) do
  =render :partial => 'control_list_content', :locals => { :controls => controls, :control_type => control_type }
