%li
  .row-fluid
    .span12
      %a.item.slot.regulationslot.selector.collapsed.span12{ :href => mapping_selected_control_path(control, :control_type => control_type), :'data-remote' => "true" }
        %span.prefix=control.slug
        =control.title
