-content_for :widget_title do
  #{title_prefix} Controls

-content_for :widget_help, (control_type == 'regulation' ? 'mapping_rcontrols' : 'mapping_ccontrols' )

-content_for :widget_buttons do
  %a.widgettextbtn.clearselection{ :href => "javascript://"}
    Reset
  -if control_type == 'regulation'
    %a.btn.widgettextbtn{ :href => new_flow_control_path(:'control[program_id]' => @program.id, :company => false), :'data-toggle' => 'modal-ajax-form', :'data-modal-reset' => 'reset', :'data-form-target' => 'refresh', :'data-modal-class' => 'modal-wide', :title => 'Create New Regulation Control' } New
  -else
    %a.btn.widgettextbtn{ :href => new_flow_control_path(:'control[program_id]' => @program.id, :company => true), :'data-toggle' => 'modal-ajax-form', :'data-modal-reset' => 'reset', :'data-form-target' => 'refresh', :'data-modal-class' => 'modal-wide', :title => 'Create New Company Control' } New

  %input.ui-corner-all.widgetsearch-tocontent(type='text' placeholder='Search')

-cache({:action => 'show', :action_suffix => "#{control_type}_controls_#{@search}"}, :expires_in => @ttl || 300) do
  =render :partial => 'control_list_content', :locals => { :controls => controls, :control_type => control_type }
