=form_for section, :url => mapping_update_path(section), :remote => true, :class => 'form-inline' do |f|
  .modal-header
    %a.close{"data-dismiss" => "modal"} x
    %h1 Controls Mapped to #{@section.slug}

  .modal-body
    .row-fluid
      .span12.well
        =f.check_box :na, :class => :checkbox
        %h3(style='display: inline') This section not linked to any control
    .row-fluid
      =f.label :notes, "Note", :class => :cleanlabel
    .row-fluid
      .span12.well
        =f.text_area :notes, :class => [:text_area, :span12], :rows => 2

  .modal-footer
    .row-fluid
      %nav.fltlft.txtlft.span3
        =f.submit pat(:cancel), :type => 'reset', :class => 'btn-large btn-info'
      %nav.fltrt.txtrt.span3  
        =f.submit pat(:save), :class => 'btn-large btn-success'

