%ul.slugtree{:data => { :href => mapping_sections_path(@program, :format => :html)}}
  -if sections.empty?
    Nothing found.
  =walk_slug_tree(Program.slugtree(sections)) do |section, step|
    .row-fluid
      .span12
        %a.regulationslot.toggle.span9.selector.collapsed{ :href => mapping_selected_section_path(section), :'data-remote' => "true", :'data-method' => "post" }
          %span.prefix=section.compact_slug
          =section.title
        -controls = section.preloaded_linked_controls
        -status_class = (controls.empty? && !section.na?) ? 'statusred' : 'statusyellow'
        .attached.controllistRM.span3(class = status_class)
          -if !controls.empty?
            %ul.spannomargin{ :title => controls.map(&:slug).join(", ") }
              %li
                %a.controls{:data => { :href => mapping_section_dialog_path(section)} }
                  %strong=controls.size
                  \:
              -controls.each do |control|
                %li
                  %a.controls{:data => { :href => mapping_section_dialog_path(section)} }
                    =control.slug
          -if section.na?
            %a.controls{:data => { :href => mapping_section_dialog_path(section)} }
              N/A
          -elsif controls.empty?
            %a.controls{:data => { :href => mapping_section_dialog_path(section)} }
              %strong 0
