%ul.slugtree{:data => { :href => mapping_sections_path(@directive, :format => :html)}}
  -if sections.empty?
    Nothing found.
  =walk_slug_tree(Directive.slugtree(sections)) do |section, step|
    =render :partial => 'section_list_content_item',
            :locals => { :section => section }
