=form_for section, :url => mapping_update_path(section), :remote => true, :class => 'form-inline' do |f|
  .modal-header
    %nav
      %a.widgetbtn{"data-toggle" => "modal", :href => "#comingsoonModal"}
        %i.grcicon-questionmark-grey
      %a.widgetbtn{"data-dismiss" => "modal", :href => "#comingsoonModal"}
        %i.grcicon-x-grey
    %h1 Controls Mapped to this Section
    %h3 #{section.slug}

  .modal-body
    .row-fluid
      .span6.control-group
        %h3 Regulation Controls
      .span6.control-group
        %h3 Company Controls

    .row-fluid-alternating-background-colors
      -rcontrols.each do |control|
        .row-fluid
          .span6.control-group
            %ul.slugtree.nav
              %li
                .row-fluid
                  .span12
                    .modalSlot.span12
                      %a.btn.btn-blue.unmapbtn.fltrt{:href => mapping_map_rcontrol_path(:section => section.id, :rcontrol => control.id, :u => 1), :'data-remote' => true, :'data-method' => 'post', :'data-toggle' => 'unmap-rcontrol'} unmap
                      %span.prefix
                        =control.slug
                        -
                        =control.title
                      %br
                      =display_as_html control.description

          .span6.control-group
            %ul.slugtree.nav
              -control.implementing_controls.each do |ccontrol|
                %li
                  .row-fluid
                    .span12
                      .modalSlot.span12
                        %a.btn.btn-blue.unmapbtn.fltrt{:href => mapping_map_ccontrol_path(:rcontrol => control.id, :ccontrol => ccontrol.id, :u => 1), :'data-remote' => true, :'data-method' => 'post', :'data-toggle' => 'unmap-ccontrol'} unmap
                        %span.prefix
                          =ccontrol.slug
                          -
                          =ccontrol.title
                        %br
                        =display_as_html ccontrol.description
    %br

    .row-fluid
      =f.label :notes, "Note", :class => :cleanlabel
    .row-fluid
      .span12
        =f.text_area :notes, :class => [:span12, :note], :rows => 3
    %br

    .row-fluid.nominheight
      .span3
      .span3
      .span3
        -#%label.fltrt{:for => "control-effectivedate"}
          %strong> Last Editor
          \: Joss Rayburn
      .span3 &nbsp;
        -#%label.fltrt{:for => "control-verificationdate"}
          -#%strong> Approved
          -#\:
          -#%span.statustextred Not Approved

    =f.hidden_field :na

  .modal-footer
    .row-fluid
      %nav.fltrt.txtrt.span3
        =f.submit pat(:done), :class => 'btn btn-large btn-info'
      -#%nav.fltrt.txtrt.span3
        -#.btn.btn-large.btn-success.btn-primary.disabled Approve
        -#=f.submit pat(:approve), :class => 'btn btn-large btn-success'
