=form_for section, :url => mapping_update_path(section), :remote => true, :class => 'form-inline' do |f|
  .modal-header
    %nav
      %a.widgetbtn{"data-toggle" => "modal", :href => "#comingsoonModal"}
        %i.gcmsicon-questionmark-grey
      %a.widgetbtn{"data-dismiss" => "modal", :href => '#'}
        %i.gcmsicon-x-grey
    %h1 Controls Mapped to #{@section.slug}

  .modal-body
    .row-fluid
      .span12.well
        =f.check_box :na, :class => :checkbox
        %h3(style='display:inline;')
          &nbsp;No controls implemented for this section
    %br

    .row-fluid
      =f.label :notes, "Note", :class => :cleanlabel
    .row-fluid
      .span12
        =f.text_area :notes, :class => [:span12, :note], :rows => 3
    %br

    .row-fluid.nominheight
      .span3
      .span3
      .span3
        -#%label.fltrt{:for => "control-effectivedate"}
          %strong> Last Editor
          \: Joss Rayburn
      .span3
        %label.fltrt{:for => "control-verificationdate"}
          %strong> Approved
          \:
          %span.statustextred Not Approved

  .modal-footer
    .row-fluid
      %nav.fltlft
        %a.btn.btn-large.btn-info{:'data-dismiss' => 'modal-reset', :href => '#' } Cancel
      %nav.fltrt
        %a.btn.btn-large.btn-success{:'data-toggle' => 'modal-submit', :href => '#' } Save
