.span6.control-group
  %label.cleanlabel Regulation Controls
  %ul.slugtree.nav
    -rcontrols.each do |control|
      %li.row-fluid
        .span12
          .modalSlot
            %span.prefix
              =control.slug
            =control.title

.span6.control-group
  %label.cleanlabel Company Controls
  %ul.slugtree.nav
    -ccontrols.each do |control|
      %li.row-fluid
        .span12
          .modalSlot
            %span.prefix
              =control.slug
            =control.title
