-content_for :widget_title do
  Regulation Sections

-content_for :widget_buttons do
  %span.nav-box
    %input.ui-corner-all.widgetsearch(type='text' placeholder='Search')

=render :partial => 'section_list_content', :locals => { :sections => sections }
