-content_for :widget_title do
  Sections / Clauses

-content_for :widget_help, 'mapping_sections'

-content_for :widget_id, 'mapping_sections_widget'

-content_for :widget_buttons do
  .filter
    .row-fluid
      .span6
        %input.ui-corner-all.widgetsearch-tocontent(type='text' placeholder='Search')

      .span6
        %a.btn.pull-right.clearselection{:href => "javascript://"}
          Reset

.spinner
