=form_for section, :url => mapping_update_path(section), :remote => true, :class => 'form-inline' do |f|
  .modal-header
    .pull-right
      %a.widgetbtn.btn.btn-mini{"data-toggle" => "modal", :href => "#comingsoonModal"}
        %i.grcicon-help-black
      %a.widgetbtn.btn.btn-mini{"data-dismiss" => "modal", :href => "#comingsoonModal"}
        %i.grcicon-x-grey
    
    %h2
      Controls Mapped to this Section
      %span #{section.slug}

  .modal-body
    .row-fluid
      .span6.control-group
        %h3 Regulation Controls
      .span6.control-group
        %h3 Company Controls

    .row-fluid-alternating-background-colors.modal-source
      -rcontrols.each do |control|
        .row-fluid
          .span6.control-group
            %ul.slugtree.nav
              %li
                .row-fluid
                  .span12
                    .modalSlot.span12
                      %a.btn.btn-mini.unmapbtn.fltrt{:href => mapping_map_rcontrol_path(:section => section.id, :rcontrol => control.id, :u => 1), :'data-remote' => true, :'data-method' => 'post', :'data-toggle' => 'unmap-rcontrol'} unmap
                      %span.prefix
                        =control.slug
                        -
                        =control.title
                      %br
                      =display_as_html control.description

          .span6.control-group
            %ul.slugtree.nav
              -control.implementing_controls.each do |ccontrol|
                %li
                  .row-fluid
                    .span12
                      .modalSlot.span12
                        %a.btn.btn-mini.unmapbtn.fltrt{:href => mapping_map_ccontrol_path(:rcontrol => control.id, :ccontrol => ccontrol.id, :u => 1), :'data-remote' => true, :'data-method' => 'post', :'data-toggle' => 'unmap-ccontrol'} unmap
                        %span.prefix
                          =ccontrol.slug
                          -
                          =ccontrol.title
                        %br
                        =display_as_html ccontrol.description
                        
    .row-fluid
      .span12
        =f.label :notes, "Note", :class => :cleanlabel
        .wysiwyg-area
          =f.text_area :notes, :class => [:span12, :note], :rows => 3
    .row-fluid
      .span3
      .span3
      .span3
        -#%label.fltrt{:for => "control-effectivedate"}
          %strong> Last Editor
          \: Joss Rayburn

      .span3 
        &nbsp;
        -#%label.fltrt{:for => "control-verificationdate"}
          -#%strong> Approved
          -#\:
          -#%span.statustextred Not Approved

    =f.hidden_field :na

  .modal-footer
    .row-fluid
      .span12
        .confirm-buttons
          =f.submit pat(:done), :class => 'btn btn-primary'
          -#.btn.btn-large.btn-success.btn-primary.disabled Approve
          -#=f.submit pat(:approve), :class => 'btn btn-large btn-success'
          