-content_for :widget_title do
  Regulation Sections

-content_for :widget_help, 'mapping_sections'

-content_for :widget_buttons do
  %a.widgettextbtn.clearselection{:href => "javascript://"}
    Reset

  %input.ui-corner-all.widgetsearch-tocontent(type='text' placeholder='Search')

-cache({:action => 'show', :action_suffix => "sections_#{@search}"}, :expires_in => @ttl || 300) do
  =render :partial => 'section_list_content', :locals => { :sections => sections }
