-content_for :widget_title do
  Selected Control

-content_for :widget_id, (map_button_id.nil? ? 'selected_ccontrol_widget' : 'selected_rcontrol_widget')

-content_for :widget_buttons do
  -if map_button_id
    .filter
      .row-fluid
        .span12
          .pull-right  
            =link_to "javascript://", :id => map_button_id, :class => %w(widgetmapbtn btn btn-warning) do
              %span Map control to control
              %i.grcicon-demo

.description{:id => "selected_#{control_type}"}
  .content
    Nothing selected.

