-content_for :widget_title do
  Selected Control

.description{:id => "selected_#{control_type}", :oid => control ? control.id : ""}
  .btn-toolbar.fltlft
    .btn-group
      %a.btn(onclick='clear_selection(this)')
        %i.icon-step-backward
        Clear

  -if map_button_id
    .btn-toolbar.fltrt
      .btn-group
        =link_to map_button_path, :method => :post, :remote => true, :id => map_button_id, :class => %w(btn btn-warning) do
          %span Map control to control
          %i.icon-play.icon-white

  .clearfix

  .content
    -if control
      %div
        %span.prefix
          =control.slug
        =control.title
      %div
        =control.description
    -else
      Nothing selected.

:javascript
  $(document).ready(function(){
    update_map_buttons();
  });
