-if section
  #selected_sections{:oid => section.id}
    %ul.slugtree
      =walk_slug_tree(Program.slugtree(Section.slugfilter(section.slug))) do |item, step|
        %div
          %span.prefix
            =item.slug
          =item.title
        %div
          =item.description
-else
  #selected_sections
    Select a section.

:javascript
  $(document).ready(function(){
    update_map_buttons();
  });
