-content_for :widget_title do
  Selected Sections

#selected_sections.description{:oid => section ? section.id : ""}
  .btn-toolbar.fltlft
    .btn-group
      %a.btn(onclick='clear_selection(this)')
        %i.icon-step-backward
        Clear

  .btn-toolbar.fltrt
    .btn-group
      =link_to mapping_map_rcontrol_path, :method => :post, :remote => true, :id => :rmap, :class => %w(btn btn-warning) do
        %span Map section to control
        %i.icon-play.icon-white

  .clearfix

  .content
    -if section
      %ul.slugtree
        =walk_slug_tree(Program.slugtree(Section.slugfilter(section.slug))) do |item, step|
          %div
            %span.prefix
              =item.slug
            =item.title
          %textarea(disabled='disabled' style='width: 98%')
            =item.description
    -else
      Nothing selected.

:javascript
  $(document).ready(function(){
    update_map_buttons();
  });
