-content_for :widget_title do
  Selected Sections

-content_for :widget_buttons do
  .filter
    .row-fluid
      .span12
        .pull-right
          =link_to "javascript://", :id => :rmap, :class => %w(widgetmapbtn btn btn-warning) do
            %span Map section to control
            %i.grcicon-demo

#selected_sections.description{:oid => section ? section.id : ""}
  .content
    -if section
      %ul.sectiontree.tree-structure
        /-sections = Section.slugfilter(section.slug)
        -sections = Section.find_descendents_by_slug(section.slug)
        =walk_slug_tree(Directive.slugtree([section] + sections), 2) do |item, step|
          %div
            %span.prefix
              =item.slug
            =item.title
          -if !item.description.blank?
            =display_as_html item.description
              
    -else
      Nothing selected.

:javascript
  $(document).ready(function(){
    update_map_buttons();
  });
