-content_for :widget_title do
  Selected Control

-content_for :widget_buttons do
  -if map_button_id
    =link_to "javascript://", :id => map_button_id, :class => %w(widgetmapbtn btn-warning) do
      %span Map control to control
      %i.gcmsicon-play-white

.description{:id => "selected_#{control_type}", :oid => control ? control.id : ""}
  .content
    -if control
      %div
        %span.prefix
          =control.slug
        =control.title
      %div
        =control.description
    -else
      Nothing selected.

:javascript
  $(document).ready(function(){
    update_map_buttons();
  });
