#selected_sections
  -if section
    %ul.slugtree
      =walk_slug_tree(Program.slugtree(Section.slugfilter(section.slug))) do |item, step|
        %div
          %span.prefix
            =item.slug
          =item.title
        %div
          =item.description
  -else
    Select a section.
