-content_for :widget_title do
  Selected Sections / Clauses

-content_for :widget_id, 'selected_section_widget'

-content_for :widget_buttons do
  .filter
    .row-fluid
      .span12
        .pull-right
          =link_to "javascript://", :id => :rmap, :class => %w(widgetmapbtn btn btn-warning) do
            %span Map section to control
            %i.grcicon-demo

#selected_sections.description
  .content
    Nothing selected.

