-content_for :widget_title do
  Selected Sections

-content_for :widget_buttons do
  =link_to 'Map section to control', mapping_map_rcontrol_path, :method => :post, :remote => true, :id => :rmap, :class => :btn
  =link_to_function 'Clear', 'clear_selection(this)', :class => :btn

-if section
  #selected_sections{:class => 'description', :oid => section.id}
    %ul.slugtree
      =walk_slug_tree(Program.slugtree(Section.slugfilter(section.slug))) do |item, step|
        %div
          %span.prefix
            =item.slug
          =item.title
        %div
          =item.description
-else
  #selected_sections.description
    %div
      Nothing selected.

:javascript
  $(document).ready(function(){
    update_map_buttons();
  });
