.WidgetBox
  .WidgetBoxHeading
    .WidgetTitle Regulation Controls
  .WidgetBoxContent
    -@section.controls.each do |control|
      %div
        %div
          %span.prefix
            =control.slug
          =control.title
        %div
          =control.description

.WidgetBox
  .WidgetBoxHeading
    .WidgetTitle Company Controls
  .WidgetBoxContent
    -@section.consolidated_controls.each do |control|
      %div
        %div
          %span.prefix
            =control.slug
          =control.title
        %div
          =control.description
