.modal-body
  .row-fluid
    .span6.control-group
      %label.cleanlabel Regulation Controls
      %ul.sluglist.nav
        -@section.controls.each do |control|
          %li.row-fluid
            .span12
              .modalSlot
                %span.prefix
                  =control.slug
                =control.title

    .span6.control-group
      %label.cleanlabel Company Controls
      %ul.sluglist.nav
        -@section.consolidated_controls.each do |control|
          %li.row-fluid
            .span12
              .modalSlot
                %span.prefix
                  =control.slug
                =control.title
