  <div class="row-fluid">
    <div class="span10">
      <h3>
        <i class="grcicon-{{object_type}}-black"></i>
        {{prefix}}{{slug}}
        <span>{{title}}</span>
      </h3>
    </div>
    <div class="span2">
      <a class="btn btn-mini pull-right" href="/{{object_route}}/{{id}}" rel="tooltip" data-original-title="View/Edit {{object_display}}">
        <i class="grcicon-goto"></i>
      </a>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <h4>Description</h4>
      <div class="rtf">{{{description}}}</div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span6 created">
      <strong>Created:</strong>
      {{created_at}}
    </div>
    <div class="span6 updated">
      <strong>Updated:</strong>
      {{updated_at}}
    </div>
  </div>