{{! dashboard object listing}}
<ul class="tree-structure simple single-row-tabs">
{{#list}}
  <li data-model="true" {{data 'model'}} class="{{object_type}}">
    {{#pack this tooltip_view=tooltip_view object_type=object_type object_display=object_display object_route=object_route}}
    <a data-popover-trigger="sticky-hover" data-sticky-popover="true" data-content="{{render tooltip_view}}">
      {{{withattr "href" "/{object_route}/{id}" "data-original-title" "<div class='row-fluid'><div class='span12'><h3><i class='grcicon-{object_type}-color'></i> <span class='title'>{title}</span> <span class='code'>{slug}</span></h3></div></div>" }}}
      <div class="row-fluid">
        <div class="span12">
          <div class="item-identifier">
            <span class="title">
              {{title}}
            </span>
            <span class="code">
              <span>{{slug}}</span>
            </span>
          </div>
        </div>
      </div>
    </a>
    {{/pack}}
  </li>
{{/list}}
</ul>
