{{! dashboard object listing}}
<ul class="tree-structure simple single-row-tabs">
{{#list}}
  <li>
    {{#pack this tooltip_view=tooltip_view object_type=object_type object_display=object_display object_route=object_route}}
    <a data-popover-trigger="sticky-hover" data-popover-trigger="sticky-hover" data-sticky-popover="true" data-content="{{render tooltip_view}}">
      {{{withattr "data-popover-href" "/{object_route}/{id}/tooltip" "href" "/{object_route}/{id}" "data-original-title" "&lt;h3&gt; {object_display} Info&lt;/h3&gt;" }}}
      <div class="row-fluid">
        <div class="span12">
          <div class="item-identifier">
            <span class="key">
              <span>{{prefix}}</span> <span>{{slug}}</span>
            </span>
            <span class="name">
              {{title}}
            </span>
          </div>
        </div>
      </div>
    </a>
    {{/pack}}
  </li>
{{/list}}
</ul>