<ul class="tree-structure simple single-row-tabs">
{{#list}}
  <li class="tab-title-holder">
    <h3 class="tab-title">
      {{#relationship_type}}
      {{title}}
      <a class="widgetbtn pull-right" data-toggle="modal-ajax-relationship-selector" data-modal-reset="reset" data-modal-class="modal-wide" data-list-target="refresh">
        {{{withattr "href" "{edit_url}"}}}
        <i class="grcicon-link"></i>
      </a>
      {{/relationship_type}}
    </h3>
  </li>
  {{#related_objects}}
  {{#object}}
  <li class="{{object_type.toLowerCase}}">
    {{#pack this tooltip_view=tooltip_view object_type=object_type object_display=object_display object_route=object_route object_url=url}}
    <a data-popover-trigger="sticky-hover">
      {{{withattr "href" "/{object_route}/{id}" "data-popover-href" "/{object_url}/tooltip"}}}
      <div class="row-fluid">
        <div class="span12">
          <div class="item-identifier">
            <span class="title">
              {{title}}
            </span>
            <span class="code">
              <span>{{prefix}}</span> <span>{{slug}}</span>
            </span>
          </div>
        </div>
      </div>
    </a>
    {{/pack}}
  </li>
  {{/object}}
  {{/related_objects}}
  {{^related_objects}}
  <li class="no-result">
    No results
  </li>
  {{/related_objects}}
{{/list}}
{{^list}}
  <li class="no-result">
    No results
  </li>
{{/list}}
</ul>
