.secondary-navigation
  %ul.wat-cf
    %li.first.active=link_to pat(:list), systems_path
    %li=link_to pat(:new), new_system_path
    %li=link_to pat(:biz_processes), biz_processes_systems_path
    %li=link_to pat(:control_objectives), control_objectives_systems_path
