.block
  =render :partial => "admin/controls/secnav"
  .content
    %h2.title
      Attach Contact to System
    .inner
      %b
        &=@system.title
      =form_for :system_person, {:url => {:action => :create_person}, :html => {:class => :form}} do |f|
        =render :partial => "person_form", :locals => { :f => f }

/-content_for :sidebar, partial("base/sidebar")
