.block
  =render :partial => "admin/systems/secnav"
  .content
    %h2.title
      =pat(:all)
      =mt(:systems)
    .inner
      %table.table
        %tr
          %th.first=mat(:system, :title)
          %th=mat(:system, :infrastructure)
          %th=mat(:system, :owner_id)
          %th=mat(:system, :updated_at)
          %th.last!="&nbsp;"
        -@systems.each do |system|
          %tr
            %td.first
              =link_to h(system.title), edit_system_path(system)
              .slug&=system.slug
            %td&=system.infrastructure
            %td=link_to system.owner.display_name,
              edit_people_path(system.owner) rescue '-'
            %td=display_time(system.updated_at)
            %td.last
              =button_to pat(:edit), edit_system_path(system), :method => :get, :class => :button_to
              ="|"
              =button_to pat(:delete), system, :method => :delete, :class => :button_to
      .actions-bar.wat-cf
        .actions!="&nbsp;"

-render_for :sidebar, :partial => "base/sidebar"
