.block
  =render :partial => "admin/systems/secnav"
  .content
    %h2.title
      =pat(:new)
      =mt(:system)
    .inner
      =form_for @system, :method => :post, :html => {:class => :form} do |f|
        =render :partial => "admin/systems/form", :locals => { :f => f }

/-content_for :sidebar, partial("base/sidebar")
