.popover-title
  %h3 Section Information

.popover-content
  =@section.title
  \|
  =@section.slug

  %h3 Description

  .item
    =@section.description

  .item
    Created:
    =display_time(@section.created_at)
  .item
    Updated:
    =display_time(@section.updated_at)
