.popover-title
  .row-fluid
    .span12
      %h3 #{@section.meta_kind.to_s.titleize} Information

.popover-content
  .popover-inner-content
    =@section.title
    \|
    =@section.slug

    %h3 Description

    .item
      =display_as_html @section.description
