%h1 About

The Google Governance, Risk and Compliance system is an&nbsp;
%span<>
  -#=link_to "open-source project", "https://code.google.com/p/compliance-management/"
  =link_to "open-source project", "https://sites.google.com/a/google.com/cmsp/In"
\.
