.container.graphpaper
  %header.jumbotron.masthead
    .clearfix
      %p.fltlft.highlighted Welcome to
    %h1 Governance, Risk and Compliance
    %p
      %a.btn.btn-large{:href => "https://code.google.com/p/compliance-management/"} About this Project
      %a.btn.btn-primary.btn-large{:href => login_path} Login
