%div.welcome.head
  Welcome to
%h1.welcome
  #{@company} Compliance Management
%span.welcome.button
  =link_to pat(:about_this_project), about_path
%span.welcome.button
  =link_to pat(:login), login_path

