/*

    Google - based on Drastic Dark
    by Juan Maria Martinez Arce
       juan[at]insignia4u.com

    Please make sure you update the sass stylesheet, and not the css one,
    or your changes may be overwritten.

    light grey:                 #cfcfcf
    medium grey:                #36393d
    dark grey:                  #1a1a1a
    interactive action yellow   #ffff88
    red                         #cc0000
    light blue                  #E6EEFC
    dark blue                   #0B43A8

*/

$content-background: #e0f0f8;
$background: #fff;
$foreground: #222;
$header-background: #fff;
$header-foreground: #36c;
$link-foreground: #36c;
$reverse-foreground: #fff;
$navigation-background: #fff;
$navigation-foreground: #36c;
$heading-background: #79d;
$heading-foreground: #fff;
$input-background: #ddd;
$input-border: #cfcfcf;

#wrapper { background-color: $content-background; }
.small {
  font-size: 11px;
  font-style: normal;
  font-weight: normal;
  text-transform: normal;
  letter-spacing: normal;
  line-height: 1.4em;
}

.gray {
  color:#999999;
  font-family: Georgia, serif;
  font-size: 13px;
  font-style: italic;
  font-weight: normal;
  text-transform: normal;
  letter-spacing: normal;
  line-height: 1.6em;
}

.hightlight {
  background-color: #ffff88;
  font-weight: bold;
  color: $reverse-foreground;
}

a:link, a:visited, a:hover, a:active { color: $foreground; }
h1.report, h2.report, h3.report, h4.report {
  color: $foreground;
  background: transparent;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 0pt;
}
h1, h2, h3 {
  color: $heading-foreground; background-color: $heading-background;  padding: 5pt;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
h3 { padding: 3pt; }
h3.report { padding: 0pt; }
a { -moz-outline: none; }

body {
  color: #222;
  background: $background;
  font-family: helvetica, arial, sans-serif;
}

hr.report {
  background: black;
  color: black;
}

hr {
  background: #f0f0ee;
  color: #f0f0ee;
}

#header {
  background: $header-background;
}

#header h1 {
  padding: 15px 0;
  font-size: 28px;
  font-style: normal;
  font-weight: bold;
  text-transform: normal;
  letter-spacing: -1px;
  line-height: 1.2em;
  background: $header-background;
}

#header h1 a:link, #header h1 a:active, #header h1 a:hover, #header h1 a:visited {
  color: $header-foreground;
}

#user-navigation {
  top: auto;
  bottom: 5px;
  right: 25px;
}

#user-navigation a.logout {
  background: #cc0000;
  padding: 1px 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 3px;
}

#main .block .content {
  background: $background;
  padding-top: 1px;
}

#main .block .content h2 {
  margin-left: 15px;
  font-size: 22px;
  font-style: normal;
  font-weight: bold;
  text-transform: normal;
  letter-spacing: -1px;
  line-height: 1.2em;
}

#main .block .content p {
  font-size: 13px;
  font-style: normal;
  font-weight: normal;
  text-transform: normal;
  letter-spacing: normal;
  line-height: 1.45em;
}

#sidebar .block {
  background: $background;
}

#sidebar .block h4 {
  font-weight: bold;
}

#sidebar .notice {
  background: #E6EEFC;
}

#sidebar .notice h4 {
  color: #0B43A8;
}

#sidebar h3 {
  background: $header-background;
  color: $header-foreground;
}

#main-navigation ul li {
  padding-left: 15px;
}

#main-navigation ul li a {
  padding: 8px 0;
}

#main-navigation ul li.active {
  padding: 0;
  margin-left: 15px;
}

#main-navigation ul li.active {
  margin-left: 15px;
}

#main-navigation ul li.active a {
  padding: 8px 15px;
}

#sidebar ul li a:link, #sidebar ul li a:visited {
  background: $background;
  border-bottom: 1px solid #F0F0EE;
  font-weight: bold;
  text-decoration: none;
}

#sidebar ul li a:hover, #sidebar ul li a:active {
  color: $header-foreground;
  background: $content-background;
}

#main-navigation {
  background: $navigation-background;
}

#main-navigation ul li {
  background: $navigation-background;
  margin-right: 0;
}

#main-navigation ul li.active {
  background: $content-background;
}

#main-navigation ul li a:link, #main-navigation ul li a:visited, #main-navigation ul li a:hover, #main-navigation ul li a:active,
.secondary-navigation ul li a:link, .secondary-navigation ul li a:visited, .secondary-navigation ul li a:hover, .secondary-navigation ul li a:active,
#user-navigation ul li, #user-navigation ul li a:link, #user-navigation ul li a:visited, #user-navigation ul li a:hover, #user-navigation ul li a:active {
  text-decoration: none;
  color: $header-foreground;
}

.secondary-navigation li a:hover {
  background: #666666;
}

#main-navigation ul li.active a:link, #main-navigation ul li.active a:visited, #main-navigation ul li.active a:hover, #main-navigation ul li.active a:active {
  color: $navigation-foreground;
}

.secondary-navigation {
  background: $header-background;
  border-bottom-color: $navigation-background;
}

.secondary-navigation ul li.active, .secondary-navigation ul li.active a:hover {
  background-color: $navigation-background;
}

#footer .block {
  color: $header-foreground;
  background: $navigation-background;
}

#footer a {
  color: $header-foreground;
}

#footer .block p {
  margin: 0;
  padding: 10px;
}

/* pagination */

.pagination a, .pagination span {
  background: #cfcfcf;
  -moz-border-radius: 3px;
  border: 1px solid #c1c1c1;
}

.pagination span.current {
  background: $header-background;
  color: $header-foreground;
  border: 1px solid $header-background;
}

.pagination a {
  color: #1a1a1a;
}

.pagination a:hover {
  border: 1px solid #666;
}

/* tables */

.table th {
  background: $header-background;
  color: $header-foreground;
}

.table td {
  border-bottom:1px solid #F0F0EE;
}

.table tr.even {
  background: #ebebeb;
}

/* forms */

.form {
  margin-top: 5pt;
  margin-bottom: 5pt;
}

.form label.label {
  color: #666666;
}

.form input.text_field, .form input.password_field, .form textarea.text_area {
  width: 100%;
  border: 1px solid $input-border;
}

.form textarea.text_area {
  height: 100pt;
}

.form select:hover {
  border: 1px solid black;
}

.form select {
  border: 1px solid $input-border;
  background: $input-background;
  color: black;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.button {
  padding: 5px 10px 5px 10px;
  background-color:#36393D;
  text-decoration:none;
  cursor: pointer;
  color: #FFF;
  font-size: 14px;
  border:0px;
  margin:0px;
  margin-right: 4pt;
}

a.button {
  color: #fff;
}

.button:hover {
  background: #1A1A1A;
}

.form .description {
  font-style: italic;
  color: #8C8C8C;
  font-size: .9em;
}

/* flash-messages */
.flash .message {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  text-align:center;
  margin: 0 auto 15px;

}

.flash .message p {
  margin:8px;
}
.flash .error {
  border: 1px solid #fbb;
  background-color: #fdd;
}
.flash .warning {
  border: 1px solid #fffaaa;
  background-color: #ffffcc;
}
.flash .notice {
  border: 1px solid #1FDF00;
  background-color: #BBFFB6;
}

/* lists */

ul.list li {
  border-bottom-color: #F0F0EE;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

ul.list li .item .avatar {
  border-color: #F0F0EE;
  border-width: 1px;
  border-style: solid;
  padding: 2px;
}

/* box */

#box .block {
  border: $header-foreground solid 1px;
}

#box .block h2 {
  background: $header-background;
  color: $header-foreground;
}


/* rounded borders */

#main, #main-navigation, #main-navigation li, .secondary-navigation, #main .block, #sidebar .block, #sidebar h3, ul.list li,
#footer .block, .button, #box .block, #box .block h2 {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
}

.secondary-navigation li.first a, .secondary-navigation ul li.first, .table th.first, .table th.first {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
}

.table th.last {
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
}

.secondary-navigation ul li.first {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
}

#sidebar, #sidebar .block, #main .block, #sidebar ul.navigation, ul.list li, #footer .block, .button, #box .block {
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
}

.secondary-navigation {
  border-bottom-width: 5px;
}

#left ol { list-style-type: none; margin: 0; padding: 0; width: 95%; }
#left ol li { margin: 3px; padding: 0.4em; font-size: 1.0em; height: 1.1em; }
#left ol { padding-right: 10%;}
#right ol .ui-selecting { background: #40CAFE; }
#right ol .ui-selected { background: #1498F3; color: white; }
#right ol { list-style-type: none; margin: 0; padding: 0; width: 95%; }
#right ol li { margin: 3px; padding: 0.4em; font-size: 1.0em; height: 1.1em; }
#wrap { width: 100%; }
#left { float: left; width: 45%; }
#right { float: right; width: 45%; }
#clear { clear: both }

.ui-manyselect-filter input { border: 1px solid $input-border; }
