<ul class="slugtree">
    <li id="content_">
    <ul id="children_">
    {{#children}}
      <li id="content_{{slug}}" {{data "model"}} data-model="true">
      {{> /sections/slug_node.mustache}}
  </li>
  {{/children}}
  </ul>

  </li>
</ul>
