.block
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to pat(:list), regulations_path
      %li=link_to pat(:new), new_regulation_path
      %li.active=link_to pat(:edit), edit_regulation_path(@regulation)
  .content
    %h2.title
      =pat(:edit)
      =mt(:regulation)
    .inner
      =form_for @regulation, :method => :put, :html => {:class => :form} do |f|
        =render :partial => "admin/regulations/form", :locals => { :f => f }

/-content_for :sidebar, partial("base/sidebar")