.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active=link_to pat(:list), regulations_path
      %li=link_to pat(:new), new_regulation_path
  .content
    %h2.title
      =pat(:all)
      =mt(:regulations)
    .inner
      %table.table
        %tr
          %th=mat(:regulation, :title)
          %th.first=mat(:regulation, :type)
          %th=mat(:regulation, :updated_at)
          %th.last!="&nbsp;"
        -@regulations.each do |regulation|
          %tr
            %td
              =link_to h(regulation.title), edit_regulation_path(regulation)
              .slug
                &=regulation.slug
            %td.first.type=regulation_display(regulation)
            %td=display_time(regulation.updated_at)
            %td.last
              =button_to pat(:edit), edit_regulation_path(regulation), :method => :get, :class => :button_to
              ="|"
              =button_to pat(:delete), regulation, :method => :delete, :class => :button_to
      .actions-bar.wat-cf
        .actions!="&nbsp;"

-render_for :sidebar, :partial => "base/sidebar"
