-content_for :modal_title do
  -if f.object.new_record?
    Create a new reference
  -else
    Edit reference

-if !f.object.new_record?
  -content_for :modal_delete_path, delete_flow_document_path(f.object)

.row-fluid
  .span4
    .span12{ :class => error_class(f, :title) }
      =f.label :title
      =f.text_field :title, :class => 'span12', :placeholder => 'Document Title'
      /%label Title
      /%input.span12{:placeholder => "Complete Title Goes Here", :type => "text"}
  .span2
    %label Year
    %select.span12
      %option 2012
      %option 2011
      %option 2010
      %option 2009
      %option 2008
  .span2
    %label Language
    %select.span12
      %option English
      %option German
      %option Spanish
      %option French
      %option Dutch
  .span2
    %label Type
    %select.span12
      %option PDF
      %option Word
      %option Spreadsheet
      %option Website
  .span2
    %label Status
    %select.span12.forminputstatus
      %option Current
      %option Deprecated
      %option Approved

.row-fluid
  .span12
    %label Description
    %textarea.span12{:placeholder => "", :rows => "4"}

.row-fluid
  .span12{ :class => error_class(f, :link) }
    =f.label :link, "URL"
    =f.text_field :link, :class => 'span12', :placeholder => 'https://www.example.com/xyz.pdf'
    =error_messages_inline(f, :link)

%br

-if !f.object.new_record?
  =render :partial => 'shared/object_info', :locals => { :object => f.object, :approved => false }
