-# locals: object

%h3
  References
  %a.btn.btn-blue.addbtn.fltrt{:href => list_edit_flow_documents_path(:object_type => object.class.name, :object_id => object.id), :'data-toggle' => 'modal-ajax-listform', :'data-modal-reset' => 'reset', :'data-list-target' => '#referenceList' } Edit List

%script{ :type => 'text/html', :data => { :document => '' }}
  %li.controlSlot{ :'data-id' => '<%= document.id %>' }
    .controls-group
      %a.widgetbtn.fltrt{ :href => flow_documents_path + '/<%= document.id %>/edit', :'data-toggle' => 'modal-ajax-form', :'data-modal-reset' => 'reset', :'data-ajax-target' => 'refresh' }
        %i.gcmsicon-edit-grey
      .controls-type <%= document.descriptor %>
      .controls-subgroup <%= document.title || document.link_url || '&nbsp;' %>

%ul#referenceList
  -object.object_documents.all.each do |object_item|
    -item = object_item.document
    %li.controlSlot{ :'data-id' => item.id }
      .controls-group
        %a.widgetbtn.fltrt{ :href => edit_flow_document_path(item), :'data-toggle' => 'modal-ajax-form', :'data-modal-reset' => 'reset', :'data-ajax-target' => 'refresh' }
          %i.gcmsicon-edit-grey
        .controls-type=item.descriptor
        .controls-subgroup=item.title || item.link_url || '&nbsp;'.html_safe
