-# locals: object
-all_object_documents = object.object_documents.all

%h3
  References
  %span{:class => "grc-badge #{all_object_documents.count.zero? ? "no-object" : ""}"}
    (#{all_object_documents.count})
.item-actions
  %a{:href => list_edit_flow_object_documents_path(:object_type => object.class.name, :object_id => object.id), :'data-toggle' => 'modal-ajax-relationship-selector', :'data-modal-reset' => 'reset', :'data-list-target' => '#referenceList', :'data-modal-class' => 'modal-wide'}
    %i.grcicon-edit-new

%section.content
  %script#reference_list_item{ :type => 'text/html', :'data-member' => 'object_document'}
    %li.controlSlot{ :'data-id' => '<%= document.id %>' }
      <% if (document.link_url && document.link_url.length > 0) { %>
      %a.reference{:href => '<%= document.link_url %>', :target => "_blank"}
        %span.controls-group <%= document.document_type || '&nbsp;' %>
        %br
        %span.controls-subgroup{ :title => '<%= document.link_url %>' } <%= document.title || document.link_url || '&nbsp;' %>
      <% } else { %>
      %span.reference
        %span.controls-group <%= document.document_type || '&nbsp;' %>
        %br
        %span.controls-subgroup{ :title => '<%= document.link_url %>' } <%= document.title || document.link_url || '&nbsp;' %>
      <% } %>
  
  %ul#referenceList.tree{ :'data-template-id' => 'reference_list_item' }
    -all_object_documents.each do |object_item|
      -item = object_item.document
      %li.main{ :'data-id' => item.id }
        -if item.link_url.present?
          .item-identifier
            .item-title
              %span.addition-info
                %a.reference{:href => item.link_url, :target => "_blank"}
                  =item.title.presence || item.link_url || ''.html_safe
              %span.option
                (#{item.document_type || ''.html_safe})
                  
        -else
          .item-identifier
            .item-title
              %span.addition-info
                =item.title.presence || item.link_url || ';'.html_safe
              %span.option
                (#{item.document_type || ''.html_safe})
                
  
