{{#categories}}
    <li class="title">{{title}} Widgets</li>
    {{#objects}}
    <li class="{{object_type}}">
      <a href="javascript://">
        {{object_display}}
      </a>
    </li>
    {{/objects}}
    <li class="divider"></li>
{{/categories}}
