<ul class="tree-structure simple">
  {{#this}}

    {{#with relationship_type}}
      <li class="tab-title-holder">
        <h3 class="tab-title">
          {{ title }}
          <a class="widgetbtn pull-right" href="{{edit_url}}" data-toggle="modal-ajax-relationship-selector" data-modal-reset="reset" data-tab-target="#related-objects-{{id}}" data-modal-class="modal-wide" data-list-target="refresh" data-route="related-{{related_type}}-pane">
            <i class="grcicon-link"></i>
          </a>
        </h3>
      </li>
    {{/with}}

  {{#related_objects}}
    <li class="{{object.type.toLowerCase}}">
      <div class="item-main">
        <a class="block-element" data-popover-trigger="sticky-hover">
          {{{withattr 'href' "/{url}" 'data-popover-href' "/{url}/tooltip" }}}
          {{#is_beta}}
          <div class="item-title">
            <div class="row-fluid">
              <div class="span12">
                <div class="oneline">
                  <span class="title">
                    Review
                  </span>
                  <span class="code">
                    United Kingdom
                  </span>
                </div>
              </div>
            </div>
          </div>
          {{/is_beta}}
          <div class="item-title">
            <div class="row-fluid">
              <div class="span12">
                <div class="oneline">
                  <span class="title">
                    {{ object.title }}
                  </span>
                  <span class="code">
                    {{ object.slug }}
                  </span>
                </div>
              </div>
            </div>
          </div>
          {{#is_beta}}
          <div class="item-title">
            <div class="row-fluid">
              <div class="span4">
                <strong>239</strong>
                Objects
              </div>
              <div class="span4">
                <strong>22</strong>
                Required
              </div>
              <div class="span4">
                <div class="progress active">
                  <div class="bar progressbar-success" data-percentage="38"></div>
                  <div class="bar progressbar-danger" data-percentage="10"></div>
                  <div class="bar progressbar-warning" data-percentage="35"></div>
                </div>
              </div>
            </div>
          </div>
          {{/is_beta}}
        </a>
      </div>
    </li>
  {{/related_objects}}
  {{^related_objects}}
    <li class="no-result">
      No results
    </li>
  {{/related_objects}}
  {{/this}}
</ul>
