defaults: &defaults
  adapter: sqlite3

development:
  database: db/._development.db
  <<: *defaults

test:
  database: db/._test.db
  <<: *defaults

production:
  adapter: mysql
  database: cms
  username: cms
  password: cms
  host: localhost
