#auditdefaultscope.modal.hide.fade
  .modal-header
    %nav
      %input.ui-corner-all.widgetsearch{:placeholder => "Search", :type => "text"}/
      %a.widgetbtn{"data-toggle" => "modal", :href => "#comingsoonModal"}
        %i.gcmsicon-questionmark-grey
      %a.widgetbtn{"data-dismiss" => "modal", :href => "#"}
        %i.gcmsicon-x-grey
    %h1 Default Scope for this Audit
  .modal-body
    .row-fluid
      .span6.well
        %ul#clicktoadd2.nav.nav-tabs
          %li.active{:style => "margin-top:9px; margin-bottom:8px;"} Targets for this Audit
        %ul#modalpeopleList.itemlist
          %li.controlSlot.ui-draggable
            .arrowcontrols-group
              .controls-type Product
              .controls-subtype WWW
              .controls-subgroup Gmail
            %a.personItem.removeCircleButton.pull-right
              %i.gcmssmallicon-dash-white
          %li.controlSlot.ui-draggable
            .arrowcontrols-group
              .controls-type Privacy Statement
              .controls-subtype PDF
              .controls-subgroup 2010
            %a.personItem.removeCircleButton.pull-right
              %i.gcmssmallicon-dash-white
          %li.controlSlot.ui-draggable
            .arrowcontrols-group
              .controls-type Product
              .controls-subtype WWW
              .controls-subgroup Gmail
            %a.personItem.removeCircleButton.pull-right
              %i.gcmssmallicon-dash-white
          %li.controlSlot.ui-draggable
            .arrowcontrols-group
              .controls-type Privacy Statement
              .controls-subtype PDF
              .controls-subgroup 2010
            %a.personItem.removeCircleButton.pull-right
              %i.gcmssmallicon-dash-white
      .span6.well
        %ul#clicktoadd.nav.nav-tabs
          %li
            %a{"data-toggle" => "tab", :href => "#as-product"} Product
          %li
            %a{"data-toggle" => "tab", :href => "#as-bizgrp"} Biz Grp
          %li.active
            %a{"data-toggle" => "tab", :href => "#as-biz"} Biz
          %li
            %a{"data-toggle" => "tab", :href => "#as-systems"} Systems
        .tab-content
          #as-product.tab-pane
            %ul.itemlist
              %li.controlSlot.addpersonItem.ui-draggable
                .itemarrow
                .arrowcontrols-group
                  .controls-type Product
                  .controls-subtype Photos
                  .controls-subgroup Picasa
          #as-bizgrp.tab-pane
            %ul.itemlist
              %li.controlSlot.addpersonItem.ui-draggable
                .itemarrow
                .arrowcontrols-group
                  .controls-type Biz Group
                  .controls-subtype Service
                  .controls-subgroup Admob
          #as-biz.tab-pane.active
            %ul.itemlist
              %li.controlSlot.addpersonItem.ui-draggable
                .itemarrow
                .arrowcontrols-group
                  .controls-type Biz
                  .controls-subtype Service
                  .controls-subgroup Adsense
              %li.controlSlot.addpersonItem.ui-draggable
                .itemarrow
                .arrowcontrols-group
                  .controls-type Systems
                  .controls-subtype Business
                  .controls-subgroup AppAnnie
              %li.controlSlot.addpersonItem.ui-draggable
                .itemarrow
                .arrowcontrols-group
                  .controls-type Systems
                  .controls-subtype Business
                  .controls-subgroup AppAnnie
              %li.controlSlot.addpersonItem.ui-draggable
                .itemarrow
                .arrowcontrols-group
                  .controls-type Systems
                  .controls-subtype Business
                  .controls-subgroup AppAnnie
          #as-systems.tab-pane
            %ul.itemlist
              %li.controlSlot.addpersonItem.ui-draggable
                .itemarrow
                .arrowcontrols-group
                  .controls-type Systems
                  .controls-subtype Business
                  .controls-subgroup AppAnnie
      .span12
  .modal-footer
    .row-fluid
      %nav.pull-left.txtlft.span3
        %a.btn.btn-large.btn-info{"data-dismiss" => "modal", :href => "#comingsoonModal"} Cancel
        / <a href="#comingsoonModal" class="btn-large btn-warning"  data-dismiss="modal">Delete</a>
      .toolbar-widget.span6
        /
          <a href="#comingsoonModal" class="btn"><i class="gcmsicon-arrowleft-black"></i></a>
          <span class="btnwell">Showing Most Recent of 3 Revisions</span>
          <a href="#comingsoonModal" class="btn"><i class="gcmsicon-arrowright-black"></i></a>
      %nav.pull-right.txtrt.span3
        %a.btn.btn-large.btn-success{"data-dismiss" => "modal", :href => "#comingsoonModal"} Done
