#auditCycleModal.modal.hide.fade
  .modal-header
    %nav
      %a.widgetbtn{"data-toggle" => "modal", :href => "#comingsoonModal"}
        %i.gcmsicon-questionmark-grey
      %a.widgetbtn{"data-dismiss" => "modal", :href => "#"}
        %i.gcmsicon-x-grey
    %h1 New/Edit Audit Cycle
  .modal-body
    %form
      .row-fluid
        .span4
          %label Program
          %input.span12{ :placeholder => "Program Title", :type => "text" }
        .span2
          %label Year
          %select.span12
            %option 2012
            %option 2011
            %option 2010
            %option 2009
            %option 2008
        .span4
          %label Audit Firm
          %input.span12{ :placeholder => "Audit Firm Name", :type => "text" }
        .span2
          %label Audit Status
          %select.span12.forminputstatus
            %option{ :selected => "selected" } draft
            %option 2011
            %option 2010
            %option 2009
            %option 2008
  =render :partial => 'design/templates/modalfooter'
