#auditmeetingnotice.modal.hide.fade
  .modal-header
    %nav
      %a.widgetbtn{"data-toggle" => "modal", :href => "#comingsoonModal"}
        %i.gcmsicon-questionmark-grey
      %a.widgetbtn{"data-dismiss" => "modal", :href => "#"}
        %i.gcmsicon-x-grey
    %h1 Send Audit Meeting Notice
  .modal-body
    %form.form-inline
      / start  row
      .row-fluid
        .span12
          / start column
          %br/
          .well
            %h3
              System-Control Owners
              %a.btn.btn-blue.addbtn.pull-right{"data-toggle" => "modal", :href => "#referenceSelectorModal"} View Email
            %ul#systemcontrolowners.clearfix
              %li.controlSlot.ui-draggable
                .arrowcontrols-group.row-fluid.nominheight
                  .span4.nominheight
                    %a.checkbutton{"data-dismiss" => "modal", :href => "#comingsoonModal"}
                      %i.gcmsicon-x-grey
                    %span.prefix Joss Rayburn
                  .span4.nominheight
                    %span.prefix Owner
                  .span4.nominheight
              %li.controlSlot.ui-draggable
                .arrowcontrols-group.row-fluid.nominheight
                  .span4.nominheight
                    %a.checkbutton{"data-dismiss" => "modal", :href => "#comingsoonModal"}
                      %i.gcmsicon-x-grey
                    %span.prefix Susan Lee
                  .span4.nominheight
                    %span.prefix Owner
                  .span4.nominheight
              %li.controlSlot.ui-draggable
                .arrowcontrols-group.row-fluid.nominheight
                  .span4.nominheight
                    %a.checkbutton{"data-dismiss" => "modal", :href => "#comingsoonModal"}
                      %i.gcmsicon-x-grey
                    %span.prefix Paul Meyer
                  .span4.nominheight
                    %span.prefix Owner
                  .span4.nominheight
          %br/
          .well
            %h3 Auditors for this Audit
            %ul#auditauditors.clearfix
              %li.controlSlot.ui-draggable
                .arrowcontrols-group.row-fluid.nominheight
                  .span4.nominheight
                    %a.checkbutton{"data-dismiss" => "modal", :href => "#comingsoonModal"}
                      %i.gcmsicon-x-grey
                    %span.prefix Erica Harvey
                  .span4.nominheight
                    %span.prefix Senior Auditor
                  .span4.nominheight
                    %span.prefix Ernst & Young
          %br/
          .well
            %h3 Compliance Managers for this Audit
            %ul#compliancemanagers.clearfix
              %li.controlSlot.ui-draggable
                .arrowcontrols-group.row-fluid.nominheight
                  .span4.nominheight
                    %a.checkbutton{"data-dismiss" => "modal", :href => "#comingsoonModal"}
                      %i.gcmsicon-x-grey
                    %span.prefix Erica Harvey
                  .span4.nominheight
                    %span.prefix Senior Auditor
                  .span4.nominheight
                    %span.prefix Company
              %li.controlSlot.ui-draggable
                .arrowcontrols-group.row-fluid.nominheight
                  .span4.nominheight
                    %a.checkbutton{"data-dismiss" => "modal", :href => "#comingsoonModal"}
                      %i.gcmsicon-x-grey
                    %span.prefix Sal Harvey
                  .span4.nominheight
                    %span.prefix Field Auditor
                  .span4.nominheight
                    %span.prefix Company
      / end span6
  .modal-footer
    .row-fluid
      %nav.pull-left.txtlft.span3
        %a.btn.btn-large.btn-info{"data-dismiss" => "modal", :href => "#comingsoonModal"} Cancel
      .toolbar-widget.span6
      %nav.pull-right.txtrt.span3
        %a.btn.btn-large.btn-warning{"data-dismiss" => "modal", :href => "#comingsoonModal"} Send Notice
