%ul.slugtree
  %li{:id => "content_PCI.A.1.4"}
    .row-fluid
      .span12
        .slot.regulationslot.span12{"data-target" => "#demo-auditstatus0", "data-toggle" => "collapse"}
          .span12.collapsed.toggle
            .expander
            %span.prefix SOX-1
            Firewall for Cardholder Data
    #demo-auditstatus0.row-fluid-slotcontent.row-fluid.collapse.out
      .span12.nominheight
        .span6.nominheight
          %span.prefix SOX-CON-1
          Goog-Con-23 Physically Protect Stored Data
        .span6.nominheight
          .row-fluid.nominheight
            .span3.progress.progress-striped.active.nominheight
              .bar.progressbar-success{"data-percentage" => "7", :style => "float: left; width: 0%; "}
              .bar.progressbar-danger{"data-percentage" => "58", :style => "float: right; width: 0%; "}
              .bar.progressbar-warning{"data-percentage" => "35", :style => "float: right; width: 0%; "}
            .span1.nominheight
            .span3.progress.active.nominheight
              .bar.progressbar-success{"data-percentage" => "7", :style => "float: left; width: 0%; "}
              .bar.progressbar-danger{"data-percentage" => "58", :style => "float: right; width: 0%; "}
              .bar.progressbar-warning{"data-percentage" => "35", :style => "float: right; width: 0%; "}
            .span1.nominheight
            .span1.nominheight
              .badge.badge-warning.fltnone 3
            .span1.nominheight
              .badge.badge-warning.fltnone 2
            .span1.nominheight
              .badge.badge-important.fltnone 1
            .span1.nominheight
              .badge.badge-success.fltnone 0
      .row-fluid
        .span12.nominheight
          .span6.nominheight
            %span.prefix SOX-CON-2
            Goog-Con-23 Physically PSD More
          .span6.nominheight
            .row-fluid.nominheight
              .span3.progress.progress-striped.active.nominheight
                .bar.progressbar-success{"data-percentage" => "7", :style => "float: left; width: 0%; "}
                .bar.progressbar-danger{"data-percentage" => "58", :style => "float: right; width: 0%; "}
                .bar.progressbar-warning{"data-percentage" => "35", :style => "float: right; width: 0%; "}
              .span1.nominheight
              .span3.progress.active.nominheight
                .bar.progressbar-success{"data-percentage" => "7", :style => "float: left; width: 0%; "}
                .bar.progressbar-danger{"data-percentage" => "58", :style => "float: right; width: 0%; "}
                .bar.progressbar-warning{"data-percentage" => "35", :style => "float: right; width: 0%; "}
              .span1.nominheight
              .span1.nominheight
                .badge.badge-warning.fltnone 3
              .span1.nominheight
                .badge.badge-warning.fltnone 2
              .span1.nominheight
                .badge.badge-important.fltnone 1
              .span1.nominheight
                .badge.badge-success.fltnone 0
      .row-fluid
        .span12.nominheight
          .span6.nominheight
            %span.prefix SOX-CON-3
            Goog-Con-23 Physically PSD END
          .span6.nominheight
            .row-fluid.nominheight
              .span3.progress.progress-striped.active.nominheight
                .bar.progressbar-success{"data-percentage" => "7", :style => "float: left; width: 0%; "}
                .bar.progressbar-danger{"data-percentage" => "58", :style => "float: right; width: 0%; "}
                .bar.progressbar-warning{"data-percentage" => "35", :style => "float: right; width: 0%; "}
              .span1.nominheight
              .span3.progress.active.nominheight
                .bar.progressbar-success{"data-percentage" => "7", :style => "float: left; width: 0%; "}
                .bar.progressbar-danger{"data-percentage" => "58", :style => "float: right; width: 0%; "}
                .bar.progressbar-warning{"data-percentage" => "35", :style => "float: right; width: 0%; "}
              .span1.nominheight
              .span1.nominheight
                .badge.badge-warning.fltnone 3
              .span1.nominheight
                .badge.badge-warning.fltnone 2
              .span1.nominheight
                .badge.badge-important.fltnone 1
              .span1.nominheight
                .badge.badge-success.fltnone 0
  %li{:id => "content_PCI.A.1.4"}
    .row-fluid
      .span12
        .slot.regulationslot.span12.toggle{"data-target" => "#demo-auditstatus1", "data-toggle" => "collapse"}
          .span8.collapsed
            .expander
            %span.prefix PCI.A.1.1
            Forensic investigation in the event of a compromise to any hosted merchant.
          .span1.pull-right
            .badge.badge-success.fltnone 1
          .span1.pull-right
            .badge.badge-success.fltnone 123
          .span1.pull-right
            .badge.badge-warning.fltnone 34
          .span1.pull-right
            .badge.badge-important.fltnone 87
    #demo-auditstatus1.row-fluid-slotcontent.collapse.out
      .span12
        Enable processes to provide for timely forensic investigation in the event of a compromise to any hosted merchant or service provider.
-#
  %li{:id => "content_PCI.A.1.4"}
    .row-fluid
      .span12
        .slot.regulationslot.span12{"data-target" => "#demo-auditstatus2", "data-toggle" => "collapse"}
          .span8.collapsed.toggle
            .expander
            %span.prefix PCI.A.1.2
            Forensic investigation in the event of a compromise to any hosted merchant.
          .span1.pull-right
            .badge.badge-success.fltnone 18/92
          .span1.pull-right
            .badge.badge-success.fltnone 34
          .span1.pull-right
            .badge.badge-warning.fltnone 54
          .span1.pull-right
            .badge.badge-important.fltnone 23
    #demo-auditstatus2.row-fluid-slotcontent.collapse.out
      .span12
        Enable processes to provide for timely forensic investigation in the event of a compromise to any hosted merchant or service provider.
  %li{:id => "content_PCI.A.1.4"}
    .row-fluid
      .span12
        .slot.regulationslot.span12{"data-target" => "#demo-auditstatus3", "data-toggle" => "collapse"}
          .span8.collapsed.toggle
            .expander
            %span.prefix PCI.A.1.3
            Forensic investigation in the event of a compromise to any hosted merchant.
          .span1.pull-right
            .badge.badge-success.fltnone 5
          .span1.pull-right
            .badge.badge-success.fltnone 23
          .span1.pull-right
            .badge.badge-warning.fltnone 4
          .span1.pull-right
            .badge.badge-important.fltnone 86
    #demo-auditstatus3.row-fluid-slotcontent.collapse.out
      .span12
        Enable processes to provide for timely forensic investigation in the event of a compromise to any hosted merchant or service provider.
  %li{:id => "content_PCI.A.1.4"}
    .row-fluid
      .span12
        .slot.regulationslot.span12{"data-target" => "#demo-auditstatus4", "data-toggle" => "collapse"}
          .span8.collapsed.toggle
            .expander
            %span.prefix PCI.A.1.4
            Forensic investigation in the event of a compromise to any hosted merchant.
          .span1.pull-right
            .badge.badge-success.fltnone 1/4
          .span1.pull-right
            .badge.badge-success.fltnone 16
          .span1.pull-right
            .badge.badge-warning.fltnone 8
          .span1.pull-right
            .badge.badge-important.fltnone 98
    #demo-auditstatus4.row-fluid-slotcontent.collapse.out
      .span12
        Enable processes to provide for timely forensic investigation in the event of a compromise to any hosted merchant or service provider.
  %li{:id => "content_PCI.A.1.5"}
    .row-fluid
      .span12
        .slot.regulationslot.span12{"data-target" => "#demo-auditstatus5", "data-toggle" => "collapse"}
          .span8.collapsed.toggle
            .expander
            %span.prefix PCI.A.1.5
            Forensic investigation in the event of a compromise to any hosted merchant.
          .span1.pull-right
            .badge.badge-success.fltnone 1/4
          .span1.pull-right
            .badge.badge-success.fltnone 16
          .span1.pull-right
            .badge.badge-warning.fltnone 8
          .span1.pull-right
            .badge.badge-important.fltnone 98
    #demo-auditstatus5.row-fluid-slotcontent.collapse.out
      .span12
        Enable processes to provide for timely forensic investigation in the event of a compromise to any hosted merchant or service provider.
