#overprocessWidget.WidgetBox.compWidget
	.WidgetBoxHeading
		%nav
		%a.fltrt.widgettextbtn{"data-toggle" => "modal", :href => "#"} Edit
		.WidgetTitle.doublewidth Business Overprocesses
	.WidgetBoxContent
		%a{href: 'compliancemodule/overprocess/'}
			%img{:src => "images/tempBizProc.jpg"}