#overprocessWidget.WidgetBox.compWidget
	.WidgetBoxHeading
		%nav
		%a.widgettextbtn{"data-toggle" => "modal", :href => "#"} Edit
		.WidgetTitle.doublewidth Business Overprocesses
	.WidgetBoxContent
		%img{:src => "images/tempBizProc.jpg"}