#cotWidget.WidgetBox.compWidget
	.WidgetBoxHeading
		%nav
		%a.fltrt.widgettextbtn{"data-toggle" => "modal", :href => "#"} Edit
		.WidgetTitle.doublewidth Change Over Time
	.WidgetBoxContent
		%img{:src => "images/tempCOT.jpg"}