#cotWidget.WidgetBox.compWidget
	.WidgetBoxHeading
		.WidgetTitle.doublewidth Change Over Time
		%nav
			%a.widgettextbtn{"data-toggle" => "modal", :href => "#"} Edit
	.WidgetBoxContent
		%a{href: 'compliancemodule/changeovertime/'}
			%img{:src => "images/tempCOT.jpg"}