#confirmModal.modal.hide.fade
  .modal-header
    %nav
      %a.widgetbtn{"data-dismiss" => "modal", :href => "#"}
        %i.gcmsicon-x-grey
    %h1 Confirm_Delete
  .modal-body
    %p Are you sure you want to delete this record?
  .modal-footer
    .row-fluid
      %nav.pull-left.txtlft.span3
        %a.btn.btn-large.btn-info{"data-dismiss" => "modal", :href => "#comingsoonModal"} Cancel
      .toolbar-widget.span6
      %nav.pull-right.txtrt.span3
        %a.btn.btn-large.btn-warning{"data-dismiss" => "modal", :href => "#comingsoonModal"} Delete
