#confirmModal.modal.modal-small.hide.fade
  .modal-header
    %nav
      %a.widgetbtn{"data-dismiss" => "modal", :href => "#"}
        %i.gcmsicon-x-grey
    %h1 Confirm Delete?
  .modal-body
    %h4 Are you sure you want to delete this record?
    %p 
      Deleting %itemname% effects 1 program, 5 sections,
      %br
      and a small sad hamster name 'Sally'.
  .modal-footer
    .row-fluid
      %nav.pull-left.txtlft.span3
        %a.btn.btn-large.btn-info{"data-dismiss" => "modal", :href => "#comingsoonModal"} Cancel
      .toolbar-widget.span6
      %nav.pull-right.txtrt.span3
        %a.btn.btn-large.btn-warning{"data-dismiss" => "modal", :href => "#comingsoonModal"} Delete
