%ul
  %li
    .row-fluid
      .slot.span12.regulationslot.statusred
        .slottitle.span11.toggle{"data-target" => "#risk1-summary", "data-toggle" => "collapse"}
          .enddot.risk
          %span.prefix Risk 1
          Risk examples
        .slotactions.pull-right
          %a.btn.btn-mini.btn-blue{"data-target" => "#risk1-summary", "data-toggle" => "collapse"}
            %i.gcmsicon-more
      #risk1-summary.row-fluid.collapse
        .span12.nominheight
          .slotcontent.span12
            %ul.contentactions.pull-right
              %li
                %a.btn.btn-mini.halfopacity{"data-toggle" => "modal", :href => "#comingsoonModal"}
                  %i.gcmsicon-edit-grey
              %li
                %a.btn.btn-mini.halfopacity{"data-toggle" => "modal", :href => "#comingsoonModal"}
                  %i.gcmsicon-link
              %li
                %a.btn.btn-mini.halfopacity{"data-toggle" => "modal", :href => "#comingsoonModal"}
                  %i.gcmsicon-arrowright-black
            Risk of ... Enable processes to provide for timely forensic investigation in the event of a compromise to any hosted merchant or service provider. Enable processes to provide for timely forensic investigation in the event of a compromise to any hosted merchant or service provider. Enable processes to provide for timely forensic investigation in the event of a compromise to any hosted merchant or service provider.

            Enable processes to provide for timely forensic investigation in the event of a compromise to any hosted merchant or service provider.Enable processes to provide for timely forensic investigation in the event of a compromise to any hosted merchant or service provider.Enable processes to provide for timely forensic investigation in the event of a compromise to any hosted merchant or service provider.
  %li
    .row-fluid
      .slot.span12.regulationslot.statusred
        .slottitle.span11.toggle{"data-target" => "#risk2-summary", "data-toggle" => "collapse"}
          .enddot.risk
          %span.prefix Risk 2
          Risk examples
        .slotactions.pull-right
          %a.btn.btn-mini.btn-blue{"data-target" => "#risk2-summary", "data-toggle" => "collapse"}
            %i.gcmsicon-more
      #risk2-summary.row-fluid.collapse
        .span12.nominheight
          .slotcontent.span12
            %ul.contentactions.pull-right
              %li
                %a.btn.btn-mini.halfopacity{"data-toggle" => "modal", :href => "#comingsoonModal"}
                  %i.gcmsicon-edit-grey
              %li
                %a.btn.btn-mini.halfopacity{"data-toggle" => "modal", :href => "#comingsoonModal"}
                  %i.gcmsicon-link
              %li
                %a.btn.btn-mini.halfopacity{"data-toggle" => "modal", :href => "#comingsoonModal"}
                  %i.gcmsicon-arrowright-black
            Risk of ... Enable processes to provide for timely forensic investigation in the event of a compromise to any hosted merchant or service provider. Enable processes to provide for timely forensic investigation in the event of a compromise to any hosted merchant or service provider. Enable processes to provide for timely forensic investigation in the event of a compromise to any hosted merchant or service provider.

            Enable processes to provide for timely forensic investigation in the event of a compromise to any hosted merchant or service provider.Enable processes to provide for timely forensic investigation in the event of a compromise to any hosted merchant or service provider.Enable processes to provide for timely forensic investigation in the event of a compromise to any hosted merchant or service provider.
  %li
    .row-fluid
      .slot.span12.regulationslot.statusred
        .slottitle.span11.toggle{"data-target" => "#risk3-summary", "data-toggle" => "collapse"}
          .enddot.risk
          %span.prefix Risk 3
          Risk examples
        .slotactions.pull-right
          %a.btn.btn-mini.btn-blue{"data-target" => "#risk3-summary", "data-toggle" => "collapse"}
            %i.gcmsicon-more
      #risk3-summary.row-fluid.collapse
        .span12.nominheight
          .slotcontent.span12
            %ul.contentactions.pull-right
              %li
                %a.btn.btn-mini.halfopacity{"data-toggle" => "modal", :href => "#comingsoonModal"}
                  %i.gcmsicon-edit-grey
              %li
                %a.btn.btn-mini.halfopacity{"data-toggle" => "modal", :href => "#comingsoonModal"}
                  %i.gcmsicon-link
              %li
                %a.btn.btn-mini.halfopacity{"data-toggle" => "modal", :href => "#comingsoonModal"}
                  %i.gcmsicon-arrowright-black
            Risk of ... Enable processes to provide for timely forensic investigation in the event of a compromise to any hosted merchant or service provider. Enable processes to provide for timely forensic investigation in the event of a compromise to any hosted merchant or service provider. Enable processes to provide for timely forensic investigation in the event of a compromise to any hosted merchant or service provider.

            Enable processes to provide for timely forensic investigation in the event of a compromise to any hosted merchant or service provider.Enable processes to provide for timely forensic investigation in the event of a compromise to any hosted merchant or service provider.Enable processes to provide for timely forensic investigation in the event of a compromise to any hosted merchant or service provider.
  %li
    .row-fluid
      .slot.span12.regulationslot.statusred
        .slottitle.span11.toggle{"data-target" => "#risk4-summary", "data-toggle" => "collapse"}
          .enddot.risk
          %span.prefix Risk 4
          Risk examples
        .slotactions.pull-right
          %a.btn.btn-mini.btn-blue{"data-target" => "#risk4-summary", "data-toggle" => "collapse"}
            %i.gcmsicon-more
      #risk4-summary.row-fluid.collapse
        .span12.nominheight
          .slotcontent.span12
            %ul.contentactions.pull-right
              %li
                %a.btn.btn-mini.halfopacity{"data-toggle" => "modal", :href => "#comingsoonModal"}
                  %i.gcmsicon-edit-grey
              %li
                %a.btn.btn-mini.halfopacity{"data-toggle" => "modal", :href => "#comingsoonModal"}
                  %i.gcmsicon-link
              %li
                %a.btn.btn-mini.halfopacity{"data-toggle" => "modal", :href => "#comingsoonModal"}
                  %i.gcmsicon-arrowright-black
            Risk of ... Enable processes to provide for timely forensic investigation in the event of a compromise to any hosted merchant or service provider. Enable processes to provide for timely forensic investigation in the event of a compromise to any hosted merchant or service provider. Enable processes to provide for timely forensic investigation in the event of a compromise to any hosted merchant or service provider.

            Enable processes to provide for timely forensic investigation in the event of a compromise to any hosted merchant or service provider.Enable processes to provide for timely forensic investigation in the event of a compromise to any hosted merchant or service provider.Enable processes to provide for timely forensic investigation in the event of a compromise to any hosted merchant or service provider.