%ul
  %li
    .row-fluid
      .slot.span12.riskslot 
        .slottitle.span8.toggle{"data-target" => "#demo1", "data-toggle" => "collapse"}
          .expander
          %span.prefix Risk Group
          This is a generic content slot being used for a group of risk items. Notice the sublte gradient to show its a top level
        .span2.slotcolumn
          .halfopacity.span12.nominheight.btn.btn-slotcolumn Full Audit
        .slotowner.span1
          %a.slotowner GRC
        .slotactions.pull-right
          %a#tooltip11.btn.btn-mini.btn-blue{"rel" => "tooltip", "data-placement" => "left", "title" => "More", "data-target" => "#demo1-summary", "data-toggle" => "collapse"}
            %i.grcicon-more
      #demo1-summary.row-fluid.collapse
        .span12.morewell.nominheight
          .slotcontent.span12
            %ul.contentactions.pull-right
              %li
                %a#tooltip1.btn.btn-mini.halfopacity{"rel" => "tooltip", "data-placement" => "left", "title" => "Edit this object", "data-toggle" => "modal", :href => "#comingsoonModal"}
                  %i.grcicon-edit-grey
              %li
                %a#tooltip2.btn.btn-mini.halfopacity{"rel" => "tooltip", "data-placement" => "left", "title" => "Link objects to this object", "data-toggle" => "modal", :href => "#comingsoonModal"}
                  %i.grcicon-link
              %li
                %a#tooltip3.btn.btn-mini.halfopacity{"rel" => "tooltip", "data-placement" => "left", "title" => "Go to this object's page", "data-toggle" => "modal", :href => "#comingsoonModal"}
                  %i.grcicon-arrowright-black
            "Hi I am a general description or some such info box that you requested to see. You can't edit me. You can just enjoy the beautiful knowledge I pour into your ocular cavities. Learn my friend. Learn. Or if you don't want to just glaze over and scan down until you see the information you truly wanted." -Abraham Lincoln
      #demo1.row-fluid.collapse
        %ul
          %li
            %ul.slotlist
              %li
                .row-fluid
                  .doubleslot.span12.statusred.toggle{"data-target" => "#Threat-1-summary", "data-toggle" => "collapse"}
                    .row-fluid
                      .slottitle.span8
                        .enddot.risk
                        %span.controls-group Risk Type
                        %br
                        This is a risk slot
                      .slotcolumn.span2
                        .halfopacity.span12.nominheight.btn.btn-slotcolumn Data Integrity
                      .slotowner.span1
                        %a.slotowner{:href => "http://www.youtube.com/watch?v=oHg5SJYRHA0"} Rick Astley
                      .slotactions.pull-right
                        %a.btn.btn-mini.btn-blue{"data-target" => "#Threat-1-summary", "data-toggle" => "collapse"}
                          %i.grcicon-more
              %li
                .row-fluid
                  .doubleslot.span12.statusred.toggle{"data-target" => "#Threat-1-summary", "data-toggle" => "collapse"}
                    .row-fluid
                      .slottitle.span8
                        .enddot.risk
                        %span.controls-group Risk Type
                        %br
                        This is a risk slot
                      .slotcolumn.span2
                        .halfopacity.span12.nominheight.btn.btn-slotcolumn Data Integrity
                      .slotowner.span1
                        %a.slotowner{:href => "http://www.youtube.com/watch?v=oHg5SJYRHA0"} Rick Astley
                      .slotactions.pull-right
                        %a.btn.btn-mini.btn-blue{"data-target" => "#Threat-1-summary", "data-toggle" => "collapse"}
                          %i.grcicon-more
              %li
                .row-fluid
                  .doubleslot.span12.statusred.toggle{"data-target" => "#Threat-1-summary", "data-toggle" => "collapse"}
                    .row-fluid
                      .slottitle.span8
                        .enddot.risk
                        %span.controls-group Risk Type
                        %br
                        This is a risk slot
                      .slotcolumn.span2
                        .halfopacity.span12.nominheight.btn.btn-slotcolumn Data Integrity
                      .slotowner.span1
                        %a.slotowner{:href => "http://www.youtube.com/watch?v=oHg5SJYRHA0"} Rick Astley
                      .slotactions.pull-right
                        %a.btn.btn-mini.btn-blue{"data-target" => "#Threat-1-summary", "data-toggle" => "collapse"}
                          %i.grcicon-more