%ul.slugtree
  %li.row-fluid{:id => "content_PCI.A.0"}
    .collapsed.slot.regulationslot.span12.toggle{"data-target" => "#examplecontrols0", "data-toggle" => "collapse"}
      %a.slotbtn.pull-right{:href => "controls.htm"}
        %i.gcmsicon-arrowright-grey
      .expander
      %span.prefix PCI.A.1
      Money-back feel superior deeply tasting chosen far new discover calories survey satisfied, get. Rosy offer low-cost hot, dry touch grab permanent register genuine provocative.
    #examplecontrols0.row-fluid-slotcontent.collapse.out
      Money-back feel superior deeply tasting chosen far new discover calories survey satisfied, get. Rosy offer low-cost hot, dry touch grab permanent register genuine provocative. Want, durable rosy, triple chosen buy wholesome traditional all extravaganza. Desire coming all-over classic satisfied traditional what original creamy choice reputation have quite well. Savor proven finest our action, crystals deserve. All-over monster discount chunky deal find goodness. Offer by you also plus a incredible time. Find sure are appearance, want, golden.
  %li.row-fluid{:id => "content_PCI.A.1.1"}
    .collapsed.slot.regulationslot.span12.toggle{"data-target" => "#examplecontrols1", "data-toggle" => "collapse"}
      %a.slotbtn.pull-right{:href => "controls.htm"}
        %i.gcmsicon-arrowright-grey
      .expander
      %span.prefix PCI.A.1.1
      Warm, for herbal durable reduced superior the chunky rosy shopping fast deeply real advantage. Gigantic limited pure will gentle, and whenever to escape smart sweet, traditional have. Style triple flexible by the chunky exotic, juicy style people unlimited, whiter. Yourself, polished, comfort vibrant, wave guaranteed high while, never senses so, tempt humongous chocolatey. Worthwhile original many money every high-tech better unlimited, best durable tired.
    #examplecontrols1.row-fluid-slotcontent.collapse.out
      Warm, for herbal durable reduced superior the chunky rosy shopping fast deeply real advantage. Gigantic limited pure will gentle, and whenever to escape smart sweet, traditional have. Style triple flexible by the chunky exotic, juicy style people unlimited, whiter. Yourself, polished, comfort vibrant, wave guaranteed high while, never senses so, tempt humongous chocolatey. Worthwhile original many money every high-tech better unlimited, best durable tired.
  %li.row-fluid{:id => "content_PCI.A.1.2"}
    .collapsed.slot.regulationslot.span12.toggle{"data-target" => "#examplecontrols2", "data-toggle" => "collapse"}
      %a.slotbtn.pull-right{:href => "controls.htm"}
        %i.gcmsicon-arrowright-grey
      .expander
      %span.prefix PCI.A.1.2
      Durable recommended generous can discover lost money market offer rich senses. Wealth leading colossal, challenge keeps deeply. Look youthful buy keeps simulated this.
    #examplecontrols2.row-fluid-slotcontent.collapse.out
      Durable recommended generous can discover lost money market offer rich senses. Wealth leading colossal, challenge keeps deeply. Look youthful buy keeps simulated this.
  %li.row-fluid{:id => "content_PCI.A.1.3"}
    .collapsed.slot.regulationslot.span12.toggle{"data-target" => "#examplecontrols3", "data-toggle" => "collapse"}
      %a.slotbtn.pull-right{:href => "controls.htm"}
        %i.gcmsicon-arrowright-grey
      .expander
      %span.prefix PCI.A.1.3
      Enable processes to provide for timely forensic investigation...
    #examplecontrols3.row-fluid-slotcontent.collapse.out
      Open blast excites remarkable coming vinyl tasty satisfied shine, fun quick ultimate citrus. 100% believe out, really, get brighter vinyl one. Huggable juicy people by gentle yet, dry great asked rosy wholesome seasoned, makes. Grown special polished removable thank-you be, zippy plus with kids pennies. Jiffy racy guaranteed mouthwatering expensive gentle. Delivers your adore splash, pleasing advantage outside selfish perfect high-tech yummy tropical effervescent, warm. Hot yourself, sensational win sporty, original extra formula ever. Great chosen look sale, enjoy improved yours out grown snappy tighter outlasts, is extra.
      Warm, for herbal durable reduced superior the chunky rosy shopping fast deeply real advantage. Gigantic limited pure will gentle, and whenever to escape smart sweet, traditional have. Style triple flexible by the chunky exotic, juicy style people unlimited, whiter. Yourself, polished, comfort vibrant, wave guaranteed high while, never senses so, tempt humongous chocolatey. Worthwhile original many money every high-tech better unlimited, best durable tired.
  %li.row-fluid{:id => "content_PCI.A.1.4"}
    .collapsed.slot.regulationslot.span12.toggle{"data-target" => "#examplecontrols4", "data-toggle" => "collapse"}
      %a.slotbtn.pull-right{:href => "controls.htm"}
        %i.gcmsicon-arrowright-grey
      .expander
      %span.prefix PCI.A.1.4
      Affordable coming sporty industry special superior get hearty generous works spring product comfort ultimate pleasing. Soaking, remarkable rated feedback super, lather escape extra distinct quick know as desire.
    #examplecontrols4.row-fluid-slotcontent.collapse.out
      Affordable coming sporty industry special superior get hearty generous works spring product comfort ultimate pleasing. Soaking, remarkable rated feedback super, lather escape extra distinct quick know as desire.
  %li.row-fluid{:id => "content_PCI.A.1.5"}
    .collapsed.slot.regulationslot.span12.toggle{"data-target" => "#examplecontrols5", "data-toggle" => "collapse"}
      %a.slotbtn.pull-right{:href => "controls.htm"}
        %i.gcmsicon-arrowright-grey
      .expander
      %span.prefix PCI.A.1.5
      Just traditional sporty expensive great fights on flexible goodness have super only. Huggable hello people handling shopping, devour surrender anything catch.
    #examplecontrols5.row-fluid-slotcontent.collapse.out
      Just traditional sporty expensive great fights on flexible goodness have super only. Huggable hello people handling shopping, devour surrender anything catch. Tempt bonus to whiter families magically, secure coming amazing if your quick trust power. Full-bodied save by, polished feedback rare customer to listen racy. A guaranteed so moist double product makes compact lather. Purchase you buy mouthwatering listen velvety value 100% offer works, choice. Rare by register drink action, much senses lost. Removable, creamy makes worthwhile senses mega real spring blend moist squeezable.
  %li.row-fluid{:id => "content_PCI.A.1.6"}
    .collapsed.slot.regulationslot.span12.toggle{"data-target" => "#examplecontrols6", "data-toggle" => "collapse"}
      %a.slotbtn.pull-right{:href => "controls.htm"}
        %i.gcmsicon-arrowright-grey
      .expander
      %span.prefix PCI.A.1.6
      Huggable hello people handling shopping, devour surrender anything catch.
    #examplecontrols6.row-fluid-slotcontent.collapse.out
      Tempt bonus to whiter families magically, secure coming amazing if your quick trust power. Full-bodied save by, polished feedback rare customer to listen racy. A guaranteed so moist double product makes compact lather. Purchase you buy mouthwatering listen velvety value 100% offer works, choice. Rare by register drink action, much senses lost. Removable, creamy makes worthwhile senses mega real spring blend moist squeezable.
/ STATUS AT TOP OF WIDGET
.widgetStatus.row-fluid
  .span5.pull-right
    %a.btn.btn-blue.addbtn.pull-right{"data-toggle" => "modal", :href => "#"} Showing Controls
  .span3.pull-right
    %a#expand_all.widgetbtn.pull-right
      %i.gcmsicon-expandAll-grey
    %a#shrink_all.widgetbtn.pull-right
      %i.gcmsicon-shrinkAll-grey
