

%table.ggrc-table
  %thead
    %tr
      %th{:title => "Rendering engine"} Rendering engine
      %th{:title => "Browser"} Browser
      %th{:title => "Platform(s)"} Platform(s)
      %th{:title => "Engine version"} Engine version
      %th{:title => "CSS grade"} CSS grade
  %tbody
    %tr.gradeX.even
      %td Trident
      %td
        Internet
        Explorer 4.0
      %td Win 95+
      %td.center 4
      %td.center X
    %tr.gradeC.odd
      %td Trident
      %td
        Internet
        Explorer 5.0
      %td Win 95+
      %td.center 5
      %td.center C
    %tr.gradeA.even
      %td Trident
      %td
        Internet
        Explorer 5.5
      %td Win 95+
      %td.center 5.5
      %td.center A
    %tr.gradeA.odd
      %td Trident
      %td
        Internet
        Explorer 6
      %td Win 98+
      %td.center 6
      %td.center A
    %tr.gradeA.even
      %td Trident
      %td Internet Explorer 7
      %td Win XP SP2+
      %td.center 7
      %td.center A
    %tr.gradeA.odd
      %td Trident
      %td AOL browser (AOL desktop)
      %td Win XP
      %td.center 6
      %td.center A
    %tr.gradeA.even
      %td Gecko
      %td Firefox 1.0
      %td Win 98+ / OSX.2+
      %td.center 1.7
      %td.center A
    %tr.gradeA.odd
      %td Gecko
      %td Firefox 1.5
      %td Win 98+ / OSX.2+
      %td.center 1.8
      %td.center A
    %tr.gradeA.even
      %td Gecko
      %td Camino 1.5
      %td OSX.3+
      %td.center 1.8
      %td.center A
    %tr.gradeA.odd
      %td Gecko
      %td Netscape 7.2
      %td Win 95+ / Mac OS 8.6-9.2
      %td.center 1.7
      %td.center A

%table.ggrc-table
  %thead
    %tr
      Showing 1 to 10 of 58 entries 