%ul#auditreqz.slugtree.accordion
  %li.row-fluid.accordion-group{:id => "content_PCI.A.1.4"}
    .slot.regulationslot.span12.toggle.accordion-toggle{"data-parent" => "#auditreqz", "data-target" => "#audreq0", "data-toggle" => "collapse"}
      %a.pull-right.badge.badge-warning.span2.nominheight{"data-toggle" => "modal", :href => "#"} Pending
      %a.btn.btn-blue.addbtn.pull-right{:href => "#"} Edit System
      .expander.toggleExpanded
      %span.prefix Interview
    #audreq0.row-fluid-slotcontent.accordion-body.collapse.in
      .row-fluid
        .span6
          %label
            %strong Request
          Span6 Gilvus eros jumentum delenit, wisi pertineo. Nutus adipiscing nullus, metuo pneum elit pagus saluto wisi iriure elit nulla lucidus tincidunt neo. Praesent praesent paulatim vereor luptatum illum in consequat dolore iaceo ut.
        .span6
          %label
            %strong Test
          Haero usitas, incassum patria occuro sed vel suscipit os iustum consequat validus accumsan dolus distineo. Pagus praesent, regula suscipit vel iusto, ne ex vulpes eligo. Augue verto dolus facilisi ludus vel utrum, consequat vel praesent dignissim.
      %ul.row-fluid
        %li.span12.regulationslot System X (Subsystem of Gmail) Last Verified 1/21/2012
  %li.row-fluid.accordion-group{:id => "content_PCI.A.1.2"}
    .slot.regulationslot.span12.toggle.accordion-toggle{"data-parent" => "#auditreqz", "data-target" => "#audreq1", "data-toggle" => "collapse"}
      %a.pull-right.badge.badge-important.span2.nominheight{"data-toggle" => "modal", :href => "#"} Pending
      %a.btn.btn-blue.addbtn.pull-right{:href => "#"} Edit System
      .expander
      %span.prefix Documentation
      Enable processes to provide for timely forensic investigation...
    #audreq1.row-fluid-slotcontent.accordion-body.collapse.out
      %p Gilvus eros jumentum delenit, wisi pertineo. Nutus adipiscing nullus, metuo pneum elit pagus saluto wisi iriure elit nulla lucidus tincidunt neo.
      %p Praesent praesent paulatim vereor luptatum illum in consequat dolore iaceo ut.
      %p Haero usitas, incassum patria occuro sed vel suscipit os iustum consequat validus accumsan dolus distineo. Pagus praesent, regula suscipit vel iusto, ne ex vulpes eligo. Augue verto dolus facilisi ludus vel utrum, consequat vel praesent dignissim. Ut minim foras hos hos vulpes enim dolor quia, utrum. Odio aliquip nulla ut eros regula veniam meus letalis neque. Volutpat blandit wisi odio lucidus refoveo, sed minim ut. Macto sino nunc, tamen eligo illum esse defui dignissim persto luctus.
  %li.row-fluid.accordion-group{:id => "content_PCI.A.1.2"}
    .slot.regulationslot.span12.toggle.accordion-toggle{"data-parent" => "#auditreqz", "data-target" => "#audreq2", "data-toggle" => "collapse"}
      %a.pull-right.badge.badge-success.span2.nominheight{"data-toggle" => "modal", :href => "#"} Closed
      %a.btn.btn-blue.addbtn.pull-right{:href => "#"} Edit System
      .expander
      %span.prefix Population Sample
      Enable processes to provide for timely forensic investigation...
    #audreq2.row-fluid-slotcontent.accordion-body.collapse.out
      %p Gilvus eros jumentum delenit, wisi pertineo. Nutus adipiscing nullus, metuo pneum elit pagus saluto wisi iriure elit nulla lucidus tincidunt neo.
      %p Praesent praesent paulatim vereor luptatum illum in consequat dolore iaceo ut.
      %p Haero usitas, incassum patria occuro sed vel suscipit os iustum consequat validus accumsan dolus distineo. Pagus praesent, regula suscipit vel iusto, ne ex vulpes eligo. Augue verto dolus facilisi ludus vel utrum, consequat vel praesent dignissim. Ut minim foras hos hos vulpes enim dolor quia, utrum. Odio aliquip nulla ut eros regula veniam meus letalis neque. Volutpat blandit wisi odio lucidus refoveo, sed minim ut. Macto sino nunc, tamen eligo illum esse defui dignissim persto luctus.
  %li.row-fluid.accordion-group{:id => "content_PCI.A.1.2"}
    .slot.regulationslot.span12.toggle.accordion-toggle{"data-parent" => "#auditreqz", "data-target" => "#examplecombo1", "data-toggle" => "collapse"}
      %a.pull-right.badge.badge-warning.span2.nominheight{"data-toggle" => "modal", :href => "#"} Pending
      .expander
      %span.prefix Interview
      Enable processes to provide for timely forensic investigation...
    #examplecombo1.row-fluid-slotcontent.accordion-body.collapse
      %p Gilvus eros jumentum delenit, wisi pertineo. Nutus adipiscing nullus, metuo pneum elit pagus saluto wisi iriure elit nulla lucidus tincidunt neo.
      %p Praesent praesent paulatim vereor luptatum illum in consequat dolore iaceo ut.
      %p Haero usitas, incassum patria occuro sed vel suscipit os iustum consequat validus accumsan dolus distineo. Pagus praesent, regula suscipit vel iusto, ne ex vulpes eligo. Augue verto dolus facilisi ludus vel utrum, consequat vel praesent dignissim. Ut minim foras hos hos vulpes enim dolor quia, utrum. Odio aliquip nulla ut eros regula veniam meus letalis neque. Volutpat blandit wisi odio lucidus refoveo, sed minim ut. Macto sino nunc, tamen eligo illum esse defui dignissim persto luctus.
/
  STATUS AT TOP OF WIDGET --
  <div class="widgetStatus row-fluid">
  <div class="span5 pull-right">
  <a href="#" class="btn btn-blue addbtn pull-right" data-toggle="modal">Showing Regulations</a>
  </div>
  <div class="span3 pull-right">
  
  <a id="expand_all" class="widgetbtn pull-right" style="margin-right:5px;"><i class="gcmsicon-expandAll-grey"></i></a>
  <a id="shrink_all" class="widgetbtn pull-right"><i class="gcmsicon-shrinkAll-grey"></i></a>
  </div>
  </div>
