%table.ggrc-table
  %thead
    %tr
      %th{:title => "Code"} Code
      %th{:title => "Title"} Title
      %th{:title => "Description"} Description
      %th{:title => "Version"} Version
      %th{:title => "Elective Date"} Elective Date
      %th{:title => "Stop Date"} Stop Date
      %th{:title => "Kind"} Kind
      %th{:title => "Means"} Means
      %th{:title => "Confirm Frequency"} Confirm Frequency
  %tbody
    %tr.gradeX.even
      %td MB1
      %td Make Believe 1
      %td General Makebelieve Item to help view real data sizes.
      %td.center 1
      %td.center 11/11/11
      %td.center 11/11/66
      %td.center Makebelieve
      %td.center Imagination
      %td.center Constant
    %tr.gradeX.odd
      %td MB2
      %td Make Believe 2
      %td General Makebelieve Item to help view real data sizes.
      %td.center 2
      %td.center 11/11/11
      %td.center 11/11/66
      %td.center Makebelieve
      %td.center Imagination
      %td.center Constant
    %tr.gradeX.even
      %td MB3
      %td Make Believe 3
      %td General Makebelieve Item to help view real data sizes.
      %td.center 3
      %td.center 11/11/11
      %td.center 11/11/66
      %td.center Makebelieve
      %td.center Imagination
      %td.center Constant
    %tr.gradeX.odd
      %td MB4
      %td Make Believe 4
      %td General Makebelieve Item to help view real data sizes.
      %td.center 4
      %td.center 11/11/11
      %td.center 11/11/66
      %td.center Makebelieve
      %td.center Imagination
      %td.center Constant
    %tr.gradeX.even
      %td MB1
      %td Make Believe 5
      %td General Makebelieve Item to help view real data sizes.
      %td.center 15
      %td.center 11/11/11
      %td.center 11/11/66
      %td.center Makebelieve
      %td.center Imagination
      %td.center Constant
    %tr.gradeX.odd
      %td MB2
      %td Make Believe 6
      %td General Makebelieve Item to help view real data sizes.
      %td.center 26
      %td.center 11/11/11
      %td.center 11/11/66
      %td.center Makebelieve
      %td.center Imagination
      %td.center Constant


%table.ggrc-table
  %thead
    %tr
      Showing 1 to 10 of 58 entries 