%ul.slugtree
  %li.row-fluid{:id => "content_PCI.A.1.4"}
    .collapsed.slot.regulationslot.span12.toggle{"data-target" => "#examplecombo0", "data-toggle" => "collapse"}
      %a.slotbtn.pull-right{:href => "#"}
        %i.gcmsicon-arrowright-grey
      %a.slotbtn.pull-right{:href => "#"}
        %i.gcmsicon-edit-grey
      .expander
      %span.prefix PCI.A.1
      Enable processes to provide for timely forensic investigation, Enable processes to provide for timely forensic investigation, Enable processes to provide for timely forensic investigation,
    #examplecombo0.row-fluid-slotcontent.collapse.out
      %p Gilvus eros jumentum delenit, wisi pertineo. Nutus adipiscing nullus, metuo pneum elit pagus saluto wisi iriure elit nulla lucidus tincidunt neo.
      %p Praesent praesent paulatim vereor luptatum illum in consequat dolore iaceo ut.
      %p Haero usitas, incassum patria occuro sed vel suscipit os iustum consequat validus accumsan dolus distineo. Pagus praesent, regula suscipit vel iusto, ne ex vulpes eligo. Augue verto dolus facilisi ludus vel utrum, consequat vel praesent dignissim. Ut minim foras hos hos vulpes enim dolor quia, utrum. Odio aliquip nulla ut eros regula veniam meus letalis neque. Volutpat blandit wisi odio lucidus refoveo, sed minim ut. Macto sino nunc, tamen eligo illum esse defui dignissim persto luctus.
  %li.row-fluid{:id => "content_PCI.A.1.2"}
    .collapsed.slot.regulationslot.span12.toggle{"data-target" => "#examplecombo1", "data-toggle" => "collapse"}
      %a.slotbtn.pull-right{:href => "#"}
        %i.gcmsicon-arrowright-grey
      %a.slotbtn.pull-right{:href => "#"}
        %i.gcmsicon-edit-grey
      .expander
      %span.prefix PCI.A.1.2
      Enable processes to provide for timely forensic investigation...
    #examplecombo1.row-fluid-slotcontent.collapse.out
      %p Gilvus eros jumentum delenit, wisi pertineo. Nutus adipiscing nullus, metuo pneum elit pagus saluto wisi iriure elit nulla lucidus tincidunt neo.
      %p Praesent praesent paulatim vereor luptatum illum in consequat dolore iaceo ut.
      %p Haero usitas, incassum patria occuro sed vel suscipit os iustum consequat validus accumsan dolus distineo. Pagus praesent, regula suscipit vel iusto, ne ex vulpes eligo. Augue verto dolus facilisi ludus vel utrum, consequat vel praesent dignissim. Ut minim foras hos hos vulpes enim dolor quia, utrum. Odio aliquip nulla ut eros regula veniam meus letalis neque. Volutpat blandit wisi odio lucidus refoveo, sed minim ut. Macto sino nunc, tamen eligo illum esse defui dignissim persto luctus.
/ STATUS AT TOP OF WIDGET
.widgetStatus.row-fluid
  .span5.pull-right
    %a.btn.btn-blue.addbtn.pull-right{"data-toggle" => "modal", :href => "#"} Showing Regulations
  .span3.pull-right
    %a#expand_all.widgetbtn.pull-right
      %i.gcmsicon-expandAll-grey
    %a#shrink_all.widgetbtn.pull-right
      %i.gcmsicon-shrinkAll-grey
