.row-fluid
  .span12.well
    %h3
      Systems/Processes that Require this Control
      %a.btn.btn-blue.addbtn.pull-right{"data-toggle" => "modal", :href => "#"} Showing Systems Within Scope
%ul.slugtree
  %li.row-fluid{:id => "content_PCI.A.1"}
    .collapsed.slot.regulationslot.span12.toggle{"data-target" => "#examplecombo0", "data-toggle" => "collapse"}
      .span2
        .expander
        Sys-4
      .span2 LDAP
      .span2
        %a.btn.btn-blue.addbtn.fltnone{"data-toggle" => "modal", :href => "#"} Go
      .span2 John Eggels
      .span2 01/21/2012
      .span2
        %a.btn.btn-blue.addbtn.pull-right{"data-toggle" => "modal", :href => "#"} New Verification
    #examplecombo0.row-fluid-slotcontent.collapse.out
      %p Gilvus eros jumentum delenit, wisi pertineo. Nutus adipiscing nullus, metuo pneum elit pagus saluto wisi iriure elit nulla lucidus tincidunt neo.
      %p Praesent praesent paulatim vereor luptatum illum in consequat dolore iaceo ut.
      %p Haero usitas, incassum patria occuro sed vel suscipit os iustum consequat validus accumsan dolus distineo. Pagus praesent, regula suscipit vel iusto, ne ex vulpes eligo. Augue verto dolus facilisi ludus vel utrum, consequat vel praesent dignissim. Ut minim foras hos hos vulpes enim dolor quia, utrum. Odio aliquip nulla ut eros regula veniam meus letalis neque. Volutpat blandit wisi odio lucidus refoveo, sed minim ut. Macto sino nunc, tamen eligo illum esse defui dignissim persto luctus.
  %li.row-fluid{:id => "content_PCI.A.1"}
    .collapsed.slot.regulationslot.span12.toggle{"data-target" => "#examplecombo21", "data-toggle" => "collapse"}
      .span2
        .expander
        Sys-5
      .span2 Lorem Ipsum
      .span2
        %a.btn.btn-blue.addbtn.fltnone{"data-toggle" => "modal", :href => "#"} Go
      .span2 Pierre Metier
      .span2 Not Verified
      .span2
        %a.btn.btn-blue.addbtn.pull-right{"data-toggle" => "modal", :href => "#"} New Verification
    #examplecombo21.row-fluid-slotcontent.collapse.out
      %p Gilvus eros jumentum delenit, wisi pertineo. Nutus adipiscing nullus, metuo pneum elit pagus saluto wisi iriure elit nulla lucidus tincidunt neo.
      %p Praesent praesent paulatim vereor luptatum illum in consequat dolore iaceo ut.
      %p Haero usitas, incassum patria occuro sed vel suscipit os iustum consequat validus accumsan dolus distineo. Pagus praesent, regula suscipit vel iusto, ne ex vulpes eligo. Augue verto dolus facilisi ludus vel utrum, consequat vel praesent dignissim. Ut minim foras hos hos vulpes enim dolor quia, utrum. Odio aliquip nulla ut eros regula veniam meus letalis neque. Volutpat blandit wisi odio lucidus refoveo, sed minim ut. Macto sino nunc, tamen eligo illum esse defui dignissim persto luctus.
  %li.row-fluid{:id => "content_PCI.A.1"}
    .collapsed.slot.regulationslot.span12.toggle{"data-target" => "#examplecombo2", "data-toggle" => "collapse"}
      .span2
        .expander
        Sys-6
      .span2 Lorem Ipsum
      .span2
        %a.btn.btn-blue.addbtn.fltnone{"data-toggle" => "modal", :href => "#"} Go
      .span2 John Eggels
      .span2 01/21/2012
      .span2
        %a.btn.btn-blue.addbtn.pull-right{"data-toggle" => "modal", :href => "#"} New Verification
    #examplecombo2.row-fluid-slotcontent.collapse.out
      / list inside slot
      %ul
        %li#verifications.row-fluid
          .collapsed.slot.regulationslot.span12.toggle{"data-target" => "#verification1", "data-toggle" => "collapse"}
            %a.widgetbtn.pull-right{:href => "#", :style => "position:relative; top:-3px; margin-right:5px;"}
              %i.gcmsicon-edit-grey
            .expander
            041412 Verification
          #verification1.row-fluid-slotcontent.collapse.out
            /
              internal verification
              <div class="row-fluid nominheight">
              <div class="span2 nominheight"><strong>Verified Date</strong></div>
              <div class="span4 nominheight"><strong>Title</strong></div>
              <div class="span2 nominheight"><strong>Type</strong></div>
              <div class="span2 nominheight"><strong>Kind</strong></div>
              <div class="span2 nominheight"><strong>Status</strong></div>
              </div>
            .row-fluid
              .span2
                %label
                  %strong Verified Date
                %input.inputtext-small{:disabled => "disabled", :type => "text", :value => "041212"}/
              .span4
                %label
                  %strong Title
                %input.input-large{:disabled => "disabled", :type => "text", :value => "Title of this Verification Record"}/
              .span2
                %label
                  %strong Type
                %input.inputtext-small{:disabled => "disabled", :type => "text", :value => "Manual"}/
              .span2
                %label
                  %strong Kind
                %input.inputtext-small{:disabled => "disabled", :type => "text", :value => "Kind"}/
              .span2
                %label
                  %strong Status
                %input.inputtext-small{:disabled => "disabled", :type => "text", :value => "Completed"}/
            .row-fluid
              .span2
                %label
                  %strong Verified By
                  (Int Audit)
                %input.inputtext-small{:disabled => "disabled", :type => "text", :value => "041212"}/
                %label
                  %strong Source
                  = succeed "(Sys/Cont" do
                    %br/
                  Owner)
                %input.inputtext-small{:disabled => "disabled", :type => "text", :value => "Miah Long"}/
              .span10
                %label
                  %strong Notes
                %textarea#descriptnote.span12{:disabled => "disabled", :placeholder => "", :rows => "4"}
                  :preserve
                    Hendrerit dolus nullus nimis pneum abico quibus, vulputate, macto, autem vulputate. Qui, sagaciter letalis eum quae interdico iriure, eum. Praesent, jus importunus capio abdo velit genitus. Luptatum zelus meus illum, eros capto nulla in augue ymo quod ibidem.
                                                                                    .row-fluid
              / people
              .span4
                .span12.collapsed.slot.regulationslot.toggle{"data-target" => "#verification1-people", "data-toggle" => "collapse"}
                  %a.btn.btn-blue.addbtn.pull-right{"data-toggle" => "modal", :href => "#"} Edit List
                  .expander
                  People
                #verification1-people.row-fluid-slotcontent.collapse.out
                  %ul
                    %li Name 1
                    %li Name 2
                    %li Name 3
                / end people
              .span4
                / people
                .span12.collapsed.slot.regulationslot.toggle{"data-target" => "#verification2-people", "data-toggle" => "collapse"}
                  %a.btn.btn-blue.addbtn.pull-right{"data-toggle" => "modal", :href => "#"} Edit List
                  .expander
                  References
                #verification2-people.row-fluid-slotcontent.collapse.out
                  %ul
                    %li Firewall Settings Screenshot
                    %li Asset List
                / end people
              .span4
                / people
                .span12.collapsed.slot.regulationslot.toggle{"data-target" => "#verification3-people", "data-toggle" => "collapse"}
                  %a.btn.btn-blue.addbtn.pull-right{"data-toggle" => "modal", :href => "#"} Edit List
                  .expander
                  Meetings
                #verification3-people.row-fluid-slotcontent.collapse.out
                  %ul
                    %li 4/1/12 Interview
                    %li 4/15/12 Live Test
                / end people
/ list endinside slot
