%ul.slotlist
  %li
    .row-fluid
      .slot.span12
        .slottitle.span8.toggle{"data-target" => "#gwallet-1-summary", "data-toggle" => "collapse"}
          .expander
          %span.prefix Google Wallet
          This is a general system slot.
        .slotcolumn.span2
          .halfopacity.span12.nominheight.btn.btn-slotcolumn Data Integrity
        .slotowner.span1
          %a.slotowner{:href => "http://www.youtube.com/watch?v=oHg5SJYRHA0"} Rick Astley
        .slotactions.pull-right
          %a.btn.btn-mini.btn-blue.halfopacity{"data-target" => "#gwallet-1-more", "data-toggle" => "collapse"}
            %i.gcmsicon-more
    #gwallet-1-more.row-fluid.collapse
      -# This is more info.
      .span12.morewell.statusblue.nominheight
        .slotcontent.span12
          %ul.contentactions.pull-right
            %li
              %a#tooltip40.btn.btn-mini.halfopacity{"rel" => "tooltip", "data-placement" => "left", "title" => "Edit this object", "data-toggle" => "modal", :href => "#comingsoonModal"}
                %i.gcmsicon-edit-grey
            %li
              %a#tooltip39.btn.btn-mini.halfopacity{"rel" => "tooltip", "data-placement" => "left", "title" => "Link objects to this object", "data-toggle" => "modal", :href => "#comingsoonModal"}
                %i.gcmsicon-link
            %li
              %a#tooltip38.btn.btn-mini.halfopacity{"rel" => "tooltip", "data-placement" => "left", "title" => "Go to this object's page", "data-toggle" => "modal", :href => "#comingsoonModal"}
                %i.gcmsicon-arrowright-black
          General textual infromation and description on this System; Google Wallet.
    #gwallet-1-summary.collapse
      -# This is additional slots associated with the Google Wallet
      %ul.slotlist
        %li
          .row-fluid
            .slot.span12.processslot
              .slottitle.span8.toggle{"data-target" => "#Process-1-summary", "data-toggle" => "collapse"}
                .expander
                %span.prefix Process
                This is a process slot.
              .slotcolumn.span2
                .halfopacity.span12.nominheight.btn.btn-slotcolumn Data Integrity
              .slotowner.span1
                %a.slotowner{:href => "http://www.youtube.com/watch?v=oHg5SJYRHA0"} Rick Astley
              .slotactions.pull-right
                %a.btn.btn-mini.btn-blue.halfopacity{"data-target" => "#Process-1-more", "data-toggle" => "collapse"}
                  %i.gcmsicon-more
          #Process-1-more.row-fluid.collapse
            .span12.morewell.statusblue.nominheight
              .slotcontent.span12
                %ul.contentactions.pull-right
                  %li
                    %a#tooltip40.btn.btn-mini.halfopacity{"rel" => "tooltip", "data-placement" => "left", "title" => "Edit this object", "data-toggle" => "modal", :href => "#comingsoonModal"}
                      %i.gcmsicon-edit-grey
                  %li
                    %a#tooltip39.btn.btn-mini.halfopacity{"rel" => "tooltip", "data-placement" => "left", "title" => "Link objects to this object", "data-toggle" => "modal", :href => "#comingsoonModal"}
                      %i.gcmsicon-link
                  %li
                    %a#tooltip38.btn.btn-mini.halfopacity{"rel" => "tooltip", "data-placement" => "left", "title" => "Go to this object's page", "data-toggle" => "modal", :href => "#comingsoonModal"}
                      %i.gcmsicon-arrowright-black
                Textual description here.)
          #Process-1-summary.collapse
            %ul
              %li
                .row-fluid.eightyopacity
                  .slot.span12.controlslot
                    .slottitle.span8.toggle{"data-target" => "#Control-1-summary", "data-toggle" => "collapse"}
                      .expander
                      %span.prefix Control 1
                      This is a control slot.
                    .slotcolumn.span2
                      .halfopacity.span12.nominheight.btn.btn-slotcolumn Data Integrity
                    .slotowner.span1
                      %a.slotowner{:href => "http://www.youtube.com/watch?v=oHg5SJYRHA0"} Rick Astley
                    .slotactions.pull-right
                      %a#tooltip27.btn.btn-mini{"rel" => "tooltip", "data-placement" => "left", "title" => "Go to this control page", "data-toggle" => "modal", :href => "#comingsoonModal"}
                        %i.halfopacity.gcmsicon-arrowright-black
                #Control-1-summary.row-fluid.collapse
                  
                  %ul
                    %li
                      .row-fluid.eightyopacity
                        .slot.span12.controlslot
                          .slottitle.span8.toggle{"data-target" => "#Control2a-1-summary", "data-toggle" => "collapse"}
                            .enddot
                            %span.prefix Control 1A
                            This is a control slot.
                          .slotcolumn.span2
                            .halfopacity.span12.nominheight.btn.btn-slotcolumn Data Integrity
                          .slotowner.span1
                            %a.slotowner{:href => "http://www.youtube.com/watch?v=oHg5SJYRHA0"} Rick Astley
                          .slotactions.pull-right
                            %a#tooltip26.btn.btn-mini{"rel" => "tooltip", "data-placement" => "left", "title" => "Go to this control page", "data-toggle" => "modal", :href => "#comingsoonModal"}
                              %i.halfopacity.gcmsicon-arrowright-black
                      -#Control2a-1-summary.row-fluid.collapse
                        .span12.morewell.statusblue.nominheight
                          .slotcontent.span12
                            %ul.contentactions.pull-right
                              %li
                                %a#tooltip35.btn.btn-mini.halfopacity{"rel" => "tooltip", "data-placement" => "left", "title" => "Edit this object", "data-toggle" => "modal", :href => "#comingsoonModal"}
                                  %i.gcmsicon-edit-grey
                              %li
                                %a#tooltip34.btn.btn-mini.halfopacity{"rel" => "tooltip", "data-placement" => "left", "title" => "Link objects to this object", "data-toggle" => "modal", :href => "#comingsoonModal"}
                                  %i.gcmsicon-link
                              %li
                                %a#tooltip33.btn.btn-mini.halfopacity{"rel" => "tooltip", "data-placement" => "left", "title" => "Go to this object's page", "data-toggle" => "modal", :href => "#comingsoonModal"}
                                  %i.gcmsicon-arrowright-black
                            Textual description here.)
      %ul.slotlist
        %li
          .row-fluid
            .slot.span12.systemslot
              .slottitle.span8.toggle{"data-target" => "#systemgw-1-summary", "data-toggle" => "collapse"}
                .expander
                %span.prefix Google Wallet Transaction Sub-System
                This is a system slot.
              .slotcolumn.span2
                .halfopacity.span12.nominheight.btn.btn-slotcolumn Data Integrity
              .slotowner.span1
                %a.slotowner{:href => "http://www.youtube.com/watch?v=oHg5SJYRHA0"} Rick Astley
              .slotactions.pull-right
                %a.btn.btn-mini.btn-blue.halfopacity{"data-target" => "#systemgw-1-more", "data-toggle" => "collapse"}
                  %i.gcmsicon-more
          #systemgw-1-more.row-fluid.collapse
            .span12.morewell.statusyellow.nominheight
              .slotcontent.span12
                %ul.contentactions.pull-right
                  %li
                    %a#tooltip38.btn.btn-mini.halfopacity{"rel" => "tooltip", "data-placement" => "left", "title" => "Edit this object", "data-toggle" => "modal", :href => "#comingsoonModal"}
                      %i.gcmsicon-edit-grey
                  %li
                    %a#tooltip37.btn.btn-mini.halfopacity{"rel" => "tooltip", "data-placement" => "left", "title" => "Link objects to this object", "data-toggle" => "modal", :href => "#comingsoonModal"}
                      %i.gcmsicon-link
                  %li
                    %a#tooltip36.btn.btn-mini.halfopacity{"rel" => "tooltip", "data-placement" => "left", "title" => "Go to this object's page", "data-toggle" => "modal", :href => "#comingsoonModal"}
                      %i.gcmsicon-arrowright-black
                Textual description here.)
          #systemgw-1-summary.collapse
            %ul
              %li
                .row-fluid.eightyopacity
                  .slot.span12.controlslot
                    .slottitle.span8.toggle{"data-target" => "#gwcontrol1a-summary", "data-toggle" => "collapse"}
                      .expander
                      %span.prefix GW Control 1
                      This is a control slot.
                    .slotcolumn.span2
                      .halfopacity.span12.nominheight.btn.btn-slotcolumn Data Integrity
                    .slotowner.span1
                      %a.slotowner{:href => "http://www.youtube.com/watch?v=oHg5SJYRHA0"} Rick Astley
                    .slotactions.pull-right
                      %a#tooltip27.btn.btn-mini{"rel" => "tooltip", "data-placement" => "left", "title" => "Go to this control page", "data-toggle" => "modal", :href => "#comingsoonModal"}
                        %i.halfopacity.gcmsicon-arrowright-black
                #gwcontrol1a-summary.row-fluid.collapse
                  
                  %ul
                    %li
                      .row-fluid.eightyopacity
                        .slot.span12.controlslot
                          .slottitle.span8.toggle{"data-target" => "#gwcontrol2a-summary", "data-toggle" => "collapse"}
                            .enddot
                            %span.prefix GW Control 1A
                            This is a control slot.
                          .slotcolumn.span2
                            .halfopacity.span12.nominheight.btn.btn-slotcolumn Data Integrity
                          .slotowner.span1
                            %a.slotowner{:href => "http://www.youtube.com/watch?v=oHg5SJYRHA0"} Rick Astley
                          .slotactions.pull-right
                            %a#tooltip26.btn.btn-mini{"rel" => "tooltip", "data-placement" => "left", "title" => "Go to this control page", "data-toggle" => "modal", :href => "#comingsoonModal"}
                              %i.halfopacity.gcmsicon-arrowright-black
                      #gwcontrol2a-summary.row-fluid.collapse
                        .span12.morewell.statusblue.nominheight
                          .slotcontent.span12
                            %ul.contentactions.pull-right
                              %li
                                %a#tooltip41.btn.btn-mini.halfopacity{"rel" => "tooltip", "data-placement" => "left", "title" => "Edit this object", "data-toggle" => "modal", :href => "#comingsoonModal"}
                                  %i.gcmsicon-edit-grey
                              %li
                                %a#tooltip42.btn.btn-mini.halfopacity{"rel" => "tooltip", "data-placement" => "left", "title" => "Link objects to this object", "data-toggle" => "modal", :href => "#comingsoonModal"}
                                  %i.gcmsicon-link
                              %li
                                %a#tooltip43.btn.btn-mini.halfopacity{"rel" => "tooltip", "data-placement" => "left", "title" => "Go to this object's page", "data-toggle" => "modal", :href => "#comingsoonModal"}
                                  %i.gcmsicon-arrowright-black
                            Textual description here.)