%ul
  %li
    .row-fluid
      .slot.span12.regulationslot.statusgreen.toggle{"data-target" => "#demo2-4-c1", "data-toggle" => "collapse"}
        %span.prefix Proc-42
        Proc-41 Product Policies Annual Review Products
        .enddot
        %a.widgetbtn.pull-right{"data-toggle" => "modal", :href => "#referenceSelectorModal"}
          %i.gcmsicon-arrowright-black
    .row-fluid#demo2-4-c1.collapse
      .slotcontent
        Google has established a Code of Conduct and requires that all employeesSystem/ mandatory training on
        Business Process Dialog
        the Code and its implementation. Google’s Global Ethics and Compliance team monitors compliance with
        the Google Code of Conduct training and other mandatory training programs. The Code of Conduct
        training includes employee responsibilities for the protection of information. The HR Handbook sets forth
  %li
    .row-fluid
      .slot.span12.regulationslot.statusgreen.toggle{"data-target" => "#demo2-4-c2", "data-toggle" => "collapse"}
        %span.prefix Proc-29
        Also without a [...] button.
        .enddot
        %a.widgetbtn.pull-right{"data-toggle" => "modal", :href => "#referenceSelectorModal"}
          %i.gcmsicon-arrowright-black
    .row-fluid#demo2-4-c2.collapse
      .slotcontent
        Enable processes to provide for timely forensic investigation in the event of a compromise to any hosted merchant or service provider.
  %li
    .row-fluid
      .slot.span12.regulationslot.statusgreen.toggle{"data-target" => "#demo2-4-c3", "data-toggle" => "collapse"}
        %span.prefix Proc-88
        Enable processes to provide for timely forensic investigation in the event of a ...
        .enddot
        %a.widgetbtn.pull-right{"data-toggle" => "modal", :href => "#referenceSelectorModal"}
          %i.gcmsicon-arrowright-black
    .row-fluid#demo2-4-c3.collapse
      .slotcontent
        Enable processes to provide for timely forensic investigation in the event of a compromise to any hosted merchant or service provider.