%ul
  %li
    .row-fluid
      .slot.span12.regulationslot.statusyellow.toggle{"data-target" => "#Link-4-c1", "data-toggle" => "collapse"}
        .row-fluid
          .span12
            %span.prefix Linked Control 1
            Simplify the slots with less buttons.
            .enddot
        .row-fluid
          .span3
            123
          .span9
            A lot more text.

    .row-fluid#Link-4-c1.collapse
      .slotcontent
        I would prefer to remove the [...] more button in these cases and only have the full slot button. While we are technically looking at more data, the dot lets them know there is no hierchal data to be shown. Otherwise, this slot and the 3 following should all have that blue button as well. Visually messy.
  %li
    .row-fluid
      .slot.span12.regulationslot.statusyellow.toggle{"data-target" => "#Link-4-c2", "data-toggle" => "collapse"}
        %span.prefix Linked Control 2
        Also without a [...] button.
        .enddot
    .row-fluid#Link-4-c2.collapse
      .slotcontent
        Enable processes to provide for timely forensic investigation in the event of a compromise to any hosted merchant or service provider.
  %li
    .row-fluid
      .slot.span12.regulationslot.statusyellow.toggle{"data-target" => "#Link-4-c3", "data-toggle" => "collapse"}
        %span.prefix Linked Control 3
        Enable processes to provide for timely forensic investigation in the event of a ...
        .enddot
    .row-fluid#Link-4-c3.collapse
      .slotcontent
        Enable processes to provide for timely forensic investigation in the event of a compromise to any hosted merchant or service provider.