%ul.slotlist
  %li
    .row-fluid
      .slot.span12.processslot
        .slottitle.span7.toggle{"data-target" => "#gwallet-1-summary", "data-toggle" => "collapse"}
          .expander
          %span.prefix Proc 29
          White Label Partner Intake Process
        .slotcolumn.span2
          .halfopacity.span12.nominheight.btn.btn-slotcolumn Data Integrity
        .slotowner.span2
          %a.slotowner{:href => "http://www.youtube.com/watch?v=oHg5SJYRHA0"} Rick Astley
        .slotactions.pull-right
          %a.btn.btn-mini.btn-blue.halfopacity{"data-target" => "#gwallet-1-more", "data-toggle" => "collapse"}
            %i.grcicon-more
    #gwallet-1-more.row-fluid.collapse
      -# This is more info.
      .span12.morewell.statusblue.nominheight
        .slotcontent.span12
          %ul.contentactions.pull-right
            %li
              %a#tooltip40.btn.btn-mini.halfopacity{"rel" => "tooltip", "data-placement" => "left", "title" => "Edit this object", "data-toggle" => "modal", :href => "#comingsoonModal"}
                %i.grcicon-edit-grey
            %li
              %a#tooltip39.btn.btn-mini.halfopacity{"rel" => "tooltip", "data-placement" => "left", "title" => "Link objects to this object", "data-toggle" => "modal", :href => "#comingsoonModal"}
                %i.grcicon-link
            %li
              %a#tooltip38.btn.btn-mini.halfopacity{"rel" => "tooltip", "data-placement" => "left", "title" => "Go to this object's page", "data-toggle" => "modal", :href => "#comingsoonModal"}
                %i.grcicon-arrowright-black
          General textual infromation and description on this System; Google Wallet. If you ever hit a more button, in effect what happens is ...  all mores close, you open this more and show any hierchal data slots.
    #gwallet-1-summary.collapse
      -# This is additional slots associated with the Google Wallet
      %ul.slotlist
        %li
          .row-fluid
            .slot.span12.controlslot
              .slottitle.span7.toggle{"data-target" => "#Process-1-summary", "data-toggle" => "collapse"}
                .enddot
                %span.prefix Con-29 
                White Label Partner Intake Control
              .slotcolumn.span2
                .halfopacity.span12.nominheight.btn.btn-slotcolumn Data Integrity
              .slotowner.span2
                %a.slotowner{:href => "http://www.youtube.com/watch?v=oHg5SJYRHA0"} Susan Pauling
              .slotactions.pull-right
                %a.btn.btn-mini.btn-blue.halfopacity{"data-target" => "#Process-1-more", "data-toggle" => "collapse"}
                  %i.grcicon-more
          #Process-1-more.row-fluid.collapse
            .span12.morewell.statusblue.nominheight
              .slotcontent.span12
                %ul.contentactions.pull-right
                  %li
                    %a#tooltip40.btn.btn-mini.halfopacity{"rel" => "tooltip", "data-placement" => "left", "title" => "Edit this object", "data-toggle" => "modal", :href => "#comingsoonModal"}
                      %i.grcicon-edit-grey
                  %li
                    %a#tooltip39.btn.btn-mini.halfopacity{"rel" => "tooltip", "data-placement" => "left", "title" => "Link objects to this object", "data-toggle" => "modal", :href => "#comingsoonModal"}
                      %i.grcicon-link
                  %li
                    %a#tooltip38.btn.btn-mini.halfopacity{"rel" => "tooltip", "data-placement" => "left", "title" => "Go to this object's page", "data-toggle" => "modal", :href => "#comingsoonModal"}
                      %i.grcicon-arrowright-black
                Bene hendrerit praesent, sagaciter importunus macto cui dolore similis, nulla nostrud ut pagus. Feugait in, ludus vel capio, vulputate ad sudo iriure verto iriure enim ulciscor refoveo. Eligo demoveo exputo usitas, os iriure. Abbas suscipere modo nisl quae duis tum quidem nulla ex verto. Immitto eu validus huic sudo qui autem et ludus appellatio dignissim, haero regula. Euismod facilisi uxor te vel nonummy in metuo ille, damnum reprobo. Autem huic meus esca dolore vero. Ea sit erat vereor abico abdo augue.
        %li
          .row-fluid
            .slot.span12.controlslot
              .slottitle.span7.toggle{"data-target" => "#Process-2-summary", "data-toggle" => "collapse"}
                .enddot
                %span.prefix Con-30 
                White Label Partner Intake Control
              .slotcolumn.span2
                .halfopacity.span12.nominheight.btn.btn-slotcolumn Data Integrity
              .slotowner.span2
                %a.slotowner{:href => "http://www.youtube.com/watch?v=oHg5SJYRHA0"} Susan Pauling
              .slotactions.pull-right
                %a.btn.btn-mini.btn-blue.halfopacity{"data-target" => "#Process-2-more", "data-toggle" => "collapse"}
                  %i.grcicon-more
          #Process-2-more.row-fluid.collapse
            .span12.morewell.statusblue.nominheight
              .slotcontent.span12
                %ul.contentactions.pull-right
                  %li
                    %a#tooltip40.btn.btn-mini.halfopacity{"rel" => "tooltip", "data-placement" => "left", "title" => "Edit this object", "data-toggle" => "modal", :href => "#comingsoonModal"}
                      %i.grcicon-edit-grey
                  %li
                    %a#tooltip39.btn.btn-mini.halfopacity{"rel" => "tooltip", "data-placement" => "left", "title" => "Link objects to this object", "data-toggle" => "modal", :href => "#comingsoonModal"}
                      %i.grcicon-link
                  %li
                    %a#tooltip38.btn.btn-mini.halfopacity{"rel" => "tooltip", "data-placement" => "left", "title" => "Go to this object's page", "data-toggle" => "modal", :href => "#comingsoonModal"}
                      %i.grcicon-arrowright-black
                Mos, vulputate regula distineo quibus erat eu loquor iriure transverbero. Virtus iaceo feugait causa capto huic torqueo saluto appellatio et quidem pertineo modo. Nimis pagus, dolore quibus tego vulpes. Utinam, lobortis reprobo usitas commoveo quis nostrud conventio interdico ullamcorper erat te fere. Esse bis defui nullus utrum nunc, exerci capio, interdico wisi praesent plaga eum eu.   
        %li
          .row-fluid
            .slot.span12.systemslot
              .slottitle.span7.toggle{"data-target" => "#gwallet-2-summary", "data-toggle" => "collapse"}
                .expander
                %span.prefix Sys-2
                Annual Review of Policies
              .slotcolumn.span2
                .halfopacity.span12.nominheight.btn.btn-slotcolumn Data Integrity
              .slotowner.span2
                %a.slotowner{:href => "http://www.youtube.com/watch?v=oHg5SJYRHA0"} Rick Astley
              .slotactions.pull-right
                %a.btn.btn-mini.btn-blue.halfopacity{"data-target" => "#gwallet-2-more", "data-toggle" => "collapse"}
                  %i.grcicon-more
          #gwallet-2-more.row-fluid.collapse
            -# This is more info.
            .span12.morewell.statusblue.nominheight
              .slotcontent.span12
                %ul.contentactions.pull-right
                  %li
                    %a#tooltip40.btn.btn-mini.halfopacity{"rel" => "tooltip", "data-placement" => "left", "title" => "Edit this object", "data-toggle" => "modal", :href => "#comingsoonModal"}
                      %i.grcicon-edit-grey
                  %li
                    %a#tooltip39.btn.btn-mini.halfopacity{"rel" => "tooltip", "data-placement" => "left", "title" => "Link objects to this object", "data-toggle" => "modal", :href => "#comingsoonModal"}
                      %i.grcicon-link
                  %li
                    %a#tooltip38.btn.btn-mini.halfopacity{"rel" => "tooltip", "data-placement" => "left", "title" => "Go to this object's page", "data-toggle" => "modal", :href => "#comingsoonModal"}
                      %i.grcicon-arrowright-black
                General textual infromation and description on this System; Google Wallet.    
          #gwallet-2-summary.collapse          
            %ul.slotlist
              %li
                .row-fluid
                  .slot.span12.controlslot
                    .slottitle.span7.toggle{"data-target" => "#Process-32-summary", "data-toggle" => "collapse"}
                      .enddot
                      %span.prefix Con-32
                      Company Policies must be reviewed annually
                    .slotcolumn.span2
                      .halfopacity.span12.nominheight.btn.btn-slotcolumn Data Integrity
                    .slotowner.span2
                      %a.slotowner{:href => "http://www.youtube.com/watch?v=oHg5SJYRHA0"} Rick Astley
                    .slotactions.pull-right
                      %a.btn.btn-mini.btn-blue.halfopacity{"data-target" => "#Process-32-more", "data-toggle" => "collapse"}
                        %i.grcicon-more
                #Process-32-more.row-fluid.collapse
                  .span12.morewell.statusblue.nominheight
                    .slotcontent.span12
                      %ul.contentactions.pull-right
                        %li
                          %a#tooltip40.btn.btn-mini.halfopacity{"rel" => "tooltip", "data-placement" => "left", "title" => "Edit this object", "data-toggle" => "modal", :href => "#comingsoonModal"}
                            %i.grcicon-edit-grey
                        %li
                          %a#tooltip39.btn.btn-mini.halfopacity{"rel" => "tooltip", "data-placement" => "left", "title" => "Link objects to this object", "data-toggle" => "modal", :href => "#comingsoonModal"}
                            %i.grcicon-link
                        %li
                          %a#tooltip38.btn.btn-mini.halfopacity{"rel" => "tooltip", "data-placement" => "left", "title" => "Go to this object's page", "data-toggle" => "modal", :href => "#comingsoonModal"}
                            %i.grcicon-arrowright-black
                      Mos, vulputate regula distineo quibus erat eu loquor iriure transverbero. Virtus iaceo feugait causa capto huic torqueo saluto appellatio et quidem pertineo modo. Nimis pagus, dolore quibus tego vulpes. Utinam, lobortis reprobo usitas commoveo quis nostrud conventio interdico ullamcorper erat te fere. Esse bis defui nullus utrum nunc, exerci capio, interdico wisi praesent plaga eum eu. 
              %li
                .row-fluid
                  .slot.span12.controlslot
                    .slottitle.span7.toggle{"data-target" => "#Control-33-more", "data-toggle" => "collapse"}
                      .enddot
                      %span.prefix Con-33
                      Company Policies must be approved annually
                    .slotcolumn.span2
                      .halfopacity.span12.nominheight.btn.btn-slotcolumn Data Integrity
                    .slotowner.span2
                      %a.slotowner{:href => "http://www.youtube.com/watch?v=oHg5SJYRHA0"} Rick Astley
                    .slotactions.pull-right
                      %a.btn.btn-mini.btn-blue.halfopacity{"data-target" => "#Control-33-more", "data-toggle" => "collapse"}
                        %i.grcicon-more
                #Control-33-more.row-fluid.collapse
                  .span12.morewell.statusblue.nominheight
                    .slotcontent.span12
                      %ul.contentactions.pull-right
                        %li
                          %a#tooltip40.btn.btn-mini.halfopacity{"rel" => "tooltip", "data-placement" => "left", "title" => "Edit this object", "data-toggle" => "modal", :href => "#comingsoonModal"}
                            %i.grcicon-edit-grey
                        %li
                          %a#tooltip39.btn.btn-mini.halfopacity{"rel" => "tooltip", "data-placement" => "left", "title" => "Link objects to this object", "data-toggle" => "modal", :href => "#comingsoonModal"}
                            %i.grcicon-link
                        %li
                          %a#tooltip38.btn.btn-mini.halfopacity{"rel" => "tooltip", "data-placement" => "left", "title" => "Go to this object's page", "data-toggle" => "modal", :href => "#comingsoonModal"}
                            %i.grcicon-arrowright-black
                      Bene hendrerit praesent, sagaciter importunus macto cui dolore similis, nulla nostrud ut pagus. Feugait in, ludus vel capio, vulputate ad sudo iriure verto iriure enim ulciscor refoveo. Eligo demoveo exputo usitas, os iriure. Abbas suscipere modo nisl quae duis tum quidem nulla ex verto. Immitto eu validus huic sudo qui autem et ludus appellatio dignissim, haero regula. Euismod facilisi uxor te vel nonummy in metuo ille, damnum reprobo. Autem huic meus esca dolore vero. Ea sit erat vereor abico abdo augue. 
            