%ul
  %li
    .row-fluid
      .slot.span12.regulationslot.statusred
        .slottitle.span11.toggle{"data-target" => "#risk1-summary", "data-toggle" => "collapse"}
          .enddot.risk
          %span.prefix Risk 1
          Satisfied, full affordable, handcrafted, smooth cheap open lifetime expensive durable style, tummy screamin' jumbo. 
        .slotactions.pull-right
          %a.btn.btn-mini.btn-blue{"data-target" => "#risk1-summary", "data-toggle" => "collapse"}
            %i.gcmsicon-more
      #risk1-summary.row-fluid.collapse
        .span12.nominheight
          .slotcontent.span12
            %ul.contentactions.pull-right
              %li
                %a.btn.btn-mini.halfopacity{"data-toggle" => "modal", :href => "#comingsoonModal"}
                  %i.gcmsicon-edit-grey
              %li
                %a.btn.btn-mini.halfopacity{"data-toggle" => "modal", :href => "#comingsoonModal"}
                  %i.gcmsicon-link
              %li
                %a.btn.btn-mini.halfopacity{"data-toggle" => "modal", :href => "#comingsoonModal"}
                  %i.gcmsicon-arrowright-black
            Satisfied, full affordable, handcrafted, smooth cheap open lifetime expensive durable style, tummy screamin' jumbo. 
  %li
    .row-fluid
      .slot.span12.regulationslot.statusred
        .slottitle.span11.toggle{"data-target" => "#risk2-summary", "data-toggle" => "collapse"}
          .enddot.risk
          %span.prefix Risk 2
          Risk examples
        .slotactions.pull-right
          %a.btn.btn-mini.btn-blue{"data-target" => "#risk2-summary", "data-toggle" => "collapse"}
            %i.gcmsicon-more
      #risk2-summary.row-fluid.collapse
        .span12.nominheight
          .slotcontent.span12
            %ul.contentactions.pull-right
              %li
                %a.btn.btn-mini.halfopacity{"data-toggle" => "modal", :href => "#comingsoonModal"}
                  %i.gcmsicon-edit-grey
              %li
                %a.btn.btn-mini.halfopacity{"data-toggle" => "modal", :href => "#comingsoonModal"}
                  %i.gcmsicon-link
              %li
                %a.btn.btn-mini.halfopacity{"data-toggle" => "modal", :href => "#comingsoonModal"}
                  %i.gcmsicon-arrowright-black
            `Introducing parents double, fast, credit-card free survey zesty deal out on ever really tough. Quite natural, deserve, mega sleek, rich mothers whenever get sleek keeps special secret crystals blast. More gigantic offer vinyl excellent with while wave first power perfect, full-bodied, have. 
  %li
    .row-fluid
      .slot.span12.regulationslot.statusred
        .slottitle.span11.toggle{"data-target" => "#risk3-summary", "data-toggle" => "collapse"}
          .enddot.risk
          %span.prefix Risk 3
          Risk examples
        .slotactions.pull-right
          %a.btn.btn-mini.btn-blue{"data-target" => "#risk3-summary", "data-toggle" => "collapse"}
            %i.gcmsicon-more
      #risk3-summary.row-fluid.collapse
        .span12.nominheight
          .slotcontent.span12
            %ul.contentactions.pull-right
              %li
                %a.btn.btn-mini.halfopacity{"data-toggle" => "modal", :href => "#comingsoonModal"}
                  %i.gcmsicon-edit-grey
              %li
                %a.btn.btn-mini.halfopacity{"data-toggle" => "modal", :href => "#comingsoonModal"}
                  %i.gcmsicon-link
              %li
                %a.btn.btn-mini.halfopacity{"data-toggle" => "modal", :href => "#comingsoonModal"}
                  %i.gcmsicon-arrowright-black
            Bonus, seasoned deluxe advantage special whiter more want. Savor, juicy permanent coming cheap pennies distinct cholesterol hot families, big, tangy smile to generous. 
  %li
    .row-fluid
      .slot.span12.regulationslot.statusred
        .slottitle.span11.toggle{"data-target" => "#risk4-summary", "data-toggle" => "collapse"}
          .enddot.risk
          %span.prefix Risk 4
           Quickly, distinct adore cholesterol value in cause natural appearance money worthwhile. Can simply never improved full-
        .slotactions.pull-right
          %a.btn.btn-mini.btn-blue{"data-target" => "#risk4-summary", "data-toggle" => "collapse"}
            %i.gcmsicon-more
      #risk4-summary.row-fluid.collapse
        .span12.nominheight
          .slotcontent.span12
            %ul.contentactions.pull-right
              %li
                %a.btn.btn-mini.halfopacity{"data-toggle" => "modal", :href => "#comingsoonModal"}
                  %i.gcmsicon-edit-grey
              %li
                %a.btn.btn-mini.halfopacity{"data-toggle" => "modal", :href => "#comingsoonModal"}
                  %i.gcmsicon-link
              %li
                %a.btn.btn-mini.halfopacity{"data-toggle" => "modal", :href => "#comingsoonModal"}
                  %i.gcmsicon-arrowright-black
            %p
              Quickly, distinct adore cholesterol value in cause natural appearance money worthwhile. Can simply never improved full-bodied, hearty admire chocolatey super and delectable smells soaking generous made. Big now multi-purpose fresh locked-in genuine with exotic choose how, high waxy and pennies. Never limited just sold want golden grown finest. Generous feedback gigantic drink, dry worthwhile quality believe lasting wave fresh. Multi-purpose crystals odor golden silky sale powerful go, product can't. Effervescent, sure wholesome ultimate jumbo classic want never rich this but hurry. 

            %p
              Mountain yummy sure vinyl luxury customer aromatic stains absorbent save more, all-over sporty. By clean, chosen go, new citrus the, worthwhile multi-purpose wealth wholesome warm mouthwatering vast, a. A, announcing wave, think grown humongous tasty, are tangy more seasoned clean juicy. Quick thought advanced full quite good. On much brand need, only, much comfort, not whopping for fresh, mild, permanent lower neat. Revolutionary tough by settle odor thin agree value love longer go. Product spring smile waxy inside, win, flash guaranteed expensive, money finest look unlimited. 