#productsWidget.WidgetBox.govWidget.demoItem
	.WidgetBoxBlueHeading
		.WidgetTitle.doublewidth Products
		%nav
			%a.pull-right.widgettextbtn{"data-toggle" => "modal", :href => "#"} Edit
			
	.WidgetBoxContent
		%a{href: 'design/governance-products.haml'}
			%img{:src => "images/tempProducts.jpg"}
