#productsWidget.WidgetBox.govWidget
	.WidgetBoxHeading
		%nav
		%a.widgettextbtn{"data-toggle" => "modal", :href => "#"} Edit
		.WidgetTitle.doublewidth Products
	.WidgetBoxContent
		%img{:src => "images/tempProducts.jpg"}
