#productsWidget.WidgetBox.govWidget
	.WidgetBoxBlueHeading
		.WidgetTitle.doublewidth Products
		%nav
			%a.fltrt.widgettextbtn{"data-toggle" => "modal", :href => "#"} Edit
			
	.WidgetBoxContent
		%a{href: 'governancemodule/products/index.haml'}
			%img{:src => "images/tempProducts.jpg"}
