#reportsWidget.WidgetBox.govWidget
	.WidgetBoxBlueHeading
		.WidgetTitle.doublewidth Reports
		%nav
			%a.fltrt.widgettextbtn{"data-toggle" => "modal", :href => "#"} Edit
	.WidgetBoxContent
		/ %img{:src => "images/tempProducts.jpg"}
