#reportsWidget.WidgetBox.govWidget.demoItem
	.WidgetBoxBlueHeading
		.WidgetTitle.doublewidth Reports
		%nav
			%a.pull-right.widgettextbtn{"data-toggle" => "modal", :href => "#"} Edit
	.WidgetBoxContent
		%a{href: 'design/governance-reports'}
			%img{:src => "images/tempProducts.jpg"}
