#cotWidget.WidgetBox.govWidget
	.WidgetBoxBlueHeading
		.WidgetTitle.doublewidth Change Over Time
		%nav
			%a.widgettextbtn{"data-toggle" => "modal", :href => "#"} Edit
	.WidgetBoxContent
		-#%a{href: 'design/gov-changeovertime.haml'}
		%img{:src => "images/tempCOT.jpg"}