%a.btn-large.btn-info{"data-dismiss" => "modal", :href => "#comingsoonModal"} Governance
%a.btn-large.btn-warning{"data-dismiss" => "modal", :href => "#comingsoonModal"} Risk
%a#actionButton.btn-large.btn-success{:href => "#"} Compliance