.menu-buttons{:'data-toggle' => "buttons-checkbox"}
  %a.btn.btn-info.halfopacity{:href => "javascript:toggleGovernance();"} Governance
  %a.btn.btn-warning.halfopacity{:href => "javascript:toggleRisk();"} Risk
  %a.btn.btn-success{:href => "javascript:toggleCompliance();"} Compliance
