.menu-buttons{:'data-toggle' => "buttons-checkbox"}
  %a#grcbutton.btn.btn-info.halfopacity{:href => "javascript:toggleGovernance();"} Governance
  %a#grcbutton.btn.btn-warning.halfopacity{:href => "javascript:toggleRisk();"} Risk
  #grcbuttonStable Compliance
