.menu-buttons{:'data-toggle' => "buttons-checkbox"}
  %a#grcbutton-governance.btn.btn-info.grcbutton.halfopacity{:href => "#"} Governance
  %a#grcbutton-risk.btn.btn-warning.grcbutton.halfopacity{:href => "#"} Risk
  #grcbuttonStable Compliance
