#helpModal.modal.hide.fade
  .modal-header
    %nav
      %a.widgetbtn{"data-toggle" => "modal", :href => "#helpModal"}
        %i.gcmsicon-questionmark-grey
      %a.widgetbtn{"data-dismiss" => "modal", :href => "#"}
        %i.gcmsicon-x-grey
    %h1 Help on %this%
  .modal-body
    %p You have clicked help on this page for this thing.
    %h1 You should try these things:
    %ul
      %li Refresh
      %li Log out and Log In
      %li Reboot your computer
      %li Power cycle your internet connection
      %li Call your mother
      %li Submit a bug
  .modal-footer
    .row-fluid
      %nav.pull-left.txtlft.span3
        %a.btn.btn-large.btn-info{"data-dismiss" => "modal", :href => "#comingsoonModal"} Cancel
        %a.btn.btn-large.btn-warning{"data-dismiss" => "modal", :href => "#comingsoonModal"} Delete
      .toolbar-widget.span6
        %a.btn{:href => "#comingsoonModal"}
          %i.gcmsicon-arrowleft-black
        %span.btnwell Showing Most Recent of 3 Revisions
        %a.btn{:href => "#comingsoonModal"}
          %i.gcmsicon-arrowright-black
      %nav.pull-right.txtrt.span3
        %a.close{"data-dismiss" => "modal", :href => "#comingsoonModal"} Save
        %a.close{"data-dismiss" => "modal", :href => "#comingsoonModal"} I Approve
/ End coming soon Modal
