#impactscopewidget.WidgetBox
  .WidgetBoxHeading
    .WidgetTitle Impact / Scope
    %nav
      %a.widgetbtn{"data-toggle" => "modal", :href => "#comingsoonModal"}
        %i.gcmsicon-questionmark-grey
      %input.ui-corner-all.widgetsearch{:placeholder => "Search", :type => "text"}/
      %a.accordion-toggle.widgetbtn{"data-toggle" => "collapse", :href => "#impactScopeInfo"}
        %i.gcmsicon-enlarge-grey
  .WidgetBoxContent.information
    #impactScopeInfo.open
      /Button Filters
      .button-set
        .row-fluid
          .span4
            .span12.btn{:href => ""}
              Programs
          .span4
            .span12.btn{:href => ""}
              -
          .span4
            .span12.btn{:href => ""}
              Org Groups
      .button-set
        .row-fluid
          .span4
            .span12.btn{:href => ""}
              Products
          .span4
            .span12.btn{:href => ""}
              -
          .span4
            .span12.btn{:href => ""}
              Threats
      %hr.hr-widget
      / TABS
      .row-fluid
        .span12
          %h4 
            Applicable Regulations
            %a.btn.btn-blue.addbtn.pull-right Edit List
      .row-fluid
        .span12.audit
          .subtitle Regulations or programs that are directly applicable to this program.
      .row-fluid
        %ul.span12
          %li.controlSlot
            %span.controls-group United Kingdoms
            .row-fluid.nominheight
              .span2.nominheight
                %span.controls-subgroup CCA
              .span6.nominheight
                %span.controls-subgroup.pull-right UK Consumer Credit Act
              .span4.nominheight
                %a.btn.btn-blue.addbtn.pull-right Review
            .row-fluid.nominheight
              .span4.nominheight
                %strong 239
                Systems
              .span4.nominheight
                %strong 22
                Required
              .span4.nominheight
      .row-fluid
        %ul.span12
          %li.controlSlot
            %span.controls-group United Kingdoms
            .row-fluid.nominheight
              .span2.nominheight
                %span.controls-subgroup CCA
              .span6.nominheight
                %span.controls-subgroup.pull-right UK Consumer Credit Act
              .span4.nominheight
                %a.btn.btn-blue.addbtn.pull-right Review
            .row-fluid.nominheight
              .span4.nominheight
                %strong 239
                Systems
              .span4.nominheight
                %strong 22
                Required
              .span4.nominheight
      .row-fluid
        .span12.audit
          .subtitle Regulations or programs that are directly applicable to this program.
      .row-fluid
        %ul.span12
          %li.controlSlot
            %span.controls-group United Kingdoms
            .row-fluid.nominheight
              .span2.nominheight
                %span.controls-subgroup CCA
              .span6.nominheight
                %span.controls-subgroup.pull-right UK Consumer Credit Act
              .span4.nominheight
                %a.btn.btn-blue.addbtn.pull-right Review
            .row-fluid.nominheight
              .span4.nominheight
                %strong 239
                Systems
              .span4.nominheight
                %strong 22
                Required
              .span4.nominheight
        / OTHER CONTENT
        %hr.hr-widget/
        .row-fluid.nominheight
          .span3.nominheight
            %label.pull-left{:for => "control-effectivedate"}
              %strong> Products
              \: 3
          .span3.nominheight
            %label.pull-left{:for => "control-effectivedate"}
              %strong> Biz Areas
              \: 2
          .span3.nominheight
            %label.pull-left{:for => "control-effectivedate"}
              %strong> Biz Process
              \: 9
          .span3.nominheight
            %label.pull-left{:for => "control-effectivedate"}
              %strong> Systems
              \: 239
  / end of span