#mappedcontrolsfull.modal.hide.fade
  .modal-header
    %nav
      %a.widgetbtn{"data-toggle" => "modal", :href => "#comingsoonModal"}
        %i.gcmsicon-questionmark-grey
      %a.widgetbtn{"data-dismiss" => "modal", :href => "#comingsoonModal"}
        %i.gcmsicon-x-grey
    %h2 Controls Mapped to this Section
    %h3 PCI 1.3
  .modal-body
    %form.form-inline
      .row-fluid
        .span6.control-group
          %h3 Regulation Controls)
          %ul.slugtree
            / regulations
            %li{:id => "content_PCI.A.1.4"}
              .row-fluid
                .span12
                  .modalSlot.span12{"data-target" => "#demo2", "data-toggle" => "collapse"}
                    %a.btn.btn-blue.unmapbtn.pull-right{"data-dismiss" => "modal", "data-toggle" => "modal", :href => "#comingsoonModal"} unmap
                    %span.prefix CODE - Title
                    %br
                      %textarea#control-description2.span12{:placeholder => "", :rows => "4"} Enable processes to provide for timely forensic investigation in the event of a ...  Hendrerit dolus nullus nimis pneum abico quibus, vulputate, macto, autem vulputate. Qui, sagaciter letalis eum quae interdico iriure, eum. Praesent, jus importunus capio abdo velit genitus. Luptatum zelus meus illum, eros capto nulla in augue ymo quod ibidem.
            %li{:id => "content_PCI.A.1.4"}
              .row-fluid
                .span12
                  .modalSlot.span12{"data-target" => "#demo2", "data-toggle" => "collapse"}
                    %a.btn.btn-blue.unmapbtn.pull-right{"data-dismiss" => "modal", "data-toggle" => "modal", :href => "#comingsoonModal"} unmap
                    %span.prefix PCI.A.1.4 - Zipties in Server Cases
                    %br
                      %textarea#control-description2.span12{:placeholder => "", :rows => "4"} Qui, sagaciter letalis eum quae interdico iriure, eum. Praesent, jus importunus capio abdo velit genitus. Luptatum zelus meus illum, eros capto nulla in augue ymo Enable processes to provide for timely forensic investigation in the event of a ...  Hendrerit dolus nullus nimis pneum abico quibus, vulputate, macto, autem vulputate. Qui, sagaciter letalis eum quae interdico iriure, eum. Praesent, jus importunus capio abdo velit genitus. Luptatum zelus meus illum, eros capto nulla in augue ymo quod ibidem.
          / end regulations
        .span6.control-group
          %h3 Company Controls
          %ul.slugtree
            %li{:id => "content_PCI.A.1.4"}
              .row-fluid
                .span12
                  .modalSlot.span12{"data-target" => "#demo2", "data-toggle" => "collapse"}
                    %a.btn.btn-blue.unmapbtn.pull-right{"data-dismiss" => "modal", "data-toggle" => "modal", :href => "#comingsoonModal"} unmap
                    %span.prefix PCI.A.1.4 - This title is actually too long ...
                    %br
                      %textarea#control-description2.span12{:placeholder => "", :rows => "4"} quibus, vulputate, macto, autem vulputate. Qui, sagaciter letalis eum quae interdico iriure, eum. Praesent, jus importunus capio abdo velit genitus Enable processes to provide for timely forensic investigation in the event of a ...  Hendrerit dolus nullus nimis pneum abico quibus, vulputate, macto, autem vulputate. Qui, sagaciter letalis eum quae interdico iriure, eum. Praesent, jus importunus capio abdo velit genitus. Luptatum zelus meus illum, eros capto nulla in augue ymo quod ibidem.
      .row-fluid
        .span12
          %label{:for => "control-description2"} Note
          %textarea#control-description2.span12.note{:placeholder => "", :rows => "2"}
            :preserve
              Hendrerit dolus nullus nimis pneum abico quibus, vulputate, macto, autem vulputate. Qui, sagaciter letalis eum quae interdico iriure, eum. Praesent, jus importunus capio abdo velit genitus. Luptatum zelus meus illum, eros capto nulla in augue ymo quod ibidem. 
        %span.help-inline.description
          / If there is a problem with the textarea it would show here.
      / end row
      / Approved notes
      .row-fluid.nominheight
        .span6.nominheight
        .span3.nominheight
          %label.pull-right
            %strong> Last Editor
            \: Joss Rayburn
        .span3.nominheight
          %label.pull-right
            %strong> Approved
            \:
            %span.statustextred Not Approved
  / close modal body
  .modal-footer
    .row-fluid
      %nav.span12.pull-right
        %a.btn.btn-large.btn-success{"data-dismiss" => "modal", :href => "#"} I Approve