.modal-footer
    .row-fluid
      .span3
        %label.fltlft{:for => "control-effectivedate"}
          %strong> Created
          \: 4/1/11
      .span3
        %label#updatedDate.fltlft{:for => "control-verificationdate"}
          %strong> Updated
          \: 5/1/12
      .span3
        %label.fltrt{:for => "control-effectivedate"}
          %strong> Last Editor
          \: Joss Rayburn
      .span3
        %label.fltrt{:for => "control-verificationdate"}
          %strong> Status
          \:
          %span#statusValue Draft
    .row-fluid
      %nav.fltlft.txtlft.span3
        %a.btn-large.btn-info{"data-dismiss" => "modal", :href => "#comingsoonModal"} Cancel
        %a.btn-large.btn-warning{"data-dismiss" => "modal", :href => "#comingsoonModal"} Delete
      .toolbar-widget.span6
        %a.btn{:href => "#comingsoonModal"}
          %i.gcmsicon-arrowleft-black
        %span.btnwell Showing Most Recent of 3 Revisions
        %a.btn{:href => "#comingsoonModal"}
          %i.gcmsicon-arrowright-black
      %nav.fltrt.txtrt.span3
        %a#actionButton.btn-large.btn-success{:href => "#"} Save
        -#%a.btn-large.btn-success{"data-dismiss" => "modal", :href => "#comingsoonModal"} I Approve