.modal-info
  -if showcreated == true
    .row-fluid
      .span9
        %strong Created:
        %span 4/1/11
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        %strong Updated:
        %span#updatedDate 4/1/11
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        %strong Last Editor:
        %span Joss Rayburn
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        %strong.demoText Approved by:
        %span.demoText P. Taylor
      .span3.status
        %h5
          Status:
          %span#statusValue Draft
  -if shownote  == true
    .row-fluid
      .span9
        %strong Note:
        %span You need to assign relationship to all people in the list.
      .span3.status
        %h5
          Relationship Selections Pending:
          %span#unassignedElements 3  
.modal-footer
  -if showrevs == true
    .row-fluid
      %nav.fltlft.txtlft.span3
        %a.btn.btn-large.btn-info{"data-dismiss" => "modal", :href => "#comingsoonModal"} Cancel
        %a.btn.btn-large.btn-warning{"data-dismiss" => "modal", :href => "#comingsoonModal"} Delete
      .toolbar-widget.span6.demoItem
        %a.btn{:href => "#comingsoonModal"}
          %i.gcmsicon-arrowleft-black
        %span.btnwell Showing Most Recent of 3 Revisions
        %a.btn{:href => "#comingsoonModal"}
          %i.gcmsicon-arrowright-black
      %nav.fltrt.txtrt.span3
        %a#actionButton.btn.btn-large.btn-success.btn-primary{:href => "#"} Save
  -else
    .row-fluid
      %nav.fltlft.txtlft.span3
        %a.btn.btn-large.btn-info{"data-dismiss" => "modal", :href => "#comingsoonModal"} Cancel
      %nav.fltrt.txtrt.span3
        %a#actionButton.btn.btn-large.btn-success{:href => "#", :disabled => "disabled"} Save