.modal-info
  .row-fluid
    .span9
      %strong Created:
      %span 4/1/11
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      %strong Updated:
      %span#updatedDate 4/1/11
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      %strong Last Editor:
      %span Joss Rayburn
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      %strong Approved by:
      %span P. Taylor
    .span3.status
      %h5
        Status:
        %span#statusValue Draft

.modal-footer
  .row-fluid
    %nav.fltlft.txtlft.span3
      %a.btn.btn-large.btn-info{"data-dismiss" => "modal", :href => "#comingsoonModal"} Cancel
      %a.btn.btn-large.btn-warning{"data-dismiss" => "modal", :href => "#comingsoonModal"} Delete
    .toolbar-widget.span6
      %a.btn{:href => "#comingsoonModal"}
        %i.gcmsicon-arrowleft-black
      %span.btnwell Showing Most Recent of 3 Revisions
      %a.btn{:href => "#comingsoonModal"}
        %i.gcmsicon-arrowright-black
    %nav.fltrt.txtrt.span3
      %a#actionButton.btn.btn-large.btn-success.btn-primary{:href => "#"} Save