/ newassettypes Modal
#createnewasset.modal.hide.fade
  .modal-header
    %nav
      %a.widgetbtn{"data-toggle" => "modal", :href => "#comingsoonModal"}
        %i.gcmsicon-questionmark-grey
      %a.widgetbtn{"data-dismiss" => "modal", :href => "#"}
        %i.gcmsicon-x-grey
    %h1 Create New Asset
  .modal-body
    .row-fluid
      .span2.form-inline.control-group
        %label{:for => "control-program"} Code
        %br/
        %input#control-program.inputtext-small.forminputsuccess{:placeholder => "BUILD-43", :type => "text"}/
        %br/
        %span.help-inline
      .span4.form-inline.control-group
        %label{:for => "control-code"} Name
        %br/
        %input#control-code.input-large.forminputsuccess{:placeholder => "", :type => "text", :value => "Building"}/
        %br/
        %span.help-inline
      .span3.form-inline.control-group
        %label{:for => "control-version"} Version
        %br/
        %input#control-version.input-supermini.forminputsuccess{:placeholder => "4.3", :type => "text"}/
        %br/
        %span.help-inline
      .span3.form-inline.control-group.pull-right
        %label{:for => "select01"} Type
        %br/
        .controls
          %select#select01
            %option List Table
            %option 2
            %option 3
            %option 4
            %option 5
        %br/
        %span.help-inline
  =render :partial => 'design/templates/modalfooter', :locals => { :shownote => false, :showcreated => true, :showrevs => true }
