#newRequest.modal.modal-wide.hide.fade
  .modal-header
    %nav
      %a.widgetbtn{"data-toggle" => "modal", :href => "#comingsoonModal"}
        %i.grcicon-questionmark-grey
      %a.widgetbtn{"data-dismiss" => "modal", :href => "#"}
        %i.grcicon-x-grey
    %h1
      New/Edit Request
      %span.version v.0.60
  .modal-body
    .alert.alert-info
      %span#alertMessage
    %form
      .row-fluid
        .span2
          %label PBC Control Code
          %input.span12{:type => "text", :placeholder => "Control Code"}
        .span2
          %label GRC Control Code
          %a.btn.btn-mini.pull-right
            %i.grcicon-link
          .item.i-control.has-link
            Control Code

        .span2
          %label Company Contact
          %input.span12{:type => "text", :placeholder => "Email"}
        .span2
          %label Auditor Contact
          %input.span12{:type => "text", :placeholder => "Name"}
        .span2
          %label Date Requested
          %input#date.span12.date{:type => "text", :placeholder => "MM/DD/YYYY"}
          :javascript
            $('#date').datepicker();
        .span2
          %label Status
          %select.span12
            %option{:selected => "selected"} Draft
            %option Waiting Compliance
            %option Waiting Auditors
            %option Completed
                    
      .row-fluid
        .span6
          %label
            Control Description from PBC List
            .wysiwyg-area
              =text_area_tag "pbcdescription", "", :class => "span12 double wysihtml5", :placeholder => "Enter description here"
        .span6
          %label
            Request
            .wysiwyg-area
              =text_area_tag "request", "", :class => "span12 double wysihtml5", :placeholder => "Enter request here"
      .row-fluid
        .span6
          %label
            Notes
            .wysiwyg-area
              =text_area_tag "notes", "", :class => "span12 double wysihtml5", :placeholder => "Enter notes here"
        .span6
          %label
            Test
            .wysiwyg-area
              =text_area_tag "test", "", :class => "span12 double wysihtml5", :placeholder => "Enter test here"

        
  =render :partial => 'design/templates/modalfooter', :locals => { :shownote => false, :showcreated => true, :showrevs => true }
  
=render :partial => "shared/wysihtml5"