/ createnewfacility Modal
#createnewfacility.modal.hide.fade
  .modal-header
    %nav
      %a.widgetbtn{"data-toggle" => "modal", :href => "#comingsoonModal"}
        %i.grcicon-questionmark-grey
      %a.widgetbtn{"data-dismiss" => "modal", :href => "#"}
        %i.grcicon-x-grey
    %h1 Create New Facility
  .modal-body
    .row-fluid
      .span2
        %label{:for => "control-program"} Coders
        %input#control-program.span12.forminputsuccess{:placeholder => "BUILD-43", :type => "text"}
        %span.help-inline
      .span6
        %label{:for => "control-code"} Name
        %input#control-code.span12.forminputsuccess{:placeholder => "", :type => "text", :value => "Building"}
        %span.help-inline
      .span1
        %label{:for => "control-version"} Version
        %input#control-version.span12.forminputsuccess{:placeholder => "4.3", :type => "text"}
        %span.help-inline
      .span3
        %label{:for => "select01"} Type
        %select#select01.span12
          %option List Table
          %option 2
          %option 3
          %option 4
          %option 5
        %span.help-inline
  =render :partial => 'design/templates/modalfooter', :locals => { :shownote => false, :showcreated => true, :showrevs => true }
