#basicnewpersonModal.modal.modal-wide.hide.fade
  .modal-header
    %nav
      %a.widgetbtn{"data-toggle" => "modal", :href => "#comingsoonModal"}
        %i.gcmsicon-questionmark-grey
      %a.widgetbtn#closeSecondModal{:href => "#"}
        %i.gcmsicon-x-grey
    %h1 Create New Person
  .modal-body
    %form.form-inline
      .row-fluid
        .span4.control-group
          %label{:for => "inputError"} Name
          %input#inputError.span12.forminputsuccess{:placeholder => "Enter Name", :type => "text"}/
          %br/
          %span.help-inline
        .span4.control-group
          %label{:for => "inputError"} Email
          %input#inputError.span12.forminputsuccess{:placeholder => "e.g.: name@company.com", :type => "text"}/
          %br/
          %span.help-inline
        .span1
        .span2.control-group
          %label{:for => "select01"} Language
          %br/
          .controls
            %select#select01.inputtext-small
              %option English
              %option 2
              %option 3
              %option 4
              %option 5
          %br/
          %span.help-inline
      .row-fluid
        .span12.control-group
          %label{:for => "inputError"} Company (optional)
          %input#inputError.span12.forminputsuccess{:placeholder => "Enter Company Name", :type => "text"}/
          %br/
          %span.help-inline
  =render :partial => 'design/templates/modalfooter', :locals => { :shownote => false, :showcreated => true, :showrevs => true}
