#newthreat.modal.hide.fade
  .modal-header
    %nav
      %a.widgetbtn{"data-toggle" => "modal", :href => "#comingsoonModal"}
        %i.gcmsicon-questionmark-grey
      %a.widgetbtn{"data-dismiss" => "modal", :href => "#"}
        %i.gcmsicon-x-grey
    %h1 New/Edit Risky Attribute
  .modal-body
    .row-fluid
      .span4.form-inline.control-group
        %label{:for => "riskgroup"} Risk Group
        .controls.span12
          %select#riskgroup.span12
            %option Product Feature Risks
            %option Inherit Item Risks
            %option Surprise Risks
        %span.help-inline
      .span4
      .span2.form-inline.control-group
        %label{:for => "control-program"} Code (optional)
        %input#control-program.span12{:placeholder => "BUILD-43", :type => "text"}
        %span.help-inline
      .span2.form-inline.control-group
        %label{:for => "control-version"} Version
        %input#control-version.span12{:placeholder => "4.3", :type => "text"}
        %span.help-inline
    .row-fluid
      .span12.control-group
        %label{:for => "threattitle"} Title
        %input#threattitle.span12{:placeholder => "Enter Title", :type => "text"}
        %span.help-inline
    .row-fluid
      .span12
        %label{:for => "threatdesc"} Description
        .row-fluid
          .span12.well
            %textarea#threatdesc.span12{:placeholder => "", :rows => "4"}
              :preserve
                Hendrerit dolus nullus nimis pneum abico quibus, vulputate, macto, autem vulputate. Qui, sagaciter letalis eum quae interdico iriure, eum. Praesent, jus importunus capio abdo velit genitus. Luptatum zelus meus illum, eros capto nulla in augue ymo quod ibidem.
            -#:javascript
              $('#threatdesc').wysihtml5({
                "image": false //Button to insert an image. Default true
              });
            %span.help-inline.description
    .row-fluid
      .span12.control-group
        %label{:for => "urltitle"} URL for this Attribute (optional)
        %input#urltitle.span12{:placeholder => "Enter direct link to this item (optional)", :type => "text"}/
        %br/
        %span.help-inline
  =render :partial => 'design/templates/modalfooter', :locals => { :shownote => false, :showcreated => false, :showrevs => false }
