/ new System Modal
#newsystemModal.modal.hide.fade
  .modal-header
    %nav
      %a.widgetbtn{"data-toggle" => "modal", :href => "#comingsoonModal"}
        %i.gcmsicon-questionmark-grey
      %a.widgetbtn{"data-dismiss" => "modal", :href => "#"}
        %i.gcmsicon-x-grey
    %h1 New System
  .modal-body
    .row-fluid
      .span2.form-inline.control-group
        %label{:for => "control-program"} Code
        %br/
        %input#control-program.span12.forminputsuccess{:placeholder => "BUILD-43", :type => "text"}/
        %br/
        %span.help-inline
      .span2.form-inline.control-group
        %label{:for => "control-version"} Version
        %br/
        %input#control-version.span12.forminputsuccess{:placeholder => "4.3", :type => "text"}/
        %br/
        %span.help-inline
      .span2.form-inline.control-group
        %label{:for => "select01"} Type
        %br/
        .controls
          %select#select01.input-small
            %option Process
            %option 2
            %option 3
            %option 4
            %option 5
        %br/
        %span.help-inline
      .span2.form-inline.control-group
        %label{:for => "select01"} Kind
        %br/
        .controls
          %select#select02.span12
            %option ---
            %option 2
            %option 3
            %option 4
            %option 5
        %br/
        %span.help-inline
      .span4.form-inline.control-group.pull-right
        .controls.pull-right
          %label{:for => "select01"} Status
          %br/
          %select#select03.span12.forminputstatus
            %option Depreciated
            %option 2
            %option 3
            %option 4
            %option 5
        %br/
        %span.help-inline
    .row-fluid
      .span12.control-group
        %label{:for => ""} Title of Product
        %input#inputError.span12.forminputsuccess{:placeholder => "http://www.thisisaurl.com/thisurl", :type => "text"}/
        %br/
        %span.help-inline
    / desc
    .row-fluid{"control-group" => ""}
      .span12.well
        %textarea#control-description2.span12.forminputsuccess{:placeholder => "", :rows => "4"}
          :preserve
            Hendrerit dolus nullus nimis pneum abico quibus, vulputate, macto, autem vulputate. Qui, sagaciter letalis eum quae interdico iriure, eum. Praesent, jus importunus capio abdo velit genitus. Luptatum zelus meus illum, eros capto nulla in augue ymo quod ibidem.
        :javascript
          $('#control-description2').wysihtml5({
            "image": false //Button to insert an image. Default true
          });
        %span.help-inline.description
    / end row
    .row-fluid
      .span12.control-group
        %label{:for => ""} Direct URL for Control (optional)
        %input#inputError.span12.forminputsuccess{:placeholder => "http://www.thisisaurl.com/thisurl", :type => "text"}/
        %br/
        %span.help-inline
    / end 2 column product owner and refs
  =render :partial => 'design/templates/modalfooter', :locals => { :shownote => false, :showcreated => true, :showrevs => true }
