#newprogramModal.modal.hide.fade
  .modal-header
    %nav
      %a.widgetbtn{"data-toggle" => "modal", :href => "#comingsoonModal"}
        %i.gcmsicon-questionmark-grey
      %a.widgetbtn{"data-dismiss" => "modal", :href => "#"}
        %i.gcmsicon-x-grey
    %h1 Create New Program
  %form.form-inline
    .modal-body
      .alert.alert-info
        %span#alertMessage
        / %button.close{:type => "button", :"data-dismiss" => "alert"} ×
      / start row
      .row-fluid
        .span6
          / start column
          .row-fluid
            .span4.form-inline.control-group
              .form-inline.control-group
                %label{:for => "control-code"} Code
                %br/
                %input#control-code.inputtext-small.forminputsuccess{:placeholder => "SOX", :type => "text"}/
                %span.help-inline
            .span4.form-inline.control-group.error
              %label{:for => "control-version"} Version
              %br/
              %input#control-version.inputtext-small.forminputfail{:placeholder => "SOX", :type => "text"}/
              %span.help-inline Not a number!
            .span4.form-inline.control-group
              %label{:for => "select01"} Type
              %br/
              .controls
                %select#select01.input-small.forminputsuccess
                  %option Regulation
                  %option 2
                  %option 3
                  %option 4
                  %option 5
              %br/
              %span.help-inline
          .row-fluid
            .span8.control-group
              %label{:for => "inputError"} Full Title
              %input#inputError.span12.forminputsuccess{:placeholder => "Complete Title Goes Here", :type => "text"}/
              %br/
              %span.help-inline
            .span4.form-inline.control-group
              %label{:for => "select01"} Short Title
              %br/
              %input#control-version.inputtext-small.forminputsuccess{:placeholder => "SOX", :type => "text"}/
              %span.help-inline
          .row-fluid
            .span12.control-group
              / Description
              %label{:for => "control-description"} Description
              %br/
              %textarea.textarea-tall.span12.forminputsuccess{:id => "", :placeholder => "", :rows => "4"} Hendrerit dolus nullus nimis pneum abico quibus, vulputate, macto, autem vulputate. Qui, sagaciter letalis eum quae interdico iriure, eum. Praesent, jus importunus capio abdo velit genitus. Luptatum zelus meus illum, eros capto nulla in augue ymo quod ibidem.
              %br/
              %span.help-inline
          / Column one start
        .span6
          .row-fluid
            .span3.form-inline.control-group
              .form-inline.control-group
                %label{:for => "control-effectivedate"} Start Date
                %br
                  .date{"data-date" => "02-12-12", "data-date-format" => "dd-mm-yy"}
                    %input.input-tiny.forminputsuccess{:size => "16", :type => "text", :value => "02-12-12"}
            .span3.form-inline.control-group
              %label{:for => "select01"} Period
              %br/
              .controls
                %select.select-tiny.forminputsuccess
                  %option Annual
                  %option 2
                  %option 3
                  %option 4
                  %option 5
              %br/
              %span.help-inline
            .span3.form-inline.control-group
              %label{:for => "select01"} Duration
              %br/
              .controls
                %select.select-tiny.forminputsuccess
                  %option 90 days
                  %option 2
                  %option 3
                  %option 4
                  %option 5
              %br/
              %span.help-inline
            .span3.form-inline.control-group
              %label{:for => "select01"} Status
              %br/
              .controls
                %select.select-tiny.forminputsuccess
                  %option Active
                  %option 2
                  %option 3
                  %option 4
                  %option 5
              %br/
              %span.help-inline
          .row-fluid
            .span12.control-group
              %label{:for => "inputError"} Organization for Program
              %input#inputError.span12.forminputsuccess{:placeholder => "Organization Responsible for this Program", :type => "text"}/
              %br/
              %span.help-inline
          .row-fluid
            .span12.control-group
              %label{:for => "inputError"} URL for Organization
              %input#inputError.span12.forminputsuccess{:placeholder => "http://www.thisisaurl.com/thisurl", :type => "text"}/
              %br/
              %span.help-inline
          .row-fluid
            .span12.control-group
              / Description
              %label{:for => "control-description"} Scope / Applicability
              %label.fltrt
                %a.underline{"data-toggle" => "modal", :href => "#comingsoonModal"} View text as it appears in mail merge
              %br/
              %textarea.span12.forminputsuccess{:id => "", :placeholder => "", :rows => "4"} Hendrerit dolus nullus nimis pneum abico quibus, vulputate, macto, autem vulputate. Qui, sagaciter letalis eum quae interdico iriure, eum. Praesent, jus importunus capio abdo velit genitus. Luptatum zelus meus illum, eros capto nulla in augue ymo quod ibidem.
              %br/
              %span.help-inline
        / end span6
      .row-fluid.nominheight
        .span3.nominheight
          %label.fltlft{:for => "control-effectivedate"}
            %strong> Created
            \: 4/1/11
        .span3.nominheight
          %label#updatedDate.fltlft{:for => "control-verificationdate"}
            %strong> Updated
            \: 5/1/12
        .span3.nominheight
          %label.fltrt{:for => "control-effectivedate"}
            %strong> Last Editor
            \: Joss Rayburn
        .span3.nominheight
          %label.fltrt{:for => "control-verificationdate"}
            %strong> Status
            \:
            %span#statusValue Draft
    .modal-footer
      .row-fluid
        %nav.fltlft.txtlft.span3
          %a.btn-large.btn-info{"data-dismiss" => "modal", :href => "#comingsoonModal"} Cancel
          %a.btn-large.btn-warning{"data-dismiss" => "modal", :href => "#comingsoonModal"} Delete
        .toolbar-widget.span6
          %a.btn{:href => "#comingsoonModal"}
            %i.gcmsicon-arrowleft-black
          %span.btnwell Showing Most Recent of 3 Revisions
          %a.btn{:href => "#comingsoonModal"}
            %i.gcmsicon-arrowright-black
        %nav.fltrt.txtrt.span3
          %a#actionButton.btn-large.btn-success{:href => "#"} Save
          -#%a.btn-large.btn-success{"data-dismiss" => "modal", :href => "#comingsoonModal"} I Approve
