#newentityModal.modal.hide.fade
  .modal-header
    %nav
      %a.widgetbtn{"data-toggle" => "modal", :href => "#comingsoonModal"}
        %i.gcmsicon-questionmark-grey
      %a.widgetbtn{"data-dismiss" => "modal", :href => "#"}
        %i.gcmsicon-x-grey
    %h1 New/Edit Entity
  .modal-body
    %form.form-inline

      .row-fluid
        .span1
          %label{:for => "control-code"} Code
          %input#control-code.span12.forminputsuccess{:disabled => "disabled", :placeholder => "SOX", :type => "text"}
          %span.help-inline
        .span2
          .form-inline.control-group
            %label{:for => "select01"} Name
            %input#control-code.span12.forminputsuccess{:disabled => "disabled", :placeholder => "SOX", :type => "text"}
            %span.help-inline
        .span2
          %label{:for => "control-version"} Type
          %select#select01.span12.forminputsuccess
            %option Legal Entity
            %option Open
          %span.help-inline Not Approved!
        .span2
          %label{:for => "select01"} Kind
          %select#select01.span12.forminputsuccess
            %option Deprecated
            %option Open
          %span.help-inline
        .span4
          %label{:for => "select01"} Compliance Certification Status
          %select#select01.span12.forminputsuccess
            %option OK - with issues
            %option Open
          %span.help-inline
        .span1
          %label{:for => "control-code"} Version  
          %input#control-code.span12.forminputsuccess{:disabled => "disabled", :placeholder => "1.2", :type => "text"}
          %span.help-inline
      .row-fluid
        %label{:for => "control-description"} Description:
      .row-fluid{"control-group" => ""}
        .span12.well
          %textarea#section-description.span12.forminputsuccess{:placeholder => "", :rows => "4"}
            :preserve
              Hendrerit dolus nullus nimis pneum abico quibus, vulputate, macto, autem vulputate. Qui, sagaciter letalis eum quae interdico iriure, eum. Praesent, jus importunus capio abdo velit genitus. Luptatum zelus meus illum, eros capto nulla in augue ymo quod ibidem.
          :javascript
            $('#section-description').wysihtml5({
              "image": false //Button to insert an image. Default true
            });
          %span.help-inline.description
      / end row
  =render :partial => 'design/templates/modalfooter', :locals => { :shownote => false, :showcreated => true, :showrevs => true }
