#newreference.modal.modal-wide.hide.fade
  .modal-header
    %nav
      %a.widgetbtn{"data-toggle" => "modal", :href => "#comingsoonModal"}
        %i.gcmsicon-questionmark-grey
      %a.widgetbtn{"data-dismiss" => "modal", :href => "#"}
        %i.gcmsicon-x-grey
    %h1 
      Create New Reference
      %span.version v 0.91
  .modal-body
    %form.form-inline
      / start row
      .row-fluid
        .span4
          .span12.control-group
            %label{:for => "inputError"} Title
            %input#inputError.span12{:placeholder => "Enter the title of this reference", :type => "text"}/
            %br/
            %span.help-inline
        .span2.control-group
          %label{:for => "selectyear"}Year
          .controls
            %select.span12#selectyear
              %option 2012
              %option 2011
              %option 2010
              %option 2009
              %option 2008
          %span.help-inline
        .span2.control-group
          %label{:for => "selectlanguage"}Language
          .controls
            %select.span12#selectlanguage
              %option English
              %option French
              %option German
              %option Muppet
          %span.help-inline
        .span2.control-group
          %label{:for => "selectedkind"}Reference Kind
          .controls
            %select.span12#selectedkind
              %option -
              %option Website
              %option Screenshot
              %option Simple Text
              %option Document
              %option Numeric Data
              %option Database       
          %span.help-inline
        .span2.control-group
          %label{:for => "selectdoctype"} DocType
          .controls
            %select.span12#selectdoctype
              %option -
              %option URL
              %option PDF
              %option Image
              %option Text
              %option Excel
              %option Word
          %span.help-inline
      .row-fluid
        .span12
          %label{:for => "select01"} Description
          .row-fluid
            .span12.well
              %textarea#reference-description.span12{:placeholder => "", :rows => "4"}
                :preserve
                  Hendrerit dolus nullus nimis pneum abico quibus, vulputate, macto, autem vulputate. Qui, sagaciter letalis eum quae interdico iriure, eum. Praesent, jus importunus capio abdo velit genitus. Luptatum zelus meus illum, eros capto nulla in augue ymo quod ibidem.
              -#:javascript
                $('#reference-description').wysihtml5({
                  "image": false //Button to insert an image. Default true
                });
              %span.help-inline.description
        
      / end row
      .row-fluid
        .span12.control-group
          %label{:for => "inputError"} URL
          %input#inputError.span12{:placeholder => "Enter URL to document", :type => "text"}/
          %br/
          %span.help-inline
        -#.span6
          %label{:for => "select01"} File 
          .row-fluid.form-inline.control-group
            .span12.well
              .span4
              .span4
                %a.span12.btn.btn-large.btn-info{"data-dismiss" => "modal", :href => "#comingsoonModal"} Attach
              .span4
          
  =render :partial => 'design/templates/modalfooter', :locals => { :shownote => false, :showcreated => true, :showrevs => true }
