#newpersonModal.modal.hide.fade
  .modal-header
    %nav
      %a.widgetbtn{"data-toggle" => "modal", :href => "#comingsoonModal"}
        %i.gcmsicon-questionmark-grey
      %a.widgetbtn{"data-dismiss" => "modal", :href => "#"}
        %i.gcmsicon-x-grey
    %h1 Create New Person
  .modal-body
    %form.form-inline
      / start row
      .row-fluid
        .span6
          / start column
          .row-fluid
            .span12.control-group
              %label{:for => "inputError"} Name
              %input#inputError.span12.forminputsuccess{:placeholder => "Complete Title Goes Here", :type => "text"}/
              %br/
              %span.help-inline
          .row-fluid
            .span12.control-group
              %label{:for => "inputError"} Company
              %input#inputError.span12.forminputsuccess{:placeholder => "Complete Title Goes Here", :type => "text"}/
              %br/
              %span.help-inline
          .row-fluid
            .span12.control-group
              %label{:for => "inputError"} Email
              %input#inputError.span12.forminputsuccess{:placeholder => "Complete Title Goes Here", :type => "text"}/
              %br/
              %span.help-inline
          .row-fluid
            .span4.form-inline.control-group
              %label{:for => "control-version"} Code
              %br/
              %input#control-version.span12.forminputsuccess{:placeholder => "JHoov", :type => "text"}/
              %br/
              %span.help-inline
            .span4.form-inline.control-group
              %label{:for => "select01"} Language
              %br/
              %input#control-version.span12.forminputsuccess{:placeholder => "English", :type => "text"}/
              %span.help-inline
            .span4.form-inline.control-group
              %label{:for => "select01"} Status
              %br/
              %input#control-version.span12.forminputsuccess{:placeholder => "Deprecated", :type => "text"}/
              %span.help-inline
        .span6
          .row-fluid
            .span12.control-group
              %label{:for => "inputError"} Roles
              %h3.notbold
                %a.widgetbtn.topmargintwo{"data-dismiss" => "modal", :href => "#comingsoonModal"}>
                  %i.gcmsicon-x-grey
                \&nbsp; Owner (System, Control, Product, etc)
              %h3.notbold
                %a.widgetbtn.topmargintwo{"data-dismiss" => "modal", :href => "#comingsoonModal"}>
                  %i.gcmsicon-x-grey
                \&nbsp; Compliance Analyst
              %h3.notbold
                %a.widgetbtn.topmargintwo{"data-dismiss" => "modal", :href => "#comingsoonModal"}>
                  %i.gcmsicon-x-grey
                \&nbsp; Business Process Analyst
              %h3.notbold
                %a.widgetbtn.topmargintwo{"data-dismiss" => "modal", :href => "#comingsoonModal"}>
                  %i.gcmsicon-x-grey
                \&nbsp; Risk Analyts
              %h3.notbold
                %a.widgetbtn.topmargintwo{"data-dismiss" => "modal", :href => "#comingsoonModal"}>
                  %i.gcmsicon-x-grey
                \&nbsp; Compliance Program Manager
              %h3.notbold
                %a.widgetbtn.topmargintwo{"data-dismiss" => "modal", :href => "#comingsoonModal"}>
                  %i.gcmsicon-x-grey
                \&nbsp; Can Approve Own Edits
              %h3.notbold
                %a.widgetbtn.topmargintwo{"data-dismiss" => "modal", :href => "#comingsoonModal"}>
                  %i.gcmsicon-x-grey
                \&nbsp; Internal Auditor
              %h3.notbold
                %a.widgetbtn.topmargintwo{"data-dismiss" => "modal", :href => "#comingsoonModal"}>
                  %i.gcmsicon-x-grey
                \&nbsp; External Auditor
        / end span6
  =render :partial => 'design/templates/modalfooter', :locals => { :shownote => false, :showcreated => true, :showrevs => true }
