#newcontrolModal.modal.hide.fade
  .modal-header
    %nav
      %a.widgetbtn{"data-toggle" => "modal", :href => "#comingsoonModal"}
        %i.gcmsicon-questionmark-grey
      %a.widgetbtn{"data-dismiss" => "modal", :href => "#"}
        %i.gcmsicon-x-grey
    %h1 Create/Edit New Control
  .modal-body
    %form.form-inline
      / start row
      .row-fluid
        .span8
          / start column
          .row-fluid
            .span3.form-inline.control-group
              .form-inline.control-group
                %label{:for => "select01"} Program
                %br/
                .controls
                  %select#select01.span12.forminputsuccess
                    %option SOX - Sarbanes-Oxley
                    %option 2
                    %option 3
                    %option 4
                    %option 5
                %br/
                %span.help-inline
            .span3.form-inline.control-group
              .form-inline.control-group
                %label{:for => "control-code"} Code
                %br/
                %input#control-code.span12.forminputsuccess{:placeholder => "SOX", :type => "text"}/
                %span.help-inline
            .span6.control-group
              .row-fluid
                .span6.form-inline.control-group
                  %label{:for => "control-version"} Version
                  %br/
                  %input#control-version.span12.forminputsuccess{:placeholder => "SOX", :type => "text"}/
                  %span.help-inline 
                .span6.form-inline.control-group.date
                  %label{:for => "control-effectivedate"} Effective Date
                  %br/
                  #dp3.date{"data-date" => "02-12-12", "data-date-format" => "dd-mm-yy"}
                    %input.span12.forminputsuccess.calendar{:size => "16", :type => "text", :value => "02-12-12"}/
                  :javascript
                    $('#dp3').datepicker();
          / Column one start
          .row-fluid
            .span3.form-inline.control-group
              %label{:for => "select01"} Type
              %br/
              .controls
                %select#select01.span12.forminputsuccess
                  %option Company
                  %option 2
                  %option 3
                  %option 4
                  %option 5
              %br/
              %span.help-inline
            .span3.form-inline.control-group
              %label{:for => "select01"} Kind
              %br/
              .controls
                %select#select01.span12.forminputsuccess
                  %option Preventative
                  %option 2
                  %option 3
                  %option 4
                  %option 5
              %br/
              %span.help-inline
            .span6.form-inline.control-group
              %label{:for => "select01"} Means of Operation
              %br/
              .controls
                %select#select01.span12.forminputsuccess
                  %option Manual w/ Segregation of Duties
                  %option 2
                  %option 3
                  %option 4
                  %option 5
              %br/
              %span.help-inline
          .row-fluid
            .span9.control-group
              %label{:for => "inputError"} Title
              %input#inputError.span12.forminputsuccess{:placeholder => "Complete Title Goes Here", :type => "text"}/
              %br/
              %span.help-inline
            .span3.form-inline.control-group
              %label{:for => "select01"} Status
              %br/
              .controls
                %select#select01.forminputstatus.input-small
                  %option Deprecated
                  %option Open
              %br/
              %span.help-inline
        / end first column
        #categorylist.span4.form-inline.control-group.well
          %h3
            Categories
            %a#popoverexample9.btn.btn-blue.addbtn.pull-right{ "data-popover-href" => "#", :href => "#categorySelectorModal"} Add
          %hr.hrspaced/
          %ul
            %li.controlSlot.ui-draggable
              .controls-type Access Control
              .controls-subtype 
              .controls-subgroup Authorization
            %li.controlSlot.ui-draggable
              .controls-type Change Management
              .controls-subtype 
              .controls-subgroup Segregation of Duties
      .row-fluid
        %label{:for => "control-description"} Note
      .row-fluid{"control-group" => ""}
        .span12.well
          %textarea#control-description.span12.forminputsuccess{:placeholder => "", :rows => "4"}
            :preserve
              Hendrerit dolus nullus nimis pneum abico quibus, vulputate, macto, autem vulputate. Qui, sagaciter letalis eum quae interdico iriure, eum. Praesent, jus importunus capio abdo velit genitus. Luptatum zelus meus illum, eros capto nulla in augue ymo quod ibidem.
          :javascript
            $('#control-description').wysihtml5({
              "image": false //Button to insert an image. Default true
            });
          %span.help-inline.description
      / end row
      .row-fluid
        .span12.control-group
          %label{:for => "inputError"} URL for Control (optional)
          %input#inputError.span12.forminputsuccess{:placeholder => "http://www.thisisaurl.com/thisurl", :type => "text"}/
          %br/
          %span.help-inline
  =render :partial => 'design/templates/modalfooter', :locals => { :shownote => false, :showcreated => true, :showrevs => true }
