#pbcListEdit.modal.modal-wide.hide.fade
  .modal-header
    %nav
      %a.widgetbtn{"data-toggle" => "modal", :href => "#comingsoonModal"}
        %i.grcicon-questionmark-grey
      %a.widgetbtn{"data-dismiss" => "modal", :href => "#"}
        %i.grcicon-x-grey
    %h1
      Edit PBC List
      %span.version v.0.1
  .modal-body
    %form
      .row-fluid
        .span3
          %label Audit Cycle
          .item
            Sarbanes Oxley 2012
        .span3
          %label PBC List Title
          %input.span12{:type => "text", :value => "EY Google SOX PBC List"}
        .span2
          %label Audit Firm
          %input.span12{:type => "text", :value => "Ernst & Young"}
        .span2
          %label Audit Contact
          %input.span12{:type => "text", :value => "Paul Harvey"}
        .span2
          %label List Import Date
          %input#date.span12.date{:type => "text", :value => "06/10/2012"}
          :javascript
            $('#date').datepicker();
      .row-fluid
        .span12
          %label
            Description (Optional)
          .wysiwyg-area
            =text_area_tag "pbc-control-description", "", :class => "span12 double wysihtml5", :placeholder => "Enter description here"

  =render :partial => 'design/templates/modalfooter', :locals => { :shownote => false, :showcreated => true, :showrevs => true }
  
=render :partial => "shared/wysihtml5"