#redesignNewProgram.modal.modal-wide.hide.fade
  .modal-header
    %nav
      %a.widgetbtn{"data-toggle" => "modal", :href => "#comingsoonModal"}
        %i.gcmsicon-questionmark-grey
      %a.widgetbtn{"data-dismiss" => "modal", :href => "#"}
        %i.gcmsicon-x-grey
    %h1 
      Create New Program
      %span.version v.0.94

  .modal-body
    .alert.alert-info
      %span#alertMessage
      / %button.close{:type => "button", :"data-dismiss" => "alert"} ×
    %form
      .row-fluid
        .span6
          %label Title
          %input.span12{:type => "text", :placeholder => "Enter title"}
          %span.help-inline 
        .span6
          .row-fluid
            .span6
              %label Code (optional)
              %input.span12{:type => "text", :placeholder => "Autofill code"}
            .span6
              %label Version
              %input.span12{:type => "text", :placeholder => "1.0"}
      .row-fluid
        .span6
          %label Description
          %textarea.span12.double{:placeholder => "Enter description here", :rows => "3"}
        .span6
          .row-fluid 
            .span6
              %label Effective Date
              %input.span12#datepicker-program-effectivedate.date{:type => "text",  :placeholder => "MM/DD/YYYY"}
              :javascript
                $('#datepicker-program-effectivedate').datepicker();
              %label Type
              %select.span12
                %option Regulation
                %option Company
            .span6
              %label Stop Date    
              %input.span12#datepicker-program-stopdate.date{:type => "text",  :placeholder => "MM/DD/YYYY"}
              :javascript
                $('#datepicker-program-stopdate').datepicker();
              %label Kind 
              %select.span12
                %option Not Applicable
      .row-fluid
        .span3
          %label Organization
          %input.span12{:type => "text", :placeholder => "Organization for this program"}
          %span.help-inline &nbsp;
        .span3
          %label Direct Link
          %input.span12{:type => "text", :placeholder => "http://www.examplelink.com/"}
          %span.help-inline &nbsp;
        
        .span6
      .row-fluid
        .span6.scope      
          %label.subtitle 
            Scope/Applicability of this Framework or Program
            %a.pull-right.underline{"data-toggle" => "modal", :href => "#comingsoonModal"} View as mail merge
          .row-fluid
            %textarea#wysihtml5d.span12{:placeholder => "One-sentence explanation of the applicability of this program, used in mail merge templates.", :rows => "3", }
            :javascript
              $('#wysihtml5').wysihtml5({
                "image": false //Button to insert an image. Default true
              });
        .span6.audit{:style => "height:101px;"}
          %label.subtitle Audit Cycle
          .row-fluid
            .span4
              %label Start
              %input.span12#datepicker-auditstart.date{:type => "text", :placeholder => "MM/DD/YYYY"}
              :javascript
                $('#datepicker-auditstart').datepicker();
            .span4
              %label Period
              %select.span12
                %option Continuous
                %option Ad-Hoc
                %option Hourly
                %option Daily
                %option Weekly
                %option Monthly
                %option Quarterly
                %option Semi-Annual
                %option Annual
                %option Bi-Annual
            .span4          
              %label Duration
              %select.span12
                %option 1 Week
                %option 2 Weeks
                %option 1 Month
                %option 2 Months
                %option 3 Months
                %option 4 Months
                %option 6 Months
                %option 1 Year

  =render :partial => 'design/templates/modalfooter', :locals => { :shownote => false, :showcreated => true, :showrevs => true }