#redesignSelectPersonWide.modal.modal-wide.hide.fade
  .modal-header
    %nav
      %a.widgetbtn{"data-toggle" => "modal", :href => "#comingsoonModal"}
        %i.gcmsicon-questionmark-grey
      %a.widgetbtn{"data-dismiss" => "modal", :href => "#"}
        %i.gcmsicon-x-grey
    %h1
      Select Person
      %span.version v.0.0.1
  .modal-body
    .alert.alert-info
      %span#alertMessage
      / %button.close{:type => "button", :"data-dismiss" => "alert"} ×
    %form
      .row-fluid
        .span6
          .people-list
            %ul
              %li
                .row-fluid
                  .span8
                    %h2.name
                      Joss Rayburn
                      %span.company Google
                  .span4.actions                
                    %a.btn.btn-mini.pull-right{:href => "#"}
                      %i.icon-minus-sign
                    %a.btn.btn-mini.pull-right{:href => "#"}
                      %i.icon-pencil
                .row-fluid.additional
                  .span4
                    %label.status-label Status: Pending
                    %a.span12.btn.btn-solid{:href => "#"} is Responsible for
                  .span4
                    %label Start Date
                    %input.span12.date{:type => "text", :placeholder => "MM/DD/YYYY"}
                  .span4
                    %label Stop Date
                    %input.span12.date{:type => "text", :placeholder => "MM/DD/YYYY"}
              %li
                .row-fluid
                  .span8
                    %h2.name
                      Joss Rayburn
                      %span.company Google
                  .span4.actions                
                    %a.btn.btn-mini.pull-right{:href => "#"}
                      %i.icon-minus-sign
                    %a.btn.btn-mini.pull-right{:href => "#"}
                      %i.icon-pencil
                .row-fluid.additional
                  .span4
                    %label.status-label Status: Pending
                    %a.span12.btn.btn-solid{:href => "#"} is Responsible for
                  .span4
                    %label Start Date
                    %input.span12.date{:type => "text", :placeholder => "MM/DD/YYYY"}
                  .span4
                    %label Stop Date
                    %input.span12.date{:type => "text", :placeholder => "MM/DD/YYYY"}
              %li
                .row-fluid
                  .span8
                    %h2.name
                      Joss Rayburn
                      %span.company Google
                  .span4.actions                
                    %a.btn.btn-mini.pull-right{:href => "#"}
                      %i.icon-minus-sign
                    %a.btn.btn-mini.pull-right{:href => "#"}
                      %i.icon-pencil
                .row-fluid.additional
                  .span4
                    %label.status-label Status: Pending
                    %a.span12.btn.btn-solid{:href => "#"} is Responsible for
                  .span4
                    %label Start Date
                    %input.span12.date{:type => "text", :placeholder => "MM/DD/YYYY"}
                  .span4
                    %label Stop Date
                    %input.span12.date{:type => "text", :placeholder => "MM/DD/YYYY"}
              %li
                .row-fluid
                  .span8
                    %h2.name
                      Joss Rayburn
                      %span.company Google
                  .span4.actions                
                    %a.btn.btn-mini.pull-right{:href => "#"}
                      %i.icon-minus-sign
                    %a.btn.btn-mini.pull-right{:href => "#"}
                      %i.icon-pencil
                .row-fluid.additional
                  .span4
                    %label.status-label Status: Pending
                    %a.span12.btn.btn-solid{:href => "#"} is Responsible for
                  .span4
                    %label Start Date
                    %input.span12.date{:type => "text", :placeholder => "MM/DD/YYYY"}
                  .span4
                    %label Stop Date
                    %input.span12.date{:type => "text", :placeholder => "MM/DD/YYYY"}
              %li
                .row-fluid
                  .span8
                    %h2.name
                      Joss Rayburn
                      %span.company Google
                  .span4.actions                
                    %a.btn.btn-mini.pull-right{:href => "#"}
                      %i.icon-minus-sign
                    %a.btn.btn-mini.pull-right{:href => "#"}
                      %i.icon-pencil
                .row-fluid.additional
                  .span4
                    %label.status-label Status: Pending
                    %a.span12.btn.btn-solid{:href => "#"} is Responsible for
                  .span4
                    %label Start Date
                    %input.span12.date{:type => "text", :placeholder => "MM/DD/YYYY"}
                  .span4
                    %label Stop Date
                    %input.span12.date{:type => "text", :placeholder => "MM/DD/YYYY"}
                  
        .span6

  =render :partial => 'design/templates/modalfooter'