#redesignNewCategory.modal.modal-wide.hide.fade
  .modal-header
    %nav
      %a.widgetbtn{"data-toggle" => "modal", :href => "#comingsoonModal"}
        %i.gcmsicon-questionmark-grey
      %a.widgetbtn{"data-dismiss" => "modal", :href => "#"}
        %i.gcmsicon-x-grey
    %h1 
      Create New Category
      %span.version v 0.24

  .modal-body
    .alert.alert-info
      %span#alertMessage
      / %button.close{:type => "button", :"data-dismiss" => "alert"} ×
    %form
      .row-fluid
        .span6
          %label Title
          %input.span12{:type => "text", :placeholder => "Enter title"}
          %span.help-inline 
        .span6
          .row-fluid
            .span6
              %label Code (optional)
              %input.span12{:type => "text", :placeholder => "Autofill code"}
            .span6
              %label Version
              %input.span12{:type => "text", :placeholder => "1.0"}
      .row-fluid
        .span6
          %label Description
          %textarea.span12.double{:placeholder => "Enter description here", :rows => "3"}
        .span6
          .row-fluid 
            .span6
              %label Effective Date
              %input.span12#datepicker-program-effectivedate.date{:type => "text",  :placeholder => "MM/DD/YYYY"}
              :javascript
                $('#datepicker-program-effectivedate').datepicker();
              %label Type
              %select.span12
                %option Regulation
                %option Company
            .span6
              %label Stop Date    
              %input.span12#datepicker-program-stopdate.date{:type => "text",  :placeholder => "MM/DD/YYYY"}
              :javascript
                $('#datepicker-program-stopdate').datepicker();
      .row-fluid
        .span6
          %label Direct URL for Product (optional)
          %input.span12{:type => "text", :placeholder => "http://www.examplelink.com/"}
          %span.help-inline &nbsp;
        
        .span6

  =render :partial => 'design/templates/modalfooter', :locals => { :shownote => false, :showcreated => true, :showrevs => true }