#redesignNewControlWide.modal.modal-wide.hide.fade
  .modal-header
    %nav
      %a.widgetbtn{"data-toggle" => "modal", :href => "#comingsoonModal"}
        %i.gcmsicon-questionmark-grey
      %a.widgetbtn{"data-dismiss" => "modal", :href => "#"}
        %i.gcmsicon-x-grey
    %h1
      Create New Control
      %span.version v.0.86
  .modal-body
    .alert.alert-info
      %span#alertMessage
      / %button.close{:type => "button", :"data-dismiss" => "alert"} ×
    %form
      .row-fluid
        .span4
          %label Title
          %input.span12{:type => "text", :placeholder => "Enter title"}
          %span.help-inline 
        .span2
          %label Program
          %select.span12
            %option Program Title 1
            %option Program Title 2
            %option Program Title 3
        .span6
          .row-fluid
            .span6
              %label Code (optional)
              %input.span12{:type => "text", :placeholder => "Autofill code"}
            .span6
              %label Version
              %input.span12{:type => "text", :placeholder => "1.0"}
      .row-fluid
        .span6
          %label Description
          %textarea.span12.double{:placeholder => "Enter description here", :rows => "3"}
        .span6
          .row-fluid 
            .span6
              %label Effective Date
              %input.span12#datepicker-control-effectivedate.date{:type => "text",  :placeholder => "MM/DD/YYYY"}
              :javascript
                $('#datepicker-control-effectivedate').datepicker();
              %label Type
              %select.span12
                %option Regulation
                %option Company
            .span6
              %label Stop Date    
              %input.span12#datepicker-control-stopdate.date{:type => "text",  :placeholder => "MM/DD/YYYY"}
              :javascript
                $('#datepicker-control-stopdate').datepicker();
              %label Kind 
              %select.span12
                %option Reactive
                %option Administrative
                %option Detective
                %option Preventative
      .row-fluid
        .span6
          %label Direct Link
          %input.span12{:type => "text", :placeholder => "http://www.examplelink.com/"}
          %span.help-inline &nbsp;
        .span6
          .row-fluid 
            .span6
              %label Control Means
              %select.span12
                %option Manual
                %option Manual with Segregation of Duties
                %option Automated
            .span6
              %label Verify Control
              %select.span12
                %option Continuous
                %option Ad-hoc
                %option - 
                %option Monthly
                %option Quarterly
                %option Annually
      .row-fluid
        .span6      
          %label.subtitle 
            Evidence Instructions
          .row-fluid
            %textarea.span12.double{:placeholder => "Enter in a description that a system owner would follow to collect evidence for this control.", :rows => "3"}
            %span.help-inline &nbsp;
            :javascript
              $('#wysihtml5').wysihtml5({
                "image": false //Button to insert an image. Default true
              });
        .span6
          %h3 
            Categories
            .pull-right 
              %a.btn.btn-blue.addbtn.pull-right Edit Categories 
          .row-fluid
            .span4
              %li.slot.categorySlot.controlSlot.ui-draggable{"data-toggle" => "modal", :href => "#referenceSelectorModal"}
                .controls-group
                  .controls-type Authorization
                  .controls-subtype 
                  .controls-subgroup Access Control
              %li.slot.categorySlot.controlSlot.ui-draggable{"data-toggle" => "modal", :href => "#referenceSelectorModal"}
                .controls-group
                  .controls-type Change Management
                  .controls-subtype 
                  .controls-subgroup Segregation of Duties
            .span4
              %li.slot.categorySlot.controlSlot.ui-draggable{"data-toggle" => "modal", :href => "#referenceSelectorModal"}
                .controls-group
                  .controls-type Authorization
                  .controls-subtype 
                  .controls-subgroup Access Control
              %li.slot.categorySlot.controlSlot.ui-draggable{"data-toggle" => "modal", :href => "#referenceSelectorModal"}
                .controls-group
                  .controls-type Change Management
                  .controls-subtype 
                  .controls-subgroup Segregation of Duties
            .span4
              %li.slot.categorySlot.controlSlot.ui-draggable{"data-toggle" => "modal", :href => "#referenceSelectorModal"}
                .controls-group
                  .controls-type Authorization
                  .controls-subtype 
                  .controls-subgroup Access Control
              %li.slot.categorySlot.controlSlot.ui-draggable{"data-toggle" => "modal", :href => "#referenceSelectorModal"}
                .controls-group
                  .controls-type Change Management
                  .controls-subtype 
                  .controls-subgroup Segregation of Duties

  =render :partial => 'design/templates/modalfooter', :locals => { :shownote => false, :showcreated => true, :showrevs => true }