#redesignSelectPersonWide.modal.modal-wide.hide.fade
  .modal-header
    %nav
      %a.widgetbtn{"data-toggle" => "modal", :href => "#comingsoonModal"}
        %i.gcmsicon-questionmark-grey
      %a.widgetbtn{"data-dismiss" => "modal", :href => "#"}
        %i.gcmsicon-x-grey
    %h1
      Select Person
      %span.version v.0.1.1
  .modal-body
    .alert.alert-info
      %span#alertMessage
      %button.close{:type => "button", :"data-dismiss" => "alert"} ×
    %form
      .row-fluid
        .span6
          .btn-group.pull-right
            %a.btn.btn-primary.btn-mini.new{:href => "#"}
              %i.icon-user.icon-white              
              + New Person
          %h4 Add people
          .filter-block
          
            .row-fluid
              .span12

                .modal-search.clearfix              
                  %a#showFilters.btn.btn-primary.btn-mini{:href => "#"}
                    Show Filters
                  .pull-right
                    %input{:type => "text", :placeholder => "Search GRC Directory"}
                            
                .tabbable.tabs-left
                  %ul.nav.nav-tabs.filter-group
                    %li{:class => "active"}
                      %a{:href => "#category1", :"data-toggle" => "tab" } Category 1
                    %li
                      %a{:href => "#category2", :"data-toggle" => "tab" } Category 2
                    %li
                      %a{:href => "#category3", :"data-toggle" => "tab" } Category 3
                    %li
                      %a{:href => "#category4", :"data-toggle" => "tab" } Category 4

                  .tab-content

                
                    #category1.tab-pane.active
                      .people-list
                        %ul.source
                          %li
                            .row-fluid
                              .span6
                                %span.company Facebook
                                %span.name Another One
                              .span6.actions                
                                %a.btn.btn-mini.pull-right.add-me{:href => "#"}
                                  %i.icon-chevron-right
                                %a.btn.btn-mini.pull-right{:href => "#"}
                                  %i.icon-pencil
                          %li
                            .row-fluid
                              .span6
                                %span.company Google
                                %span.name David Buick
                              .span6.actions                
                                %a.btn.btn-mini.pull-right.add-me{:href => "#"}
                                  %i.icon-chevron-right 
                                %a.btn.btn-mini.pull-right{:href => "#"}
                                  %i.icon-pencil
                          %li
                            .row-fluid
                              .span6
                                %span.company Google
                                %span.name Niki Lauda
                              .span6.actions                
                                %a.btn.btn-mini.pull-right.add-me{:href => "#"}
                                  %i.icon-chevron-right
                                %a.btn.btn-mini.pull-right{:href => "#"}
                                  %i.icon-pencil
                          %li
                            .row-fluid
                              .span6
                                %span.company Google
                                %span.name Daniel Harms
                              .span6.actions                
                                %a.btn.btn-mini.pull-right.add-me{:href => "#"}
                                  %i.icon-chevron-right
                                %a.btn.btn-mini.pull-right{:href => "#"}
                                  %i.icon-pencil
                          %li
                            .row-fluid
                              .span6
                                %span.company Google
                                %span.name David Buick
                              .span6.actions                
                                %a.btn.btn-mini.pull-right.add-me{:href => "#"}
                                  %i.icon-chevron-right 
                                %a.btn.btn-mini.pull-right{:href => "#"}
                                  %i.icon-pencil

                    #category2.tab-pane

                      .people-list
                        %ul.source
                          %li
                            .row-fluid
                              .span6
                                %span.company Motorola
                                %span.name Moto Rola
                              .span6.actions                
                                %a.btn.btn-mini.pull-right.add-me{:href => "#"}
                                  %i.icon-chevron-right
                                %a.btn.btn-mini.pull-right{:href => "#"}
                                  %i.icon-pencil
                          %li
                            .row-fluid
                              .span6
                                %span.company Google
                                %span.name David Buick
                              .span6.actions                
                                %a.btn.btn-mini.pull-right.add-me{:href => "#"}
                                  %i.icon-chevron-right 
                                %a.btn.btn-mini.pull-right{:href => "#"}
                                  %i.icon-pencil
                          %li
                            .row-fluid
                              .span6
                                %span.company Google
                                %span.name Niki Lauda
                              .span6.actions                
                                %a.btn.btn-mini.pull-right.add-me{:href => "#"}
                                  %i.icon-chevron-right 
                                %a.btn.btn-mini.pull-right{:href => "#"}
                                  %i.icon-pencil
                          %li
                            .row-fluid
                              .span6
                                %span.company Google
                                %span.name Daniel Harms
                              .span6.actions                
                                %a.btn.btn-mini.pull-right.add-me{:href => "#"}
                                  %i.icon-chevron-right 
                                %a.btn.btn-mini.pull-right{:href => "#"}
                                  %i.icon-pencil
                          %li
                            .row-fluid
                              .span6
                                %span.company Google
                                %span.name David Buick
                              .span6.actions                
                                %a.btn.btn-mini.pull-right.add-me{:href => "#"}
                                  %i.icon-chevron-right 
                                %a.btn.btn-mini.pull-right{:href => "#"}
                                  %i.icon-pencil


                    #category3.tab-pane

                      .people-list
                        %ul.source
                          %li
                            .row-fluid
                              .span6
                                %span.company Facebook
                                %span.name Rad Ian
                              .span6.actions                
                                %a.btn.btn-mini.pull-right.add-me{:href => "#"}
                                  %i.icon-chevron-right 
                                %a.btn.btn-mini.pull-right{:href => "#"}
                                  %i.icon-pencil
                          %li
                            .row-fluid
                              .span6
                                %span.company Google
                                %span.name Brain Storm
                              .span6.actions                
                                %a.btn.btn-mini.pull-right.add-me{:href => "#"}
                                  %i.icon-chevron-right 
                                %a.btn.btn-mini.pull-right{:href => "#"}
                                  %i.icon-pencil
                          %li
                            .row-fluid
                              .span6
                                %span.company Google
                                %span.name Niki Lauda
                              .span6.actions                
                                %a.btn.btn-mini.pull-right.add-me{:href => "#"}
                                  %i.icon-chevron-right 
                                %a.btn.btn-mini.pull-right{:href => "#"}
                                  %i.icon-pencil
                          %li
                            .row-fluid
                              .span6
                                %span.company Google
                                %span.name Daniel Harms
                              .span6.actions                
                                %a.btn.btn-mini.pull-right.add-me{:href => "#"}
                                  %i.icon-chevron-right 
                                %a.btn.btn-mini.pull-right{:href => "#"}
                                  %i.icon-pencil
                          %li
                            .row-fluid
                              .span6
                                %span.company Google
                                %span.name David Buick
                              .span6.actions                
                                %a.btn.btn-mini.pull-right.add-me{:href => "#"}
                                  %i.icon-chevron-right 
                                %a.btn.btn-mini.pull-right{:href => "#"}
                                  %i.icon-pencil


                    #category4.tab-pane

                      .people-list
                        %ul.source
                          %li
                            .row-fluid
                              .span6
                                %span.company Nook
                                %span.name Githubian Rose
                              .span6.actions                
                                %a.btn.btn-mini.pull-right.add-me{:href => "#"}
                                  %i.icon-chevron-right 
                                %a.btn.btn-mini.pull-right{:href => "#"}
                                  %i.icon-pencil
                          %li
                            .row-fluid
                              .span6
                                %span.company Google
                                %span.name Suzy Q
                              .span6.actions                
                                %a.btn.btn-mini.pull-right.add-me{:href => "#"}
                                  %i.icon-chevron-right 
                                %a.btn.btn-mini.pull-right{:href => "#"}
                                  %i.icon-pencil
                          %li
                            .row-fluid
                              .span6
                                %span.company Google
                                %span.name Niki Lauda
                              .span6.actions                
                                %a.btn.btn-mini.pull-right.add-me{:href => "#"}
                                  %i.icon-chevron-right
                                %a.btn.btn-mini.pull-right{:href => "#"}
                                  %i.icon-pencil
                          %li
                            .row-fluid
                              .span6
                                %span.company Google
                                %span.name Daniel Harms
                              .span6.actions                
                                %a.btn.btn-mini.pull-right.add-me{:href => "#"}
                                  %i.icon-chevron-right 
                                %a.btn.btn-mini.pull-right{:href => "#"}
                                  %i.icon-pencil
                          %li
                            .row-fluid
                              .span6
                                %span.company Google
                                %span.name David Buick
                              .span6.actions                
                                %a.btn.btn-mini.pull-right.add-me{:href => "#"}
                                  %i.icon-chevron-right 
                                %a.btn.btn-mini.pull-right{:href => "#"}
                                  %i.icon-pencil



        .span6
          %h4 Roles for this system
          .people-list
            %ul.target
              %li
                .row-fluid
                  .span6
                    %span.company Google
                    %span.name Joss Rayburn
                  .span3
                    %span.label.label-warning Responsible
                  .span3.actions                
                    %a.btn.btn-mini.pull-right{:href => "#"}
                      %i.icon-minus-sign
                    %a.btn.btn-mini.pull-right{:href => "#"}
                      %i.icon-pencil
                .row-fluid.additional
                  .span6
                    %label
                      Relationship
                      %strong PENDING
                    %select.span12
                      %option no relationship
                      %option Is Accountable for
                      %option{:selected => "selected"} Is Responsible for
                  .span3
                    %label Start Date
                    %input.span12.date{:type => "text", :placeholder => "MM/DD/YYYY"}
                  .span3
                    %label Stop Date
                    %input.span12.date{:type => "text", :placeholder => "MM/DD/YYYY"}
                %li
                  .row-fluid
                    .span6
                      %span.company Google
                      %span.name Mr. Cool
                    .span3
                      %span.label.label-warning No relationship
                    .span3.actions                
                      %a.btn.btn-mini.pull-right{:href => "#"}
                        %i.icon-minus-sign
                      %a.btn.btn-mini.pull-right{:href => "#"}
                        %i.icon-pencil
                  .row-fluid.additional
                    .span6
                      %label
                        Relationship
                      %select.span12
                        %option{:selected => "selected"} no relationship
                        %option Is Accountable for
                        %option Is Responsible for
                    .span3
                      %label Start Date
                      %input.span12.date{:type => "text", :placeholder => "MM/DD/YYYY"}
                    .span3
                      %label Stop Date
                      %input.span12.date{:type => "text", :placeholder => "MM/DD/YYYY"}
                %li
                  .row-fluid
                    .span6
                      %span.name Daniel K. Amassy
                      %span.company Google
                    .span3
                      %span.label.label-success Responsible
                    .span3.actions                
                      %a.btn.btn-mini.pull-right{:href => "#"}
                        %i.icon-minus-sign
                      %a.btn.btn-mini.pull-right{:href => "#"}
                        %i.icon-pencil
                  .row-fluid.additional
                    .span6
                      %label
                        Relationship
                        %strong
                      %select.span12
                        %option no relationship
                        %option Is Accountable for
                        %option{:selected => "selected"} Is Responsible for
                    .span3
                      %label Start Date
                      %input.span12.date{:type => "text", :placeholder => "MM/DD/YYYY"}
                    .span3
                      %label Stop Date
                      %input.span12.date{:type => "text", :placeholder => "MM/DD/YYYY"}
                  %li
                    .row-fluid
                      .span6
                        %span.company Google
                        %span.name Kelly Smith
                      .span3
                        %span.label.label-success Accountable
                      .span3.actions                
                        %a.btn.btn-mini.pull-right{:href => "#"}
                          %i.icon-minus-sign
                        %a.btn.btn-mini.pull-right{:href => "#"}
                          %i.icon-pencil
                    .row-fluid.additional
                      .span6
                        %label
                          Relationship
                          %strong
                        %select.span12
                          %option no relationship
                          %option{:selected => "selected"} Is Accountable for
                          %option Is Responsible for
                      .span3
                        %label Start Date
                        %input.span12.date{:type => "text", :placeholder => "MM/DD/YYYY"}
                      .span3
                        %label Stop Date
                        %input.span12.date{:type => "text", :placeholder => "MM/DD/YYYY"}
                  %li
                    .row-fluid
                      .span6
                        %span.company Google
                        %span.name Jeffrey Nyarr
                      .span3
                        %span.label.label-warning Accountable
                      .span3.actions                
                        %a.btn.btn-mini.pull-right{:href => "#"}
                          %i.icon-minus-sign
                        %a.btn.btn-mini.pull-right{:href => "#"}
                          %i.icon-pencil
                    .row-fluid.additional
                      .span6
                        %label
                          Relationship
                          %strong PENDING
                        %select.span12
                          %option no relationship
                          %option{:selected => "selected"} Is Accountable for
                          %option Is Responsible for
                      .span3
                        %label Start Date
                        %input.span12.date{:type => "text", :placeholder => "MM/DD/YYYY"}
                      .span3
                        %label Stop Date
                        %input.span12.date{:type => "text", :placeholder => "MM/DD/YYYY"}
                  %li
                    .row-fluid
                      .span6
                        %span.company Google
                        %span.name Daniel K. Amassy
                      .span3
                        %span.label.label-success Responsible
                      .span3.actions                
                        %a.btn.btn-mini.pull-right{:href => "#"}
                          %i.icon-minus-sign
                        %a.btn.btn-mini.pull-right{:href => "#"}
                          %i.icon-pencil
                    .row-fluid.additional
                      .span6
                        %label
                          Relationship
                          %strong
                        %select.span12
                          %option no relationship
                          %option Is Accountable for
                          %option{:selected => "selected"} Is Responsible for
                      .span3
                        %label Start Date
                        %input.span12.date{:type => "text", :placeholder => "MM/DD/YYYY"}
                      .span3
                        %label Stop Date
                        %input.span12.date{:type => "text", :placeholder => "MM/DD/YYYY"}
                    %li
                      .row-fluid
                        .span6
                          %span.company Google
                          %span.name Kelly Smith
                        .span3
                          %span.label.label-success Accountable
                        .span3.actions                
                          %a.btn.btn-mini.pull-right{:href => "#"}
                            %i.icon-minus-sign
                          %a.btn.btn-mini.pull-right{:href => "#"}
                            %i.icon-pencil
                      .row-fluid.additional
                        .span6
                          %label
                            Relationship
                            %strong
                          %select.span12
                            %option no relationship
                            %option{:selected => "selected"} Is Accountable for
                            %option Is Responsible for
                        .span3
                          %label Start Date
                          %input.span12.date{:type => "text", :placeholder => "MM/DD/YYYY"}
                        .span3
                          %label Stop Date
                          %input.span12.date{:type => "text", :placeholder => "MM/DD/YYYY"}
                    %li
                      .row-fluid
                        .span6
                          %span.company Google
                          %span.name Jeffrey Nyarr
                        .span3
                          %span.label.label-warning Accountable
                        .span3.actions                
                          %a.btn.btn-mini.pull-right{:href => "#"}
                            %i.icon-minus-sign
                          %a.btn.btn-mini.pull-right{:href => "#"}
                            %i.icon-pencil
                      .row-fluid.additional
                        .span6
                          %label
                            Relationship
                            %strong PENDING
                          %select.span12
                            %option no relationship
                            %option{:selected => "selected"} Is Accountable for
                            %option Is Responsible for
                        .span3
                          %label Start Date
                          %input.span12.date{:type => "text", :placeholder => "MM/DD/YYYY"}
                        .span3
                          %label Stop Date
                          %input.span12.date{:type => "text", :placeholder => "MM/DD/YYYY"}

  =render :partial => 'design/templates/modalfooter'