#redesignSelectPersonWide.modal.modal-wide.hide.fade
  .modal-header
    %nav
      %a.widgetbtn{"data-toggle" => "modal", :href => "#comingsoonModal"}
        %i.gcmsicon-questionmark-grey
      %a.widgetbtn{"data-dismiss" => "modal", :href => "#"}
        %i.gcmsicon-x-grey
    %h1
      Select Person
      %span.version v.0.81
  .modal-body
    .alert.alert-info
      %span#alertMessage
      %button.close{:type => "button", :"data-dismiss" => "alert"} ×
    %form
      .row-fluid
        .span6

          %h4
            Add People
            .fltrt
              %a.btn.btn-blue.addbtn.fltrt.new{:href => "#"}
                %i.icon-user.icon-white              
                + New Person

          .filter-block
          
            .row-fluid
              .span12
                .modal-search.clearfix  
                  .btn-group.closed
                    %a.btn.btn-blue.dropdown-toggle{"data-toggle" => "dropdown"}
                      Select Directory
                      %span.caret
                    %ul.dropdown-menu
                      %li
                        %a#showFilters{:href => "#"}
                          Company Directory
                      %li
                        %a#showCategories{:href => "#"}
                          GRC Directory

                    .pull-right
                      %input{:type => "text", :placeholder => "Search GRC Directory"}
                .additional-filters.filter-group
                  .row-fluid
                    .span4
                      %label Name
                      %input.span12{:type=>"text", :placeholder => "enter name"}
                    .span4
                      %label Org. group
                      %input.span12{:type=>"text", :placeholder => "example: IT"}
                    .span4
                      %label Title
                      %input.span12{:type=>"text", :placeholder => "example: Compliance"}

                            
                .tabbable.tabs-left
                  %ul.nav.nav-tabs.category-group
                    %li{:class => "active"}
                      %a{:href => "#category1", :"data-toggle" => "tab" } Category/Group 1
                    %li
                      %a{:href => "#category2", :"data-toggle" => "tab" } Category/Group 2

                  .tab-content

                
                    #category1.tab-pane.active
                      .people-list
                        %ul.source
                          %li
                            .row-fluid
                              .span8
                                %span.company Facebook | Engineering Compliance
                                %span.name
                                  Alexander Gustaphson
                                  %small 
                                    %a{:href => "mailto:alexander@gustaphson.com"} alexander@gustaphson.com
                              .span4.actions                
                                %a.btn.btn-mini.pull-right.add-me{:href => "#"}
                                  %i.grcicon-chevron-right
                                %a.btn.btn-mini.pull-right{:href => "#"}
                                  %i.gcmsicon-edit-grey
                          %li
                            .row-fluid
                              .span8
                                %span.company Google
                                %span.name David Buick
                              .span4.actions                
                                %a.btn.btn-mini.pull-right.add-me{:href => "#"}
                                  %i.grcicon-chevron-right 
                                %a.btn.btn-mini.pull-right{:href => "#"}
                                  %i.gcmsicon-edit-grey
                          %li
                            .row-fluid
                              .span8
                                %span.company Google
                                %span.name Niki Lauda
                              .span4.actions                
                                %a.btn.btn-mini.pull-right.add-me{:href => "#"}
                                  %i.grcicon-chevron-right
                                %a.btn.btn-mini.pull-right{:href => "#"}
                                  %i.gcmsicon-edit-grey
                          %li
                            .row-fluid
                              .span8
                                %span.company Google
                                %span.name Daniel Harms
                              .span4.actions                
                                %a.btn.btn-mini.pull-right.add-me{:href => "#"}
                                  %i.grcicon-chevron-right
                                %a.btn.btn-mini.pull-right{:href => "#"}
                                  %i.gcmsicon-edit-grey
                          %li
                            .row-fluid
                              .span8
                                %span.company Google
                                %span.name David Buick
                              .span4.actions                
                                %a.btn.btn-mini.pull-right.add-me{:href => "#"}
                                  %i.grcicon-chevron-right 
                                %a.btn.btn-mini.pull-right{:href => "#"}
                                  %i.gcmsicon-edit-grey

                    #category2.tab-pane

                      .people-list
                        %ul.source
                          %li
                            .row-fluid
                              .span8
                                %span.company Motorola
                                %span.name Moto Rola
                              .span4.actions                
                                %a.btn.btn-mini.pull-right.add-me{:href => "#"}
                                  %i.grcicon-chevron-right
                                %a.btn.btn-mini.pull-right{:href => "#"}
                                  %i.gcmsicon-edit-grey
                          %li
                            .row-fluid
                              .span8
                                %span.company Google
                                %span.name David Buick
                              .span4.actions                
                                %a.btn.btn-mini.pull-right.add-me{:href => "#"}
                                  %i.grcicon-chevron-right 
                                %a.btn.btn-mini.pull-right{:href => "#"}
                                  %i.gcmsicon-edit-grey
                          %li
                            .row-fluid
                              .span8
                                %span.company Google
                                %span.name Niki Lauda
                              .span4.actions                
                                %a.btn.btn-mini.pull-right.add-me{:href => "#"}
                                  %i.grcicon-chevron-right 
                                %a.btn.btn-mini.pull-right{:href => "#"}
                                  %i.gcmsicon-edit-grey
                          %li
                            .row-fluid
                              .span8
                                %span.company Google
                                %span.name Daniel Harms
                              .span4.actions                
                                %a.btn.btn-mini.pull-right.add-me{:href => "#"}
                                  %i.grcicon-chevron-right 
                                %a.btn.btn-mini.pull-right{:href => "#"}
                                  %i.gcmsicon-edit-grey
                          %li
                            .row-fluid
                              .span8
                                %span.company Google
                                %span.name David Buick
                              .span4.actions                
                                %a.btn.btn-mini.pull-right.add-me{:href => "#"}
                                  %i.grcicon-chevron-right 
                                %a.btn.btn-mini.pull-right{:href => "#"}
                                  %i.gcmsicon-edit-grey
        .span6
          %h4 Roles for this system
          .people-list
            %ul.target
              %li
                .row-fluid
                  .span6
                    %span.company Google
                    %span.name Joss Rayburn
                  .span6.actions   
                    .btn-group.inline.closed
                      %a.span8.btn.btn-mini.btn-success.dropdown-toggle{"data-toggle" => "dropdown"}
                        Accountable
                      %ul.dropdown-menu
                        %li
                          %a#showFilters{:href => "#"}
                            is Accountable for
                        %li
                          %a#showCategories{:href => "#"}
                            is Responsible for              
                    %a.btn.btn-mini.pull-right{:href => "#"}
                      %i.icon-minus-sign
                    %a.btn.btn-mini.pull-right{:href => "#"}
                      %i.gcmsicon-edit-grey
                .row-fluid.additional
                  .span4
                  .span4
                    %label Start Date (Optional)
                    %input.span12.date{:type => "text", :placeholder => "MM/DD/YYYY"}
                  .span4
                    %label Stop Date (Optional)
                    %input.span12.date{:type => "text", :placeholder => "MM/DD/YYYY"}
              %li
                .row-fluid
                  .span6
                    %span.company Google
                    %span.name Joss Rayburn
                  .span6.actions   
                    .btn-group.inline.closed
                      %a.span8.btn.btn-mini.btn-info.dropdown-toggle{"data-toggle" => "dropdown"}
                        Responsible 
                      %ul.dropdown-menu
                        %li
                          %a#showFilters{:href => "#"}
                            is Accountable for
                        %li
                          %a#showCategories{:href => "#"}
                            is Responsible for              
                    %a.btn.btn-mini.pull-right{:href => "#"}
                      %i.icon-minus-sign
                    %a.btn.btn-mini.pull-right{:href => "#"}
                      %i.gcmsicon-edit-grey
                .row-fluid.additional
                  .span4
                  .span4
                    %label Start Date (Optional)
                    %input.span12.date{:type => "text", :placeholder => "MM/DD/YYYY"}
                  .span4
                    %label Stop Date (Optional)
                    %input.span12.date{:type => "text", :placeholder => "MM/DD/YYYY"}
              %li
                .row-fluid
                  .span6
                    %span.company Google
                    %span.name Joss Rayburn
                  .span6.actions   
                    .btn-group.inline.closed
                      %a.span7.btn.btn-mini.btn-danger.dropdown-toggle{"data-toggle" => "dropdown"}
                        Select Relationship
                      %ul.dropdown-menu
                        %li
                          %a#showFilters{:href => "#"}
                            is Accountable for
                        %li
                          %a#showCategories{:href => "#"}
                            is Responsible for            
                    %a.btn.btn-mini.pull-right{:href => "#"}
                      %i.icon-minus-sign
                    %a.btn.btn-mini.pull-right{:href => "#"}
                      %i.gcmsicon-edit-grey
                .row-fluid.additional
                  .span4
                    Joss Rayburn is responsible for the LDAP System.  Responsible Parties can: View and Edit any information related to this system. This relationship is pending approval.
                  .span4
                    %label Start Date (Optional)
                    %input.span12.date{:type => "text", :placeholder => "MM/DD/YYYY"}
                  .span4
                    %label Stop Date (Optional)
                    %input.span12.date{:type => "text", :placeholder => "MM/DD/YYYY"}
  =render :partial => 'design/templates/modalfooterlists'