#reportsWidget.WidgetBox.riskWidget
	.WidgetBoxHeading
		%nav
		%a.widgettextbtn{"data-toggle" => "modal", :href => "#"} Edit
		.WidgetTitle.doublewidth Gap Analysis
	.WidgetBoxContent
		%img{:src => "images/tempGap.jpg"}
