#riskWidget.WidgetBox.riskWidget
	.WidgetBoxRedHeading
		%nav
		%a.fltrt.widgettextbtn{"data-toggle" => "modal", :href => "#"} Edit
		.WidgetTitle.doublewidth Risk
	.WidgetBoxContent
		%a{href: 'riskmodule/risk/'}
			%img{:src => "images/tempRisk.jpg"}