#reportsWidget.WidgetBox.riskWidget.demoItem
	.WidgetBoxRedHeading
		%nav
		%a.pull-right.widgettextbtn{"data-toggle" => "modal", :href => "#"} Edit
		.WidgetTitle.doublewidth Gap Analysis
	.WidgetBoxContent
		%a{href: 'design/risk-gapanalysis.haml'}
			%img{:src => "images/tempGap.jpg"}
