#riskWidget.WidgetBox.riskWidget
	.WidgetBoxHeading
		%nav
		%a.widgettextbtn{"data-toggle" => "modal", :href => "#"} Edit
		.WidgetTitle.doublewidth Risk
	.WidgetBoxContent
		%img{:src => "images/tempRisk.jpg"}