#riskWidget.WidgetBox.riskWidget
	.WidgetBoxRedHeading
		%nav
		%a.fltrt.widgettextbtn{"data-toggle" => "modal", :href => "#"} Edit
		.WidgetTitle.doublewidth Risk
	.WidgetBoxContent
		-#%a{href: 'design/risk-risk.haml'}
		%img{:src => "images/tempRisk.jpg"}