#selectorCategory.modal.modal-wide.hide.fade
  .modal-header
    %nav
      %a.widgetbtn{"data-toggle" => "modal", :href => "#comingsoonModal"}
        %i.gcmsicon-questionmark-grey
      %a.widgetbtn{"data-dismiss" => "modal", :href => "#"}
        %i.gcmsicon-x-grey
    %h1
      Select Category
      %span.version v 0.97
  .modal-body
    .alert.alert-info
      %span#alertMessage
      %button.close{:type => "button", :"data-dismiss" => "alert"} ×
    %form
      .row-fluid
        .span6
          %h4
            Add Category
            .widgetbtn.widgetbtnselector{"data-dismiss" => "modal", :href => "#"}
              %i.gcmsicon-add
            .WidgetBoxHeading.pull-right
              %input{:type => "text", :placeholder => "Search Categories"}
          .filter-block
            .row-fluid
              .span12
                .tabbable.tabs-left
                  .tab-content
                    #category1.tab-pane.active
                      #currentList.category-list
                        %ul.source
                          %li
                            .row-fluid
                              .span8
                                %span.company Access Control
                                %span.name Access Management
                              .span4.actions                
                                %a.widgetbtn.pull-right.add-me{:href => "#"}
                                  %i.grcicon-chevron-right
                                %a.widgetbtn.pull-right{:href => "#"}
                                  %i.gcmsicon-edit-grey
                          %li
                            .row-fluid
                              .span8
                                %span.company Access Control
                                %span.name Change Management 
                              .span4.actions              
                                %a.widgetbtn.pull-right.add-me{:href => "#"}
                                  %i.grcicon-chevron-right 
                                %a.widgetbtn.pull-right{:href => "#"}
                                  %i.gcmsicon-edit-grey
                          %li
                            .row-fluid
                              .span8
                                %span.company Category
                                %span.name Business Continuity 
                              .span4.actions       
                                %a.widgetbtn.pull-right.add-me{:href => "#"}
                                  %i.grcicon-chevron-right
                                %a.widgetbtn.pull-right{:href => "#"}
                                  %i.gcmsicon-edit-grey
                          %li
                            .row-fluid
                              .span8
                                %span.company Category
                                %span.name Governance
                              .span4.actions                
                                %a.widgetbtn.pull-right.add-me{:href => "#"}
                                  %i.grcicon-chevron-right
                                %a.widgetbtn.pull-right{:href => "#"}
                                  %i.gcmsicon-edit-grey
                          %li
                            .row-fluid
                              .span8
                                %span.company Category
                                %span.name Security Policy
                              .span4.actions                
                                %a.widgetbtn.pull-right.add-me{:href => "#"}
                                  %i.grcicon-chevron-right 
                                %a.widgetbtn.pull-right{:href => "#"}
                                  %i.gcmsicon-edit-grey
        .span6
          %h4 Categories for this system
          #targetList.category-list
            %ul.target
              %li
                .row-fluid
                  .span6
                    %span.company Access Control
                    %span.name Access Management
                  .span6.actions
                    %a#removeMe.widgetbtn.pull-right{:href => "#"}
                      %i.icon-minus-sign
                    %a.widgetbtn.pull-right{"data-toggle" => "modal", :href => "#redesignNewCategory"}
                      %i.gcmsicon-edit-grey 
              %li
                .row-fluid
                  .span6
                    %span.company Access Control
                    %span.name Authorization
                  .span6.actions
                    %a#removeMe.widgetbtn.pull-right{:href => "#"}
                      %i.icon-minus-sign
                    %a.widgetbtn.pull-right{"data-toggle" => "modal", :href => "#redesignNewCategory"}
                      %i.gcmsicon-edit-grey 
              %li
                .row-fluid
                  .span6
                    %span.company Access Control
                    %span.name Authentication
                  .span6.actions
                    %a#removeMe.widgetbtn.pull-right{:href => "#"}
                      %i.icon-minus-sign
                    %a.widgetbtn.pull-right{"data-toggle" => "modal", :href => "#redesignNewCategory"}
                      %i.gcmsicon-edit-grey 
              
  =render :partial => 'design/templates/modalfooter', :locals => { :shownote => false, :showcreated => false, :showrevs => false }