#selectorReference.modal.modal-wide.hide.fade
  .modal-header
    %nav
      %a.widgetbtn{"data-toggle" => "modal", :href => "#comingsoonModal"}
        %i.gcmsicon-questionmark-grey
      %a.widgetbtn{"data-dismiss" => "modal", :href => "#"}
        %i.gcmsicon-x-grey
    %h1
      Select Reference
      %span.version v 0.90
  .modal-body
    .alert.alert-info
      %span#alertMessage
      %button.close{:type => "button", :"data-dismiss" => "alert"} ×
    %form
      .row-fluid
        .span6

          %h4
            Add Reference
            .widgetbtn.widgetbtnselector{"data-dismiss" => "modal", :href => "#"}
              %i.gcmsicon-add
            .WidgetBoxHeading.pull-right
              %input{:type => "text", :placeholder => "Search References"}

          .filter-block
          
            .row-fluid
              .span12
                            
                .tabbable.tabs-left
                  .tab-content
                    #category1.tab-pane.active
                      #currentList.reference-list
                        %ul.source
                          %li
                            .row-fluid
                              .span8
                                %span.company Scan
                                %span.name Evidence
                              .span4.actions                
                                %a.widgetbtn.pull-right.add-me{:href => "#"}
                                  %i.grcicon-chevron-right
                                %a.widgetbtn.pull-right{:href => "#"}
                                  %i.gcmsicon-edit-grey
                          %li
                            .row-fluid
                              .span8
                                %span.company PDF
                                %span.name David Buick
                              .span4.actions                
                                %a.widgetbtn.pull-right.add-me{:href => "#"}
                                  %i.grcicon-chevron-right 
                                %a.widgetbtn.pull-right{:href => "#"}
                                  %i.gcmsicon-edit-grey
                          %li
                            .row-fluid
                              .span8
                                %span.company PDF
                                %span.name Niki Lauda
                              .span4.actions                
                                %a.widgetbtn.pull-right.add-me{:href => "#"}
                                  %i.grcicon-chevron-right
                                %a.widgetbtn.pull-right{:href => "#"}
                                  %i.gcmsicon-edit-grey
                          %li
                            .row-fluid
                              .span8
                                %span.company PDF
                                %span.name Daniel Harms
                              .span4.actions                
                                %a.widgetbtn.pull-right.add-me{:href => "#"}
                                  %i.grcicon-chevron-right
                                %a.widgetbtn.pull-right{:href => "#"}
                                  %i.gcmsicon-edit-grey
                          %li
                            .row-fluid
                              .span8
                                %span.company PDF
                                %span.name David Buick
                              .span4.actions                
                                %a.widgetbtn.pull-right.add-me{:href => "#"}
                                  %i.grcicon-chevron-right 
                                %a.widgetbtn.pull-right{:href => "#"}
                                  %i.gcmsicon-edit-grey

                    
        .span6
          %h4 Associated References
          .people-list.currentlist
            %ul.target
              %li
                .row-fluid
                  .span6
                    %span.company PDF
                    %span.name Business Plans
                  .span6.actions          
                    %a#removeMe.widgetbtn.pull-right{:href => "#"}
                      %i.icon-minus-sign
                    %a.widgetbtn.pull-right{"data-toggle" => "modal", :href => "#newreference"}
                      %i.gcmsicon-edit-grey
                    %h6.statustextgreen PENDING 
              %li
                .row-fluid
                  .span6
                    %span.company PDF
                    %span.name Document
                  .span6.actions   
                    %a#removeMe.widgetbtn.pull-right{:href => "#"}
                      %i.icon-minus-sign
                    %a.widgetbtn.pull-right{"data-toggle" => "modal", :href => "#newreference"}
                      %i.gcmsicon-edit-grey
                    %h6.statustextred ERROR 
              %li
                .row-fluid
                  .span6
                    %span.company PDF
                    %span.name Document
                  .span6.actions 
                    %a#removeMe.widgetbtn.pull-right{:href => "#"}
                      %i.icon-minus-sign
                    %a.widgetbtn.pull-right{"data-toggle" => "modal", :href => "#newreference"}
                      %i.gcmsicon-edit-grey
  =render :partial => 'design/templates/modalfooter', :locals => { :shownote => false, :showcreated => false, :showrevs => false }