#selectorControl.modal.modal-wide.hide.fade
  .modal-header
    %nav
      %a.widgetbtn{"data-toggle" => "modal", :href => "#comingsoonModal"}
        %i.gcmsicon-questionmark-grey
      %a.widgetbtn{"data-dismiss" => "modal", :href => "#"}
        %i.gcmsicon-x-grey
    %h1
      Select Control
      %span.version v 0.15
  .modal-body
    .alert.alert-info
      %span#alertMessage
      %button.close{:type => "button", :"data-dismiss" => "alert"} ×
    %form
      .row-fluid
        .span6
          %h4
            Add Control
            .widgetbtn.widgetbtnselector{"data-dismiss" => "modal", :href => "#"}
              %i.gcmsicon-add
            .WidgetBoxHeading.pull-right
              %input{:type => "text", :placeholder => "Search Controls"}
          .filter-block
            .row-fluid
              .span12
                .tabbable.tabs-left
                  .tab-content
                    #System1.tab-pane.active
                      #currentList.system-list.short
                        %ul.source
                          %li
                            .row-fluid
                              .span8
                                %span.system System Company
                                %span.name System 1
                              .span4.actions                
                                %a.widgetbtn.pull-right.add-me{:href => "#"}
                                  %i.grcicon-chevron-right
                                %a.widgetbtn.pull-right{:href => "#"}
                                  %i.gcmsicon-edit-grey
                          %li
                            .row-fluid
                              .span8
                                %span.system System Company
                                %span.name System 2
                              .span4.actions              
                                %a.widgetbtn.pull-right.add-me{:href => "#"}
                                  %i.grcicon-chevron-right 
                                %a.widgetbtn.pull-right{:href => "#"}
                                  %i.gcmsicon-edit-grey
                          %li
                            .row-fluid
                              .span8
                                %span.system System Company
                                %span.name System 3
                              .span4.actions       
                                %a.widgetbtn.pull-right.add-me{:href => "#"}
                                  %i.grcicon-chevron-right
                                %a.widgetbtn.pull-right{:href => "#"}
                                  %i.gcmsicon-edit-grey
                          %li
                            .row-fluid
                              .span8
                                %span.system System Company
                                %span.name System 4
                              .span4.actions                
                                %a.widgetbtn.pull-right.add-me{:href => "#"}
                                  %i.grcicon-chevron-right
                                %a.widgetbtn.pull-right{:href => "#"}
                                  %i.gcmsicon-edit-grey
                          %li
                            .row-fluid
                              .span8
                                %span.system System Company
                                %span.name System 5
                              .span4.actions                
                                %a.widgetbtn.pull-right.add-me{:href => "#"}
                                  %i.grcicon-chevron-right 
                                %a.widgetbtn.pull-right{:href => "#"}
                                  %i.gcmsicon-edit-grey
        .span6
          %h4 Controls for this system
          .system-list.targetList
            %ul.target
              %li
                .row-fluid
                  .span6
                    %span.system System Company
                    %span.name System 1
                  .span6.actions
                    %a#removeMe.widgetbtn.pull-right{:href => "#"}
                      %i.icon-minus-sign
                    %a.widgetbtn.pull-right{"data-toggle" => "modal", :href => "#redesignNewCategory"}
                      %i.gcmsicon-edit-grey 
              %li
                .row-fluid
                  .span6
                    %span.system System Company
                    %span.name System 2
                  .span6.actions
                    %a#removeMe.widgetbtn.pull-right{:href => "#"}
                      %i.icon-minus-sign
                    %a.widgetbtn.pull-right{"data-toggle" => "modal", :href => "#redesignNewCategory"}
                      %i.gcmsicon-edit-grey 
              %li
                .row-fluid
                  .span6
                    %span.system System Company
                    %span.name System 3
                  .span6.actions
                    %a#removeMe.widgetbtn.pull-right{:href => "#"}
                      %i.icon-minus-sign
                    %a.widgetbtn.pull-right{"data-toggle" => "modal", :href => "#redesignNewCategory"}
                      %i.gcmsicon-edit-grey 
              
  =render :partial => 'design/templates/modalfooter', :locals => { :shownote => false, :showcreated => false, :showrevs => false }