#selectorThreat2Biz.modal.modal-wide.hide.fade
  .modal-header
    %nav
      %a.widgetbtn{"data-toggle" => "modal", :href => "#comingsoonModal"}
        %i.gcmsicon-questionmark-grey
      %a.widgetbtn{"data-dismiss" => "modal", :href => "#"}
        %i.gcmsicon-x-grey
    %h1
      Link Risky Attribute to this %biz object%
      %span.version v 0.33
  .modal-body
    .alert.alert-info
      %span#alertMessage
      %button.close{:type => "button", :"data-dismiss" => "alert"} ×
    %form
      .row-fluid
        .span6
          %h4
            Select Risky Attribute
            .widgetbtn.widgetbtnselector{"data-dismiss" => "modal", :href => "#"}
              %i.gcmsicon-add
            .WidgetBoxHeading.pull-right
              %input{:type => "text", :placeholder => "Search Threats"}

          .filter-block
          
            .row-fluid
              .tabbable.tabs-left
                %ul.nav.nav-tabs
                  %li.active 
                    %a{:href => "#bizobj1", "data-toggle" => "tab"}
                      Threat Objects
                  %li 
                    %a{:href => "#bizobj2", "data-toggle" => "tab"}
                      Threat Items
                .tab-content
                  #bizobj1.tab-pane.active
                    #currentList1.system-list
                      %ul.source
                        %li
                          .row-fluid
                            .span8
                              %span.system System Company
                              %span.name System 1
                            .span4.actions                
                              %a.widgetbtn.pull-right.add-me{:href => "#"}
                                %i.grcicon-chevron-right
                              %a.widgetbtn.pull-right{:href => "#"}
                                %i.gcmsicon-edit-grey
                        %li
                          .row-fluid
                            .span8
                              %span.system System Company
                              %span.name System 2
                            .span4.actions              
                              %a.widgetbtn.pull-right.add-me{:href => "#"}
                                %i.grcicon-chevron-right 
                              %a.widgetbtn.pull-right{:href => "#"}
                                %i.gcmsicon-edit-grey
                        %li
                          .row-fluid
                            .span8
                              %span.system System Company
                              %span.name System 3
                            .span4.actions       
                              %a.widgetbtn.pull-right.add-me{:href => "#"}
                                %i.grcicon-chevron-right
                              %a.widgetbtn.pull-right{:href => "#"}
                                %i.gcmsicon-edit-grey
                  #bizobj2.tab-pane
                    #currentList2.system-list
                      %ul.source
                        %li
                          .row-fluid
                            .span8
                              %span.system System Company
                              %span.name System 1
                            .span4.actions                
                              %a.widgetbtn.pull-right.add-me{:href => "#"}
                                %i.grcicon-chevron-right
                              %a.widgetbtn.pull-right{:href => "#"}
                                %i.gcmsicon-edit-grey
        .span6
          %h4 Risky Attributes of this %biz object%
          .system-list.targetlist
            %ul.target
              %li
                .row-fluid
                  .span6
                    %span.system Sub-System Company
                    %span.name System 1
                  .span6.actions
                .row-fluid.additional
                  .span11
                  .span1.actions
                    %label &nbsp;
                    %a#removeMe.widgetbtn.pull-right{:href => "#"}
                      %i.icon-minus-sign
              %li
                .row-fluid
                  .span6
                    %span.system System Company
                    %span.name System 2
                  .span6.actions
                    %a.widgetbtn.pull-right{:href => "#"}
                      %i.gcmsicon-edit-grey 
                .row-fluid.additional
                  .span11
                  .span1.actions
                    %label &nbsp;
                    %a#removeMe.widgetbtn.pull-right{:href => "#"}
                      %i.icon-minus-sign
              %li
                .row-fluid
                  .span6
                    %span.system System Company
                    %span.name System 3
                  .span6.actions
                    %a.widgetbtn.pull-right{:href => "#"}
                      %i.gcmsicon-edit-grey 
                .row-fluid.additional
                  .span11
                  .span1.actions
                    %label &nbsp;
                    %a#removeMe.widgetbtn.pull-right{:href => "#"}
                      %i.icon-minus-sign
              
  =render :partial => 'design/templates/modalfooter', :locals => { :shownote => false, :showcreated => false, :showrevs => false }