#successModal.modal.modal-small.hide.fade
  .modal-header
    %nav
      %a.widgetbtn{"data-dismiss" => "modal", :href => "#"}
        %i.grcicon-x-grey
    %h1 Successful Import
  .modal-body
    %h4 Import Successful
    %ul
      %li Created XX new records
      %li Updated XX existing records
  .modal-footer
    .row-fluid
      %nav.pull-left.txtlft.span3
      .toolbar-widget.span6
      %nav.pull-right.txtrt.span3
        %a.btn.btn-large.btn-success{"data-dismiss" => "modal", :href => "#comingsoonModal"} Ok
