.remote
  .tree-structure
    =form_for :document, :url => url_for(:action => :attach, :system_id => sc.system.id, :control_id => sc.control.id, :descriptor_id => desc.id), :html => { :class => :form } do |f|
      New 
      =desc.title
      \:
      =f.label :title
      =f.text_field :title, :class => :short_field
      =f.label :link
      =f.text_field :link, :class => :short_field
      =f.submit :save, :class => :button
      =link_to url_for(:action => :new_gdoc, :system_id => sc.system.id, :control_id => sc.control.id, :descriptor_id => desc.id, :format => :html), :title => "Add from Google Docs", :class => "button", :remote => true do
        &gt;gdoc
    
  =render :partial => 'add', :locals => {:sc => sc}
