.remote
  .tree-structure
    =form_for :document, :url => url_for(:action => :attach, :system_id => sc.system.id, :control_id => sc.control.id, :descriptor_id => desc.id), :html => { :class => :form } do |f|
      =collection_select :document, :gdocs, @docs.values.sort, :href, :title, { :multiple => true }
      :javascript
        $('#document_gdocs').multiselect(
        {
          noneSelectedText: "Select",
          selectedList: 4,
          minWidth: 500,
        }).multiselectfilter(
        {
        });
      =f.submit :save, :class => :button
      =link_to url_for(:action => :new, :system_id => sc.system.id, :control_id => sc.control.id, :descriptor_id => desc.id, :format => :html), :title => "Add from Link", :class => "button", :remote => true do
        &gt;link
      =link_to url_for(:action => :new_gdoc, :system_id => sc.system.id, :control_id => sc.control.id, :descriptor_id => desc.id, :format => :html, :r => 1), :title => "Refresh Google Docs", :class => "button", :remote => true do
        Refresh
      =link_to @folder_url, :target => '_blank' do
        =sc.system.slug
        Docs Folder

  =render :partial => 'add', :locals => {:sc => sc}
