#block-text.block
  .content
    %h2.title Administration Console
    .inner
      %p.first
        Welcome to the Compliance Management System.  Click on the tabs above to administer the object model.

-content_for :sidebar, render(:partial => "/base/sidebar")
