.group
  =f.label :title
  =f.text_field :title, :class => :text_field

.group
  =f.label :link
  =f.text_field :link, :class => :text_field
  %span.description https://www.example.com/xyz.pdf

.group
  =f.label :reviewed
  =f.check_box :reviewed, :class => :check_box
  %span.description Was this document reviewed?

.group
  =f.label :passed
  =f.check_box :good, :class => :check_box

.group
  =f.label :document_descriptor_id
  =f.collection_select :document_descriptor_id, DocumentDescriptor.all, :id, :display_name, {}, {:class => :collection}

.group.navform.wat-cf
  =f.submit pat(:save), :class => :button
  =f.submit pat(:cancel), :onclick => "window.location='#{documents_path}';return false", :class => :button
