.block
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to pat(:list), documents_path
      %li=link_to pat(:new), new_document_path
      %li.active=link_to pat(:edit), edit_document_path(@document)
  .content
    %h2.title
      =pat(:edit)
      =mt(:document)
    .inner
      =form_for @document, :method => :put, :html => {:class => :form} do |f|
        =render :partial => "admin/documents/form", :locals => { :f => f }

/-content_for :sidebar, partial("base/sidebar")
