-content_for :widget_title do
  Accounts & People

-content_for :widget_help, 'admin_accounts'

-#-content_for :widget_buttons do
  %input.ui-corner-all.widgetsearch.clear-value(type='text' placeholder='Search')

.tabbable#quick_find
  %ul.nav.nav-tabs
    %li=link_to 'Accounts', '#accounts', :data => { :'tab-href' => flow_accounts_path(:quick => true), :toggle => 'tab' }
    %li=link_to 'People', '#people', :data => { :'tab-href' => flow_people_path(:quick => true), :toggle => 'tab' }
  .tab-content
    #accounts.tab-pane
    #people.tab-pane

