-content_for :widget_title do
  Accounts & People

-#-content_for :widget_buttons do
  %input.ui-corner-all.widgetsearch.clear-value(type='text' value='Search...')

.tabbable
  %ul.nav.nav-tabs
    %li=link_to 'Accounts', '#accounts', :data => { :'xtab-href' => quick_controls_path, :toggle => 'tab' }
    %li=link_to 'People', '#people', :data => { :'xtab-href' => quick_sections_path, :toggle => 'tab' }
  .tab-content
    #accounts.tab-pane
    #people.tab-pane

