-content_for :header do
  %ol#breadcrumb
    %li ADMIN
  .location#pageTitle Admin Dashboard

-content_for :page_help, 'admin'

-content_for :subheader_extras do
  .btn-group.closed.fltrt
    %a.btn.btn-blue.dropdown-toggle{ :'data-toggle' => 'dropdown' }
      New Object
      %span.caret
    %ul.dropdown-menu
      %li.divider
      %li.dropdown-menulabel.txtindent1 Create New ...
      %li
        %a{ :'data-toggle' => 'modal-form', :href => '#create-account-modal' }
          Account
      %li
        %a{ :'data-toggle' => 'modal-form', :href => '#create-person-modal' }
          Person

.row-static
  .doubleColumn
    .doubleWide.fullHeight
      =render :partial => 'admin_dash/accounts',
              :layout => 'layouts/widget_box',
              :locals => { :accounts => @accounts, :people => @people }
  .singleColumn
    .singleWide.halfHeight
      =render :partial => 'admin_dash/old_links',
              :layout => 'layouts/widget_box'


#create-account-modal.modal.hide.fade
  -account = Account.new
  =form_for account, :url => flow_accounts_path, :method => :post, :remote => true, :html => {:class => :form} do |f|
    .modal-header
      %button.close{"data-dismiss" => "modal"} x
      %h1 Create a new account
    .modal-body
      =render :partial => 'accounts/form',
              :locals  => { :f => f }
    .modal-footer
      =f.submit pat(:save)
      =f.submit pat(:cancel), :type => 'reset'

#create-person-modal.modal.hide.fade
  -person = Person.new
  =form_for person, :url => flow_people_path, :method => :post, :remote => true, :html => {:class => :form} do |f|
    .modal-header
      %button.close{"data-dismiss" => "modal"} x
      %h1 Create a new person
    .modal-body
      =render :partial => 'people/form',
              :locals  => { :f => f }
    .modal-footer
      =f.submit pat(:save)
      =f.submit pat(:cancel), :type => 'reset'

