-content_for :header do
  %h5.highlighted
    ADMIN
  %h1.location Admin Dashboard


.row
  .span8
    =render :partial => 'admin_dash/accounts',
            :layout => 'layouts/widget_box',
            :locals => { :accounts => @accounts, :people => @people }
  .span4
    =render :partial => 'admin_dash/old_links',
            :layout => 'layouts/widget_box'


