-content_for :header do
  %ol#breadcrumb
    %li ADMIN
  .location#pageTitle Sys Admin Dashboard
 
-content_for :page_help, 'admin'

-content_for :subheader_extras do
  .btn-group.closed.fltrt
    %a.btn.btn-blue.dropdown-toggle{ :'data-toggle' => 'dropdown' }
      New Object
      %span.caret
    %ul.dropdown-menu
      %li.divider
      %li.dropdown-menulabel.txtindent1 Create New ...
      %li
        %a{ :'data-toggle' => 'modal-ajax-form', :'data-modal-reset' => 'reset', :'data-form-target' => 'refresh', :href => new_flow_account_path }
          Account
      %li
        %a{ :'data-toggle' => 'modal-ajax-form', :'data-modal-reset' => 'reset', :'data-form-target' => 'refresh', :href => new_flow_person_path }
          Person

.row-static
  .singleColumn
    .WidgetBox
      .WidgetBoxHeading
        .WidgetTitle Demo Status
      .WidgetBoxContent.fltnone
        -path = request.fullpath.gsub(/BETA=[^&]*&?/, '').sub(/[?&]$/, '')
        -path += path.include?('?') ? '&' : '?'
        -if has_feature? :BETA
          %label 
            Demo features are currently on. 
            %br 
            They will be outlined in orange where possible. 
        -else
          %label Demo features are currently off. 
    .singleColumn
      -if has_feature? :BETA
      
        / in progress
        #Programs.WidgetBox.singleWide.demoItem
          .WidgetBoxHeading
            .WidgetTitle In-Progress Pages
            %nav
              %a.widgetbtn{"data-toggle" => "modal", :href => "#comingsoonModal"}
                %i.gcmsicon-questionmark-grey
              %input.ui-corner-all.widgetsearch{:placeholder => "Search", :type => "text"}/
              %a.accordion-toggle.widgetbtn{"data-toggle" => "collapse", :href => "#programsInProgress"}
                %i.gcmsicon-enlarge-grey
          / /.WidgetBoxHeading
          .WidgetBoxContent
            #programsInProgress.toolbar-widget.in
              %ul#quickLinks.nav.nav-tabs.nav-stacked.in
                %li.group
                  %a.btn{:href => "/design/products"}
                    Product Page
                %li.group
                  %a.btn{:href => "/design/controls"}
                    Controls Page
                %li.group
                  %a.btn{:href => "/design/audit-manager"}
                    Audit Manager
                %li.group
                  %a.btn{:href => "/design/audit-dashboard"}
                    Audit Dashboard
                %li.group
                  %a.btn{:href => "/design/audit-setup"}
                    Audit Setup
                %li.group
                  %a.btn{:href => "/design/audit-control-review"}
                    Audit Controls Review
                
                %li.group
                  %a.btn{:href => "/design/importregs"}
                    Importing Regulation Data
                %li.group
                  %a.btn{:href => "/design/importcontrols"}
                    Importing Controls
    /third column
    .singleColumn
      
      / Start of widget
.row-static
  .singleColumn
    .singleWide
      

  -if has_feature? :BETA
    .singleColumn
      / in progress
      #Programs.WidgetBox.singleWide.demoItem
        .WidgetBoxHeading
          .WidgetTitle WIP : Modals & Widgets
          %nav
            %a.widgetbtn{"data-toggle" => "modal", :href => "#comingsoonModal"}
              %i.gcmsicon-questionmark-grey
            %input.ui-corner-all.widgetsearch{:placeholder => "Search", :type => "text"}/
            %a.accordion-toggle.widgetbtn{"data-toggle" => "collapse", :href => "#programInProgress"}
              %i.gcmsicon-enlarge-grey
        / /.WidgetBoxHeading
        .WidgetBoxContent
          #programInProgress.toolbar-widget.in
            %ul#quickLinks.nav.nav-tabs.nav-stacked.in
              %li.group
                %a.btn{"data-toggle" => "modal", :href => "#auditCycleModal"}
                  New/Edit Audit Cycle
              %li.group
                %a.btn{"data-toggle" => "modal", :href => "#sendauditorinvite"}
                  Send Auditor Invite
              %li.group
                %a.btn{"data-toggle" => "modal", :href => "#auditdefaultscope"}
                  Set Audit Default Scope
              %li.group
                %a.btn{"data-toggle" => "modal", :href => "#newtransactionModal"}
                  New Transaction
              %li.group
                %a.btn{"data-toggle" => "modal", :href => "#mappedcontrols"}
                  Empty Mapping (Reg Mapper)
              %li.group
                %a.btn{"data-toggle" => "modal", :href => "#mappedcontrolsfull"}
                  Mapped Controls (Reg Mapper)
              %li.group
                %a.btn{"data-toggle" => "modal", :href => "#createnewfacility"}
                  New Location/Facility
              %li.row-fluid
                %label Widgets
              %li.row-fluid
                %a.btn{:href => "/design/products"}
                  Impact Scope (view on Product)
    .singleColumn
      / in progress
      #Programs.WidgetBox.singleWide.demoItem
        .WidgetBoxHeading
          .WidgetTitle 
            Approved Modals
          %nav
            %a.widgetbtn{"data-toggle" => "modal", :href => "#comingsoonModal"}
              %i.gcmsicon-questionmark-grey
            %input.ui-corner-all.widgetsearch{:placeholder => "Search", :type => "text"}/
            %a.accordion-toggle.widgetbtn{"data-toggle" => "collapse", :href => "#newEditItems"}
              %i.gcmsicon-enlarge-grey.gcmssmallicon-blue-expand
        / /.WidgetBoxHeading
        .WidgetBoxContent
          %ul#newEdit.nav.nav-tabs.nav-stacked.in
            %li.group
              %label Rapid Prototypes
            %li.group
              %a.btn{"data-toggle" => "modal", :href => "#showSecondModal"}
                Show Second Modal
          #newEditItems.toolbar-widget.collapse
            %ul#newEdit.nav.nav-tabs.nav-stacked.in
              %li.group
                %label General
              %li.group
                %a.btn{"data-toggle" => "modal", :href => "#newreference"}
                  New/Edit Reference
              %li.group
                %a.btn{"data-toggle" => "modal", :href => "#basicnewpersonModal"}
                  New/Edit Person
              %li.group
                %a.btn{"data-toggle" => "modal", :href => "#redesignNewProduct"}
                  New/Edit Product
              %li.group
                %a.btn{"data-toggle" => "modal", :href => "#redesignNewCategory"}
                  New/Edit Category
              %li.group
                %a.btn{"data-toggle" => "modal", :href => "#redesignNewSectionWide"}
                  New/Edit Section
              %li.group
                %a.btn{"data-toggle" => "modal", :href => "#redesignNewBizProcess"}
                  New/Edit Biz Process
              %li.group
                %a.btn{"data-toggle" => "modal", :href => "#redesignNewSystem"}
                  New/Edit System
              %li.group
                %a.btn{"data-toggle" => "modal", :href => "#redesignNewOrg"}
                  New/Edit Organization
              %li.row-fluid
                %label Selectors
              %li.row-fluid
                %a.span6.btn{"data-toggle" => "modal", :href => "#selectorPerson"}
                  Select Person
                %a.span6.btn{"data-toggle" => "modal", :href => "#selectorReference"}
                  Select Reference
              %li.row-fluid
                %a.span6.btn{"data-toggle" => "modal", :href => "#selectorSystem"}
                  Select System
                %a.span6.btn{"data-toggle" => "modal", :href => "#selectorCategory"}
                  Select Category
              %li.row-fluid
                %a.span6.btn{"data-toggle" => "modal", :href => "#selectorSystem"}
                  Add System to System
                %a.span6.btn{"data-toggle" => "modal", :href => "#selectorBiz2System"}
                  Link Biz Object to System
              %li.row-fluid
                %a.span6.btn{"data-toggle" => "modal", :href => "#selectorControl"}
                  Add Controls to System
                %a.span6.btn{"data-toggle" => "modal", :href => "#selectorSystem"}
                  Add System to Controls
              %li.row-fluid
                %a.span6.btn{"data-toggle" => "modal", :href => "#selectorBiz2Product"}
                  Link Biz Object to Product
                %a.span6.btn{"data-toggle" => "modal", :href => "#selectorThreat2Biz"}
                  Link Risky Attribute
              
              %li.row-fluid
                %a.span6.btn{"data-toggle" => "modal", :href => "#newthreat"}
                  New Threat/Risk
              %li.row-fluid
                %label Are you sure?

              %li.row-fluid
                %a.span6.btn{"data-toggle" => "modal", :href => "#confirmModal"}
                  Y/N Dialog
                %a.span6.btn{"data-toggle" => "modal", :href => "#comingsoonModal"}
                  Coming Soon
      #Implemented.WidgetBox.singleWide
        .WidgetBoxHeading
          .WidgetTitle 
            Implemented
          %nav
            %a.widgetbtn{"data-toggle" => "modal", :href => "#comingsoonModal"}
              %i.gcmsicon-questionmark-grey
            %input.ui-corner-all.widgetsearch{:placeholder => "Search", :type => "text"}/
            %a.accordion-toggle.widgetbtn{"data-toggle" => "collapse", :href => "#ImplementedItems"}
              %i.gcmsicon-enlarge-grey.gcmssmallicon-blue-expand
        / /.WidgetBoxHeading
        .WidgetBoxContent
          #ImplementedItems.toolbar-widget.collapse
            %ul#quickLinks.nav.nav-tabs.nav-stacked.in
              %li.group
                %a.btn{"data-toggle" => "modal", :href => "#redesignNewProgram"}
                  New Program 
              %li.group
                %a.btn{"data-toggle" => "modal", :href => "#redesignNewControlWide"}
                  New Control

  .singleColumn
    =render :partial => 'admin_dash/accounts',
              :layout => 'layouts/widget_box',
              :locals => { :accounts => @accounts, :people => @people }
  .singleColumn
    =render :partial => 'admin_dash/categories',
              :layout => 'layouts/widget_box',
              :locals => { :categories => @categories, :options => @options }
