%h2 By Option
%form(action="show_by_option")
  Title:
  %input(type='text' name='title')
  %br
  ID:
  %input(type='text' name='id')
  %br
  %input(type='submit')

%h2 By Category
%form(action="show_by_category")
  Title:
  %input(type='text' name='title')
  %br
  ID:
  %input(type='text' name='id')
  %br
  %input(type='submit')

%h2 By Relationship Type
%form(action="show_by_relationship_type")
  Title:
  %input(type='text' name='title')
  %br
  %input(type='submit')

%a(href="show_bad_relationships") Bad Types

%h2 Referential Integrity
%a(href="show_bad_belongs_to") Bad belongs_to
