-content_for :modal_title do
  -if f.object.new_record?
    Create a new system or business process
  -else
    Edit system or business process

-if !f.object.new_record?
  -content_for :modal_delete_path, flow_system_path(f.object)

.row-fluid
  .span2{ :class => error_class(f, :slug) }
    =f.label :slug, "Code"
    =f.text_field :slug, :class => 'span12'
    =error_messages_inline(f, :slug)

  .span2.disabled{ :class => error_class(f, :version) }
    =f.label :version
    =f.text_field :version, :class => 'input-supermini'
    =error_messages_inline(f, :version)

  .span5{ :class => error_class(f, :owner) }
    =f.label :owner_id
    =f.collection_select :owner_id, Person.all, :id, :display_name, {:include_blank => true}, {}
    =error_messages_inline(f, :owner)

  .span3{ :class => error_class(f, :infrastructure) }
    =f.label 'Type'
    %select.span12{ :name => 'system[type]' }
      %option{ :value => 'none', :selected => f.object.infrastructure || 'selected' } None
      %option{ :value => 'infrastructure', :selected => f.object.infrastructure && 'selected' } Infrastructure
    =error_messages_inline(f, :infrastructure)

%br
.row-fluid
  .span12{ :class => error_class(f, :title) }
    =f.label :title
    =f.text_field :title, :class => 'span12'
    =error_messages_inline(f, :title)

%br
.row-fluid
  .span12
    =f.label :description, "Description"
.row-fluid
  .span12.well{ :class => error_class(f, :description) }
    =f.text_area :description
.row-fluid
  .span12
    =error_messages_inline(f, :description)

%br
-#.row-fluid
  .span12{ :class => error_class(f, :url) }
    =f.label :url
    =f.text_field :url, :class => 'span12'
    =error_messages_inline(f, :url)

-if !f.object.new_record?
  =render :partial => 'shared/object_info', :locals => { :object => f.object, :approved => false }
