-content_for :widget_title do
  Import #{@is_biz_process ? "Processes" : "Systems"}

-content_for :widget_help, (@is_biz_process ? 'processes_import' : 'systems_import')

=form_tag '', :class => 'import', :multipart => true, :remote => true, :'data-type' => 'html', :'data-update-target' => '#results-container' do

  %label(for="file")
    %strong
      File to Upload
  =file_field_tag "upload"
  =hidden_field_tag "is_biz_process", @is_biz_process
  =submit_tag "Upload and Review", :class => 'btn btn-primary'
  %a{ :href => "/help/#{@is_biz_process ? "processes" : "systems"}_import", :target => '_blank', :class => "import-help", :'data-toggle' => 'modal-ajax' }
    View Help

  #results-container
