-content_for :widget_title do
  More Info

-content_for :widget_help, 'system_more_info'

-content_for :widget_id, 'system_more_info_widget'

%ul.tree
  %li.category
    =render :partial => 'documents/object_list',
            :locals  => { :object => system }
            
  %li.category
    =render :partial => 'people/object_list',
            :locals  => { :object => system }