-content_for :widget_title do
  System Information

.nav.nav-tabs.nav-stacked
  =system.title

  .item
    Created:
    =display_time(system.created_at)
  .item
    Updated:
    =display_time(system.updated_at)

