-content_for :widget_title do
  System Info

-content_for :widget_help, 'system_info'

-content_for :widget_buttons do
  %a.widgetbtn{:href => edit_flow_system_path(system), :'data-toggle' => 'modal-ajax-form', :'data-modal-reset' => 'reset', :'data-form-target' => 'refresh', :'data-modal-class' => 'modal-wide', :title => 'Edit System'}
    %i.gcmsicon-edit-grey

.information
  .toolbar-widget

  %hr.hr-widget

  .row-fluid
    .span12
      .span4
        %label Code
        %input.inputtext-small{:type => "text", :disabled => "disabled", :value => system.slug}
      .span4
        %label Type
        %input.inputtext-small{:disabled => "disabled", :type => "text", :value => system.type && system.type.title}
      .span4
        %label System or Process
        %input.inputtext-small{:disabled => "disabled", :type => "text", :value => system.is_biz_process? ? 'Process' : 'System'}
  .row-fluid
    .span12
      %label Full Title
      %input.span12{:disabled => "disabled", :type => "text", :value => system.title}
  .row-fluid
    .span4
      %label Version
      %input.inputtext-small{:disabled => "disabled", :type => "text"}
    .span4
      %label Status
      %input.inputtext-small{:disabled => "disabled", :type => "text"}
  .row-fluid
    .span12
      %label Description
      %textarea#textarea{:disabled => "disabled", :rows => 3}=system.description

%hr.hr-widget

.row-fluid
  .span12
    =render :partial => 'documents/object_list',
            :locals  => { :object => system }

%hr.hr-widget

.row-fluid
  .span12
    =render :partial => 'people/object_list',
            :locals  => { :object => system }

%hr.hr-widget

.row-fluid
  .span6.nominheight
    %label.fltlft
      %strong> Created: #{system.created_at.strftime("%m/%d/%y")}
  .span6.nominheight
    %label.fltrt
      %strong> Updated: #{system.updated_at.strftime("%m/%d/%y")}
