-content_for :widget_title do
  %strong Sub-systems
  and
  %strong Controls
  for this System

-content_for :widget_help, 'system_sub_systems'

-content_for :widget_buttons do
  %a.btn.widgettextbtn{ :href => subsystems_edit_flow_system_path(system), :'data-toggle' => 'modal-ajax-listform', :'data-modal-reset' => 'reset', :'data-list-target' => 'refresh', :title => 'Create New System' }
    Edit Sub-Systems
  %a.btn.widgettextbtn{ :href => controls_edit_flow_system_path(system), :'data-toggle' => 'modal-ajax-listform', :'data-modal-reset' => 'reset', :'data-list-target' => 'refresh', :title => 'Create New Control' }
    Edit Controls

%ul.slugtree
  =render :partial => 'sub_system_branch', :locals => { :systems => [system], :expanded => true }
