-expanded = local_assigns.has_key?(:expanded) && expanded

-systems.each do |system|
  %li.system-node
    .row-fluid
      .span12
        .span12.slot.processslot{ :'data-toggle' => 'collapse', :'data-target' => "#content_system_#{system.id}" }
          .expander{ :class => expanded && 'in' }
          %a.widgetbtn.fltrt{ :href => flow_system_path(system) }
            %i.grcicon-arrowright-grey
          %span.prefix=system.slug
          =system.title || strip_tags(system.description)
      .row-fluid-slotcontent.collapse{ :id => "content_system_#{system.id}" }
        .span12
          =raw system.description
    %ul
      =walk_slug_tree(Program.slugtree(system.controls)) do |item, step|
        .row-fluid
          .span12
            .span12.slot.controlslot{ :'data-toggle' => 'collapse', :'data-target' => "#content_item_#{item.id}" }
              .expander
              %a.widgetbtn.fltrt{ :href => flow_control_path(item) }
                %i.grcicon-arrowright-grey
              %span.prefix=item.slug
              =item.title || strip_tags(item.description)
          .row-fluid-slotcontent.collapse{ :id => "content_item_#{item.id}" }
            .span9
              =raw item.description
      -subsystems = system.sub_systems.all
      -if subsystems.count > 0
        %li
          %ul
            =render :partial => 'sub_system_branch', :locals => { :systems => subsystems }
