-content_for :widget_title do
  %strong Sub-systems
  and
  %strong Controls
  for this System

-content_for :widget_help, 'system_sub_systems'

-content_for :widget_buttons do
  %a.btn.widgetbtn{ :href => subsystems_edit_flow_system_path(system), :'data-toggle' => 'modal-ajax-listform', :'data-modal-reset' => 'reset', :title => 'Create New System' } Add System
  %a.btn.widgetbtn{ :href => controls_edit_flow_system_path(system), :'data-toggle' => 'modal-ajax-form', :'data-modal-reset' => 'reset', :title => 'Create New Control' } Add Control
  %input.ui-corner-all.widgetsearch.clear-value(type='text' placeholder='Search')

%ul.slugtree
  =render :partial => 'sub_system_branch', :locals => { :systems => [system], :expanded => true }
