-content_for :modal_buttons do
  %input.ui-corner-all.widgetsearch{ :type => 'text', :placeholder => 'Search' }

-content_for :modal_title do
  %h1 Edit Sub-Systems

.row-fluid
  .span6
    %h3 Sub-systems for this system

    %script{ :type => 'text/html', :data => { :title => '', :id => '', :slug => '' }}
      %li.controlSlot{ :'data-id' => '<%= id %>' }
        %input(type='hidden' name='items[<%= id %>][id]' value='<%= id %>')
        .arrowcontrols-group{ :href => '#', :data => { :id => '<%= id %>', :title => '<%= title %>', :slug => '<%= slug %>' }}
          .controls-type <%= slug %>
          .controls-subgroup <%= title %>
        %a{:href => "#", :'data-toggle' => 'list-remove'}
          .removeCircleButton.fltrt
            %i.gcmssmallicon-dash-white

    %ul.itemlist#listCurrentList
      -current.each do |object_item|
        -item = object_item.child
        %li.controlSlot{ :'data-id' => item.id, :class => member_error_class(object_item) }
          =member_error_messages_inline(object_item)
          %input(type='hidden' name="items[#{item.id}][id]" value="#{item.id}")
          .arrowcontrols-group{ :href => '#', :data => { :id => item.id, :title => item.title, :slug => item.slug }}
            .controls-type=item.slug
            .controls-subgroup=item.title
          %a{:href => "#", :'data-toggle' => 'list-remove'}
            .removeCircleButton.fltrt
              %i.gcmssmallicon-dash-white

  .span6
    %h3
      Select a sub-system to add
      %a.btn.btn-blue.addbtn.fltrt{ :href => new_flow_system_path, :'data-toggle' => 'modal-ajax-listnewform', :'data-list-target' => '#listOptionsList, #listCurrentList' }
        New System

    %script{ :type => 'text/html' }
      %li.controlSlot
        .itemarrow
        .arrowcontrols-group{ :'data-toggle' => 'list-select', :href => '#', :data => { :id => '<%= id %>', :title => '<%= title %>', :slug => '<%= slug %>' }}
          .controls-type <%= slug %>
          .controls-subgroup <%= title %>

    %ul.itemlist#listOptionsList{ :'data-list-href' => subsystems_list_flow_system_path(object, :format => 'json'), :'data-list-target' => '#listCurrentList'}
      -options.each do |item|
        %li.controlSlot
          .itemarrow
          .arrowcontrols-group{ :'data-toggle' => 'list-select', :href => '#', :data => { :id => item.id, :title => item.title, :slug => item.slug }}
            .controls-type=item.slug
            .controls-subgroup=item.title
