-content_for :widget_title do
  Systems that rely on this System

-content_for :widget_help, 'system_super_systems'

.description
  %ul.slugtree
    -system.super_systems.all.each do |item|
      %li( data-toggle='collapse' data-target="#super-system-#{item.id}" data-id="#{item.id}" )
        .slot.singleControlSlot
          .expander
          %a.btn.btn-blue.fltrt{ :href => flow_system_path(item) }
            Go
          %a.btn.btn-blue.fltrt{ :href => edit_flow_system_path(item), :'data-toggle' => 'modal-ajax-form', :'data-modal-reset' => 'reset', :'data-form-target' => 'refresh' }
            Edit
          %span.prefix
            =item.slug
          =item.title
        .row-fluid-slotcontent.collapse{ :id => "super-system-#{item.id}" }
          .span12
            =item.description
