-content_for :widget_title do
  Systems/Processes that rely on this
  -if system.is_biz_process
    Process
  -else
    System
  

-content_for :widget_help, 'system_super_systems'

-content_for :widget_id, 'system_super_systems_widget'

.description
  -super_systems = system.super_systems.all
  -if super_systems.empty?
    %p There are no other systems that rely on this system.

  %ul.tree-structure
    -super_systems.each do |item|
      %li{ :class => system.is_biz_process? ? "process" : "system" }
        .item-main
          .openclose{ :class => 'lastchild' }
          .item-title
            .row-fluid
              =render :partial => 'object_leaf', :locals => { :instance => item }
            .item-actions
              %a.btn.btn-mini.halfopacity{ "rel" => "tooltip", "data-placement" => "left", "title" => "Go to this object's page", :href => flow_system_path(item.id) }
                %i.grcicon-goto
