-content_for :widget_title do
  Systems that rely on this System

-content_for :widget_help, 'system_super_systems'

.description
  -super_systems = system.super_systems.all
  -if super_systems.empty?
    %p There are no other systems that rely on this system.

  %ul.slugtree
    -super_systems.each do |item|
      %li( data-toggle='collapse' data-target="#super-system-#{item.id}" data-id="#{item.id}" )
        .slot.singleControlSlot
          .expander
          %a.widgetbtn.fltrt{ :href => flow_system_path(item) }
            %i.gcmsicon-arrowright-grey
          %span.prefix
            =item.slug
          =item.title
        .row-fluid-slotcontent.collapse{ :id => "super-system-#{item.id}" }
          .span13
            =item.description
