-content_for :widget_title do
  %strong Transactions
  for this System

-content_for :widget_help, 'system_transactions'

-content_for :widget_buttons do
  %a.widgettextbtn{ :href => new_flow_transaction_path('transaction[system_id]' => system.id), :'data-toggle' => 'modal-ajax-listnewform', :'data-modal-reset' => 'reset', :'data-list-target' => '#transactionsList', :title => 'Create New Transaction' } New

.description
  %script(type='text/html' data-title='' data-description='')
    %li.singleControlSlot.accordion-toggle(data-id='<%= id %>' data-toggle='collapse' href='#transaction-<%= id %>')
      .expander
      %a{:href => "#"}
        .greyOut.fltrt
          %i.gcmssmallicon-dash-white
      %span.prefix <%= title %>
      .row-fluid-slotcontent.collapse{ :id => "transaction-<%= id %>" }
        <%= description %>

  %ul.slugtree#transactionsList
    -system.transactions.all.each do |item|
      %li.singleControlSlot.accordion-toggle{'data-toggle' => 'collapse', :href => "#transaction-#{item.id}", :'data-id' => item.id}
        .expander
        %a{:href => "#"}
          .greyOut.fltrt
            %i.gcmssmallicon-dash-white
        %span.prefix=item.title
        .row-fluid-slotcontent.collapse{ :id => "transaction-#{item.id}" }
          =item.description
