-content_for :widget_title do
  %strong Transactions
  for this System

-content_for :widget_help, 'system_transactions'

-content_for :widget_buttons do
  /%a.btn.widgetbtn{ :href => "#new_flow_transaction_path", :'data-toggle' => 'modal-ajax-form', :'data-modal-reset' => 'reset', :title => 'Create New Transaction' } Add Transaction
  %input.ui-corner-all.widgetsearch.clear-value(type='text' placeholder='Search')

.description
  .content
    /-system.transactions.all.each do |item|
    -System.all.each do |item|
      %div
        %span.prefix
          =item.slug
        =item.title
      -if !item.description.blank?
        %textarea(disabled='disabled')
          =item.description
