-content_for :page_help, 'import'

-content_for :header do

  %ul.breadcrumbs
    %li=link_to 'ADMIN', admin_dash_path
    %li= 'Import Systems'    
    
  %h1
    Import Systems

.row-static
  =render :partial => 'systems/import',
          :layout => 'layouts/widget_box'
