-@messages = @messages.reject{|m|m.starts_with?("Invalid system heading")}

.row-fluid
  %hr.hr-widget

.row-fluid
  %h4 Data to Import

.row-fluid
  #sampleData.span12.well{:style => 'overflow: scroll; max-height: 600px;'}
    -if @messages.present?
      -@messages.each do |m|
        %p.label-warning
          =m
      %br

    -if @errors.any?
      %p.label-warning
        See specific errors below
      %br


    %table.ggrc-table
      %thead
        %tr
          %th System Code
          %th Title
          %th Description
          %th Infrastructure
          %th Start Date
          %th Owner
          %th Categories
          %th Sub Systems
          %th Org Groups
          %th References
          %th Network Zone
      %tbody
        -columns = %w(slug title description infrastructure start_date owner_display categories_display sub_systems_display org_groups_display references_display network_zone)
        -@systems.each_with_index do |sec, i|
          %tr{ :class => (i % 2 == 0 ? :odd : :even) }
            -columns.each do |column_name|
              %td{ :class => ( (@errors[i].present? && @errors[i][column_name].present?) ? 'member-failure' : ((@warnings[i].present? && @warnings[i][column_name].present?) ? 'member-warning' : '' ) ) }
                =sec.send(column_name)
                -if @errors[i].present? && @errors[i][column_name].present?
                  .help-inline=@errors[i][column_name].join(', ')
                -if @warnings[i].present? && @warnings[i][column_name].present?
                  .help-inline=@warnings[i][column_name].join(', ')

    Showing 1 to #{@systems.size} of #{@systems.size} entries
    %br/
    #{@creates.size} created, #{@updates.size} updated

%br

.row-fluid
  -if params[:confirm].blank?
    .span9
    .span3
      -if @errors.any?
        =submit_tag "Correct Errors Before Proceeding", :class => %w(span12 btn btn-large btn-warning btn-primary), :name => 'confirm', :disabled => true
      -elsif @messages.any?
        =submit_tag "Proceed With Caution", :class => %w(span12 btn btn-large btn-warning btn-primary), :name => 'confirm'
      -else
        =submit_tag "Finish Importing", :class => %w(span12 btn btn-large btn-success btn-primary), :name => 'confirm'
  -else
    .span12
      Import of Systems is done.  Return to the
      =link_to "Dashboard", programs_dash_path

