-@title = "GRC #{@system.is_biz_process ? 'Process' : 'System'}: #{@system.title}"

-content_for :header do
  %ul.breadcrumbs
    %li=@system.is_biz_process ? 'PROCESSES' : 'SYSTEMS'
    %li=@system.slug

  %h1.compliance
    -if @system.is_biz_process
      .grcobject.compliance{:rel => "tooltip", :'data-placement'=>"bottom", :title => "B. Process"}
        %i.grcicon-businessprocess
    -else
      .grcobject.compliance{:rel => "tooltip", :'data-placement'=>"bottom", :title => "System"}
        %i.grcicon-system
    =@system.title
    

-content_for :page_help, 'system'

-content_for :subheader_extras do
  %ul.actions.pull-right
    %li
      %a{ :href => edit_flow_system_path(@system), :'data-toggle' => 'modal-ajax-form', :'data-modal-reset' => 'reset', :'data-form-target' => 'refresh', :'data-modal-class' => 'modal-wide', :title => 'Edit System' }
        %i.grcicon-edit-new
        Edit
        =@system.is_biz_process ? 'Process' : 'System'

-content_for :subheader_plus do
  %a.navbarplus.fltrt{ :href => new_flow_system_path(:'system[is_biz_process]' => @system.is_biz_process), :'data-toggle' => 'modal-ajax-form', :'data-modal-reset' => 'reset', :'data-form-target' => 'redirect', :'data-modal-class' => 'modal-wide' }

.container-fluid
  #system_columns.row-fluid{ :'data-resize' => "true" }
    #middle_column.span8.widget-area
      =render :partial => 'systems/sub_systems',
              :layout => 'layouts/widget_box',
              :locals => { :system => @system, :widget_class => "compliance" }
      
      .row-fluid
        .span6           
          =render :partial => 'systems/super_systems',
                  :layout => 'layouts/widget_box',
                  :locals => { :system => @system }
        .span6
          =render :partial => 'systems/transactions',
                  :layout => 'layouts/widget_box',
                  :locals => { :system => @system }
  
  
    #right_column.span4.widget-area
      =render :partial => 'systems/show',
              :layout => 'layouts/widget_box',
              :locals => { :system => @system, :widget_class => 'secondary' }
              
      =render :partial => 'systems/more_info',
              :layout => 'layouts/widget_box',
              :locals => { :system => @system, :widget_class => 'related' }
              
      =render :partial => 'shared/related',
              :layout => 'layouts/widget_box',
              :locals => { :instance => @system }
