-@title = "GRC #{@system.is_biz_process ? 'Biz Process' : 'System'}: #{@system.title}"

-content_for :header do
  %ol#breadcrumb
    %li=@system.is_biz_process ? 'BIZ PROCESSES' : 'SYSTEMS'
    %li=@system.slug
  .location#pageTitle=@system.title

-content_for :page_help, 'system'

-content_for :subheader_extras do
  %h1.fltrt.highlighted=@system.is_biz_process ? 'Biz Process' : 'System'

-content_for :subheader_plus do
  %a.navbarplus.fltrt{ :href => new_flow_system_path(:'system[is_biz_process]' => @system.is_biz_process), :'data-toggle' => 'modal-ajax-form', :'data-modal-reset' => 'reset', :'data-form-target' => 'redirect', :'data-modal-class' => 'modal-wide' }

.row-static
  .doubleColumn
    .maxHalfHeight
      =render :partial => 'systems/sub_systems',
              :layout => 'layouts/widget_box',
              :locals => { :system => @system }
    .singleColumn.maxHalfHeight
      =render :partial => 'systems/super_systems',
              :layout => 'layouts/widget_box',
              :locals => { :system => @system }
    .singleColumn.maxHalfHeight
      =render :partial => 'systems/transactions',
              :layout => 'layouts/widget_box',
              :locals => { :system => @system }

  .singleColumn
    .fullHeight
      =render :partial => 'systems/show',
              :layout => 'layouts/widget_box',
              :locals => { :system => @system }
