-@title = "GRC #{@system.is_biz_process ? 'Process' : 'System'}: #{@system.title}"

-content_for :header do
  %ul.breadcrumbs
    %li=link_to 'dashboard', programs_dash_path
    %li=@system.slug

  %h1.business
    -if @system.is_biz_process
      .grcobject.business{:rel => "tooltip", :'data-placement'=>"bottom", :title => "Process"}
        %i.grcicon-businessprocess
    -else
      .grcobject.business{:rel => "tooltip", :'data-placement'=>"bottom", :title => "System"}
        %i.grcicon-system
    =@system.title

-content_for :page_help, 'system'

-content_for :subheader_extras do
  %ul.actions.pull-right
    %li
      %a{ :href => edit_flow_system_path(@system), :'data-toggle' => 'modal-ajax-form', :'data-modal-reset' => 'reset', :'data-form-target' => 'refresh', :'data-modal-class' => 'modal-wide', :title => 'Edit System' }
        %i.grcicon-edit
        %span
          Edit
          =@system.is_biz_process ? 'Process' : 'System'

-content_for :subheader_plus do
  %a.navbarplus.fltrt{ :href => new_flow_system_path(:'system[is_biz_process]' => @system.is_biz_process), :'data-toggle' => 'modal-ajax-form', :'data-modal-reset' => 'reset', :'data-form-target' => 'redirect', :'data-modal-class' => 'modal-wide' }

.container-fluid
  #system_columns.row-fluid{ :'data-resize' => "true" }
    #middle_column.span8.widget-area
      =render :partial => 'systems/sub_systems',
              :layout => 'layouts/widget_box',
              :locals => { :system => @system, :widget_class => "business" }
      =render :partial => 'systems/super_systems',
              :layout => 'layouts/widget_box',
              :locals => { :system => @system, :widget_class => "business" }
      -#=render :partial => 'systems/transactions',
              :layout => 'layouts/widget_box',
              :locals => { :system => @system, :widget_class => "business" }
      =render :partial => 'shared/related',
              :layout => 'layouts/widget_box',
              :locals => { :instance => @system, :widget_class => "widget-tabs widget-tabs-horizontal business", :widget_title => "Related to " + @system.meta_kind.to_s.capitalize }
      =render :partial => 'shared/add_widget_section'
    #right_column.span4.widget-area
      =render :partial => 'systems/info',
              :layout => 'layouts/widget_box',
              :locals => { :system => @system, :widget_class => "business" }
      =render :partial => 'systems/more_info',
              :layout => 'layouts/widget_box',
              :locals => { :system => @system, :widget_class => 'related business' }
      =render :partial => 'shared/add_widget_section'
