-content_for :tooltip_title do
  %h3
    =system.is_biz_process? ? "Process" : "System"
    Information

=system.title
\|
=system.slug

%h3 Description

.item
  =display_as_html system.description

.item
  Created:
  =display_time(system.created_at)
.item
  Updated:
  =display_time(system.updated_at)
