  {{#list}}
  <li class="item i-process" {{data 'model'}} data-model="true" data-id="{{id}}">
    <div class="row-fluid">
      <div class="span5">
        {{system.title}}
      </div>
      <div class="span3">
        <span class="pbc-counter">
          <i class="grcicon-person"></i>
          {{system.people.length}}
        </span>
      </div>
      <div class="span3">
        <span class="pbc-counter">
          <i class="grcicon-document"></i>
          {{system.documents.length}}
        </span>
      </div>
      <div class="span1 pbc-item pbc-actions">
        <a class="btn btn-mini" rel="tooltip" data-placement="left" title="More" data-target="#pbc-response-{{id}}" data-toggle="collapse" href="javascript://">
          <i class="grcicon-more"></i>
        </a>
      </div>
    </div>
    <div id="pbc-response-{{id}}" class="row-fluid collapse">
      <div class="span5">
        <label>
          <strong>Process Description</strong>
        </label>
        <p class="full-view">
          {{system.description}}
        </p>
        <label>
          <strong>Process Notes</strong>
        </label>
        <p class="full-view">
          {{system.notes}}
        </p>
      </div>
      <div class="span3">
        <label>
          <strong>People</strong>
        </label>
        <ul class="pbc-item-list">
          {{#system.people}}
          <li>
            <a class="btn btn-nano pull-right edit_person" href="javascript://">
              <i class="grcicon-edit-grey"></i>
            </a>
            <a href="javascript://" class="edit-person">{{name}} {{! figure out where the following text comes from }} (Responsible Party)</a>
          </li>
          {{/system.people}}
          <li>
            <a class="btn btn-nano add_person" href="javascript://">
              <i class="grcicon-add"></i>
            </a>
            <a href="javascript://" class="add_person">Add new person</a>
          </li>
        </ul>
      </div>
      <div class="span3">
        <label>
          <strong>Documents</strong>
        </label>
        <ul class="pbc-item-list">
          {{#system.documents}}
          <li {{data 'model'}} data-model="true">
            <a class="btn btn-nano pull-right" href="javascript://">
              <i class="grcicon-edit-grey"></i>
            </a>
            <a href="javascript://">{{title}}</a>
          </li>
          {{/system.documents}}
          <li {{data 'model'}} data-model="true">
            <a class="btn btn-nano" href="javascript://">
              <i class="grcicon-add"></i>
            </a>
            <a href="javascript://">Add new document</a>
          </li>
        </ul>
      </div>
      <div class="span1 pbc-item pbc-actions">
        <a class="btn btn-mini" data-toggle="modal" href="#newResponseDocumentation">
          <i class="grcicon-edit-grey"></i>
        </a>
        <a class="btn btn-mini">
          <i "grcicon-arrowright-grey"></i>
        </a>
      </div>
    </div>
  </li>
  {{/list}}