  {{#list}}
  <li class="item i-process" {{data 'model'}} data-model="true" data-id="{{id}}">
    <div class="row-fluid" data-target="#pbc-response-{{id}}" data-toggle="collapse">
      <div class="span5">
        {{system.title}}
      </div>
      <div class="span3">
        <span class="pbc-counter{{^system.object_people.length}} empty{{/system.object_people.length}}">
          <i class="grcicon-person"></i>
          {{system.object_people.length}}
        </span>
      </div>
      <div class="span3">
        {{#if_equals type_name 'Documentation'}}
        <span class="pbc-counter{{^system.object_documents.length}} empty{{/system.object_documents.length}}">
          <i class="grcicon-document"></i>
          {{system.object_documents.length}}
        </span>
        {{/if_equals}}
        {{#if_equals type_name 'Population Sample'}}
        <span class="pbc-counter empty">
          <i class="grcicon-populationsample"></i>
          0
        </span>
        {{/if_equals}}
        {{#if_equals type_name 'Interview'}}
        <span class="pbc-counter empty">
          <i class="grcicon-calendar"></i>
          0
        </span>
        {{/if_equals}}
      </div>
      <div class="span1 pbc-item pbc-actions">
        <a class="btn btn-mini" rel="tooltip" data-placement="left" title="More" data-target="#pbc-response-{{id}}" data-toggle="collapse" href="javascript://">
          <i class="grcicon-more"></i>
        </a>
      </div>
    </div>
    <div id="pbc-response-{{id}}" class="row-fluid collapse">
      <div class="span5">
        <label>
          <strong>Process Description</strong>
        </label>
        <p class="full-view">
          {{{system.description}}}
        </p>
        <label>
          <strong>Process Notes</strong>
        </label>
        <p class="full-view">
          {{system.notes}}
        </p>
      </div>
      <div class="span3">
        <label>
          <strong>People</strong>
        </label>
        <ul class="pbc-item-list">
          {{#system.object_people}}
          <li {{data 'model'}} data-model="true">
            <a class="btn btn-nano pull-right remove_person" href="javascript://">
              <i class="grcicon-x-grey"></i>
            </a>
            <a href="javascript://" class="edit-person">{{person.name}} {{#role}}({{.}}){{/role}}</a>
          </li>
          {{/system.object_people}}
          <li class="inline-editing inline-add-person hide" data-system-id="{{system.id}}">
            <form>
              <div class="row-fluid">
                <div class="span6">
                  <input class="span12 input-ldap" name="ldap" placeholder="LDAP ID" type="text" {{ (el) -> el.pbc_autocomplete_people() }}>
                </div>
                <div class="span6">
                  <input class="span12 input-name" name="name" placeholder="Name" type="text" {{ (el) -> el.pbc_autocomplete_people() }}>
                </div>
                <input type="hidden" name="id" class="input-id">
              </div>
              <div class="row-fluid">
                <div class="span6">
                  <select name="role" class="span12 input-role">
                    <option value="">Choose Role</option>
                    <option value="responsible">Responsible Party</option>
                  </select>
                </div>
                <div class="span3">
                  <a class="btn btn-mini span12 cancel-add-person" href="javascript://">Cancel</a>
                </div>
                <div class="span3">
                  <a class="btn btn-mini btn-primary span12 add-person disabled" href="javascript://">
                    <strong>Save</strong>
                  </a>
                </div>
              </div>
            </form>
          </li>
          <li class="toggle-add-person">
            <a class="btn btn-mini pull-right" href="javascript://">
              <i class="grcicon-link"></i>
            </a>
              <a href="javascript://">
              Add new person
            </a>
          </li>
        </ul>
      </div>
      <div class="span3">
        <label>
          <strong>{{type_name}}</strong>
        </label>
        <ul class="pbc-item-list">
          {{#if_equals type_name 'Documentation'}}
          {{#system.object_documents}}
          <li {{data 'model'}} data-model="true">
            <a class="btn btn-nano pull-right remove_document" href="javascript://">
              <i class="grcicon-x-grey"></i>
            </a>
            <a href="javascript://">{{document.title}}</a>
          </li>
          {{/system.object_documents}}
          <li class="inline-editing inline-add-document hide" data-system-id="{{system.id}}">
            <form>
              <div class="row-fluid">
                <div class="span6">
                  <input class="span12 input-title" name="title" placeholder="Doc title" type="text" {{ (el) -> el.pbc_autocomplete_documents() }}>
                </div>
                <div class="span6">
                  <input class="span12 input-link" name="link" placeholder="URL" type="text">
                </div>
                <input type="hidden" name="id" class="input-id">
              </div>
              <div class="row-fluid">
                <div class="span6">
                  <select name="role" class="span12 input-role">
                    <option value="">Choose Role</option>
                    <option value="general">General Doc</option>
                  </select>
                </div>
                <div class="span3">
                  <a class="btn btn-mini span12 cancel-add-document" href="javascript://">Cancel</a>
                </div>
                <div class="span3">
                  <a class="btn btn-mini btn-primary span12 add-document disabled" href="javascript://">
                    <strong>Save</strong>
                  </a>
                </div>
              </div>
            </form>
          </li>
          <li class="toggle-add-document" data-system-id="{{system.id}}">
            <a class="btn btn-mini pull-right" href="javascript://">
              <i class="grcicon-link"></i>
            </a>
            <a href="javascript://">
              Add new document
            </a>
          </li>
        {{else}}
          <li data-system-id="{{system.id}}">
            <a class="btn btn-mini pull-right disabled" href="javascript://">
              <i class="grcicon-link"></i>
            </a>
            <a class="disabled" href="javascript://">
              Add new {{type_name}}
            </a>
          </li>
        {{/if_equals}}
        </ul>
      </div>
      <div class="span1 pbc-item pbc-actions">
        <a class="btn btn-mini system-edit" data-toggle="modal-ajax-form" href="/systems/{{system.id}}/edit" data-modal-reset="reset" data-model-class="modal-wide" title="Edit System">
          <i class="grcicon-edit-grey"></i>
        </a>
        <a class="btn btn-mini" href="/systems/{{system.id}}">
          <i class="grcicon-arrowright-grey"></i>
        </a>
        <a class="btn btn-mini delete-response" href="/responses/{{id}}/delete" data-toggle="modal-ajax-form" title="Delete response" rel="tooltip" data-placement="left" data-id="{{id}}">
          <i class="grcicon-x-grey"></i>
        </a>
      </div>
    </div>
  </li>
  {{/list}}
