{{#list}}
  <li class="{{system_or_process}}" data-object-id="{{id}}" data-id="{{id}}" data-object-meta-type="system" data-object-type="{{system_or_process}}" data-model="true" {{data 'model'}}>
  <div class="item-main">
    {{#draw_children}}
        <div class="openclose {{#if start_expanded}}active{{/if}}"></div>
    {{/draw_children}}
    <div class="item-title">
      <div class="row-fluid">
        <div class="span8">
        <div class="oneline expand-on-hover">
          <i class="grcicon-system-color"></i>
          <span class="title">
            {{title}}
          </span>
          <span class="code">
            {{slug}}
          </span>
          <span class="description-inline">
            
            <i class="description-inline">
              {{{firstnonempty description_inline ''}}}
            </i>
          </span>
        </div>
        <div class="description{{^description}} inhover no-description{{/description}}">
          <!-- no notes
          {{#notes}}
          <div class="note">
            {{{notes}}}
          </div>
          {{/notes}}
          -->
          <div class="rtf">{{{firstnonempty description '<i>No description.</i>'}}}</div>
        </div>
      </div>
      <div class="span1">
        <a class="view-more" href="javascript://">
          view
        </a>
      </div>
      </div>
      <div class="item-actions">
        {{#single_object}}
        <a class="btn btn-mini edit-object" data-modal-class="modal-wide" data-placement="left" data-toggle="modal-ajax-form" href="/systems/{{id}}/edit" rel="tooltip" title="Edit this object">
          <i class="grcicon-edit"></i>
        </a>
        {{/single_object}}
        {{#link_buttons}}
        <a class="btn btn-mini link-object" data-child-type="system" data-child-property="child_id" data-modal-class="modal-wide" data-modal-reset="reset" data-toggle="modal-ajax-relationship-selector" href="/system_systems/list_edit?parent_id={{id}}" rel="tooltip" title="Link systems to this {{system_or_process}}">
          <i class="grcicon-link"></i>
        </a>
        <a class="btn btn-mini link-object" data-child-type="control" data-child-property="control_id" data-modal-class="modal-wide" data-modal-reset="reset" data-toggle="modal-ajax-relationship-selector" href="/system_controls/list_edit?system_id={{id}}" rel="tooltip" title="Link controls to this {{system_or_process}}">
          <i class="grcicon-link"></i>
        </a>
        {{/link_buttons}}
        {{^single_object}}
          <a class="btn btn-mini" rel="tooltip" data-placement="left" title="Go to this object's page" href="/systems/{{id}}">
            <i class="grcicon-goto"></i>
          </a>
        {{/single_object}}
      </div>
    </div>
  </div>
  {{#draw_children}}
  <div class="item-content" {{#start_expanded}}style="display: block;"{{/start_expanded}}>
    {{#child_options}}
    <ul class="tree-structure" {{data 'options'}} {{ (el) -> el.cms_controllers_tree_view(el.data("options")) }}></ul>
    {{/child_options}}
  </div>
  {{/draw_children}}
</li>
{{/list}}