.group
  =f.label :title
  =f.text_field :title, :class => :text_field

.group
  =f.label :slug
  =f.text_field :slug, :class => :text_field

.group
  =f.label :description
  ~f.text_area :description, :class => :text_area

.group
  =f.label :regulation_id
  -if !@control_objective.new?
    =link_to @control_objective.regulation.display_name,
      edit_regulation_path(@control_objective.regulation)
  -else
    =f.collection_select :regulation_id, Regulation.all, :id, :display_name, {}, {:class => :collection, :multiple => true}
    :javascript
      old_slug_value = "#{h @control_objective.slug}"
      $('#control_objective_regulation_id').change(function() {
        $.get("#{url(:regulations, :slug, :format => :js)}", {"id": $('#control_objective_regulation_id').val()}, function(data) {
          if ($("#control_objective_slug")[0].value == old_slug_value)
            $("#control_objective_slug")[0].value = data
            old_slug_value = data
        }, "json");
      });


.group.navform.wat-cf
  =f.submit pat(:save), :class => :button
  =f.submit pat(:cancel), :onclick => "window.location='#{control_objectives_path}';return false", :class => :button

%hr.section
%h3 Controls
/-edit_children(@control_objective, :control)
