.block
  =render :partial => "admin/control_objectives/secnav"
  .content
    %h2.title
      =pat(:all)
      =mt(:control_objectives)
    .inner
      %table.table
        %tr
          %th.first=mat(:control_objective, :title)
          %th=mat(:control_objective, :type)
          %th=mat(:control_objective, :regulation_id)
          %th=mat(:control_objective, :updated_at)
          %th.last!="&nbsp;"
        -@control_objectives.each do |control_objective|
          %tr
            %td.first
              %span{:title => control_objective.description}
                =link_to h(control_objective.title), edit_control_objective_path(control_objective)
              .slug&=control_objective.slug
            %td=regulation_display(control_objective)
            %td=link_to control_objective.regulation.display_name,
              edit_regulation_path(control_objective.regulation)
            %td=display_time(control_objective.updated_at)
            %td.last
              =button_to pat(:edit), edit_control_objective_path(control_objective), :method => :get, :class => :button_to
              ="|"
              =button_to pat(:delete), control_objective, :method => :delete, :class => :button_to
      .actions-bar.wat-cf
        .actions!="&nbsp;"

/-content_for :sidebar, partial("base/sidebar")
