.block
  =render :partial => "admin/control_objectives/secnav"
  .content
    %h2.title
      =pat(:new)
      =mt(:control_objective)
    .inner
      =form_for @control_objective, :method => :post, :html => {:class => :form} do |f|
        =render :partial => "admin/control_objectives/form", :locals => { :f => f }

-render_for :sidebar, :partial => "base/sidebar"
-render_for :sidebar, :partial => "base/control_nav"
