-model_name = controller_name.singularize
-instance = instance_variable_get("@" + model_name)

=form_for instance, :url => method("flow_#{model_name}_path").call(instance), :method => :put, :remote => true do |f|
  =render :partial => 'shared/form_model',
          :layout  => 'layouts/form_modal',
          :locals  => { :f => f }
