.footer {
  border-top: 1px solid $footerBorder;
  height: 40px;
  text-align: center;
  p {
    margin: 0;
    line-height: 40px;
    color:$headerTitle;
    font-size: $f-small;
    text-align: right;
  }
  .bottom-nav {
    @include reset-list();
    li {
      text-align: left;
      a {
        line-height: 40px;
        color: $link;
        font-size: $f-small;
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
        i {
          margin: 10px 4px 0 0;
        }
      }
    }
  }
}