/*!
 * GCMS v.112012
 *
 * Early CSS work by Joseph Van Geffen, using Twitter Bootstrap
 */

/* Changes made to bootstrap code instead of overwriting
 */

  .audit {
    padding:5px;
    margin-top:4px;
    background:$auditBgndColor;
    border:1px solid darken($auditBgndColor,10%);
    @include border-radius();
    label {
      color:#2a909c;
      &.subtitle {
        font-weight:bold;
      }
    }  
  }

// Minimum width for spans under pressure

.minimumwidth313px {
  min-width:313px;
}

.minimumwidth666px {
  min-width:666px;
}

.halfopacity {
  @include opacity(0.4);
  &:hover {
    @include opacity(0.8);
  }
}

.eightyopacity {
  @include opacity(0.6);
  &:hover {
    @include opacity(1);
  }
}


/* DEMO buttons and styles */

.demoItem {
  border:2px solid #EA7301;
}

.demoText {

  border:2px solid #EA7301;
//text-decoration: line-through;
 // color:#EA7301;
}

.grcbutton {
  font-size:16px;
}



#grcbuttonStable {
  -webkit-background-clip: border-box;
-webkit-background-origin: padding-box;
-webkit-background-size: auto;
-webkit-border-image: none;
-webkit-box-shadow: rgba(255, 255, 255, 0.199219) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.046875) 0px 1px 2px 0px;
background-attachment: scroll;
background-clip: border-box;
background-color: #5BB75B;
background-image: -webkit-linear-gradient(top, #62C462, #51A351);
background-origin: padding-box;
background-repeat: repeat-x;
background-size: auto;
border-bottom-color: rgba(0, 0, 0, 0.246094);
border-bottom-left-radius: 4px;
border-bottom-right-radius: 4px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-left-color: rgba(0, 0, 0, 0.0976563);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgba(0, 0, 0, 0.0976563);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgba(0, 0, 0, 0.0976563);
border-top-left-radius: 4px;
border-top-right-radius: 4px;
border-top-style: solid;
border-top-width: 1px;
box-shadow: rgba(255, 255, 255, 0.199219) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.046875) 0px 1px 2px 0px;
color: white;
display: inline-block;
float: none;
font-family: 'PT Sans', Helvetica, Arial, Tahoma, Verdana, sans-serif;
font-size: 16px;
height: 18px;
line-height: 18px;
margin-bottom: 6px;
margin-left: 5px;
margin-right: 5px;
margin-top: 5px;
padding-bottom: 4px;
padding-left: 10px;
padding-right: 10px;
padding-top: 4px;
text-align: center;
text-decoration: none;
text-shadow: rgba(0, 0, 0, 0.246094) 0px -1px 0px;
vertical-align: middle;
width: 97px;
}

.WidgetBox {
  color:$textColor;
  margin: 0 15px 15px 0;
  @include border-radius(6px);
  @include box-sizing(border-box);
  @include box-shadow(1px 1px 2px rgba(0, 0, 0, 0.1));
  p {
    margin: 3px 0 6px 0;
    font-size: 13px;
    line-height: 15px;
  }
  .WidgetBoxHeading {
    background-color:#adb1c2;
    border:1px solid #b7b8b6;
    font-weight:bold;
    text-decoration:none;
    text-shadow:1px 1px 0px #7c8076;
    height:24px;
    font-weight: 400;
    padding: 4px;
    margin:0 0 0 0;
    color: $white;
    text-shadow: 0px 1px 1px #000;
    @include box-shadow(inset 0px 1px 0px 0px #dbe0d7);
    @include background-image(linear-gradient(center top, #828a97 5%, #4c525b 100% ));
    @include border-radius(4px 4px 0px 0px);
    input {
      width:80px;
      height:16px;
      font-size: 12px;
      line-height: 18px;
      display: inline-block;
      padding: 2px 2px 2px 4px;
      margin:0px 0 0 0; /* Why is this 2px required? Re-Factor ME */
      color: #555;
      text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
      vertical-align: middle;
      cursor: pointer;
      background-color: whiteSmoke;
      background-image: -moz-linear-gradient(top, white, #E6E6E6);
      background-image: -ms-linear-gradient(top, white, #E6E6E6);
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#E6E6E6));
      background-image: -webkit-linear-gradient(top, white, #E6E6E6);
      background-image: -o-linear-gradient(top, white, #E6E6E6);
      background-image: linear-gradient(top, white, #E6E6E6);
      background-repeat: repeat-x;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFE6E6E6', GradientType=0);
      border-color: #E6E6E6 #E6E6E6 #BFBFBF;
      border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) fadein(rgba(0, 0, 0, 0.1), 15%);
      filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
      border: 1px solid #666;
      border-bottom-color: #333;
      border-radius: 4px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
      -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);

      @include transition(border linear 0.2s, box-shadow linear 0.2s);

      @include opacity(0.9);
      
      &:hover {
        @include opacity(1);
      }
    }
    position:relative;
  }

 /* In case the title of the widget is too long, */
 /* lets make the positioning absolute for the widget buttons */ 

.WidgetBoxHeading nav {
  position:absolute;
  margin:5px 5px 0 0;
  right:0px;
  top:0px;
}

    .WidgetBoxRedHeading {
      background: #2c4361;
      @include background-image(linear-gradient(top,  #966768 0%, #665151 40%, #604242 79%, #5b4e4f 100%)); 
    
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.56);
      -webkit-font-smoothing: antialiased;

      border:1px solid #661111;
      font-weight:bold;
      text-decoration:none;
      text-shadow:1px 1px 0px #7c8076;
      height:24px;
      font-weight: 400;
      padding: 4px;
      margin:0 0 0 0;
      color: $white;
      text-shadow: 0px 1px 1px #000;

    
      @include border-radius(4px 4px 0px 0px);
      input {
        display: inline-block;
        vertical-align: top;
        width: 80px;
        height: 13px;
        padding: 6px 4px 2px 4px;
        margin: 0px 0px 0px 0px;
        font-size: 12px;
        line-height: 12px;
        color: #555;
        background-color: $white;
        border: 1px solid $lightGray;
        @include border-radius(3px);
      }
    }
    .WidgetBoxBlueHeading {
      background: #77979b; /* Old browsers */
     @include background-image(linear-gradient(top,  #77979b 0%, #55656b 40%, #4c5a5e 79%, #485559 84%, #4e565b 100%)) ;
      
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.56);
      -webkit-font-smoothing: antialiased;

      border:1px solid #661111;
      font-weight:bold;
      text-decoration:none;
      text-shadow:1px 1px 0px #7c8076;
      height:24px;
      font-weight: 400;
      padding: 4px;
      margin:0 0 0 0;
      color: $white;
      text-shadow: 0px 1px 1px #000;

    
      @include border-radius(4px 4px 0px 0px);
      input {
        display: inline-block;
        vertical-align: top;
        width: 80px;
        height: 13px;
        padding: 6px 4px 2px 4px;
        margin: 0px 0px 0px 0px;
        font-size: 12px;
        line-height: 12px;
        color: #555;
        background-color: $white;
        border: 1px solid $lightGray;
        @include border-radius(3px);
      }
    }
}



.subtleGreen {
  background: #75997e; /* Old browsers */
  @include background-image(linear-gradient(top,  #75997e 0%, #596d57 40%, #48594a 79%, #445449 83%, #4f5e53 100%));
}

.subtleBlue {
  background: #77979b; /* Old browsers */
  @include background-image(linear-gradient(top,  #77979b 0%, #55656b 40%, #4c5a5e 79%, #485559 84%, #4e565b 100%)) ;
}

.subtleRed {
  background: #966768; /* Old browsers */
  @include background-image(linear-gradient(top,  #966768 0%, #665151 40%, #604242 79%, #5b4e4f 100%));
}

.WidgetTitle {
  padding: 2px 0px 4px 3px;
  /* width:130px; /* This is set to 130 because inside regmapper thats all you will get */
  font-weight: normal;
  line-height:24px;
  font-size:16px;
  display:inline;
  overflow:hidden;
  white-space:nowrap;
  position:relative;
}



/* Height attributes that should be applied to WidgetBox only */

/* Goal is to specify height outside of the widgetbox */
// TODO: use instead? .halfHeight > .WidgetBoxContent
.halfHeight > .WidgetBox > .WidgetBoxContent {
  height:265px;

}

// TODO: use instead? .fullHeight > .WidgetBoxContent
.maxhalfHeight > .WidgetBox > .WidgetBoxContent {
  max-height:265px;
}

.fullHeight > .WidgetBox > .WidgetBoxContent {
  position:relative;
  min-height:265px;
  max-height:550px;
  // TODO: decide which .WidgetBox descendent should be scrollable
  //overflow-y:auto;
  //overflow-x:hidden;*/
}

/* Required `height` setting to trigger overflow scrolling in tab content */
.fullHeight > .WidgetBox > .WidgetBoxContent .tab-pane {
  max-height: 535px;
}

/*
.singleWide > .WidgetBox > .WidgetBoxContent {
  width:346px;
}

.doubleWide > .WidgetBox > .WidgetBoxContent {
  width:720px;
}
*/

.WidgetBoxContent {
  background: #f5f5f5;
  border: $lightGray 1px solid;
  padding: 8px;
  margin: 0;
  // TODO: decide which .WidgetBox descendent should be scrollable
  overflow-y:auto;
  overflow-x:hidden;

  border-color: #97abc2;
  /* removed on 11/24 to delete on 12/24
  .btn {
    line-height:18px;
  } */
}

.accordion-group {
  margin-bottom: 2px;
  border: 0px;
  @include border-radius(0px);
}

/* Width attributes that should be applied to columns only - NOT WIDGETS */
.doublewidth {
  width:300px; /* Sets the width of a widgettitle (or anything) with room for one or two icons */
}

.doubleColumn {
  width: 747px;
  float: left;
  display:inline-block;
}

.singleColumn {
  width: 373px;
  padding:0; /* This is a column, so no padding (let the Widget do it) */
  margin:0;
  float:left;
  display:inline-block;
}

.last {
  padding-right: 0px;
  margin-right: 0px;
}


/* NAVS */

.nav-tabs > li > a {
  padding-top: 9px;
  padding-bottom: 6px;
  line-height: 16px;
  font-size:14px;
  border: 1px solid transparent;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}

// ----- TABS ----- //

.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
  color: $white;
  cursor: default;
  background-color: #43C2C7;
  border: 1px solid #43C2C7;
  border-bottom-color: transparent;

  font-weight:bold;
}

.nav-tabs {
  /*margin-bottom: 2px;*/
  border-bottom: 8px solid #43C2C7;
  li {
    a:hover {
      background:lighten(#43C2C7,15%);
      color:$white;
      border:1px solid #43C2C7;
    }
  }
}

.nav-tabs.nav-stacked > li {
  margin: 1px;
  // padding: 1px 1px 3px 1px; /* padding removed */
}

.nav-tabs.nav-stacked > li:hover {
  color:#333;
  background: #eeeeee; /* Old browsers */

}

.nav-tabs.nav-stacked > li:first-child > a:hover {
  border: 1px solid $borderDefaultHover;
  @include border-radius(4px 4px 0 0);
}

.nav-tabs.nav-stacked > li > a:hover {
  border: 1px solid $borderDefaultHover;
}

.nav-tabs.nav-stacked > li > a {
  color:$textColor;
}

.nav-tabs.nav-stacked > li > a:hover, .nav-tabs.nav-stacked > li > a h3:hover { color:#333; }




// ----- SLOTS ----- //

.sluggroup {
  //background-color: #f5f5f5;
  //margin-top:5px;
  &.selected {
    border: 1px solid $borderDefaultHover;
  }
}

.doubleslot {
  border: 1px solid $borderDefault;
  display:inline-block;  
  float:left;
  height:38px;
  line-height:14px;
  margin-top: 2px;
  padding: 4px 5px 5px 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  @include box-sizing(border-box);
  .controls-subgroup {
      color: black;
      font-size: 12px;
      line-height: 12px;
      margin-bottom:4px;
    }
}

.slot {
  border: 1px solid $borderDefault;
  display:inline-block;  
  float:left;
  height:30px;
  line-height:30px;
  margin-top: 2px;
  padding: 0px 5px 0px 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  @include box-sizing(border-box);

  background: $white; /* Old browsers */
  @include background-image(linear-gradient(top,  $white 0%, #eef4ed 70%, #edebe6 100%, #f6f6f6 100%));

  &:hover {
    cursor: pointer;
    text-decoration:none;
    background: #eeeeee; /* Old browsers */
    border: 1px solid $borderDefaultHover;
    @include background-image(linear-gradient(top,  #eeeeee 0%, #f1f1f1 50%, #e1e1e1 100%, #f6f6f6 100%));
    }
  &.systemslot {
    background-color: #fffbe9; // Old browsers
    @include filter-gradient(#fffbe9, #f9f8cf, vertical); // IE6-9
    @include background-image(linear-gradient(top,  #fffbe9 0%,#f9f8cf 100%));
  }

  &.regulationslot {
    background-color: #e9fff0;
    @include filter-gradient(#e9fff0, #cff9e3, vertical);
    @include background-image(linear-gradient(top,  #e9fff0 0%,#cff9e3 100%)); 
  }
  &.riskyslot {
    background-color: #f3e9ff;
    @include filter-gradient(#f3e9ff, #e7cff9, vertical);
    @include background-image(linear-gradient(top,  #f3e9ff 0%,#e7cff9 100%));
   
  }
  &.riskslot {
    background-color: #ffe9f0;
    @include filter-gradient(#ffe9f0, #f9cfd7, vertical);
    @include background-image(linear-gradient(top,  #ffe9f0 0%,#f9cfd7 100%));
  
  }
  &.controlslot {
    background-color: #eafbff; // Old browsers
    @include filter-gradient(#eafbff, #cfebf9, vertical); // IE6-9
    @include background-image(linear-gradient(top,  #eafbff 0%,#cfebf9 100%)); 
    @include border-radius(5px);
  }
  &.processslot {
    background-color: #eafbff; // Old browsers
    @include filter-gradient(#eafbff, #cfebf9, vertical); // IE6-9
    @include background-image(linear-gradient(top,  #eafbff 0%,#cfebf9 100%)); 
  }
  &.categorySlot {
    @include opacity(.7);
    background-color: #b4e9eb; // Old browsers
    @include filter-gradient(#b4e9eb, #b4e9eb, vertical); // IE6-9
    @include background-image(linear-gradient(top,  #b4e9eb 0%,#b4e9eb 100%));
    @include border-radius(4px);
    border: 1px solid $borderDefaultHover;
    margin: 2px 2px 2px 2px;
    .controls-subgroup {
      color: black;
      font-size: 12px;
      line-height: 12px;
      margin-bottom:4px;
    }
    &:hover {
      @include opacity(1.0);
    } 
  }
  &.selected {
    color:$white;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#43C2C7), color-stop(100%,#0FB4E7));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#43c2c7', endColorstr='#0fb4e7',GradientType=0 );
    background: #227b84 ; /* Old browsers */
      border: 1px solid #e1e1e1;
    &:hover {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box;
      background: #227b84 ; /* Old browsers */
      border: 1px solid #e1e1e1;
      color:$white;
    }  
  }

  .btn {
    /* Necessary for slot btn alignment */
    margin-top: -4px;
    margin-left:10px;
  }

  .slottitle {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .slotowner {

  }
  .slotactions {

  }
}

/* Sub area slot */
h3.toggle {
  cursor:pointer;
}

/* This defines the styles of the full-content slots hide/show on toggle */
/* A TB span12 sets padding for general content */
.slotcontent {
  padding:5px 0px 0px 5px;
  ul.contentactions {
    /* align content actions with [...] button above */
    margin:3px 1px 5px 10px;
  }
  li {
    padding:0 0 5px 0 !important;
  }
}




.statustextred {
  color:#C00;
}
.statustextblue {
  color:#38dfe5;
}
.statustextgreen {
  color:#0A0;
}

.statustextyellow {
  color:#bc9808;
}


.statusblue {
  color:#444 !important;  
  background: transparentize(#43C2C7, .9) !important;  /* Old browsers */
  @include background-image(linear, left top, left bottom, color-stop(0%, #43C2C7), color-stop(100%, #0FB4E7));
}


.statusorange {
  color:#444 !important;
  background: transparentize(#ffd8ab, .95) !important;  /* Old browsers */
  @include background-image(linear-gradient(top,  #ffd8ab 0%, #ffd8ab 100%));
}

.statusyellow {
  color:#444 !important;
  background: transparentize(#ffff00, .95) !important;  /* Old browsers */
  @include background-image(linear-gradient(top,  rgba(255,227,153,1) 0%, rgba(237,237,147,1) 100%));
}

.statusgreen {
  color:#444 !important;
  background: transparentize(#00ff00, .95) !important; /* Old browsers */
  @include background-image(linear-gradient(top,  #b5fbc8 0%, #a0fcb9 100%));
}

.statusred {
  color:#444 !important;
  background: transparentize(#ff0000, .95)  !important; /* Old browsers */
  @include background-image(linear-gradient(top,  rgba(255,227,153,1) 0%, rgba(237,237,147,1) 100%));
}

.statuspurple {
  color:#444 !important;
  background: transparentize(#9a53d1, .95)  !important; /* Old browsers */
  @include background-image(linear-gradient(top,  rgba(255,227,153,1) 0%, rgba(237,237,147,1) 100%));
}

.regulationslot_content {
  margin:0px 2px 0px 2px;
  padding: 0px 5px 0px 8px;
  background: #EFEFEF;
}

.cleanlabels .row-fluid [class*="span"],
.information .row-fluid [class*="span"] {
  min-height:28px;
}

.row-static {
  padding: 0 5px;
}

.row-fluid-slotcontent {
  margin-top: 0px; /* margin top removed (was 5) for chrome/macosx */
  clear:both;
  padding: 0px 0px 0px 0px;
  background: #efefef;
}

.row-fluid-slotcontent.in {
  padding: 5px 0px 5px 0px;
}

/*.row-fluid-slotcontent.collapse {
  margin-top: 0;
}*/

//TODO: .controllist a OR a.controllist ?
.controllist {
  float:left;
  display: inline-block;
  height:30px;
  line-height:30px;
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  @include box-sizing(border-box);
  /* margin: 3px 0px 2px 2px; */
  padding:0px 6px 0px 6px;
  //TODO: #333 or #eee
  color:#333;
  border: 1px solid #eeeeee;
  font-weight:normal;
  font-size:12px;
  &:hover {
    color:#000;
    font-weight:bold;
  }
}

.spannomargin {
  float: left;
  margin: 0px;
}


.group a {
  color:$textColor;
  &:hover {
    color:#333;
    background: #def4f5 !important;
  }
  h3:hover {
    color:#333;
  }
}


.txtindent1 {
  text-indent: .5em;
}
.txtindent2 {
  text-indent: 1em;
}
.txtindent3 {
  text-indent: 1.5em;
}

.highlighted {
  color:#0d868c;
}

.location {
  color:#5c5c5c;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}




/* BUTTONS */

nav {
  float:right;
  display:inline-block;
}

/* Reduces bootstrap's bottom padding which had an adverse effect on the visual look of tab'd widgets */
.nav{
  margin-bottom:5px;
}

.modal-header > nav {
  padding:5px;
}

#categorylist {
  min-height:169px;
}

.header {
  height: 43px;
  padding: 8px 20px 8px 20px;
  margin: 0 0 15px 0;
  background-color: $white;
  @include box-shadow(0px 2px 4px rgba(0, 0, 0, 0.2));
  &:after {
    position: absolute;
    top: -6px;
    left: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid $white;
    border-left: 6px solid transparent;
    content: '';
  }
}

#userInfo {
  color: #aaa;
  font-size: 11px;
  line-height: 1;
  margin-right: 7px;
  text-align: right;
}

#pageTitle {
  margin: 0;
  font-weight: bold;
  //text-rendering: optimizelegibility;
  margin-top:0px;
  font-size: 28px;
  font-weight: bold;
  line-height: 28px;
  color:$textColor;
  text-align: left;
}


#pageType {
  margin-right:7px;

  font-size: 28px;
  font-weight: bold;
}


.smallerWidgetBoxHeading input {
  width: 70px;
}


/* Arrows */

.arrow_box {
  position: relative;
  background: #222;
  border: 2px solid #c2e1f5;
  &:after {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-right-color: #222;
    border-width: 20px;
    top: 50%;
    margin-top: -20px;
  }
  &:before {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-right-color: #c2e1f5;
    border-width: 23px;
    top: 50%;
    margin-top: -23px;
  }
}

/* Breadcrumb */

#breadcrumb, #breadcrumb li {
  margin: 0;
  padding: 0;
  display: inline; /* Horizontal list */
  list-style: none;
}

.userInfo-nav {
margin: 2px 0 0 0;
padding: 0 0 0 0;
}

/* breadcrumbs*/

ol#breadcrumb > li:after { content: ' /' }
ol#breadcrumb > li:last-child a:after { content: ' ' }

.navigation_area {
  float:right;
  display:inline;
}

.toolbar-nav {
  margin: 8px 0 0 0;
  padding: 0 0 0 0;
}

.toolbar-widget {
  margin: 5px auto 5px; // this should be auto centered 
  text-align:center;
  hr {
    margin: 5px 0 0 0;
    border: 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid $white;
  }
}

.hr-widget {
  margin: 9px 0;
  border: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid $white;
}

.navbar {
  .brand {
    display: inline-block;
    float: left;
    padding: 0;
    margin:0;
    font-size: 22px;
    font-weight: normal;
    line-height: 56px;
    color: #efefef;
  }
}


.navbar-secondinner {
  height:54px;
  padding: 4px 0 0 5px;
  /* background-color: $white; */
}

.fixed-top .inner,
.fixed-bottom .inner {
  padding:0 5px 0 5px;
  width:100%;
}

.fixed-top, .navbar-fixed-top {
  position:absolute;
  top: 0;
  margin:0 0 0 0; /*Required to stop boostrap-responsive from changing size of header bed */
  padding:0 0 0 0; /*Required to stop boostrap-responsive from changing size of header bed */
}

.container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
  // TODO: 'SOON' ??
  // max-width: 1120px;
  // min-width: 1004px;
  width: 1120px;
  padding:0 15px 0 15px;
}

.headerleft {
  max-width:502px;
  min-width:251px;
  float: left;
  margin-left: 0px;
}

.headercenter {
  display: inline-block;
  position:relative;
  width:600px;
  margin: 8px auto 0 auto;
}

.headerright {

  max-width:502px;
  min-width:251px;
  float: right;
  margin-right: 0px;
}

.inner {
  height: 55px; /* We do not want this changing size */
  margin:0 0 0 0; /* Required to stop boostrap-responsive from changing size of header bed */
  padding:0 0 0 5px; /* Required to stop boostrap-responsive from changing size of header bed */
  background-color: #2c2c2c;
  @include background-image(linear-gradient(top, #333333, #222222));
  @include border-radius(4px);
  @include box-shadow(0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1));
}

.secondinner {
  height:53px;
  padding: 5px 0px 0px 5px;
  background-color: $white;
  @include box-shadow(0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1));
}


.btn-blue {
  background-color: hsl(182, 84%, 42%) !important;
  @include background-image(linear-gradient(top, #43e8ee, #11bfc5));
  border-color: #11bfc5 #11bfc5 hsl(182, 84%, 37.5%);
  color: $white !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.29);
  -webkit-font-smoothing: antialiased;
}

.btn-mini {
  padding: 2px 2px;
  font-size: 11px;
  line-height: 14px;
}

.btn-slotcolumn {
  padding: 2px 2px;
  font-size: 11px;
  line-height: 30px;
}

/*  GCMS Welcome */
.jumbotron {
  position: relative;
  h1 {
    margin-bottom: 9px;
    font-size: 81px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
  }
  p {
    margin-bottom: 16px;
    font-weight: 300;
  }
  .btn-large {
    font-size: 20px;
    font-weight: normal;
    padding: 10px 20px;
    margin-right: 10px;
    @include border-radius(6px);
    small {
      font-size: 14px;
    }
  }
}

/* GCMS Masthead */
.masthead {
  padding-top: 36px;
  margin-bottom: 40px;
  h1 {
    text-align: center;
    margin-bottom: 18px;
  }
  p {
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 30px;
    line-height: 36px;
  }
}


/* Popover-Hover items */


.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
  display: none;
  padding: 10px;
  &.top {
    margin-top: -5px;
    .arrow {
      bottom: 0;
      left: 50%;
      margin-left: -5px;
      border-top: 5px solid #666;
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;
    }
  }
  &.right {
    margin-left: 14px;
    .arrow {
      top: 50%;
      left: 0;
      margin-top: -10px;
      border-top: 10px solid transparent;
      border-right: 10px solid #43C2C7;
      border-bottom: 10px solid transparent;
    }
  }
  &.bottom {
    margin-top: 5px;
    .arrow {
      top: 0;
      left: 50%;
      margin-left: -5px;
      border-right: 5px solid transparent;
      border-bottom: 5px solid #666;
      border-left: 5px solid transparent;
    }
  }
  &.left {
    margin-left: -5px;
    .arrow {
      top: 50%;
      right: 0;
      margin-top: -5px;
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-left: 5px solid #43C2C7;
    }
  }
  .arrow {
    position: absolute;
    width: 0;
    height: 0;
  }
}

.popover-inner {
  width: 350px;
  padding: 3px;
  overflow: hidden;
  background: #43C2C7;
  @include border-radius(3px);
  @include box-shadow(0 3px 7px rgba(0, 0, 0, 0.3));
}

.popover-title {
  padding: 4px 8px;
  line-height: 1;
  background-color: #efefef;
  border-bottom: 1px solid #eee;
  @include border-radius(3px 3px 0 0);
}

.popover-content {
  padding: 8px;
  background-color: $white;
  @include border-radius(0 0 3px 3px);
  @include background-clip(padding-box);
  /* dan: */
  max-height: 300px;
  overflow: auto;
}

.popover-content p,
.popover-content ul,
.popover-content ol {
  margin-bottom: 0;
}


/* Drop down menu */

.dropdown:hover .caret,
.open .caret {
  @include opacity(1.0);
}

.notbold {
  font-weight:100;
}

.dropdown-menusmall {
  min-width: 60px !important;
  li:hover {
    color: $white;
    text-decoration: none;
    background-color: #43C2C7;
  }
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 4px 0;
  margin: 1px 0 0;
  list-style: none;
  font-size:14px;
  background-color: #efefef;
  border: 1px solid $lightGray;
  border: 1px solid rgba(0, 0, 0, 0.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  @include border-radius(5px);
  @include box-shadow(0 5px 10px rgba(0, 0, 0, 0.2));
  @include background-clip(padding-box);
  &.pull-right {
    right: 0;
    left: auto;
  }
  .divider {
    *width: 100%;
    height: 1px;
    margin: 8px 1px;
    *margin: -5px 0 5px;
    overflow: hidden;
    background-color: #e5e5e5;
    border-bottom: 1px solid $white;
  }
  a {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #333333;
    white-space: nowrap;
  }
  li > a:hover,
  .active > a,
  .active > a:hover {
    color: $white;
    text-decoration: none;
    background-color: #43C2C7;
  }
}

.dropdown-menulabel {
  color: #efefef;
  text-decoration: none;
  background-color: #999;
  padding: 6px 0 6px 0;
}

ul, ol {
  //TODO: needed?
  //position: relative;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  list-style:none;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}

/* TREE styles for the selected-section box on reg-mapper page */

ul.sectiontree, ul.sectiontree ul {
  list-style: none;
}

ul.sectiontree .prefix {
  font-weight: bold;
  margin-right: 10px;
}

ul.sectiontree ul ul > li {
  margin-left: 12px;
}

ul.sectiontree ul ul ul > li {
  margin-left: 24px;
}


/* TREE styles for the Section / Control trees on the Program page */

$slugindent: 6px;
$generalindent: 14px;

/* SLOTLIST FUN - If we want the entire slot to indent just use the following 
/*  ul.slotlist li  {                                         
/*    padding-left:$slugindent;
/*  }
/*      */


ul.slotlist li > div .slot {
  padding-left:$slugindent;
}
ul.slotlist li > div .slotcontent {
  padding-left:$slugindent + $generalindent;
}

ul.slotlist ul li > div .slot {
  padding-left:$slugindent * 2 ;
}
ul.slotlist ul li > div .slotcontent {
  padding-left:$slugindent * 2 + $generalindent;
}

ul.slotlist ul ul li > div .slot {
  padding-left:$slugindent * 3 ;
}
ul.slotlist ul ul li > div .slotcontent {
  padding-left:$slugindent * 3 + $generalindent;
}

ul.slotlist ul ul ul li > div .slot {
  padding-left:$slugindent * 4 ;
}
ul.slotlist ul ul ul li > div .slotcontent {
  padding-left:$slugindent * 4 + $generalindent;
}

ul.slotlist li > div .slot {
  padding-left:$slugindent;
}
ul.slotlist li > div .slotcontent {
  padding-left:$slugindent + $generalindent;
}

ul.slotlist ul li > div .slot {
  padding-left:$slugindent * 2 ;
}
ul.slotlist ul li > div .slotcontent {
  padding-left:$slugindent * 2 + $generalindent;
}

ul.slotlist ul ul li > div .slot {
  padding-left:$slugindent * 3 ;
}
ul.slotlist ul ul li > div .slotcontent {
  padding-left:$slugindent * 3 + $generalindent;
}

ul.slotlist ul ul ul li > div .slot {
  padding-left:$slugindent * 4 ;
}
ul.slotlist ul ul ul li > div .slotcontent {
  padding-left:$slugindent * 4 + $generalindent;
}

ul.slotlist ul ul ul ul li > div .slot {
  padding-left:$slugindent * 5 ;
}
ul.slotlist ul ul ul ul li > div .slotcontent {
  padding-left:$slugindent * 5 + $generalindent;
}

ul.slotlist ul ul ul ul ul li > div .slot {
  padding-left:$slugindent * 6 ;
}
ul.slotlist ul ul ul ul ul li > div .slotcontent {
  padding-left:$slugindent * 6 + $generalindent;
}


ul.slotlist ul ul ul ul ul ul li > div .slot {
  padding-left:$slugindent * 7 ;
}
ul.slotlist ul ul ul ul ul ul li > div .slotcontent {
  padding-left:$slugindent * 7 + 22;
}



/* The following is obsolete once all pags update to mainwidget (above)
/* Change to Indent Within - Could be more elegant */
ul.slugtree ul ul > li > div > div > .slot {
  padding-left:0px;
}
ul.slugtree ul ul ul > li > div > div > .slot {
  padding-left:$slugindent;
}

ul.slugtree ul ul ul > li > div > div > .slotcontent {
  padding-left:16px;
}
ul.slugtree ul ul ul ul > li > div > .slotcontent {
  padding-left:32px;
}


ul.slugtree ul ul ul ul > li > div > div > .slot {
  padding-left:$slugindent * 2;
}
ul.slugtree ul ul ul ul > li > div > .slotcontent {
  padding-left:$slugindent * 2;
}

ul.slugtree ul ul ul ul ul > li > div > div > .slot {
  padding-left:$slugindent * 3;
}
ul.slugtree ul ul ul ul ul ul > li > div > div > .slot {
  padding-left:$slugindent * 4;
}
ul.slugtree ul ul ul ul ul ul ul > li > div > div > .slot {
  padding-left:$slugindent * 5;
}
ul.slugtree ul ul ul ul ul ul ul ul > li > div > div > .slot {
  padding-left:$slugindent * 6;
}



ul.slugtree {
  position: relative;
  padding: 0 0 0 0;
  width: 100%;
  margin:0 0 0 0;
  list-style:none;
  li {
    padding: 0 0 0 0;
    margin:0 0 0 0;
  }
  .collapsed {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .content {
    background-color: $white;
    display: none;
    margin: 0px 0px 5px 0px;;
  }
  .attached {
    /* width:180px; /* preferable to be fluid spans, but not aligning */
    float:right;
    display: inline-block;
    margin: 2px 0 0 0;
  // TODO: margin/overflow/whitespace/text-overflow needed?
    /*  margin:4px 0 0 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; */
    li {
      padding: 2px 0px 2px 2px;
      margin: 0 0 0 0;
      background-color: transparent;
      display: inline;
    }
    ul {
      display: inline;
    }
  }
  ul {
    padding-left: 0px;
    list-style:none;
  }
}

.prefix {
  font-weight: bold;
  margin-left:4px;
  margin-right: 6px;
}

.expander {
  position:relative;
  background-image:url("../images/icons/grcicons/chevronright-blue.png");
  float:left;
  display: inline-block;
  -moz-background-size:16px 16px;
             -ie-background-size:16px 16px;
              -o-background-size:16px 16px;
         -webkit-background-size:16px 16px;
                 background-size:16px 16px;
  width: 16px;
  height: 16px;
  padding: 0 0 0 0;
  margin: 6px 0 0 0;
  cursor:pointer;
  &.in {
    /* for firefox, safari, chrome, etc. */
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    /* for ie */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  }
}

.enddot {
  position:relative;
  background-image: url("../images/icons/grcicons/enddot.png");
  float:left;
  display: inline-block;
  -moz-background-size:16px 16px;
             -ie-background-size:16px 16px;
              -o-background-size:16px 16px;
         -webkit-background-size:16px 16px;
                 background-size:16px 16px;
  width: 16px;
  height: 16px;
  padding: 0 0 0 0;
  margin: 6px 0 0 0;
  cursor:pointer;
  &.risk {
    background-image: url("../images/icons/grcicons/enddot-risk.png");
  }
}

.doubleslot {
  .enddot {
    margin: 6px 4px 4px 0;
  }
  .slotowner {
    line-height:30px;
  }
  .slotactions {
    line-height:27px;
  }
}

#auditstatuscolumns {
  padding: 0 8px 0 8px;
}

/* Hack for modal invite auditors */
.span6 > .prefix {
  font-size: 14px;
  line-height: 22px;
  font-weight: bold;
  margin-left: 4px;
  margin-right: 6px;
}

.span4 > .prefix {
  font-size: 15px;
  line-height: 15px;
  font-weight: bold;
}

.toggleExpanded {
  background-image: url("../images/icons/grcicons/chevronleft-down.png");
}

/* Form Items */

.input-supermini {
  width: 40px;
}

form {
  margin: 0 0 4px 0;
}

.offsetsmall {
  margin-left: 70px;
}


label {
  font-size: 11.4px;
  font-weight: regular;
  line-height: 14px;
  color: #888;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
  white-space: nowrap;
  vertical-align: baseline;
  background-color: transparent;
  margin-top:5px;
  margin-bottom:2px;
}

.slotlabel {
  font-size:13px;
  line-height:16px;
  vertical-align:top;
}

/* Action buttons are buttons on widgets that take half size and a larger footprint */
.actionbutton {
  width:92%;
  height:18px !important;
  line-height:18px !important;
}

.badges {
margin-top:7px;
}

.badge-clear {
background-color: transparent !important;
color:#333;
text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
}

.regulationslot .badge {
margin-top:5px;
}


//Our badges are not circular and are mostly used for status. 
.badge {
  text-align:center;
  padding: 2px 9px 2px;
  @include border-radius(0px);
  }

.btnwell {
  position:relative;
  top:3px;
  display: inline-block;
  padding: 4px 6px 4px;
  margin-bottom: 0px;
  font-size: 13px;
  line-height: 13px;
}

.morewell {
  min-height: 10px;
  padding: 5px;
  margin: -6px 0 0 0;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}



.infowell {
  min-height: 10px;
  padding: 5px;
  margin: 3px 0 3px 0;
  background-color: #ebf8fa;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.warningwell {
  min-height: 10px;
   padding: 5px;
  margin: 3px 0 3px 0;
  background-color: #faebeb;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

 .captionbox {
    padding:5px;
    margin-top:4px;
    background:#EEE;
    border:1px solid darken(#EEE,10%);
    @include border-radius();
    label {
      color:#2a909c;
      &.subtitle {
        font-weight:bold;
      }
    }  
    li {
      line-height:2;
    }
  }

.itemswell {
  min-height: 10px;
  padding: 6px;
  margin: 0 0 6px 0;
  background-color: #e8e8e8;
  border: 0px solid #EEE;
  border: 0px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}



.help-inline {
  font-size: 10px;
  font-weight: normal;
  line-height: 12px;
  color: #900;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: transparent;
  padding-left:0px;
}

.description {
  color:#888;
}

.control-group {
  padding-bottom:0px;
  margin-bottom:0px;
}

.well {
  min-height: 10px;
  padding: 5px;
  margin-bottom: 0px;
  background-color: #f5f5f5;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  @include border-radius(4px);
  @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.05));
}


.whitewell {
  background-color: $white;
}

.modal-header {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: #aeb96d; /* Old browsers */
  @include background-image(linear-gradient(top,  #aeb96d 0%, #849e46 33%, #91ac4c 100%));
  color:$white;
  border-bottom: 2px solid #808040;
  font-weight: 400;
  padding: 5px 5px 0px 10px;
  margin:0 0 0 0;
  text-shadow: 0px 1px 1px #000;
  h1 {
    width:90%;
    font-size:24px;
    font-weight:normal;
  }
  .widgetsearch {
    height:22px;
    padding:0 0 0 6px;
    // Fix to not stretch below .modal-header border
    margin-bottom: 3px;
  }
}

.modalSlot {
  float:left;
  width:216px;
  height:auto;
  margin:3px 0px 2px 0px;
  display:inline-block;
  @include box-sizing(border-box);
  padding:6px 6px 6px 8px;
  font-size:14px;
  color:$textColor;
  background: $white; /* Old browsers */
  @include background-image(linear-gradient(top,  $white 0%, #eef4ed 70%, #edebe6 100%, #f6f6f6 100%));
  border: 1px solid $borderDefault;
}

.forminputfail {
  background-color: #FFC8C8 !important;
}
.forminputsuccess {
  background-color: #EAFFE6 !important;
}

.forminputstatus {
  background-color: #e6feff !important;
}

/* This widget isn't full of content slots, so lets add some padding to make the input boxes look less cramped */
.information {
  /* padding:10px; */
}

/* Tab bar buttons */

.tabbable > div > .tabbarbtn {
  padding: 1px 3px 1px 3px;
  margin-top: -2px;
  font-size: 13px;
  line-height: 18px;

}

/* Widget Buttons - These are smaller and tighter than all other buttons*/

.widgettextbtn {
  font-size: 12px;
  line-height: 16px;
  display: inline-block;
  padding: 2px 6px 2px 6px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: top;
  cursor: pointer;
  border: 1px solid $lightGray;
  @include border-radius(4px);
  @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075));
  @include transition(border linear 0.2s, box-shadow linear 0.2s);
  background-color: #11BFC5 !important;
  @include background-image(linear-gradient(top, #32aeb3, #028e93));
  border-color: #11BFC5 #11BFC5 #0FABB0;
  color: $white !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.29);
  -webkit-font-smoothing: antialiased;


}

.widgetmapbtn {
  font-size: 13px;
  line-height: 18px;
  display: inline-block;
  padding: 2px 6px 1px 6px;
  color: #efefef;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
  background-color: $white;
  border: 1px solid #F60;
  @include border-radius(3px);
  @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075));
  @include transition(border linear 0.2s, box-shadow linear 0.2s);
}

.widgetmapbtn[disabled], .widgetmapbtn.disabled {
  @include opacity(0.5);
}

.slotbtn {
  margin-left: 3px;
  position:relative;
  top:3px;
  right: 3px;
  font-size: 13px;
  line-height: 13px;
  display: inline-block;
  padding: 1px 0px 1px 0px;
  color: #333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: center;
  cursor: pointer;
  background-color: $white;
  border: 1px solid $lightGray;
  @include border-radius(3px);
  @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075));
  @include transition(border linear 0.2s, box-shadow linear 0.2s);
}

.checkbutton {
  position:relative;
  top:-3px;
  left:0px;
  font-size: 13px;
  line-height: 13px;
  display: inline-block;
  padding: 1px 0px 1px 0px;
  color: #333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: center;
  cursor: pointer;
  background-color: $white;
  border: 1px solid $lightGray;
  @include border-radius(3px);
  @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075));
  @include transition(border linear 0.2s, box-shadow linear 0.2s);
}

.widgetbtn {
  width:16x;
  height:16px;
  font-size: 13px;
  line-height: 18px;
  display: inline-block;
  padding: 2px 2px 2px 2px;
  color: #333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: top;
  cursor: pointer;
  background-color: whiteSmoke;
  background-image: -moz-linear-gradient(top, white, #E6E6E6);
  background-image: -ms-linear-gradient(top, white, #E6E6E6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#E6E6E6));
  background-image: -webkit-linear-gradient(top, white, #E6E6E6);
  background-image: -o-linear-gradient(top, white, #E6E6E6);
  background-image: linear-gradient(top, white, #E6E6E6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFE6E6E6', GradientType=0);
  border-color: #E6E6E6 #E6E6E6 #BFBFBF;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) fadein(rgba(0, 0, 0, 0.1), 15%);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #666;
  border-bottom-color: #333;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);

  @include transition(border linear 0.2s, box-shadow linear 0.2s);

  @include opacity(0.6);

  &:hover {
    @include opacity(1);
  }
}

.widgetbtnselector {
  margin-left:5px;
  margin-top:5px;

}

.widgetbtnoff {
  
  width:16px;
  height:16px;
  font-size: 13px;
  line-height: 18px;
  display: inline-block;
  padding: 4px 4px 4px 4px;
  margin-top:2px;
  margin-left:2px;
  color: #333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: top;
}

/* CHANGED: Extracted from GCMS inline styles */
.slot > .widgetbtn {
  /* Needed to keep buttons on top of truncated text in slots */
  position: relative;
  margin-top:2px;

}


.widgettextbtn:hover, .widgetbtn:hover,
.widgettextbtn:active, .widgetbtn:active,
.widgettextbtn.active, .widgetbtn.active,
.widgettextbtn.disabled, .widgetbtn.disabled,
.widgettextbtn[disabled], .widgetmapbtn[disabled], .widgetmapbtn.disabled, .widgetbtn[disabled], .slotbtn:hover, .slotbtn:active, .slotbtn:disabled,
.slotbtn[disabled], .checkbutton:active, .checkbutton:disabled,
.checkbutton[disabled] {
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}

.widgetbtn:active,
.widgetbtn.active, .slotbtn:active,
.slotbtn.active {
  background-color: $lightGray;
}

.widgetbtn:first-child {
  *margin-left: 0;
}

.widgettextbtn:hover {
  background: #43e8ee; /* Old browsers */
  @include background-image(linear-gradient(top,  #43e8ee 0%, #11bfc5 100%));
  // Needed?
  color: #333333;
  //text-decoration: none;
  //background-color: #e6e6e6;
  //*background-color: #d9d9d9;
  // Buttons in IE7 don't get borders, so darken on hover
}

.widgetbtn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.widgetbtn.active,
.widgetbtn:active {
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  background-image: none;
  outline: 0;
  @include box-shadow(inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05));
}

.widgetbtn.disabled,
.widgetbtn[disabled] {
  cursor: default;
  background-color: #e6e6e6;
  background-image: none;
  @include opacity(0.65);
  @include box-shadow(none);
}

/* Button specifics - build on .btn */

.addbtn, .unmapbtn {
  padding: 2px 6px 1px 6px;
  margin-top:0px;
  font-size: 13px;
  line-height: 18px;
  vertical-align:text-top;
}

.tab-btn {
  padding: 0px;
  margin-right: 25px;
}

li a {
  color: $textColor;
  &.slotowner {
  font-size:11px;
  color: #11BFC5;
  }
}
.btn a {
  color: $textColor;
}

/* Uses TB's max-height to our advantage for spacing
/*
/* ex: impact/scope category groups */

h4 { margin-top:3px;}
h4 > .btn, .minibtn {
  padding: 2px 3px 2px 3px;
  margin: 0 0 0 0;
  font-size: 11px;
  line-height: 11px !important;
  vertical-align:text-top;
}

.slot > .btn {
  margin-top:0px;
}

.unmapbtn { margin-bottom:5px; /* Correct spacing from textarea underneath */ }

textarea {
  resize:vertical;
  max-height:300px;
  height:70px !important;
  .slugtree & {
    height:100px;
  }
}

.note { resize:vertical; max-height:300px; height:45px; }

.topmargintwo {
  margin-top:2px;
}
.topmarginone {
  margin-top:2px;
}

/* Map to Controls Buttons */

.btn-large {
  cursor: pointer;
}

.btn-warning {
  display: inline-block;
  color:$white;
  /* margin-bottom: 6px; breaks modal bottoms */
  background: #ff8401; /* Old browsers */
  @include background-image(linear-gradient(top,  #ff8401 0%, #ce5d00 100%));
}

.btn-warning:hover,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
  color:$white;
  text-decoration:none;
  background: #ff7400; /* Old browsers */
  @include background-image(linear-gradient(top,  #ff7400 0%, #ff7400 100%));
}

.btn-warning:active,
.btn-warning.active {
  background-color: #c67605;
}

.btn-info {
  display: inline-block;
  color:$white;
  background-color: #49AFCD;
//  @include background-image(linear-gradient(top, #5BC0DE, #2F96B4));
//  border-color: #2F96B4 #2F96B4 #1F6377;
//  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  &:hover {
    text-decoration:none;
    background: #73c6dd; /* Old browsers */
    @include background-image(linear-gradient(top,  #73c6dd 0%, #4bb4c1 100%));
  }
}

.btn-success {
  display:inline-block;
  color:$white;
  text-decoration:none;
  background-color: #5BB75B;
  @include background-image(linear-gradient(top, #62C462, #51A351));
  border-color: #51A351 #51A351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  &:hover {
    background: #4ee54e; /* Old browsers */
    @include background-image(linear-gradient(top,  #4ee54e 0%, #38a330 100%));
  }
}

.controllistRM {
  float:left;
  display: inline-block;
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 31px;
  @include box-sizing(border-box);
  margin: 0px 0px 2px 2px;
  padding:0 6px;
  line-height:31px;
  color:#000;
  border: 1px solid #eeeeee;
}

a.controllistRM {
  color:#000;
  font-size:10px;
}


.singlecontrolSlot {
  width:100%;
  float:left;
  height:auto;
  margin:3px 0px 0px 0px;
  display:inline-block;
  @include box-sizing(border-box);
  padding: 1px 3px 0px 5px; /* Padding removed */
  line-height:28px;
  color:$textColor;
  background: $white; /* Old browsers */
  vertical-align:center;
  @include background-image(linear-gradient(top,  $white 0%, #f6f6f6 100%));
  border: 1px solid $borderDefault;
  &:hover {
    color:$black;
    cursor: pointer;  
  }
}

.singlecontrolSlot > #children_ > li {
  line-height:28px !important;
}

.singlecontrolSlot > #children_ > li > .badge {
  margin-top:5px;
}

.controlSlot {
  width:100%;
  float:left;
  height:auto;
  margin:3px 3px 0px 0px;
  display:inline-block;
  @include box-sizing(border-box);
  padding:4px 6px 3px 4px;
  color:$textColor;
  background: #ffffff; /* Old browsers */
  vertical-align:center;
  @include background-image(linear-gradient(top,  $white 0%, #f6f6f6 100%));
  border: 1px solid $borderDefault;
  &:hover {
    color:$black;
    cursor: pointer;  
  }
}


.removeCircleButton {
  margin:8px 2px 0 0; /*placement hack for controlSlot height*/
  color:#fff;
  width: 18px; // width and height can be anything, as long as they're equal
  height: 18px;
  line-height:13px;
  text-align:center;
  font-size:28px;
  @include opacity(0.4);
  &:hover {
    @include opacity(1.0);
  }
}

.greyOut {
  display:none;
  @include opacity(0.4);
  &:hover {
    @include opacity(1.0);
  }
}

.hrspaced {
  margin: 4px 0 5px 0px;
  border: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid $white;
}

.controls-group {
  // TODO: needed?
  //display: inline-block;
  //position: relative;
  //vertical-align: top;
  font-size:10px;
  line-height:10px;
  width:100%;
  color:#777;
}

.arrowcontrols-group {
  display:inline-block;
  position:relative;
  vertical-align:top;
  font-size:10px;
  line-height:10px;
    width:91%;
  color:#777;
}

.control-group {
  font-size:9px;
  line-height:9px;
  color:$textColor;
}

.controls-type {
  display:inline-block;
  font-size:10px;
  line-height:10px;
  color:#777;
}

.controls-subtype {
  float:right;
  display:inline-block;
  position:relative;
  font-size:10px;
  line-height:10px;
  color:#777;
}

.controls-subgroup {
  font-size:13px;
  line-height:13px;
  color:#000;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  min-height:13px; /* must be 13, the size of a widgettextbox, for search */
  font-size: 12px;
}



/* This set the placement of tab'd content status in the correct place on the widget*/

.tab-content {
  margin:0px;
}

.widgetStatus {
  width:300px;
  display:inline;
  position:absolute;
  top:5px;
  right:5px;
  margin:3px;
}

.pagination {
  height: 36px;
  margin: 8px 0px 0px 0px;
}

.oneline {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* Progress Bars */

body .container {
// TODO: .nav-tabs.nav-stacked > li > a:hover OR .nav-tabs.nav-stacked > li:hover?
.nav-tabs.nav-stacked > li > a:hover .progress {
  .progressbar-warning, .progressbar-success, .progressbar-danger {
    @include opacity(1.0);
  }
}
.progressbar-warning:hover,.progressbar-success:hover, .progressbar-danger:hover {
  border: 1px solid #555;
}

.progressbar-warning {
  float: right; /* important for positioning of dynamic animations */
  background-color: #FAA732 !important;
  @include background-image(linear-gradient(top, #FBB450, #F89406));
  @include opacity(0.4);
}

.progressbar-success {
  float: left; /* important for positioning of dynamic animations */
  background-color: #5EB95E!important;
  @include background-image(linear-gradient(top, #62C462, #57A957));
  @include opacity(0.4);
}

.progressbar-danger {
  float: right; /* important for positioning of dynamic animations */
  background-color: #DD514C!important;
  @include background-image(linear-gradient(top, #EE5F5B, #C43C35));
  @include opacity(0.4);
}

.progress {
  height: 15px;
  line-height: 15px;
  margin: 1px 0px 0px 0;
  padding:0px;
  background:#CED1D7;

  @include border-radius(0px);
}

.barTitle {
  display: inline;
  position: absolute;
  font-size: 11px;
  font-weight: regular;
  line-height: 18px;
  color: #444;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
  white-space: nowrap;
  vertical-align: baseline;
  margin: 2px 0 4px 4px;
  text-align: left;
  width:325px; // This is set to position right side label correctly, upgrade to responsive in future
  z-index: 50;
  pointer-events: none;
}

.barCount {
  display: inline;
  position: absolute;
  right:33px; /* This accounts for the margin but it shouldn't float outside the div anyway NEEDS FIX */
  color: #eee;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  vertical-align: baseline;
  text-align: right;
}

.progress-large {
  height:30px;
  @include border-radius(0px);
  line-height:30px;
  background:#CED1D7;
  .bar {
    height:30px;
    line-height:30px;
  }
}
}


.itemlist {
  height:230px;
  border: 1px solid $borderDefault;
  padding:4px;
  overflow-y:auto;
  li {
    a {
      text-align:left;
      span {
        text-align: right;
        float:right;
      }
    }
    select {
      width: auto;
    }
  }
}


.navbarplus {
  background-image: url("../images/navbarplus_off.png");
  display: inline-block;
  position:relative;
  top:-4px;
  width: 40px;
  height: 54px;
  margin:0 5px 0px 5px;
  padding:0;
  background-position: 0px 0px;
  background-repeat: no-repeat;
  &:hover {
    background-image: url("../images/navbarplus_on.png");
  }
}


/* Almost certainly legacy - this was used to create a grid before we adopted bootstrap (OR to overwrite bootstrap when it was being messy)

*/

.regulationslot {
  width:75%;
}

.controllist {
  width:24%;
}


// footer 
.gcms-footer {
  padding: 14px 0 0 0;
  margin-bottom: 0;
  text-align: center;
  height: 3em;
}

// old dashboard.scss

.flare {
  @include transition(background-color 2s ease-out);
}

.flaretemp {
  background-color: yellow;
}

.tab-pane {
  overflow: auto;
}

.system-node a.system-slot {
  background: #bbb;
}

.WidgetBox .smallerWidgetBoxHeading {
  margin-bottom: -2px;
}

.opacity40 {
  @include opacity(0.4);
}

#categorylist {
  select {
    width: 100%;
    height: 142px;
  }
}

.disabled {
  @include opacity(0.25);
}

.field-failure {
  input, select, textarea {
    background-color: $failureBgndColor;
    border-color: $failureBorderColor;
  }
  label {
    color: $failureColor;
  }
}

.field-success {
  input, select, textarea {
    background-color: $successBgndColor;
  }
}

.member-failure, .target li.member-failure {
  background-color: $failureBgndColor;
  border-color: $failureBorderColor;
}

.member-success {
  background-color: $successBgndColor;
}

.compact-rows {
  input, select, textarea {
    margin-bottom: 0px;
  }
}

.help-inline span {
  display: block;
}

.menu-buttons {
  /* I have no idea what this is for, commenting out JVG */
  /* padding-left:122px !important; */
  .btn {
    width:97px;  
  }
}

.row-fluid-alternating-background-colors {
  > .row-fluid:nth-child(even) {
    @include background-image(linear-gradient(top,  #dddddd 0%, #eef4ed 70%, #edebe6 100%, #f6f6f6 100%));
  }
}
