
body {
  background: url("/images/bgnd.png") repeat 0 0;
  padding-top: 129px; /* 129px to make the container go all the way to the bottom of the topbar */
  font-family: $font-family;
  height:100%;
}

.navbar {
  background:#fff;
}

//HACK - we should increase widget size and margins slightly instead of this padding
.row-static {
  padding: 0 5px;
}

// Welcome ID overwrites body so there isn't a navbar. Could also be called 'loggedOut'
#welcome {
  background: url("../images/bkgd.gif") left top repeat;
  font-family: $font-family;
  height:100%;
}

a {
  color:$linkColor;
  &:hover {
    text-decoration:none;
  }
  &.underline {
    text-decoration:underline;
  }
}

p {
  font-family: $font-family;
  color:$textColor;
}

td {
  vertical-align:top;
}

// common classes

.fltlft {
  float: left !important;
}

.txtlft {
  text-align:left !important;
}

.fltrt {
  float: right !important;
}

.txtrt {
  text-align:right !important;
}

.txtcenter {
  text-align:center !important;
}

.fltnone {
  float: none !important;
  text-align:center !important;
}

.nominheight {
  min-height: 5px !important;
}
.noheight {
  height:0px !important;
  line-height:0px !important;
}

.hidefont {
  font-size:0px !important;
}

// When we really need it to be inline.
.inline {
  display:inline !important;
}


// broad definition of items, with assigned colors
// i- prefix is there to avoid collision with other color definitions

.item {
  @include border-radius();
  @include background-image($gradientColor);
  border:1px solid $borderDefault;
  padding:0 4px;
  line-height:20px;
  text-overflow:ellipsis;
  white-space:nowrap;
  font-weight:bold;
  font-size:13px;
  [class*="span"] {
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    a {
      text-decoration:underline;
      font-weight:normal;
    }
  }
  &.i-control {
    @include border-and-gradient($bgndControl);
  }
  &.i-process {
    @include border-and-gradient($bgndProcess);
  }


}