/* For the related graph, SVG styling */
svg {
  g.node circle {
    stroke: $lightGray;
    fill: $lightGray;
  }

  g.node circle.ability {
    fill: green;
  }

  g.node circle.root {
    stroke: red;
    fill: red;
    r: 10;
  }

  marker {
    fill: $lightGray;
  }

  marker#ability {
    fill: $darkGray;
  }

  line.link {
    marker {
      fill: $lightGray;
    }
    stroke: $lightGray;
    stroke-width: 2;
    marker-end:url(#default)
  }

  line.ability {
    stroke: $darkGray;
    stroke-width: 3;
    marker-end:url(#ability)
  }

  g text {
    font-family: $font-family;
    font-size: 11px;
    fill: $textColor;
  }
}
