

.gcmsicon-expandAll-grey {
  background-image: url("../images/expandAll.png");
  display: inline-block;
  width: 16px;
  height: 16px;
  margin:0;
  padding:0;
  background-position: 0px 0px;
  background-repeat: no-repeat;
}

.gcmsicon-shrinkAll-grey {
  background-image: url("../images/shrinkAll.png");
  display: inline-block;
  width: 16px;
  height: 16px;
  margin:0;
  padding:0;
  background-position: 0px 0px;
  background-repeat: no-repeat;
}
/* Obsolete - commented out 11/26 for removal 12/26 
.itemarrow {
  opacity:.5;
  background-image: url("../images/icons/icon-itemarrow.png");
  display: inline-block;
  position:relative;
  width: 16px;
  height: 29px;
  margin:2px 5px 0 0;
  padding:0;
  background-position: 0px 0px;
  background-repeat: no-repeat;
  
  &:hover {
    opacity:1;
  }
} */

.gcmsicon-blank {
  background-image: none;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin:0;
  padding:0;
  background-position: 0px 0px;
  background-repeat: no-repeat;
}


.gcmsicon-arrowright-white, .gcmsicon-arrowright-grey  {
  background-image: url("../images/icons/grcicons/gear.png");
  display: inline-block;
  width: 16px;
  height: 16px;
  margin:0;
  padding:0;
  background-position: 0px 0px;
  background-repeat: no-repeat;
}

.gcmsicon-gears-white {
  background-image: url("../images/icons/grcicons/gear.png");
  display: inline-block;
  width: 16px;
  height: 16px;
  margin:0;
  padding:0;
  background-position: 0px 0px;
  background-repeat: no-repeat;
}
.gcmsicon-gears-black {
  background-image: url("../images/icons/grcicons/gear.png");
  display: inline-block;
  width: 16px;
  height: 16px;
  margin:0;
  padding:0;
  background-position: 0px 0px;
  background-repeat: no-repeat;
}
.gcmsicon-asterix-white {
  background-image: url("../images/icons/grcicons/gear.png");
  display: inline-block;
  width: 16px;
  height: 16px;
  margin:0;
  padding:0;
  background-position: 0px 0px;
  background-repeat: no-repeat;
}
.gcmsicon-asterix-black {
  background-image: url("../images/icons/grcicons/gear.png");
  display: inline-block;
  width: 16px;
  height: 16px;
  margin:0;
  padding:0;
  background-position: 0px 0px;
  background-repeat: no-repeat;
}

.calendar {
  background-image: url("../images/icons/icon-calendar-inline.png");
  background-position: 94% 55%;
  background-repeat: no-repeat;
}

.gcmsicon-mapping-white {
  text-align:center;
  background-image: url("../images/icons/grcicons/regmapper.png");
  -moz-background-size:18px 18px;
             -ie-background-size:18px 18px;
              -o-background-size:18px 18px;
         -webkit-background-size:18px 18px;
                 background-size:18px 18px;
  display: inline-block;
  width: 18px;
  height: 18px;
}

.gcmsicon-import-white {
  background-image: url("../images/icons/grcicons/import.png");
  -moz-background-size:16px 16px;
             -ie-background-size:16px 16px;
              -o-background-size:16px 16px;
         -webkit-background-size:16px 16px;
                 background-size:16px 16px;
  display: inline-block;
  width: 16px;
  height: 16px;
}

.gcmsicon-play-black {
  background-image: url("../images/icons/icon-play-black.png");
}

.gcmsicon-mapping-black {
  background-image: url("../images/icons/icon-mapping-black.png");
}
.gcmsicon-import-black {
  background-image: url("../images/icons/icon-import-black.png");
}
.gcmsicon-back-black {
  background-image: url("../images/icons/icon-back-black.png");
}


[class^="gcmsicon-"], [class*=" gcmsicon-"] {
  display: inline-block;
  
  width: 18px;
  height: 18px;
  -moz-background-size:18px 18px;
             -ie-background-size:18px 18px;
              -o-background-size:16px 18px;
         -webkit-background-size:18px 18px;
                 background-size:18px 18px;

  line-height: 18px;
  vertical-align: top;
  background-position: 0px 0px;
  background-repeat: no-repeat;
}

.gcmsicon-enlarge-grey {
  background-image: url("../images/icons/grcicons/chevrondown.png");
    -moz-background-size:16px 16px;
             -ie-background-size:16px 16px;
              -o-background-size:16px 16px;
         -webkit-background-size:16px 16px;
                 background-size:16px 16px;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin:0;
  padding:0;
  background-position: 0px 0px;
  background-repeat: no-repeat;
}

.gcmsicon-enddot {
  background-image: url("../images/icons/grcicons/enddot.png");
    -moz-background-size:16px 16px;
             -ie-background-size:16px 16px;
              -o-background-size:16px 16px;
         -webkit-background-size:16px 16px;
                 background-size:16px 16px;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin:0;
  padding:0;
  background-position: 0px 0px;
  background-repeat: no-repeat;
}

.gcmssmallicon-blue-expand {
  background-image: url("../images/icons/grcicons/chevronleft-blue.png");
  display: inline-block;
 -moz-background-size:16px 16px;
             -ie-background-size:16px 16px;
              -o-background-size:16px 16px;
         -webkit-background-size:16px 16px;
                 background-size:16px 16px;
  width: 16px;
  height: 16px;
  margin:0;
  padding:0;
  background-position: 0px 0px;
  background-repeat: no-repeat;
}

.grcicon-check-green{
  background-image: url("../images/icons/grcicons/check-green.png");
  display: inline-block;
 -moz-background-size:16px 16px;
             -ie-background-size:16px 16px;
              -o-background-size:16px 16px;
         -webkit-background-size:16px 16px;
                 background-size:16px 16px;
  width: 16px;
  height: 16px;
  margin:0;
  padding:0;
  background-position: 0px 0px;
  background-repeat: no-repeat;
}

.grcicon-chevron-right{
  background-image: url("../images/icons/grcicons/chevronright.png");
  display: inline-block;
  -moz-background-size:16px 16px;
             -ie-background-size:16px 16px;
              -o-background-size:16px 16px;
         -webkit-background-size:16px 16px;
                 background-size:16px 16px;
  width: 16px;
  height: 16px;
  margin:0;
  padding:0;
  background-position: 0px 0px;
  background-repeat: no-repeat;
}

.gcmsicon-hidden-blue{
  background-image: url("../images/icons/grcicons/chevronup.png");
  display: inline-block;
  -moz-background-size:16px 16px;
             -ie-background-size:16px 16px;
              -o-background-size:16px 16px;
         -webkit-background-size:16px 16px;
                 background-size:16px 16px;
  width: 16px;
  height: 16px;
  margin:0;
  padding:0;
  background-position: 0px 0px;
  background-repeat: no-repeat;
}

.gcmsicon-x-grey {
  display: inline-block;
  background-image: url("../images/icons/grcicons/close.png");
  -moz-background-size:16px 16px;
             -ie-background-size:16px 16px;
              -o-background-size:16px 16px;
         -webkit-background-size:16px 16px;
                 background-size:16px 16px;
  width: 16px;
  height: 16px;
  background-position: 0px 0px;
  background-repeat: no-repeat;
}

.gcmsicon-more {
  display: inline-block;
  background-image: url("../images/icons/grcicons/more.png");
  -moz-background-size:16px 16px;
             -ie-background-size:16px 16px;
              -o-background-size:16px 16px;
         -webkit-background-size:16px 16px;
                 background-size:16px 16px;
  width: 16px;
  height: 16px;
  background-position: 0px 0px;
  background-repeat: no-repeat;
}

.gcmsicon-add {
  display: inline-block;
  background-image: url("../images/icons/grcicons/add.png");
 -moz-background-size:16px 16px;
             -ie-background-size:16px 16px;
              -o-background-size:16px 16px;
         -webkit-background-size:16px 16px;
                 background-size:16px 16px;
  width: 16px;
  height: 16px;
  background-position: 0px 0px;
  background-repeat: no-repeat;
}

.gcmsicon-link {
  display: inline-block;
  background-image: url("../images/icons/grcicons/link.png");
 -moz-background-size:16px 16px;
             -ie-background-size:16px 16px;
              -o-background-size:16px 16px;
         -webkit-background-size:16px 16px;
                 background-size:16px 16px;
  width: 16px;
  height: 16px;
  background-position: 0px 0px;
  background-repeat: no-repeat;
}

.gcmsicon-questionmark-grey {
  background-image: url("../images/icons/grcicons/help.png");
   -moz-background-size:16px 16px;
             -ie-background-size:16px 16px;
              -o-background-size:16px 16px;
         -webkit-background-size:16px 16px;
                 background-size:16px 16px;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-position: 0px 0px;
  background-repeat: no-repeat;
}


.gcmsicon-edit-grey {
  background-image: url("../images/icons/grcicons/edit.png");
  display: inline-block;
  -moz-background-size:16px 16px;
             -ie-background-size:16px 16px;
              -o-background-size:16px 16px;
         -webkit-background-size:16px 16px;
                 background-size:16px 16px;
  width: 16px;
  height: 16px;
  background-position: 0px 0px;
  background-repeat: no-repeat;
}
.gcmsicon-edit-white {
  background-image: url("../images/icons/icon-edit-white.png");
}

/* ARROWS */


.gcmsicon-arrowleft-black {
  background-image: url("../images/icons/grcicons/arrowleft.png");
  display: inline-block;
  width: 16px;
  height: 16px;
  -moz-background-size:16px 16px;
             -ie-background-size:16px 16px;
              -o-background-size:16px 16px;
         -webkit-background-size:16px 16px;
                 background-size:16px 16px;
  background-position: 0px 0px;
  background-repeat: no-repeat;
}

.gcmsicon-arrowright-black {
  background-image: url("../images/icons/grcicons/arrowright.png");
  display: inline-block;
  width: 16px;
  height: 16px;
  -moz-background-size:16px 16px;
             -ie-background-size:16px 16px;
              -o-background-size:16px 16px;
         -webkit-background-size:16px 16px;
                 background-size:16px 16px;
  background-position: 0px 0px;
  background-repeat: no-repeat;
}

/* 18 pixel icons, mostly for buttons */



.gcmsicon-back-black{
  background-image: url("../images/icons/grcicons/arrowleft.png");
  display: inline-block;
  width: 18px;
  height: 18px;
  -moz-background-size:18px 18px;
             -ie-background-size:18px 18px;
              -o-background-size:16px 18px;
         -webkit-background-size:18px 18px;
                 background-size:18px 18px;
  background-position: 0px 0px;
  background-repeat: no-repeat;
}


.gcmsicon-play-white {
  background-image: url("../images/icons/grcicons/arrowright-white.png");
  -moz-background-size:18px 18px;
             -ie-background-size:18px 18px;
              -o-background-size:18px 18px;
         -webkit-background-size:18px 18px;
                 background-size:18px 18px;
  display: inline-block;
  width: 18px;
  height: 18px;
  margin:0;
  padding:0;
  background-position: 0px 0px;
  background-repeat: no-repeat;
}


