/* 
   Icons are used in a number of places and resolution sizes. 
   Images are saved at 32pixels, scaled to 16pixels for .widgetbtn, and further scaled for .btn-nano and similar ...
 */

[class^="grcicon-"], [class^="grcicon-"] {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  @include background-size(16px 16px); 
  vertical-align: top; //necessary or button with icon embedded will sometimes be to tall.
  background-position: 0px 0px;
  background-repeat: no-repeat;
}

.grcicon-expandAll-grey {
  background-image: url("../images/expandAll.png");
}

.grcicon-shrinkAll-grey {
  background-image: url("../images/shrinkAll.png");
}

/* Blank can be required to set a button to the correct size */
.grcicon-blank {
  background-image: none;
}

.grcicon-arrowright-white, .grcicon-arrowright-grey  {
  background-image: url("../images/grcicons/gear.png");
}

.grcicon-gears {
  background-image: url("../images/grcicons/gear.png");
}

.calendar {
  background-image: url("../images/icons/icon-calendar-inline.png");
  background-position: 94% 55%;
  background-repeat: no-repeat;
}

.grcicon-mapping-white {
  background-image: url("../images/grcicons/regmapper.png");
}

.grcicon-import-white {
  background-image: url("../images/grcicons/import.png");
}

.grcicon-play-black {
  background-image: url("../images/icons/icon-play-black.png");
}

.grcicon-mapping-black {
  background-image: url("../images/icons/icon-mapping-black.png");
}
.grcicon-import-black {
  background-image: url("../images/icons/icon-import-black.png");
}
.grcicon-back-black {
  background-image: url("../images/icons/icon-back-black.png");
}

.grcicon-enlarge-grey {
  background-image: url("../images/grcicons/chevrondown.png");
}


.gcmssmallicon-blue-expand {
  background-image: url("../images/grcicons/chevronleft-blue.png");
}

.grcicon-check-green{
  background-image: url("../images/grcicons/check-green.png");
}

.grcicon-chevron-right{
  background-image: url("../images/grcicons/chevronright.png");
}

.grcicon-hidden-blue{
  background-image: url("../images/grcicons/chevronup.png");
}

.grcicon-x-grey {
  background-image: url("../images/grcicons/close.png");
}

.grcicon-more {
  background-image: url("../images/grcicons/more.png");
}

.grcicon-add {
  background-image: url("../images/grcicons/add.png");
}

// replace .grcicon-remove

.grcicon-remove {
  background-image: url("../images/grcicons/remove.png");
}

.grcicon-link {
  background-image: url("../images/grcicons/link.png");
}

.grcicon-questionmark-grey {
  background-image: url("../images/grcicons/help.png");
}

.grcicon-edit-grey {
  background-image: url("../images/grcicons/edit.png");
}

.grcicon-edit-white {
  background-image: url("../images/icons/icon-edit-white.png");
}

/* ARROWS */

.grcicon-arrowleft-black {
  background-image: url("../images/grcicons/arrowleft.png");
}

.grcicon-arrowright-black {
  background-image: url("../images/grcicons/arrowright.png");
}

/* 18 pixel icons, mostly for buttons */

.grcicon-back-black{
  background-image: url("../images/grcicons/arrowleft.png");
}
.grcicon-play-white {
  background-image: url("../images/grcicons/arrowright-white.png");
}