#results-container {
  font-weight: bold;
  font-size: $f-small;
  .well {
    overflow: hidden !important;
  }
  h4 {
    font-weight: bold;
    margin-bottom: 10px;
  }
  .label-error {
    @include border-radius($default-border-radius);
    background: lighten($red, 35%);
    border: 1px solid lighten($red, 10%);
    font-weight: bold;
    padding: 5px 10px;
  }
  .label-warning {
    @include border-radius($default-border-radius);
    background: lighten($yellow, 35%);
    border: 1px solid lighten($yellow, 10%);
    font-weight: bold;
    padding: 5px 10px;
  }
  .ggrc-table {
    th {
      text-align: left;
      padding: 4px;
      border: 1px solid $gray;
      background: $widgetHeader;
      word-break: break-all;
    }
    .inner-tabel {
      height: 500px;
      overflow-y: auto;
      width: 100%;
    }
  }
  .inner-ggrc-table {
    width: 100%;
    margin-bottom: 10px;
    td {
      padding: 4px;
      border: 1px solid $widgetHeader;
      font-weight: normal;
      word-break: break-all;
      &.member-failure {
        background: lighten($red, 35%);
      }
      &.member-warning {
        background: lighten($yellow, 35%);
      }
      &.member-warning,
      &.member-failure {
        .help-inline, .help-inline-warning {
          color: $red;
          font-weight: bold;
          padding: 0;
          display: block;
          font-size: $f-small;
        }
        .help-inline-warning {
          color: $gray;
        }
      }
      hr {
        margin: 5px 0;
      }
    }
  }
  label {
    font-size: $f-small;
    font-weight: bold;
  }
  .control-group {
    margin-bottom: 0;
    input {
      margin-bottom: 0;
    }
  }
}
.import {
  input[type="file"] {
    width: 30%;
  }
}
