// container size
.container-fluid {
  margin:0 auto;
  &.resizable {
    @include transition(width 0.2s);
  }
}

// placeholder for widgets drag and drop
.drop-placeholder {
  background:$dropPlaceholder;
  border:1px dashed $gray;
  height:35px;
  line-height:35px;
  font-size: $f-regular;
  font-weight: bold;
  margin-bottom:20px;
  @include border-radius($default-border-radius);
  text-align: center;
  &:before {
    content:"Drop Here";
  }
  color: $darkGray;
}

// content style
.content {
  padding-top: 20px;
  background: $white image-url('bgnd-content.png') repeat-x 0 0;
  h2 {
    margin-bottom: 20px;
  }
  &.affix {
    margin-top: 30px;
  }
}
