.modal {
  max-height: 720px;
  width: 720px;
  margin-left:-360px;
  &.modal-wide {
    width:960px;
    margin-left:-480px;
  }
  &.modal-slim {
    width: 480px;
    margin-left:-240px;
  }
}

.modal-header {
  span.version {
    display:none;
  }
}

.modal-body {
  .tab-content {
    margin:0;
  }
  
  .btn.new {
    margin-top:8px;
  }

  padding: 10px;
  overflow-y: auto;
  .alert {
    display:none;
  }

  ::-webkit-input-placeholder {
    color: $lightGray;
  }
  :-moz-placeholder {
    color: $lightGray;
  }
  
  h4 {
    font-size:18px;
    color:$darkGray;
    line-height:36px;
    height:36px;
    margin:0px;
    font-weight:normal;
  }
  
  label {
    font-weight:bold;
    font-family:helvetica, arial, tahoma, sans-serif ;
    text-shadow:none;
    font-size:11px;
  }
  
  input.date {
    background:#fff url(/images/icons/icon-calendar-inline.png) no-repeat 6px 5px;
    padding-left:26px;
    cursor:pointer;
  }
  
  span.label {
    font-weight:normal;
    font-size:12px;
  }
  
  textarea {
    height:28px;
    &.double {
      height:86px;
    }
  }
  
  .scope {
    padding:1px 6px 5px;
    background:$lightestGray;
    border:1px solid darken($lightestGray,10%);
    @include border-radius();
    label {
      &.subtitle {
        font-weight:bold;
      }
    }
  }
  
  .audit {
    padding:1px 6px 5px;
    background:$auditBgndColor;
    border:1px solid darken($auditBgndColor,10%);
    @include border-radius();
    label {
      color:#2a909c;
      &.subtitle {
        font-weight:bold;
      }
    }  
  }
  
  .forminputfail {
    background:$failureBgndColor;
    border:1px solid $failureBorderColor;
    color:$failureColor;
  }

  .help-inline {
    margin:0 0 0 0;
    display:block;
    font-size:11px;
  }

}

.modal-info {
  background:#f0f0f0;
  border-top:1px solid $borderDefault;
  padding:10px 10px 0 10px;
  font-size:11px;
  color:#999;
  .status {
    text-align:right;
    strong {
      color:#369;
    }
    span {
      color:#333;
    }
  }
}

.modal-footer {
  padding:10px;
  .btn-primary {
    display:inline-block;
  }
}

// various modal items

.people-list {
  max-height:350px;
  &.short {
    height:267px;
  }  
  overflow:auto;
  li {
    .additional {
      display:none;
    }
    border:1px solid $borderDefault;
    background:#f0f0f0;
    border-bottom:none;
    &:hover {
     background:#fff;
    }
    &:first-child {
      // border-top:none;
    }
    &:last-child {
      border-bottom:1px solid $borderDefault;
    }
    padding:4px 8px;
    .name {
      margin:0;
      padding:0;
      font-size:16px;
      font-weight:bold;
      color:#111;
    }
    .company {
      display:block;
      font-size:12px;
      font-weight:normal;
      color:#999;
    }
    .btn-mini {
      margin-left:8px;
    }
    label {
      strong {
        color:#f70;
      }
    }
    input.date {
      font-size:10px;
    }
    span.label {
      display:block;
      margin-top:10px;
      text-align:center;
      font-size:13px;
    }
    .btn-solid {
      height:22px;
      line-height:18px;
      margin-left:0;
    }
    .actions {
      .btn {
        height:20px;
        margin-top:4px;
        i {
          margin-top:3px;
        }
      }
    }
  }
}

.filter-block {
  .search-list input {
    margin-bottom:0 !important;
    margin-right:-4px;
  }
  .nav-tabs {
    margin:6px 0 0 0;
    border:none;
    li {
      margin-bottom:0;
      float:none;
      &.active {
        a {
          background:#eee;
          @include border-radius(0);
          color:$black;
        }
      }
      a {
        margin-right:0;
        &:hover {
          background:$white;          
          color:$darkGray;
          border-right:1px solid $white;
          @include border-radius(0);
        }      
      }
    }
  }
}

.modal-search {
  @include border-radius(4px 4px 0 0);
  border:1px solid $borderDefault;
  padding:6px;
  background:$lightestGray;
  input {
    font-size:12px;
    height:18px;
    line-height:18px;
    padding-top:0;
    padding-bottom:0;
  }
  .btn-mini {
    margin:0;
  }
}


// JS class

.filter-group {
  display:none;
}