.modal {
  max-height: 720px;
  width: 720px;
  margin-left:-360px;
  &.modal-wide {
    width:960px;
    margin-left:-480px;
  }
  &.modal-slim {
    width: 480px;
    margin-left:-240px;
  }
}

.modal-header {
  span.version {
    display:none;
  }
}

.modal-body {

  padding: 10px;
  overflow-y: auto;
  .alert {
    display:none;
  }

  ::-webkit-input-placeholder {
    color: $lightGray;
  }
  :-moz-placeholder {
    color: $lightGray;
  }
  
  h4 {
    font-size:16px;
    color:$mediumGray;
    margin-bottom:10px;
    font-weight:normal;
  }
  
  label {
    font-weight:bold;
    font-family:helvetica, arial, tahoma, sans-serif ;
    text-shadow:none;
    font-size:11px;
  }
  
  input.date {
    background:#fff url(/images/icons/icon-calendar-inline.png) no-repeat 6px 5px;
    padding-left:26px;
    cursor:pointer;
  }
  
  span.label {
    font-weight:normal;
    font-size:12px;
  }
  
  textarea {
    height:28px;
    &.double {
      height:86px;
    }
  }
  
  .scope {
    padding:0 6px;
    background:$lightestGray;
    border:1px solid darken($lightestGray,10%);
    @include border-radius();
    label {
      &.subtitle {
        font-weight:bold;
      }
    }
  }
  
  .audit {
    padding:0 6px;
    background:$auditBgndColor;
    border:1px solid darken($auditBgndColor,10%);
    @include border-radius();
    label {
      color:#2a909c;
      &.subtitle {
        font-weight:bold;
      }
    }  
  }
  
  .forminputfail {
    background:$failureBgndColor;
    border:1px solid $failureBorderColor;
    color:$failureColor;
  }

  .help-inline {
    margin:0 0 0 0;
    display:block;
    font-size:11px;
  }

}

.modal-info {
  background:#f0f0f0;
  border-top:1px solid $borderDefault;
  padding:10px 10px 0 10px;
  font-size:11px;
  color:#999;
  .status {
    text-align:right;
    strong {
      color:#369;
    }
    span {
      color:#333;
    }
  }
}

.modal-footer {
  padding:10px;
  .btn-primary {
    display:inline-block;
  }
}

// various modal items

.people-list {
  height:300px;
  overflow:auto;
  li {
    .additional {
      display:none;
    }
    border:1px solid $borderDefault;
    background:#f0f0f0;
    border-bottom:none;
    &:hover {
     background:#fff;
     .additional {
       display:block;
     }
    }
    &:first-child {
      @include border-radius(4px 4px 0 0);
    }
    &:last-child {
      border-bottom:1px solid $borderDefault;
      @include border-radius(0 0 4px 4px);
    }
    padding:10px;
    .name {
      margin:0;
      padding:0;
      font-size:16px;
      font-weight:bold;
      color:#111;
    }
    .company {
      font-size:12px;
      font-weight:normal;
      color:#999;
    }
    .btn-mini {
      margin-left:4px;
    }
    label {
      strong {
        color:#e00;
      }
    }
    .btn-solid {
      height:22px;
      line-height:18px;
      margin-left:0;
    }

  }
}