

.modal {
  max-height: 720px;
  width: 720px;
  margin-left:-360px;
  &.modal-wide {
    width:960px;
    margin-left:-480px;
  }
  &.modal-small {
    width:380px;
    margin-left:-190px;
  }
  &.modal-slim {
    width: 480px;
    margin-left:-240px;
  }
  &.modal-widget {
    width:360px;
    margin-left:-185px;
    margin-top:-225px;
  }
}

.modal-header {
  span.version {
    display:none;
  }
}

.modal-body {
  .tab-content {
    margin:0;
  }
  
  .btn.new {
    margin-top:8px;
  }

  padding: 10px;
  overflow-y: auto;
  .alert {
    display:none;
  }

  ::-webkit-input-placeholder {
    color: $lightGray;
  }
  :-moz-placeholder {
    color: $lightGray;
  }
  
  h4 {
    font-size:18px;
    color:$darkGray;
    line-height:36px;
    height:36px;
    margin:0px;
    font-weight:normal;
  }
  
  label {
    font-weight:bold;
    font-family:helvetica, arial, tahoma, sans-serif ;
    text-shadow:none;
    font-size:11px;
  }
  
  input.date {
    background-image:url(/images/icons/icon-calendar-inline.png);
    background-repeat:no-repeat;
    background-position:6px 5px;
    padding-left:26px;
    cursor:pointer;
  }
  
  span.label {
    font-weight:normal;
    font-size:12px;
  }
  
  textarea {
    height:28px;
    &.double {
      height:86px;
    }
  }
  
  .scope {
    padding:1px 6px 5px;
    background:$lightestGray;
    border:1px solid darken($lightestGray,10%);
    @include border-radius();
    label {
      &.subtitle {
        font-weight:bold;
      }
    }
  }

  .currentlist {
    padding:0px 0px 0px 0px;
    //background:#f8f9f8;
    //border:1px solid darken($lightestGray,10%);
    @include border-radius();
  }
  
  .audit {
    padding:1px 6px 5px;
    background:$auditBgndColor;
    border:1px solid darken($auditBgndColor,10%);
    @include border-radius();
    label {
      color:#2a909c;
      &.subtitle {
        font-weight:bold;
      }
    }  
  }
  
  .forminputfail {
    background:$failureBgndColor;
    border:1px solid $failureBorderColor;
    color:$failureColor;
  }

  .help-inline {
    margin:0 0 0 0;
    display:block;
    font-size:11px;
  }

}

.modal-info {
  background: #E1E1E2;
  border-top: 1px solid #E1E1E1;
  padding: 3px 20px 5px 20px;
  font-size: 11px;
  color: #777;
  height:16px;
  .status {
    text-align:right;
    strong {
      color:#369;
    }
    span {
      color:#333;
    }
  }

}


  .object-info { 
    text-align: justify; 
  }
  .object-info > span { 
    display: inline-block; 
  }
  .object-info > span.force-wrap { 
    width: 100%; 
  }​
  

.modal-footer {
  padding:10px;
  .btn-primary {
    display:inline-block;
  }
}

// various modal items

.people-list, .system-list, .category-list, .reference-list{
  height:323px;
  border:1px solid darken($lightestGray,10%);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow-x:hidden;
  overflow-y:auto;
  &.short {
    height:282px;
  } 
  &.shortest {
    height:233px;
  }  
  li {
    .additional {
      display:none;
    }
    border-top:1px solid $borderDefault;
    background:#f0f0f0;
    border-bottom:none;
    &:hover {
     background:#fff;
    }
    &:first-child {
      border-top:none;
    }
    &:last-child {
      border-bottom:1px solid $borderDefault;
    }
    padding:4px 8px;
    .name {
      margin:0;
      padding:0;
      font-size:16px;
      font-weight:normal;
      color:#111;
      small {
        font-size:11px;
        font-weight:normal;
        color:$mediumGray;
      }
    }
    .company, .system, .object {
      display:block;
      font-size:12px;
      font-weight:normal;
      color:#999;
    }
    .btn-mini {
      margin:4px 4px 0px 4px;
      height:13px;

    }
    label {
      strong {
        color:$errorColor;
      }
    }
    input.date {
      font-size:10px;
    }
    span.label {
      display:block;
      margin-top:10px;
      text-align:center;
      font-size:13px;
      &.label-danger {
        background:$errorColor;
      }
      
    }
    .btn-solid {
      height:22px;
      line-height:18px;
      margin-left:0;
    }
    .actions {
      .btn {
        height:22px;
        line-height:18px;
        margin-top:4px;
        i {
          margin-top:3px;
        }
      }
      .widgetbtn {
        width:16px;
        margin-top:4px;
        margin-left:4px;
        border-color:#cccccc;
        i {
        }
      }
    }
  }
}

.filter-block {
  .search-list input {
    margin-bottom:0 !important;
    margin-right:-4px;
  }
  .nav-tabs {
    margin:6px 0 0 0;
    border:none;
    li {
      margin-bottom:0;
      float:none;
      &.active {
        a {
          background:#eee;
          @include border-radius(0);
          color:$black;
        }
      }
      a {
        margin-right:0;
        &:hover {
          background:$white;          
          color:$darkGray;
          border-right:1px solid $white;
          @include border-radius(0);
        }      
      }
    }
  }
}

.modal-search {
  @include border-radius(4px 4px 0 0);
  border:1px solid $borderDefault;
  border-bottom:1px;
  padding:6px;
  background:$lightestGray;
  input {
    font-size:12px;
    height:18px;
    line-height:18px;
    padding-top:0;
    padding-bottom:0;
  }
  .btn-mini {
    margin:0;
  }
}

.additional-filters {
  border-left:1px solid $borderDefault;
  border-right:1px solid $borderDefault;
  background:$lightestGray;
  padding:0 6px 6px 6px;
  input {
    font-size:12px;
    height:20px;
    line-height:20px;
    padding-top:0;
    padding-bottom:0;
    min-height:0px !important;
  }

  label {
    font-weight:normal;
  }
}


// JS class

.filter-group,
.category-group {
  display:none;
}
