// PBC List Styles

.pbc-header {
  border:1px solid $borderDefault;
  background:#f0f0f0;
  padding:2px 10px;
  margin-bottom:4px;
  .row-fluid {
    [class*="span"] {
      min-height:0;
      color:#888;
      font-size:11px;
      font-weight:bold;
      padding-top:2px;
      &:last-child {
       text-align:right; 
      }
    }
  }
}


ul.pbc-responses {
  li {
    border:1px solid $borderDefault;
    padding:10px 10px 0 10px;
    @include border-radius();
    .pbc-actions {
      .btn {
        float:right;
        clear:both;
        margin-bottom:6px;
      }
    }
  }
  
  ul.items-list {
    margin-bottom:10px;
    li {
      padding:2px 0 2px 6px;
      margin-bottom:4px;
      .row-fluid {
        [class*="span"] {
          min-height:0;
        }
      }
    }
    .expander {
      margin-top:2px;
    }
  }
  
}

.pbc-control {
  .item {
    margin-right:26px;
    margin-bottom:14px;
  }
}

.pbc-status {
  p {
    margin-top:2px;
    font-size:12px;
    &.subtle {
      color:#999;
      font-size:11px;
      margin-top:-6px;
    }
  }
}

.btn.new-item {
  font-size:10px;
  font-weight:normal;
  margin:0;
  padding:0;
  min-height:0;
  padding-top:41px;
  background: $white url('/images/icons/big-add.png') no-repeat center 6px;
  @include background-size(32px 128px);
  &:hover {
    background-position: center -90px;
    background-color:$green;
    @include transition(none);
    color:$white;
    @include text-shadow(none);
  }
}
