// PBC List Styles

.pbc-header {
  [class*="span"] {
    min-height:0;
    color:#333;
    font-size:11px;
    font-weight:bold;
    padding-bottom:10px;
    &:last-child {
     text-align:right; 
    }
  }
}

.pbc-request,
.pbc-status {
  select {
    display:block;
    float:none;
    margin-bottom:14px !important;
    padding:2px;
    height:auto !important;
    min-height:auto !important;
  }
}

.request-states {
  @include clearfix();
  float:right;
  line-height:12px;
  margin-right:80px;
  min-height:0;
  font-size:11px;
  .letter-group {
    float:left;
    margin-right:10px;
    color:$textColor;
    .letter {
      color:#111;
      margin-right:22px;
    }
  }
}

.pbc-request-title-area {
  .item {
    @include border-radius(4px 4px 0 0);
    border:none;
    border-bottom:1px solid #ccc;
    margin-bottom:8px;
    padding:4px 6px;
    [class*="span"] {
      min-height:0;
    }
  }
  .btn {
    margin-left:0px;
    margin-right:8px;
  }
  .enddot {
    background-color:$white;
    margin-top:0;
  }
}

.pbc-title {
  border:1px solid $borderDefault;
  @include border-radius();
  margin-bottom:4px;
  padding:2px 10px;
  .btn {
    float:right;
    margin-top:2px;
  }
}

ul.pbc-responses {
  li {
    border:1px solid $borderDefault;
    padding:10px 10px 0 10px;
    margin-bottom:4px;
    @include border-radius();
    .pbc-actions {
      .btn {
        float:right;
        clear:both;
      }
    }
    &.main-item {
      border:1px solid $borderDark;
      padding:0;
    }
  }
  
  ul.items-list {
    margin-bottom:10px;
    li {
      padding:6px 6px 2px 6px;
      margin-bottom:4px;
      .row-fluid {
        [class*="span"] {
          min-height:0;
        }
      }
      ul.pbc-item-list {
        margin-top:4px;
        li {
          @include clearfix();
          background:rgba(255,255,255,0.7);
          border:none;
          font-size:12px;
          line-height:24px;
          padding:0 6px;
        }
      }
    }
    .expander {
      margin-top:2px;
    }
    .btn {
      margin-top:4px;
    }
  }
  
}

.pbc-control {
  .item {
    margin-right:26px;
    margin-bottom:14px;
  }
}

.pbc-status {
  p {
    margin-top:2px;
    font-size:12px;
    &.subtle {
      color:#999;
      font-size:11px;
      margin-top:-6px;
    }
  }
}

.btn.new-item {
  font-size:10px;
  font-weight:normal;
  margin:0;
  padding:0;
  min-height:0;
  padding-top:41px;
  background: $white url('/images/icons/big-add.png') no-repeat center 6px;
  @include background-size(32px 128px);
  &:hover {
    background-position: center -90px;
    background-color:$green;
    @include transition(none);
    color:$white;
    @include text-shadow(none);
  }
}

.pbc-person {
  color:#999;
}

.pbc-email {
  font-weight:normal;
}
