.popover {
  &.top {
    margin-top: -5px;
    .arrow {
      bottom: -5px;
      left: 50%;
      margin-left: -5px;
      border-top: 5px solid $popOverBorder;
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;
    }
  }
  &.right {
    margin-left: 14px;
    .arrow {
      top: 50%;
      left: -5px;
      margin-top: -10px;
      border-top: 10px solid transparent;
      border-right: 10px solid $popOverBorder;
      border-bottom: 10px solid transparent;
    }
  }
  &.bottom {
    margin-top: 5px;
    .arrow {
      top: -5px;
      left: 50%;
      margin-left: -5px;
      border-right: 5px solid transparent;
      border-bottom: 5px solid $popOverBorder;
      border-left: 5px solid transparent;
    }
  }
  &.left {
    margin-left: -17px;
    .arrow {
      top: 50%;
      right: -5px;
      margin-top: -10px;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-left: 10px solid $popOverBorder;
    }
  }
  .popover-inner {
    width: 400px;
    background: $popOverBorder;
    padding: 1px;
    .popover-title {
      color: $darkGray;
      border-bottom: 1px solid $popOverHeaderBorder;
      background: $popOverHeaderBgnd;
      font-weight: normal;
      margin:0;
      padding:4px 12px 0 12px;
      color: $text;
      h3 {
        @include oneline();
        color: $subTitle;
        font-weight: normal;
        font-size:16px;
        font-weight:bold;
      }
      .btn {
        i {
          margin-top:0;
          margin-right:0;
        }
      }
    }
    .popover-content {
      font-size: 11px;
      max-height: 270px;
      overflow-x: hidden;
      overflow-y: auto;
      .item {
        margin-bottom: 10px;
      }
      h3 {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 0;
      }
      h4 {
        font-size: 11px;
        font-weight: bold;
      }
      label {
        font-weight: bold;
      }
      .rtf {
        border:1px solid $lightGray;
        @include border-radius();
        padding:10px;
        overflow:auto;
        max-height:60px;
        ul {
          @include reset-list();
          margin:8px 0 10px 25px;
          li {
            padding-bottom: 0;
            list-style-type: disc;
          }
        }
      }
      ul {
        @include reset-list();
        li {
          padding-bottom: 4px;
        }
      }
    }
  }
  .progress {
    margin-bottom:0;
  }
  .minor {
    color:$gray;
  }
  .created,
  .updated {
    color:$gray;
    margin-bottom:0;
    min-height: auto;
  }
  .updated {
    text-align:right;
  }
  h3,
  h4 {
    span {
      font-weight:normal;
    }
  }
  h3 {
    i {
      margin-top:4px;
      margin-right:5px;
    }
  }
}