.popover {
  &.top {
    margin-top: -5px;
    .arrow {
      bottom: -5px;
      left: 50%;
      margin-left: -5px;
      border-top: 5px solid $popOverBorder;
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;
    }
  }
  &.right {
    margin-left: 14px;
    .arrow {
      top: 50%;
      left: -5px;
      margin-top: -10px;
      border-top: 10px solid transparent;
      border-right: 10px solid $popOverBorder;
      border-bottom: 10px solid transparent;
    }
  }
  &.bottom {
    margin-top: 5px;
    .arrow {
      top: -5px;
      left: 50%;
      margin-left: -5px;
      border-right: 5px solid transparent;
      border-bottom: 5px solid $popOverBorder;
      border-left: 5px solid transparent;
    }
  }
  &.left {
    margin-left: -5px;
    .arrow {
      top: 50%;
      right: -5px;
      margin-top: -10px;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-left: 10px solid $popOverBorder;
    }
  }
  .popover-inner {
    width: 400px;
    background: $popOverBorder;
    padding: 1px;
    .popover-title {
      color: $darkGray;
      border-bottom: 1px solid $popOverHeaderBorder;
      background: $popOverHeaderBgnd;
      font-weight: normal;
      color: $text;
      h3 {
        color: $text;
        font-weight: normal;
      }
    }
    .popover-content {
      font-size: 11px;
      max-height: 300px;
      overflow-x: hidden;
      overflow-y: auto;
      .item {
        margin-bottom: 10px;
      }
      h3 {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 0;
      }
      h4 {
        font-size: 11px;
        font-weight: bold;
      }
      label {
        font-weight: bold;
      }
      .rtf {
        ul {
          @include reset-list();
          margin:8px 0 10px 25px;
          li {
            padding-bottom: 0;
            list-style-type: disc;
          }
        }
      }
      ul {
        @include reset-list();
        li {
          padding-bottom: 4px;
        }
      }
    }
  }
}