.quick-search-results {
  display: none;
  position: absolute;
  top: 25px;
  left: -100%;
  width: 300%;
  background: $white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  @include border-radius(5px);
  @include box-shadow(0 5px 10px rgba(0, 0, 0, 0.2));
  color:$black;
  text-shadow: none;
  text-transform: none;
  font-size:$f-regular;
  font-weight: normal;
  line-height: 18px;
  z-index: 1001;
  p {
    margin: 0;
  }
  ul.single-row-tabs {
    li {
      .item-title {
        margin-left: 0;
        @include oneline();
      }
      a {
        padding: 0;
        border: none;
        color: $black;
        &:hover {
          background: none;
          @include border-radius(0);
          border: none;
        }
      }
    }
  }
  .tree-structure {
    &.simple {
      margin-right: 0;
      strong {
        display: inline;
      }
    }
  }
  .title {
    padding: 8px 4px 6px 16px;
    margin: 0;
    font-size:$f-subTitle;
  }
  .tabs-left {
    padding: 0;
    height: 589px;
  }
  .tab-content {
    overflow-x: hidden;
    overflow-y: auto;
    height: 571px;
    padding: 10px 10px 0 0;
  }
  .remove {
    margin: 4px 10px 0 0;
    padding: 0;
    i {
      @include opacity(0.4);
    }
    &:hover {
      i {
        @include opacity(1);
      }
    }
  } 
  .nav-tabs {
    overflow-x: hidden !important;
    overflow-y: auto !important;
    height: 571px !important;
    margin-bottom: 0;
    background: $lightGray;
    padding: 10px 0 10px 2px;
    margin-right: 7px;
    border: none;
    li {
      float: none;
      clear: both;
      text-shadow: none;
      text-transform: none;
      font-size:$f-subTitle;
      font-weight: normal;
      a {
        color: $text;
        @include transition(color 0.3s ease);
        margin-right: 0;
        min-width: 100px;
        i {
          @include opacity(0.3);
          margin-right: 7px;
          @include transition(opacity 0.3s ease);
        }
        &:hover {
          color: $black;
          border-right: 1px solid $lightGray;
          i {
            @include opacity(1);
          }
        }
      }
      &.active {
        a {
          color: $infoWidgetHeader;
          i {
            @include opacity(1);
          }
        }
      }
    }
  }
  &.quick-search-small {
    .tabs-left {
      height: 559px;
    }
    .tab-content {
      height: 541px;
    }
    .nav-tabs {
      height: 541px !important;
      li {
        a {
          padding-bottom: 6px;
          padding-top: 6px;
        }
      }
    }
  }
  .tab-pane {
    ul {
      li {
        float: none;
        clear: both;
        text-shadow: none;
        text-transform: none;
        font-size:$f-subTitle;
        font-weight: normal;
        color: $black;
        padding-right: 0;
        a {
          float: none;
          clear: both;
        }
      }
    }
  }
  .quick-find-add {
    background: $lightGray;
    height: 34px;
    font-size:$f-subTitle;
    @include border-radius(0 0 5px 5px);
    line-height: 34px;
    padding: 0 10px 0 16px;
    color: $text;
    text-align: right;
    a {
      color: $black;
      margin-top: 4px;
      @include transition(color 0.3s ease);
      i {
        @include opacity(0.7);
        @include transition(opacity 0.3s ease);
      }
      &:hover {
        border: 1px solid $white;
        color: $black;
        i {
          @include opacity(1);
        }
      }
      &.btn-mini {
        font-size:$f-subTitle;
        line-height: 18px;
        margin-left: 14px;
      }
    }
    .open {
      a.dropdown-toggle {
        color: $black;
        border: 1px solid $white;
        i {
          @include opacity(1);
        }
      }
    }
    .dropdown-menu {
      bottom: -2px;
      left: -165px;
      right: auto;
      li {
        font-size:$f-subTitle;
        a {
          margin-top: 0;
          &:hover {
            border: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 556px) {
  .quick-search-results {
    left: 0;
    max-width: 300%;
    position:fixed;
  }
}

@media screen and (max-width: 730px) and (min-width: 557px) {
  .quick-search-results {
    left: 0;
    position:fixed;
    max-width: 556px;
  }
}

@media screen and (max-width: 776px) and (min-width: 731px) {
  .quick-search-results {
    right: 0;
    left: inherit;
    position:absolute;
  }
}
