.ca-fields {
  span {
    font-size:11px;
    color:$gray;
  }
  .btn {
    margin-left:0;
    padding-left:1px;
    padding-right:2px;
    @include border-radius(20px);
    border-color:lighten($gray,10%);
    i {
      margin-top:0;
    }
    &.btn-success {
      border-color: #51A351;
    }
    &.btn-warning {
      border-color: #F9A732;
    }
  }
}

.headline {
  text-transform:uppercase;
  border-bottom:1px solid $lightGray;
  font-size:11px;
  color:$gray;
  [class*="span"] {
    padding-bottom:0;
    margin-bottom:0;
    min-height:0;
  }
}

span.tiny-title {
  font-size:13px;
  color:$gray;
}

ul.tree-structure.pbc {
  .openclose {
    margin-top:8px;
  }
}