.ca-fields {
  span {
    font-size:11px;
    color:$gray;
  }
  .btn {
    margin-left:0;
    padding-left:1px;
    padding-right:2px;
    @include border-radius(20px);
    border-color:lighten($gray,10%);
    i {
      margin-top:0;
    }
    &.btn-success {
      border-color: #51A351;
    }
    &.btn-warning {
      border-color: #F9A732;
    }
  }
}

.headline {
  text-transform:uppercase;
  border-bottom:1px solid $lightGray;
  margin-top:10px;
  font-size:11px;
  color:$gray;
  [class*="span"] {
    padding-bottom:0;
    margin-bottom:0;
    min-height:0;
  }
}

span.tiny-title {
  font-size:13px;
  color:$gray;
}

ul.tree-structure.pbc {
  .openclose {
    margin-top:8px;
  }
}

.requests {
  .item-title {
    color:$gray;
    i {
      margin-top:8px;
    }
    .item-actions {
      padding-top:1px;
      i {
        margin-top:0px;
      }
    }
    span.control {
      font-weight:bold;
      color:$green;
      &.error {
        color:$error;
      }
    }
    span.date {
      font-style:italic;
      color:#aaa;
    }
    span.request-title {
      text-transform:uppercase;
      color:darken($gray,20%);
    }
    .status {
      position:relative;
      select {
        position:absolute;
        top:4px;
        left:-7px;
        display:block;
        line-height:23px;
        height:23px;
        padding:2px;
        width:auto;
        border-color:darken($lightGray,15%);
        @include border-radius();
      }    
    }
    .asignee {
      position:relative;
      select {
        position:absolute;
        top:4px;
        left:54px;
        display:block;
        line-height:23px;
        height:23px;
        padding:2px;
        width:auto;
        border-color:darken($lightGray,15%);
        @include border-radius();
      }    
    }

  }
  .btn-controllink {
    @include opacity(0.5);
    margin-top:-2px;
    padding-left:2px;
    padding-right:2px;
    i {
      margin-top:0;
    }
    &:hover {
      @include opacity(1);
    }
  }
  .request-main {
    margin-left:25px;
    margin-top:6px;
    h5 {
      margin-bottom:4px;
    }
    p {
      font-size:12px;
      &.disabled-text {
        font-size:12px;
        color:lighten($gray,10%);
        margin-top:-2px;
      }
    }
    
  }
  .rtf {
    font-size:12px;
    line-height:16px;
    color:$text;
  }
}

h4.pbc-title {
  font-weight:bold;
  line-height:32px;
  margin-right:10px;
}

.responses {
  padding:6px 20px;
  background:#e8fdd6;
  margin-left:25px;
  margin-bottom:20px;
  border:1px solid #cdecb4;
  position:relative;
  input {
    line-height: 12px;
    height: 12px;
    font-size: 11px;
    &.input-block-level {
      min-height: 22px;
    }
  }
  select {
    line-height: 22px;
    height: 22px;
  }
  .bg-caret {
    background: url('/images/bgnd-responses.png') no-repeat 0 0;
    width:13px;
    height:7px;
    position:absolute;
    top:-1px;
    left:20px;
    z-index:2;
  }
  .item-title {
    color:$responsTitle;
    font-size: 12px;
    font-weight: bold;
  }
  ul.tree-structure {
    margin-top:8px;
    border-color:#cdecb4 !important;
    .pbc-counter {
      display:inline-block;
      line-height:28px;
      margin-right: 20px;
      i {
        margin-top:6px !important;
        margin-right: 3px;
      }
      &.empty {
        @include opacity(0.3);
      }
    }
    .sample-widget {
      margin-top: 9px;
      .btn-mini {
        line-height: 16px;
      }
      input {
        margin-bottom: 0;
      }
    }
    margin-left: 0 !important;
    &.add-response {
      border:none !important;
      margin-left: 0 !important;
      .arrow-right {
        background-position:-112px -32px;
        margin-top: 3px;
        float:left;
        @include size(16px, 16px);
        @include background-size(160px 160px);
        background-image: url("/images/grcicons/icons.png");
        @include opacity(0.4);
        &.active {
          @include opacity(1);
        }
      }
      .respons-add {
        margin-left: 24px;
        i {
          margin-top: 0;
        }
      }
      li {
        .next-each-other {
          @include clearfix();
          input {
            float:left;
            margin-right: 4px;
            margin-bottom: 0;
          }
          span {
            float:left;
          }
        }
      }
    }
    li {
      border-color:#cdecb4;
      .response-items {
        margin-left:25px;
      }
    }
  }
  .inner-system {
    border:1px solid #cdecb4;
    background:darken(#e8fdd6,5%);
    @include border-radius();
    padding:8px 12px;
    margin-bottom:8px;
    font-size: 11px;
    color: $text;
  }
  .response-items {
    .grcicon-carot {
      margin-top: 8px;
    }
    .row-fluid {
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0;
      }
      &.inner-title {
        margin-bottom: 0;
        line-height: 18px;
        div {
          line-height: 18px;
          min-height: 18px;
        }
      }
    }
    .response-title-bar {
      line-height: 25px;
      margin-bottom: 5px;
      padding-bottom: 5px;
      border-bottom:1px solid #cdecb4;
      .btn {
        &.btn-mini {
          padding-left: 2px;
          padding-right: 2px;
        }
      }
    }
    h4 {
      color: $responsTitle;
      font-size: 12px;
      font-weight: bold;
      line-height: 25px;
      span {
        color: $responsTitle;
      }
    }
    h5 {
      font-size: 11px;
      font-weight: bold;
    }
    .rtf {
      font-size: 11px;
    }
    p {
      font-size: 11px;
      margin: 0;
    }
    .edit-person-role,
    .edit-document-role {
      border-top-width: 0px;
      -webkit-appearance: textfield;
      -moz-appearance: textfield;
      background-color: transparent;
      @include background-size(160px 160px);
      background-image: url("/images/grcicons/icons.png");
      background-repeat: no-repeat;
      background-position: right -144px;
      border: none;
      line-height: 16px;
      height: 16px;
      font-size: 11px;
      text-decoration: none;
      padding: 0 18px 0 0;
      width: auto;
      cursor:pointer;
      margin-bottom: 0;
    }
    .btn-nano {
      padding: 1px;
      line-height: 14px;
    }
  }
  .inner-response {
    padding:8px 0;
    font-size: 11px;
    color: $text;
    .items {
      margin-bottom: 20px;
      li {
        line-height: auto !important;
      }
    }
    .inner-element {
      display: block;
      @include oneline();
    }
  }
  .inline-editing {
    border: none !important;
    &.custom-edit {
      margin-bottom: -4px;
      form {
        padding-top: 5px;
      }
    }
    form {
      margin-bottom: 0;
    }
    margin-top: 3px;
    input {
      margin-bottom: 0;
    }
    .btn {
      i {
        margin-top: 0;
      }
    }
  }
  ul.items {
    @include reset-list();
    margin-top:4px;
    .row-fluid {
      margin-bottom: 0;
    }
    li {
      border-bottom:1px solid #cdecb4;
      @include clearfix();
      &:last-child {
        border: none;
      }
      .btn {
        &.btn-add {
          font-size: 11px;
          font-weight: normal;
          line-height: 16px;
          i {
            margin-top: 0;
          }
        }
      }
    }
  }
}


.import {
  input[type ="file"] {
    line-height:normal;
    height:auto;
  }
}
