// defaults
  
  $default-border-radius: 4px;
  $topBorderRadius: 4px 4px 0 0;
  $bottomBorderRadius: 0 0 4px 4px;

// colors

  // widget
    $widgetBorder: #ccc;
    $widgetHeader: #ccc;
    $widgetTitle: #666;
    
      // widget info
      $infoWidgetHeader: #111;
      

  // texts

    $text:#666;
    $error:#e00;

  $headerBgnd: #3f4145;
  $menuLink: #d7dce8;
  $screenBgnd: #323438;
  $link: #369;
  $headerTitle: #444;
  $demoHide: #f99c18;
  $demoShow: #55ab55;
  $widgetHeaderBgnd: #efefef;
  $dropPlaceholder: #ccc;
  $subTitle: #111;
  $widgetFooteBgnd: #e1e1e1;
  $risk: #ec9923;
  $riskActive: #a46203;
  $gov: #44aac8;
  $govActive: #026b8a;
  $addBtn: #5ab45a;
  $addBtnBorder: #399a39;
  $sidenavBorder: #e5e5e5;
  $sidenavHover: #f5f5f5;
  $responsTitle: #333;
  
  $white: #fff;
  $black: #000;
  $gray: #999;
  $darkGray: #7c7c7c;
  $lightGray: #eee;
  $red: #ce3e3e;
  $lightRed: #ff9d9d;
  $footerBorder: #ddd;
  $topBarSearchText: #bbbdc1;
  $topBarSearchBorder: #282a2c;
  $topBarSearchBgnd: #6a6b6d;
  $green: #1d8d15;
  $modalHeader: #0071cc;
  $modalHeaderBorder: #074fb2;
  $modalHeaderShadow: #9ac5ff;
  
  $popOverHeaderBgnd: #f7f7f7;
  $popOverHeaderBorder: #ebebeb;
  $popOverBorder: #b0b0b0;

// mixins

  @mixin reset-list() {
    margin:0;
    padding:0;
    list-style:none;
  }
  
  @mixin outline-fix() {
    outline:0;
  }

  @mixin oneline() {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width:100%;
  }

  @mixin row-fluid-fix() {
    [class*="span"] {
      padding-bottom:0;
      margin-bottom:0;
      min-height:0;
    }
  }

  
  // temporary mixin - should be removed once redesign is complete

  @mixin new-icons() {
    @include background-size(160px 160px);
    background-image: url("/images/grcicons/icons.png");
  }