.modal {
  &.modal-wide {
    width:960px;
    margin-left:-480px;
  }
  .modal-header {
    background: $modalHeader;
    border-bottom: 1px solid $modalHeaderBorder;
    @include box-shadow(inset 0 -1px 0 $modalHeaderShadow);
    .btn {
      margin-top: 2px;
      &:hover,
      &:active {
        border: 1px solid $white;
      }
    }
    h2 {
      color: $white;
    }
  }
  .modal-body {
    label {
      font-weight: bold;
      font-size: 11px;
      color: $gray;
    }
  }
  .modal-footer {
    background: $lightGray;
    text-align: left;
    .version-nav {
      text-align: center;
      font-size: 11px;
      color: $gray;
      .btn {
        i {
          @include opacity(0.4);
          @include transition(opacity 0.3s ease);
        }
        &:hover {
          border: 1px solid $white;
          i {
            @include opacity(1);
          }
        }
      }
    }
    .confirm-buttons {
      text-align: right;
    }
  }
}