.modal {
  width:700px;
  margin-left: -350px;
  form {
    margin: 0;
  }
  &.modal-wide {
    width:960px;
    margin-left:-480px;
  }
  .modal-header {
    @include gradient-vertical(#0088cc, #0055cc);
    border-bottom: 1px solid $modalHeaderBorder;
    @include box-shadow(inset 0 -1px 0 $modalHeaderShadow);
    .btn {
      margin-top: 2px;
      padding: 2px;
      &:hover,
      &:active {
        border: 1px solid $white;
      }
    }
    h2 {
      color: $white;
      text-shadow: 0;
      span {
        display: block;
        line-height: 18px;
        font-size: 14px;
      }
    }
  }
  .modal-body {
    input,
    textarea {
      @include placeholder($footerBorder);
    }
    label {
      font-weight: bold;
      font-size: 11px;
      color: $darkGray;
    }
    .wysiwyg-area {
      border: 1px solid $widgetBorder;
      @include border-radius($default-border-radius);
      padding: 4px;
      background: $lightGray;
      margin-bottom: 10px;
      .double {
        height: 70px;
      }
    }
    .date {
      padding-left: 26px;
      @include background-size(160px 160px);
      background-image: url("/images/grcicons/icons.png");
      background-repeat: no-repeat;
      background-position: -141px -123px;
    }
    .modal-source {
      h3 {
        font-size: 16px;
      }
      .active {
        i.grcicon-edit-new {
          background-position:-48px -32px;
        }
      }
      .role-btn {
        margin-right: 20px;
        margin-top: 2px;
      }
      .source,
      .target {
        @include reset-list();
        li {
          border-bottom: 1px solid $lightGray;
          line-height: 28px;
          padding: 4px 0;
          &:last-child {
            border-bottom: none;
          }
          .option {
            font-weight: bold;
            font-size: 11px;
          }
          .btn-mini {
            padding-left: 2px;
            padding-right: 2px;
          }
          .btn-group {
            .btn-mini {
              padding-left: 5px;
              padding-right: 5px;
              font-size: 11px;
              line-height: 18px;
              height: 18px
            }
          }
          .state {
            display: block;
            font-size: 11px;
            font-weight: bold;
            text-transform: uppercase;
            color: $green;
          }
        }
      }
      .target {
        margin-top: 12px;
      }
    }
  }
  .modal-info {
    background: $widgetFooteBgnd;
    padding: 5px 20px 4px 20px;
    font-size: 11px;
    color: $darkGray;
    .span3 {
      min-height: auto;
    }
  }
  .modal-footer {
    background: $lightGray;
    text-align: left;
    .deny-buttons {
      .btn {
        &:hover {
          border: 1px solid $white;
        }
      }
    }
    .version-nav {
      text-align: center;
      font-size: 11px;
      color: $gray;
      .btn {
        i {
          @include opacity(0.4);
          @include transition(opacity 0.3s ease);
        }
        &:hover {
          border: 1px solid $white;
          i {
            @include opacity(1);
          }
        }
      }
    }
    .confirm-buttons {
      text-align: right;
    }
  }
}