// container size
.container-fluid {
  margin:0 auto;
}

// placeholder for widgets drag and drop
.drop-placeholder {
  background:$dropPlaceholder;
  border:1px dashed $gray;
  height:35px;
  line-height:20px;
  margin-bottom:20px;
}

// widgets styles
.widget {
  border:1px solid $headerBgnd;
  margin-bottom: 20px;
  background:$white;
  .header {
    background:$headerTitle;
    color:$white;
    padding:5px 10px;
    h2 {
      font-size: 15px;
      line-height: 24px;
      font-weight: normal;
      color: $white;
      margin-right: 0;
      display: inline;
    }
    .btn-mini {
      i {
        @include opacity(0.4);
      }
      &:hover {
        i {
          @include opacity(1);
        }
      }
    }
  }
  .filter {
    padding:10px;
    background: $widgetFooteBgnd;
    .form-inline {
      margin-bottom: 0;
    }
    input {
      margin-bottom: 0;
    }
  }
  .content {
    padding:5px 10px;
    background:$white;
    max-height: 300px;
    overflow: hidden;
    overflow-y: auto;
  }
  .footer {
    background:$widgetFooteBgnd;
    color:$headerTitle;
    padding:5px 10px;
    height: 20px;
    p {
      margin: 0;
      line-height: 20px;
    }
  }
  .items {
    @include reset-list();
    li.main {
      h4 {
        font-size: 12px;
      }
      a {
        color: $headerTitle;
        text-decoration: none;
      }
      padding-bottom: 22px;
      border-bottom: 1px solid $gray;
      margin-bottom: 15px;
      .progress {
        margin: 0;
      }
    }
  }
}

// content style
.content {
  padding-top: 20px;
  background: $white url(/images/bgnd-content.png) repeat-x 0 0;
  h2 {
    margin-bottom: 20px;
  }
}