.header-bar {
  background: $headerBgnd;
  a {
    color:$white;
    text-decoration:none;
  }
  .logo {
    line-height:30px;
  }
  .menu {
    @include clearfix();
    @include reset-list();
    float:right;
    li {
      float:left;
      color: $white;
      line-height:30px;
      font-size:11px;
      font-weight:bold;
      text-transform:uppercase;
      text-shadow: 0 1px 1px $black;
      .dropdown-menu {
        @include reset-list();
        @include border-radius(0);
        min-width:100px;
        float: none;
        background: $black;
        li {
          float:none;
          clear: both;
          a {
            display:block;
            color:$menuLink;
            line-height:30px;
            padding: 0 10px;
            &:hover {
              background: $black;
              color:$white;
            }
          }
        }
      }
      i {
        margin: 7px 6px 0 0;
        @include opacity(0.6);
      }
      a {
        display:block;
        color:$menuLink;
        line-height:30px;
        padding: 0 10px;
        &:hover {
          background: $black;
          color:$white;
          i {
            @include opacity(1);
          }
        }
      }
      &.user {
        text-transform:lowercase;
      }
      &.screen {
        background:$screenBgnd;
        .dropdown-menu {
          left: auto;
          right: 0;
        }
      }
      &.active {
        text-shadow: none;
        i {
          @include opacity(0.8);
        }
        a {
          color:$black;
          background: $white;
          &:hover {
            background: $white;
            color:$black;
            i {
              @include opacity(0.8);
            }
          }
        }
      }
      &.demo {
        a {
          background:$screenBgnd;
          &:hover {
            background: $black;
          }
          &.demo-hide {
            color:$demoHide;
          }
          &.demo-show {
            color:$demoShow;
          }
        }
      }
      
    }
  }
}

.header-content {
  height:60px;
  .breadcrumbs {
    @include clearfix();
    @include reset-list();
    text-transform:uppercase;
    margin-top:4px;
    li {
      float:left;
      font-size:11px;
      margin-right:3px;
      color:$gray;
      a {
        color:$link;
      }
      &:after {
        content:' /';
      }
      &:last-child {
        &:after {
          content:'';
        }
        a {
          color:$gray;
        }
      }
    }
  }
  .btn-group {
    margin-top: 27px;
  }
}