// widget tree structure

h3.tab-title {
  line-height:36px;
  background:$lightGray;
  color:#777;
  font-size:13px;
  font-weight:normal;
  padding-left:6px;
  border-bottom:1px solid darken($lightGray,10%);
  .btn {
    margin-top:6px;
    margin-right:6px;
    padding-left:3px;
    padding-right:3px;
  }
}

ul.tree {
  @include reset-list();
  li.category {
    background:$lightGray;
    margin-bottom:4px;
    @include border-radius();
    h3 {
      border:1px solid darken($lightGray,5%);
      color:$gray;
      font-size:11px;
      text-transform:uppercase;
      font-weight:normal;
      padding:0 6px;
      @include text-shadow(0 1px 1px $white);
      @include border-radius(4px 4px 0 0);
    }
    .content {
      @include border-radius(0 0 4px 4px);
      border:1px solid darken($lightGray,5%);
      border-top:none;
      padding:0;
    }
    &:hover {
      background:darken($lightGray,5%);
      h3 {
        border:1px solid darken($lightGray,7%);
        color:darken($gray,10%);
      }
      .content {
        border-color:darken($lightGray,7%);
      }
    }
  }
  li.main {
    border-bottom:1px solid $lightGray;
    line-height:30px;
    padding:0 6px;
    &:last-child {
     border-bottom:none; 
    }
  }
  .item-content {
    display:none;
    padding:0 0 12px 0;
  }
  .rtf {
    line-height:14px;
    padding-right:40px;
    color:$text;
    font-size:11px;
    margin-left:22px;
  }
  p {
    line-height:14px;
    color:$text;
    font-size:11px;
  }
  
}

.item-identifier {
  position:relative;
  .item-title {
    &.active {
      .showhide {
        background-position:-16px -64px;
        @include opacity(1);
      }
    }
  }
  .showhide {
    margin-right:6px;
  }
  .item-actions {
    line-height:16px;
    position:absolute;
    right:0;
    top:4px;
    @include opacity(0.4);
    @include transition(opacity 0.2s);
    .btn-mini {
      padding-left:3px;
      padding-right:3px;
    }
  }
  &:hover {
    cursor:pointer;
    .item-actions {
      @include opacity(1);
    }
  }
  .key {
    color:$subTitle;
    font-weight:bold;
    padding-right:10px;
  }
  .additional-info {
    color:$gray;
  }
  span.label {
    font-size:12px;
    font-weight:normal;
  }
  .view-desc {
    color:$gray;
    font-size:11px;
    font-weight:bold;
    &:hover {
     color:$link; 
    }
  }
}

ul.elements {
  @include reset-list();
  margin-left:23px;
  li {
    border-top:1px solid $lightGray;
    line-height:30px;
    font-size:12px;
  }
  .item-title {
    .showhide {
      background-position:-112px -32px;
    }
    &.active {
      .showhide {
        background-position:-96px -32px;
      }
    }
  }
}