.header-bar {
  background: $headerBgnd;
  a {
    color:$white;
    text-decoration:none;
  }
  .logo {
    line-height:30px;
  }
  .menu {
    @include clearfix();
    @include reset-list();
    float:right;
    li {
      float:left;
      color: $white;
      line-height:30px;
      font-size:11px;
      font-weight:bold;
      text-transform:uppercase;
      text-shadow: 0 1px 1px $black;
      .dropdown-menu {
        @include reset-list();
        @include border-radius(0);
        min-width:100px;
        float: none;
        background: $black;
        li {
          float:none;
          clear: both;
          a {
            display:block;
            color:$menuLink;
            line-height:30px;
            padding: 0 10px;
            &:hover {
              background: $black;
              color:$white;
            }
          }
        }
      }
      i {
        margin: 7px 6px 0 0;
        @include opacity(0.6);
      }
      a {
        display:block;
        color:$menuLink;
        line-height:30px;
        padding: 0 10px;
        &:hover {
          background: $black;
          color:$white;
          i {
            @include opacity(1);
          }
        }
      }
      &.user {
        text-transform:lowercase;
      }
      &.screen {
        background:$screenBgnd;
        .dropdown-menu {
          left: auto;
          right: 0;
        }
      }
      &.active {
        text-shadow: none;
        i {
          @include opacity(0.8);
        }
        a {
          color:$black;
          background: $white;
          &:hover {
            background: $white;
            color:$black;
            i {
              @include opacity(0.8);
            }
          }
        }
      }
      &.demo {
        margin-left: 15px;
        a {
          background:$screenBgnd;
          &:hover {
            background: $black;
          }
          &.demo-hide {
            color:$demoHide;
          }
          &.demo-show {
            color:$demoShow;
          }
        }
      }
      &.gov {
        a {
          background: $govActive;
          color:$menuLink;
          &:hover {
            color:$white;
          }
          &.active {
            background: $gov;
            color:$white;
          }
        }
      }
      &.risk {
        a {
          background: $riskActive;
          color:$menuLink;
          &:hover {
            color:$white;
          }
          &.active {
            background: $risk;
            color:$white;
          }
        }
      }
      &.compliance {
        a {
          background: $green;
          color:$white;
        }
      }
    }
  }
}

.header-content {
  height:60px;
  .btn-group {
    margin-top: 27px;
  }
  .dropdown-menu {
    margin-top: 6px;
    .title {
      padding: 0 7px 6px 7px;
      font-weight: bold;
    }
  }
  .program-list {
    @include clearfix();
    @include reset-list();
    margin-top: 35px;
    li {
      float:left;
      line-height: 16px;
      margin-left: 20px;
      &.open {
        a {
          @include box-shadow(none);
        }
      }
      &.btn-group {
        margin-top: 0;
        .dropdown-toggle {
          @include box-shadow(none);
          padding: 0;
        }
        .dropdown-menu {
          li {
            margin: 0;
            float: none;
            clear: both;
            &.divider {
              margin: 8px 0;
            }
          }
          a {
            color: $black;
            text-align: left;
            font-size: 13px;
            font-weight: normal;
            margin: 0;
            text-transform: none;
            display: block;
          }
        }
      }
      a {
        color: $gray;
        font-size: 11px;
        line-height: 16px;
        font-weight: bold;
        text-transform: uppercase;
        @include transition(color 0.3s ease);
        i {
          @include opacity(0.4);
          @include transition(opacity 0.3s ease);
        }
        &:hover {
          text-decoration: none;
          color: $black;
          i {
            @include opacity(1);
          }
          .caret {
            @include opacity(1);
          }
        }
        .caret {
          @include opacity(0.4);
          margin-top: 6px;
          @include transition(opacity 0.3s ease);
        }
      }
    }
  }
}

.breadcrumbs {
  @include clearfix();
  @include reset-list();
  text-transform:uppercase;
  margin-top:4px;
  li {
    float:left;
    font-size:11px;
    margin-right:3px;
    color:$gray;
    a {
      color:$link;
    }
    &:after {
      content:' /';
    }
    &:last-child {
      &:after {
        content:'';
      }
      a {
        color:$gray;
      }
    }
  }
}