// widget tree structure

ul.tree {
  @include reset-list();
  li.main {
    @include clearfix();
    border-bottom:1px solid $lightGray;
    cursor:pointer;
    line-height:32px;
    padding:0 6px;
    span.secondary {
      color:$gray;
      font-size:11px;
    }
    &:last-child {
      border-bottom:none;
    }
    .code {
      font-weight:bold;
    }
    .info {
      color:$text;
    }
    .buttons {
      float:right;
      @include opacity(0.2);
      @include transition(opacity 0.4s);
      line-height:16px;
      padding-top:4px;
      .btn {
        padding-left:3px;
        padding-right:3px;
        i {
          margin-top:0;
        }
      }
    }
    &:hover {
      background:lighten(#ccf1ff,8%);
      border-color:darken(#ccf1ff,10%);
      .showhide {
        @include opacity(1);
      }
      .buttons {
        @include opacity(1);
      }

    }
  }
  .tree-content {
    margin-left:24px;
  }
  p {
    font-size:11px;
    line-height:14px;
    color:$text;
  }
}