.popover {
  .popover-inner {
    width: 400px;
    .popover-title {
      color: $darkGray;
      h3 {
        color: $darkGray;
      }
    }
    .popover-content {
      font-size: 11px;
      max-height: 300px;
      overflow-x: hidden;
      overflow-y: auto;
      .item {
        margin-bottom: 10px;
      }
      h3 {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 0;
      }
      h4 {
        font-size: 11px;
        font-weight: bold;
      }
      label {
        font-weight: bold;
      }
    }
  }
}