.reg-mapper {
  ul.tree-structure {
    li ul li > .row-fluid,
    li.main > .row-fluid {
      &:hover {
       @include background-image(linear-gradient(left, $white, $lightGray, $white));
       border-color:darken($lightGray,10%);
      }
      a:hover {
        text-decoration:none;
      }
    }
  }
}

// temporary classes for marking selected items

ul.tree-structure li {
  [class^="grcicon-"] {
    &.slct {
      margin-top:7px;
      margin-left:4px;
      display:none;
    }
  }
  a.selected {
    color:$green;
    i.slct {
      display:inline-block;
    }
  }
}


