@media (min-width: 1600px) {

  .header-bar .menu li.screen {
    display:block;
  }

}

@media (max-width: 767px) {
  .header-bar {
    .menu {
      li.black-link {
        a {
          i{
            margin-right: 0;
          }
          span {
            display: none;
          }
        }
      }
    }
  }
  
  .header-content {
    .actions {
      li {
        margin-left: 10px;
        a {
          i{
            margin-right: 0;
          }
          span {
            display: none;
            &.caret {
              display: inline-block;
            }
          }
        }
      }
    }
    .row-fluid {
      [class*="span"] {
        display: block;
        float: left;
        width: 100%;
        min-height: 30px;
        margin-left: 2.127659574468085%;
        *margin-left: 2.074468085106383%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        &:first-child {
          margin-left: 0;
        }
      }
      .span12 {
        width: 100%;
        *width: 99.94680851063829%;
      }
      .span11 {
        width: 91.48936170212765%;
        *width: 91.43617021276594%;
      }
      .span10 {
        width: 82.97872340425532%;
        *width: 82.92553191489361%;
      }
      .span9 {
        width: 74.46808510638297%;
        *width: 74.41489361702126%;
      }
      .span8 {
        width: 65.95744680851064%;
        *width: 65.90425531914893%;
      }
      .span7 {
        width: 57.44680851063829%;
        *width: 57.39361702127659%;
      }
      .span6 {
        width: 48.93617021276595%;
        *width: 48.88297872340425%;
      }
      .span5 {
        width: 40.42553191489362%;
        *width: 40.37234042553192%;
      }
      .span4 {
        width: 31.914893617021278%;
        *width: 31.861702127659576%;
      }
      .span3 {
        width: 23.404255319148934%;
        *width: 23.351063829787233%;
      }
      .span2 {
        width: 14.893617021276595%;
        *width: 14.840425531914894%;
      }
      .span1 {
        width: 6.382978723404255%;
        *width: 6.329787234042553%;
      }
      .controls-row {
        [class*="span"] + [class*="span"] {
          margin-left: 2.127659574468085%;
        }
      }
    }
  }
  
  .widget {
    .header,
    .filter {
      .row-fluid {
        [class*="span"] {
          display: block;
          float: left;
          width: 100%;
          min-height: 30px;
          margin-left: 2.127659574468085%;
          *margin-left: 2.074468085106383%;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          &:first-child {
            margin-left: 0;
          }
        }
        .span12 {
          width: 100%;
          *width: 99.94680851063829%;
        }
        .span11 {
          width: 91.48936170212765%;
          *width: 91.43617021276594%;
        }
        .span10 {
          width: 82.97872340425532%;
          *width: 82.92553191489361%;
        }
        .span9 {
          width: 74.46808510638297%;
          *width: 74.41489361702126%;
        }
        .span8 {
          width: 65.95744680851064%;
          *width: 65.90425531914893%;
        }
        .span7 {
          width: 57.44680851063829%;
          *width: 57.39361702127659%;
        }
        .span6 {
          width: 48.93617021276595%;
          *width: 48.88297872340425%;
        }
        .span5 {
          width: 40.42553191489362%;
          *width: 40.37234042553192%;
        }
        .span4 {
          width: 31.914893617021278%;
          *width: 31.861702127659576%;
        }
        .span3 {
          width: 23.404255319148934%;
          *width: 23.351063829787233%;
        }
        .span2 {
          width: 14.893617021276595%;
          *width: 14.840425531914894%;
        }
        .span1 {
          width: 6.382978723404255%;
          *width: 6.329787234042553%;
        }
        .controls-row {
          [class*="span"] + [class*="span"] {
            margin-left: 2.127659574468085%;
          }
        }
      }
    }
  }
  .widget {
    .ui-resizable-handle {
      height:12px;
      border-top:1px solid darken($lightGray,5%);
      background-color: lighten($lightGray,5%);
      background-repeat:no-repeat;
      background-image: url("/images/grcicons/icons.png");
      @include background-size(296px 344px);
      background-position:50% -157px;
      @include opacity(0.8);
    }
  }
}