/*Required for bootstrap to not break firefox */
.row-fluid [class*="span"] {
  /* min-height:10px; /* This fixes something for Dan, but breaks modal input boxs for joe. Discuss! */
}

// Static columns for pages that should not have responsive design - ex. Reg Mapper
.row-static {
  margin:0 auto 0 auto;
  float:none;
  display:block;
  min-width: 1120px;
}

// Overwrite of Boostrap Modal backdrop opacity, keeping fade in but removing transition
.modal-backdrop,
.modal-backdrop.fade.in {
  opacity: 0.4;
  filter: alpha(opacity=40);
}

// bootstrap.css line 4194 overwriting, it would be better to completely remove them
.modal.fade {
  top: -25%;
  @include transition(opacity 0s linear, top 0s ease-out);
}

//bootstrap.css line 3030 overwriting, left/right padding two large at 18px
.nav-tabs > li > a,
.nav-pills > li > a {
  padding-right: 10px;
  padding-left: 10px;
  }

/* line 59, _forms.scss */
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"],
input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"],
input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  margin-bottom: 2px !important;
}

/* line 5, alerts.scss */
.alert {
  margin-bottom: 5px;
}
