$default-border-radius: 4px;

// SASS variables

$linkColor : #43c2c7;
$textColor: #666;
$failureBgndColor: #FFC8C8;
$failureColor: #B94A48;
$failureBorderColor: #B94A48;
$successBgndColor: #EAFFE6;
$borderDefault: #e1e1e1;
$borderDefaultHover: #3badb3;
$auditBgndColor:#c9f4f9;
$errorColor:#ee0000;
$font-family: 'PT Sans', Helvetica, Arial, Tahoma, Verdana, sans-serif;


// helper variables (it seems it is duplicated, but it is good to keep semantically correct var names)

$darkGray: #666;
$lightGray: #ccc;
$mediumGray: #999;
$lightestGray: #f3f3f3;
$white: #fff;
$black: #000;
$red: #ff0000;

// widgets

  // this colors affect all elements that define G or R or C - gradients, borders.
  // changes should be made only here

  $widgetBorder:1px solid $lightGray;
  $widgetInnerBorder: 1px solid $lightestGray;
  $bgndWidget: $white;
  $bgndDefault: $mediumGray;
  $bgndGovernance: #0a57bf;
  $bgndRisk: #d34827;
  $bgndCompliance: #008d00;

  $bgndProduct: #e6e0f6;
  $bgndSystem: #d5eff3;
  $bgndControl: #f4e4e0;

// SASS mixins

// placeholders

// Lighten placeholder text from bootstrap defaults
// These rules must be separate, see http://stackoverflow.com/questions/2610497/change-an-inputs-html5-placeholder-color-with-css

::-webkit-input-placeholder {
  color: $lightGray;
}

:-moz-placeholder {
  color: $lightGray;
}

// clearfix

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}



.progress .bar-success {
  background-color: #5eb95e;
  background-image: -moz-linear-gradient(top, #62c462, #57a957);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#57a957));
  background-image: -webkit-linear-gradient(top, #62c462, #57a957);
  background-image: -o-linear-gradient(top, #62c462, #57a957);
  background-image: linear-gradient(to bottom, #62c462, #57a957);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff57a957', GradientType=0);
}

.progress .bar-danger {
  background-color: #dd514c;
  background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#c43c35));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: linear-gradient(to bottom, #ee5f5b, #c43c35);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffc43c35', GradientType=0);
}

.progress .bar-warning {
  background-color: #faa732;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(to bottom, #fbb450, #f89406);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
}

