// defaults

  $default-border-radius: 4px;
  $gradientColor:linear-gradient(top, #ffffff, #eeeeee);

// variables

  $linkColor : #43c2c7;
  $textColor: #666;
  $failureBgndColor: #FFC8C8;
  $failureColor: #B94A48;
  $failureBorderColor: #B94A48;
  $successBgndColor: #EAFFE6;
  $borderDefault: #e1e1e1;
  $borderDark: #999;
  $borderDefaultHover: #3badb3;
  $auditBgndColor:#c9f4f9;
  $errorColor:#ee0000;
  $disabledTextColor:#aaa;

  //The first font is loaded from Google Web Fonts inside layouts/dashboard.haml
  //Titillium+Web'
  $font-family: Arial, Helvetica, Tahoma, Verdana, sans-serif;

  $darkGray: #666;
  $lightGray: #ccc;
  $mediumGray: #999;
  $lightestGray: #f3f3f3;
  $white: #fff;
  $black: #000;
  $red: #ff0000;
  $green:#5aa026;


// widgets

  // this colors affect all elements that define G or R or C - gradients, borders.
  // changes should be made only here

  $widgetBorder:1px solid $lightGray;
  $widgetInnerBorder: 1px solid $lightestGray;
  $bgndWidget: $white;
  $bgndDefault: $mediumGray;
  $bgndGovernance: #7A99C1;
  $bgndRisk: #d34827;
  $bgndCompliance: #008d00;
  $bgndProduct: #e6e0f6;
  $bgndSystem: #d5eff3;
  $bgndControl: #ece0fc;
  $bgndProcess: #cfebf9;

  $bgndError: #f9cfcf;


// SASS mixins

// placeholders

  // Lighten placeholder text from bootstrap defaults
  // These rules must be separate, see http://stackoverflow.com/questions/2610497/change-an-inputs-html5-placeholder-color-with-css

  ::-webkit-input-placeholder {
    color: $lightGray;
  }

  :-moz-placeholder {
    color: $lightGray;
  }

// clearfix

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

// one place to create and define whole 'slot' from one color definition

@mixin border-and-gradient($color) {
  @include background-image(linear-gradient(top, lighten($color, 1%), darken($color, 1%)));
  border:1px solid darken($color,5%);
  color:darken($color,50%);
}
