/* Redesigned Style Guide */

.bs-docs-sidenav {
  background-color: $white;
  @include border-radius();
  margin: 0;
  padding: 0;
  width: 220px;
  &.affix {
    position: fixed;
    top: 85px;
  }
  &.affix-bottom {
    bottom: 270px;
    position: absolute;
    top: auto;
  }
  li {
    a {
      border: 1px solid $sidenavBorder;
      display: block;
      margin: 0 0 -1px;
      padding: 8px 14px;
      &:hover {
        background: $sidenavHover;
        .icon-chevron-right {
          @include opacity(0.5);
        }
      }
    }
    &:first-child {
      a {
        @include border-radius(4px 4px 0 0);
      }
    }
    &:last-child {
      a {
        @include border-radius(0 0 4px 4px);
      }
    }
  }
  .active {
    a {
      border: 0 none;
      padding: 9px 15px;
      &:hover {
        .icon-chevron-right {
          @include opacity(1);
        }
      }
    }
    .icon-chevron-right {
      @include opacity(1);
    }
  }
  .icon-chevron-right {
    float: right;
    margin-right: -6px;
    margin-top: 2px;
    @include opacity(0.25);
  }
}

.styleguide-content {
  textarea {
    width: 80%;
    height: 150px;
    color: $black;
    font-size: 14px;
  }
  .header {
    h2 {
      width: 90%;
    }
  }
}

.real-example {
  margin-bottom: 20px;
  .btn {
    margin-bottom: 5px;
  }
}

.objecticons {
  td, th {
    padding:10px;
    margin:4px;
  }
  th {
    text-align:left;
  }
  td {
    border:1px solid $warmGray;
  }
}

.nesting-example {
  .row-fluid {
    text-align: center;
    [class*="span"] {
      background: $lightGray;
      padding: 10px 0;
      [class*="span"] {
        background: $widgetBorder;
        [class*="span"] {
          background: $gray;
        }
      }
    }
  }
}