.button-set {
  a.btn {
    font-size:13px;
    padding:0 0 0 0;
    line-height:28px;
    display:block;
    i {
    padding:0 3px 0 0;
        background-position:0px 5px;      
        height:28px;
    }
  }
}