.button-set {
    margin-bottom:4px;
  a.btn {
    font-size:13px;
    padding:0 0 0 0;
    line-height:28px;
    display:block;
    i {
      padding:0 3px 0 0;
      margin-top:7px;
    }
  }

  li.btn {
    margin-left: 0px;
    margin-right: 4px;
    margin-bottom: 4px;
  }
  li.btn a {
    font-size:13px;
    padding:0 0 0 0;
    line-height:28px;
    display:block;
    i {
    padding:0 3px 0 0;
        background-position:0px 5px;
        height:28px;
    }
  }
}
