.button-set {
  a.btn {
    text-align:left;
    font-size:13px;
    padding:0 0 0 0;
    line-height:28px;
    display:block;
    i {
    background-position:2px 5px;      
    height:28px;
    }
  }
}