/*
 *= require jqtree
 *= require jquery-ui
 *= require jquery.multiselect
 *= require jquery.multiselect.filter
 *= require jquery.qtip
 *= norequire scaffold
 *= require bootstrap
 *= require bootstrap-responsive
 *= require gcms
 */

/* LIST styles for the quick-list lists */

ul.items {
  li.item {
    border: 1px solid #eeeeee;
    border-radius: 2px;
    background-color: #bbddff;
    list-style: none;
    margin: 5px;
    padding: 5px;

    &:last-child {
      border-bottom: none;
    }
  }
}

/* TREE styles for the Section / Control trees on the Program page */

ul.slugtree {
  position: relative;
  padding-left: 0px;
  width: 80%;

  .collapsed {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .prefix {
    font-weight: bold;
    margin-right: 10px;
  }
  .expander {
    position: absolute;
    display: inline-block;
    right: -2%;
  }
  .content {
    background-color: #ccc;
    display: none;
  }
  .attached {
    position: absolute;
    display: inline-block;
    left: 102%;
    margin-top: -16px;
    width: 20%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    li {
      margin: 2px;
      background-color: #aaa;
      display: inline;
    }
  }

  ul {
    padding-left: 10px;
  }
}

li.selected, div.selected { background: #8888ff;}

.WidgetBox {
  .WidgetBoxHeading:after {
    clear:both;
    content: '';
    height: 0;
    display: block;
  }

  .WidgetBoxContent {
    overflow:auto;
    max-height: 500px;
  }
}

