/*
 *= require jquery-ui
 *= require bootstrap
 */

// old code that needs to be validated and fixed

@import "setup";
@import "gcms";

.flare {
  -webkit-transition: background-color 2s ease-out;
}

.flaretemp {
  background-color: yellow;
}

.tab-pane {
  overflow: auto;
}

.system-node a.system-slot {
  background: #bbb;
}

.WidgetBox .smallerWidgetBoxHeading {
  margin-bottom: -2px;
}

.opacity40 {
  opacity: .4;
}

#categorylist {
  select {
    width: 100%;
    height: 160px;
  }
}

.disabled {
  opacity: 0.25;
}

.field-failure {
  input, select, textarea {
    background-color: $failureBgndColor;
    border-color: $failureBorderColor;
  }
  label {
    color: $failureColor;
  }
}

.field-success {
  input, select, textarea {
    background-color: $successBgndColor;
  }
}

.member-failure {
  background-color: $failureBgndColor;
  border-color: $failureBorderColor;
}

.member-success {
  background-color: $successBgndColor;
}

.compact-rows {
  input, select, textarea {
    margin-bottom: 0px;
  }
}

.help-inline span {
  display: block;
}
