-content_for :widget_title do
  Old Links


%ul.nav.nav-tabs.nav-stacked
  %li
    %a{ :href => dashboard_index_path }
      %h3 Old Dashboard
      %a{ :href => evidence_index_path } Evidence
      %a{ :href => testing_index_path } Testing
      %a{ :href => '/testreport/top' } Test Reports

%ul.nav.nav-tabs.nav-stacked
  %li
    %a{ :href => biz_processes_path }
      %h3 Biz Processes
      %a{ :href => systems_biz_processes_path } System mappings
      %a{ :href => controls_biz_processes_path } Control mappings
  %li
    %a{ :href => sections_path }
      %h3 Sections
      %a{ :href => controls_sections_path } Control mappings
  %li
    %a{ :href => controls_path }
      %h3 Controls
      %a{ :href => sections_controls_path } Section mappings
      %a{ :href => biz_processes_controls_path } Biz process mappings
      %a{ :href => systems_controls_path } System mappings
      %a{ :href => controls_controls_path } Control mappings
      %a{ :href => evidence_descriptors_controls_path } Evidence descriptor mappings
  %li
    %a{ :href => systems_path }
      %h3 Systems
      %a{ :href => biz_processes_systems_path } Biz process mappings
      %a{ :href => controls_systems_path } Control mappings

