-content_for :widget_title do
  Risk

-content_for :widget_buttons do
  .filter
    .row-fluid
      .span10
        %input.ui-corner-all.widgetsearch.clear-value(type='text' placeholder='Search')
      .span2
        %a.btn.btn-add{ :href => new_flow_risk_path, :'data-toggle' => 'modal-ajax-form', :'data-modal-reset' => 'reset', :'data-form-target' => 'refresh', :'data-modal-class' => 'modal-wide' } 
          %i.grcicon-add
          %span.object-type Risk

-content_for :widget_help, 'risk'

-content_for :widget_id, 'risk_widget'

-quick_result_risk ||= nil
-prefix = quick_result_risk ? "qf" : "dash"

.tabbable.tabs-left{ :id => quick_result_risk ? nil : "quick_find_risk" }
  %ul.nav.nav-tabs
    %li.active=link_to '<i class="grcicon-risk-color"></i> <span class="text-risk">Risks</span> <span class="item-count"></span>'.html_safe, "##{prefix}_risks", :data => { :'tab-href' => flow_risks_path(:quick => true, :qr => quick_result_risk), :toggle => 'tab', :'new-href' => new_flow_risk_path }
    %li=link_to '<i class="grcicon-attribute-color"></i> <span class="text-risk">Attributes</span> <span class="item-count"></span>'.html_safe, "##{prefix}_risky_attributes", :data => { :'tab-href' => flow_risky_attributes_path(:quick => true, :qr => quick_result_risk), :toggle => 'tab', :'new-href' => new_flow_risky_attribute_path }

  .tab-content
    .tab-pane{ :id => "#{prefix}_risks" }
    .tab-pane{ :id => "#{prefix}_risky_attributes" }
