-@title = "Dashboard"
 
-content_for :page_help, 'dashboard'

-content_for :header do
  %ul.breadcrumbs
    %li
      &nbsp;
  
  %h1.dashboard-title
    %i.grciconlarge-dashboard{:rel => "tooltip", :'data-placement'=>"bottom", :title => 'Dashboard'}
    Dashboard

-content_for :subheader_extras do
  %ul.actions.pull-right
    %li.btn-group
      %a.dropdown-toggle{:href => '#', :'data-toggle' => 'dropdown'}
        %i.grcicon-add-new-black
        Widget
        %span.caret
      %ul.dropdown-menu
        %li.title Governance
        %li
          %a{ :href => '#'}
            Programs
        %li
          %a{ :href => '#'}
            Regulations
        %li
          %a{ :href => '#'}
            Policies
        %li
          %a{ :href => '#'}
            Contracts
        %li.divider
        %li.title Business
        %li
          %a{ :href => '#'}
            Org Groups
        %li
          %a{ :href => '#'}
            Projects
        %li
          %a{ :href => '#'}
            Facilities
        %li
          %a{ :href => '#'}
            Products
        %li
          %a{ :href => '#'}
            Data Assets
        %li
          %a{ :href => '#'}
            Markets
        %li.divider
        %li.title Compliance
        %li
          %a{ :href => '#'}
            Processes
        %li
          %a{ :href => '#'}
            Systems
        %li
          %a{ :href => '#'}
            Controls
        %li.divider
        %li.title Risk Objects
        %li
          %a{ :href => '#'}
            Risky Attributes
        %li
          %a{ :href => '#'}
            Risks

.container-fluid
  #columns.row-fluid{ :'data-resize' => "true" }
    #left_column.span6.widget-area
      =render :partial => 'programs/list',
              :layout => 'layouts/widget_box',
              :locals => { :programs => @programs }
              
      %section.widget-add-placeholder
        .btn-group.dropup
          %a.dropdown-toggle{:href => '#', :'data-toggle' => 'dropdown'}
            %i.grcicon-add-new-black
            Add Widget
            %i.grcicon-carot
          %ul.dropdown-menu
            %li.title Governance
            %li
              %a{ :href => '#'}
                Programs
            %li
              %a{ :href => '#'}
                Regulations
            %li
              %a{ :href => '#'}
                Policies
            %li
              %a{ :href => '#'}
                Contracts
            %li.divider
            %li.title Business
            %li
              %a{ :href => '#'}
                Org Groups
            %li
              %a{ :href => '#'}
                Projects
            %li
              %a{ :href => '#'}
                Facilities
            %li
              %a{ :href => '#'}
                Products
            %li
              %a{ :href => '#'}
                Data Assets
            %li
              %a{ :href => '#'}
                Markets
            %li.divider
            %li.title Compliance
            %li
              %a{ :href => '#'}
                Processes
            %li
              %a{ :href => '#'}
                Systems
            %li
              %a{ :href => '#'}
                Controls
            %li.divider
            %li.title Risk Objects
            %li
              %a{ :href => '#'}
                Risky Attributes
            %li
              %a{ :href => '#'}
                Risks
              
    #right_column.span6.widget-area
      =render :partial => 'quick_find',
            :layout => 'layouts/widget_box'
      -if has_feature? :BETA
        =render :partial => 'design/templates/riskWidgetGap'
        =render :partial => 'design/templates/riskWidgetRisk'
          
      %section.widget-add-placeholder
        .btn-group.dropup
          %a.dropdown-toggle{:href => '#', :'data-toggle' => 'dropdown'}
            %i.grcicon-add-new-black
            Add Widget
            %i.grcicon-carot
          %ul.dropdown-menu
            %li.title Governance
            %li
              %a{ :href => '#'}
                Programs
            %li
              %a{ :href => '#'}
                Regulations
            %li
              %a{ :href => '#'}
                Policies
            %li
              %a{ :href => '#'}
                Contracts
            %li.divider
            %li.title Business
            %li
              %a{ :href => '#'}
                Org Groups
            %li
              %a{ :href => '#'}
                Projects
            %li
              %a{ :href => '#'}
                Facilities
            %li
              %a{ :href => '#'}
                Products
            %li
              %a{ :href => '#'}
                Data Assets
            %li
              %a{ :href => '#'}
                Markets
            %li.divider
            %li.title Compliance
            %li
              %a{ :href => '#'}
                Processes
            %li
              %a{ :href => '#'}
                Systems
            %li
              %a{ :href => '#'}
                Controls
            %li.divider
            %li.title Risk Objects
            %li
              %a{ :href => '#'}
                Risky Attributes
            %li
              %a{ :href => '#'}
                Risks
        
    -if has_feature? :BETA
      .row-fluid
        .span4
          =render :partial => 'design/templates/govWidgetCot'
          =render :partial => 'design/templates/govWidgetProducts'
