-@title = "Dashboard"
 
-content_for :page_help, 'dashboard'

-content_for :header do
  %ul.breadcrumbs
    &nbsp;
  
  %h1.dashboard-title
    %i.grciconlarge-dashboard
    Dashboard

.container-fluid
  #columns.row-fluid{ :'data-resize' => "true" }
    #left_column.span6.widget-area
      =render :partial => 'governance',
              :layout => 'layouts/widget_box',
              :locals => { :programs => @programs, :widget_class => "governance widget-tabs" }
              
      =render :partial => 'business_objects',
              :layout => 'layouts/widget_box',
              :locals => { :widget_class => "business widget-tabs" }              
              
      =render :partial => 'shared/add_widget_section'

              
    #right_column.span6.widget-area
      =render :partial => 'programs',
              :layout => 'layouts/widget_box',
              :locals => { :widget_class => "programs widget-tabs" }
      
      - if current_user.can_manage_risk?        
        =render :partial => 'risk',
                :layout => 'layouts/widget_box',
                :locals => { :programs => @programs, :widget_class => "risk widget-tabs" }
            
          
      =render :partial => 'shared/add_widget_section'
