-@title = "Dashboard"
 
-content_for :page_help, 'dashboard'

-content_for :header do
  %ul.breadcrumbs
    %li
      &nbsp;
  
  %h1.dashboard-title
    %i.grciconlarge-dashboard
    Dashboard

.container-fluid
  #columns.row-fluid{ :'data-resize' => "true" }
    #left_column.span6.widget-area
      =render :partial => 'governance',
              :layout => 'layouts/widget_box',
              :locals => { :programs => @programs, :widget_class => "governance widget-tabs" }
              
      =render :partial => 'risk',
              :layout => 'layouts/widget_box',
              :locals => { :programs => @programs, :widget_class => "risk widget-tabs" }
              
              
      %section.widget-add-placeholder
        .btn-group.dropup
          %a.dropdown-toggle.btn{:href => '#', :'data-toggle' => 'dropdown'}
            %i.grcicon-add-new-black
            Add Widget
            %i.grcicon-carot
          %ul.dropdown-menu
            %li.title Governance Widgets
            %li.program
              %a{ :href => 'javascript://'}
                Programs
            %li.regulation
              %a{ :href => 'javascript://'}
                Regulations
            %li.policy
              %a{ :href => 'javascript://'}
                Policies
            %li.contract
              %a{ :href => 'javascript://'}
                Contracts
            %li.divider
            %li.title Business Widgets
            %li.org_group
              %a{ :href => 'javascript://'}
                Org Groups
            %li.project
              %a{ :href => 'javascript://'}
                Projects
            %li.facility
              %a{ :href => 'javascript://'}
                Facilities
            %li.product
              %a{ :href => 'javascript://'}
                Products
            %li.data_asset
              %a{ :href => 'javascript://'}
                Data Assets
            %li.market
              %a{ :href => 'javascript://'}
                Markets
            %li.divider
            %li.title Compliance Widgets
            %li.process
              %a{ :href => 'javascript://'}
                Processes
            %li.system
              %a{ :href => 'javascript://'}
                Systems
            %li.control
              %a{ :href => 'javascript://'}
                Controls
            %li.divider
            %li.title Risk Widgets
            %li.risky_attribute
              %a{ :href => 'javascript://'}
                Risky Attributes
            %li.risk
              %a{ :href => 'javascript://'}
                Risks
              
    #right_column.span6.widget-area
      =render :partial => 'compliance',
              :layout => 'layouts/widget_box',
              :locals => { :widget_class => "compliance widget-tabs" }
              
      =render :partial => 'business_objects',
              :layout => 'layouts/widget_box',
              :locals => { :widget_class => "business widget-tabs" }
            
      -if has_feature? :BETA
        =render :partial => 'design/templates/riskWidgetGap'
        =render :partial => 'design/templates/riskWidgetRisk'
          
      %section.widget-add-placeholder
        .btn-group.dropup
          %a.dropdown-toggle.btn{:href => '#', :'data-toggle' => 'dropdown'}
            %i.grcicon-add-new-black
            Add Widget
            %i.grcicon-carot
          %ul.dropdown-menu
            %li.title Governance Widgets
            %li.program
              %a{ :href => 'javascript://'}
                Programs
            %li.regulation
              %a{ :href => 'javascript://'}
                Regulations
            %li.policy
              %a{ :href => 'javascript://'}
                Policies
            %li.contract
              %a{ :href => 'javascript://'}
                Contracts
            %li.divider
            %li.title Business Widgets
            %li.org_group
              %a{ :href => 'javascript://'}
                Org Groups
            %li.project
              %a{ :href => 'javascript://'}
                Projects
            %li.facility
              %a{ :href => 'javascript://'}
                Facilities
            %li.product
              %a{ :href => 'javascript://'}
                Products
            %li.data_asset
              %a{ :href => 'javascript://'}
                Data Assets
            %li.market
              %a{ :href => 'javascript://'}
                Markets
            %li.divider
            %li.title Compliance Widgets
            %li.process
              %a{ :href => 'javascript://'}
                Processes
            %li.system
              %a{ :href => 'javascript://'}
                Systems
            %li.control
              %a{ :href => 'javascript://'}
                Controls
            %li.divider
            %li.title Risk Widgets
            %li.risky_attribute
              %a{ :href => 'javascript://'}
                Risky Attributes
            %li.risk
              %a{ :href => 'javascript://'}
                Risks
        
    -if has_feature? :BETA
      .row-fluid
        .span4
          =render :partial => 'design/templates/govWidgetCot'
          =render :partial => 'design/templates/govWidgetProducts'
