-@title = "Dashboard"

-content_for :page_help, 'dashboard'

-content_for :header_buttons do
  -if current_user.has_role?(:admin) || current_user.has_role?(:superuser)
    .btn-group
      %a.btn{ :href => admin_dash_path } Admin

-content_for :header do
  %ol#breadcrumb
    %li
      DASHBOARD
  .location#pageTitle Dashboard

.row-static
  .singleColumn
    .singleWide.fullHeight
      =render :partial => 'programs/list',
              :layout => 'layouts/widget_box',
              :locals => { :programs => @programs }
  .singleColumn
    .singleWide.halfHeight
      =render :partial => 'quick/find',
            :layout => 'layouts/widget_box'
    .singleWide.halfHeight
      =render :partial => 'programs_dash/old_links',
            :layout => 'layouts/widget_box'

-content_for :subheader_extras do
  .btn-group.closed.fltrt
    %a.btn.btn-blue.dropdown-toggle{ :'data-toggle' => 'dropdown' }
      New Business Object
      %span.caret
    %ul.dropdown-menu
      %li.divider
      %li.dropdown-menulabel.txtindent1 Create New ...
      %li
        %a{ :href => new_flow_program_path, :'data-toggle' => 'modal-ajax-form', :'data-modal-reset' => 'reset' }
          Program
      %li
        %a{ :'data-toggle' => 'modal', :href => '#comingsoon-modal' }
          Product
      %li
        %a{ :href => new_flow_system_path, :'data-toggle' => 'modal-ajax-form', :'data-modal-reset' => 'reset' }
          System
      %li
        %a{ :href => new_flow_control_path, :'data-toggle' => 'modal-ajax-form', :'data-modal-reset' => 'reset' }
          Control
