-content_for :header_buttons do
  -if current_user.has_role?(:admin) || current_user.has_role?(:superuser)
    .btn-group
      %a.btn{ :href => admin_dash_path } Admin


-content_for :header do
  %h5.highlighted
    DASHBOARD
  %h1.location Dashboard

.row
  .span8
    =render :partial => 'programs/list',
            :layout => 'layouts/widget_box',
            :locals => { :programs => @programs }
  .span4
    =render :partial => 'quick/find',
            :layout => 'layouts/widget_box'
    =render :partial => 'programs_dash/old_links',
            :layout => 'layouts/widget_box'

-content_for :subheader_extras do
  .btn-group.closed.fltrt
    %a.btn.btn-blue.dropdown-toggle{ :'data-toggle' => 'dropdown' }
      New Interface Widget
      %span.caret
    %ul.dropdown-menu
      %li.divider
      %li.dropdown-menulabel.txtindent1 Create New ...
      %li
        %a{ :'data-toggle' => 'modal-form', :href => '#create-program-modal' }
          Search

  .btn-group.closed.fltrt
    %a.btn.btn-blue.dropdown-toggle{ :'data-toggle' => 'dropdown' }
      New Business Object
      %span.caret
    %ul.dropdown-menu
      %li.divider
      %li.dropdown-menulabel.txtindent1 Create New ...
      %li
        %a{ :'data-toggle' => 'modal-form', :href => '#create-program-modal' }
          Program
      %li
        %a{ :'data-toggle' => 'modal-form', :href => '#create-product-modal' }
          Product
      %li
        %a{ :'data-toggle' => 'modal-form', :href => '#create-system-modal' }
          System
      %li
        %a{ :'data-toggle' => 'modal-form', :href => '#create-control-modal' }
          Control

#create-program-modal.modal.hide.fade
  -program = Program.new
  =form_for program, :url => flow_programs_path, :method => :post, :remote => true, :html => {:class => :form} do |f|
    .modal-header
      %button.close{"data-dismiss" => "modal"} x
      %h1 Create a new program
    .modal-body
      =render :partial => 'programs/form',
              :locals  => { :f => f }
    .modal-footer
      =f.submit pat(:save)
      =f.submit pat(:cancel), :type => 'reset'

#create-system-modal.modal.hide.fade
  -system = System.new
  =form_for system, :url => flow_systems_path, :method => :post, :remote => true, :html => {:class => :form} do |f|
    .modal-header
      %button.close{"data-dismiss" => "modal"} x
      %h1 Create a new system
    .modal-body
      =render :partial => 'systems/form',
              :locals  => { :f => f }
    .modal-footer
      =f.submit pat(:save)
      =f.submit pat(:cancel), :type => 'reset'

#create-control-modal.modal.hide.fade
  -control = Control.new
  =form_for control, :url => flow_controls_path, :method => :post, :remote => true, :html => {:class => :form} do |f|
    .modal-header
      %button.close{"data-dismiss" => "modal"} x
      %h1 Create a new control
    .modal-body
      =render :partial => 'controls/form',
              :locals  => { :f => f }
    .modal-footer
      =f.submit pat(:save)
      =f.submit pat(:cancel), :type => 'reset'
