-content_for :header do
  %h5.highlighted
    DASHBOARD
    %span.divider /
    PROGRAMS
  %h1.location Programs

.row
  .span8
    =render :partial => 'programs/list',
            :layout => 'layouts/widget_box',
            :locals => { :programs => @programs }
  .span4
    =render :partial => 'quick/find',
            :layout => 'layouts/widget_box'
    =render :partial => 'programs_dash/old_links',
            :layout => 'layouts/widget_box'

