-@title = "Dashboard"

-content_for :page_help, 'dashboard'

-content_for :header_buttons do
  -if current_user.has_role?(:superuser)
    .btn-group
      %a.btn{ :href => admin_dash_path } Admin

-content_for :header do
  %ol#breadcrumb
    %li
      DASHBOARD
  .location#pageTitle Dashboard

.row-static
  .singleColumn
    .singleWide.fullHeight
      =render :partial => 'programs/list',
              :layout => 'layouts/widget_box',
              :locals => { :programs => @programs }
  .singleColumn
    .singleWide.halfHeight
      =render :partial => 'quick/find',
            :layout => 'layouts/widget_box'
      -if has_feature? :BETA
        =render :partial => 'design/templates/riskWidgetGap'
        =render :partial => 'design/templates/riskWidgetRisk'
  .singleColumn
    .btn-group.closed
      %a.span2.btn.btn-warning.dropdown-toggle{ :'data-toggle' => 'dropdown' }
        %i.gcmsicon-import-white
        Im/Export
        %span.caret
      %ul.dropdown-menu
        %li.divider
        %li
          %a{ :href => import_flow_systems_path }
            Import Systems
        %li.divider
        %li
          %a{ :href => export_flow_systems_path(:format => :html), :'data-toggle' => 'modal-ajax' }
            Export Systems
  .singleColumn
    -if has_feature? :BETA
      .row-static
        .singleColumn
          =render :partial => 'design/templates/govWidgetCot'
          =render :partial => 'design/templates/govWidgetProducts'
-content_for :subheader_extras do
  .btn-group.closed.fltrt
    %a.btn.btn-blue.dropdown-toggle{ :'data-toggle' => 'dropdown' }
      New Business Object
      %span.caret
    %ul.dropdown-menu
      %li.divider
      %li.dropdown-menulabel.txtindent1 Create New ...
      %li
        %a{ :href => new_flow_program_path, :'data-toggle' => 'modal-ajax-form', :'data-modal-reset' => 'reset', :'data-form-target' => 'redirect', :'data-modal-class' => 'modal-wide' }
          Program or Policy
      %li
        %a{ :href => new_flow_risky_attribute_path, :'data-toggle' => 'modal-ajax-form', :'data-modal-reset' => 'reset', :'data-form-target' => 'redirect', :'data-modal-class' => 'modal-wide' }
          Risky Attribute
      %li
        %a{ :href => '#comingsoon-modal', :'data-toggle' => 'modal', :'data-modal-reset' => 'reset', :'data-form-target' => 'redirect', :'data-modal-class' => 'modal-wide' }
          Risk
      %li
        %a{ :href => new_flow_control_path, :'data-toggle' => 'modal-ajax-form', :'data-modal-reset' => 'reset', :'data-form-target' => 'redirect', :'data-modal-class' => 'modal-wide' }
          Control
      %li.divider
      %li
        %a{ :href => new_flow_system_path(:'system[is_biz_process]' => 1), :'data-toggle' => 'modal-ajax-form', :'data-modal-reset' => 'reset', :'data-form-target' => 'redirect', :'data-modal-class' => 'modal-wide' }
          Business Process
      %li
        %a{ :href => new_flow_system_path, :'data-toggle' => 'modal-ajax-form', :'data-modal-reset' => 'reset', :'data-form-target' => 'redirect', :'data-modal-class' => 'modal-wide' }
          System
      %li.divider
      %li
        %a{ :href => new_flow_org_group_path, :'data-toggle' => 'modal-ajax-form', :'data-modal-reset' => 'reset', :'data-form-target' => 'redirect', :'data-modal-class' => 'modal-wide' }
          Org Group
      %li
        %a{ :href => new_flow_product_path, :'data-toggle' => 'modal-ajax-form', :'data-modal-reset' => 'reset', :'data-form-target' => 'redirect', :'data-modal-class' => 'modal-wide' }
          Product
      %li
        %a{ :href => '#comingsoon-modal', :'data-toggle' => 'modal', :'data-modal-reset' => 'reset', :'data-form-target' => 'redirect', :'data-modal-class' => 'modal-wide' }
          Project
      %li
        %a{ :href => new_flow_location_path, :'data-toggle' => 'modal-ajax-form', :'data-modal-reset' => 'reset', :'data-form-target' => 'redirect', :'data-modal-class' => 'modal-wide' }
          Facility
      %li
        %a{ :href => new_flow_market_path, :'data-toggle' => 'modal-ajax-form', :'data-modal-reset' => 'reset', :'data-form-target' => 'redirect', :'data-modal-class' => 'modal-wide' }
          Market
      %li
        %a{ :href => '#comingsoon-modal', :'data-toggle' => 'modal', :'data-modal-reset' => 'reset', :'data-form-target' => 'redirect', :'data-modal-class' => 'modal-wide' }
          Data Asset

