-model_name = controller_name.singularize
-model_title = controller_name.singularize.titleize
-instance = instance_variable_get("@" + model_name)
-content_for :widget_title do
  #{model_name.pluralize.titleize}

-content_for :widget_help, "#{model_name}_main"

-content_for :widget_id, "#{model_name}_main_widget"

-#content_for :widget_buttons do
  %input.ui-corner-all.widgetsearch{:placeholder => "Search", :type => "text"}/

