-model_name = controller_name.singularize
-model_title = controller_name.singularize.titleize
-instances = instance_variable_get('@' + model_name.pluralize)
-quick_result ||= nil

-if instances.empty?
  .no-result.object-no-result
    No results found
-else
  %ul.nav.nav-tabs.tree-structure.simple.single-row-tabs
    -instances.each do |instance|
      -instance_path = self.send("flow_#{model_name}_path", instance)
      -instance_tooltip_path = self.send("tooltip_flow_#{model_name}_path", instance)
      -if quick_result
        =render 'base_objects/quick_result', { :item => instance }
      -else
        %li
          %a{ :href => instance_path, :'data-popover-href' => instance_tooltip_path, :'data-popover-trigger' => 'sticky-hover' }
            .row-fluid
              .span12
                .item-identifier
                  -# placeholder for object icons
                  -#.grcobject.compliance
                    &nbsp;
                  %span.key
                    =instance.slug
                  %span.name
                    =instance.title
