-# locals: object
-all_object_categorizations = object.categorizations.all

%h3.toggle{"data-target" => "#categoryListCollapse", "data-toggle" => "collapse"}
  .expander
  Categories
  %span="(#{all_object_categorizations.count})" unless all_object_categorizations.count.zero?
  %a.widgetbtn.pull-right.juke-left{:href => list_edit_flow_categorizations_path(:object_type => object.class.name, :object_id => object.id, :scope_id => Control::CATEGORY_TYPE_ID), :'data-toggle' => 'modal-ajax-relationship-selector', :'data-modal-reset' => 'reset', :'data-list-target' => '#categoryList', :'data-modal-class' => 'modal-wide' }
    %i.grcicon-link

.collapse#categoryListCollapse
  .bootstrap-collapse-bugfix

  %script#category_list_item{ :type => 'text/html', :'data-member' => 'categorization' }
    %li.controlSlot{ :'data-id' => '<%= category.id %>' }
      %span.controls-group <%= category.parent_name %>
      %br
      %span.controls-subgroup <%= category.name || '&nbsp;' %>

  %ul#categoryList{ :'data-template-id' => 'category_list_item' }
    -all_object_categorizations.each do |object_item|
      -item = object_item.category
      %li.controlSlot{ :'data-id' => item.id }
        %span.controls-group=item.parent_name
        %br
        %span.controls-subgroup=item.name || '&nbsp;'.html_safe
