-if @root_categories.empty?
  .no-results
    No results found
-else
  .action-items.action-below
    %a{ :href => export_flow_categories_path(:format => :csv) }
      %i.grcicon-export
      Export
  %ul.tree
    -@root_categories.sort_by(&:display_name).each do |root_category|
      %li.main
        .item-identifier
          .item-title
            .row-fluid
              .span12
                .showhide
                %span.addition-info
                  =root_category.display_name
          .item-actions
            %a.btn.btn-mini{ :'data-form-target' => "refresh", :'data-delete-target' => "refresh", :'data-modal-reset' => "reset", :'data-toggle' => "modal-ajax-form", :href => edit_flow_category_path(root_category) }
              %i.grcicon-edit-grey
              
        .item-content
          %ul.elements
            -root_category.descendants.sort_by(&:display_name).each do |category|
              %li
                .item-identifier
                  .item-title
                    .row-fluid
                      .span12
                        %span.addition-info
                          =category.display_name
                  .item-actions
                    %a.btn.btn-mini{ :'data-form-target' => "refresh", :'data-delete-target' => "refresh", :'data-modal-reset' => "reset", :'data-toggle' => "modal-ajax-form", :href => edit_flow_category_path(category) }
                      %i.grcicon-edit-grey
      -#-root_category.descendants.sort_by(&:display_name).each do |category|
        -# TODO: Predrag said to use inline style for now. Ref. story: #40581877
        %li{:style => "margin-left:15px"}
          %a.widgetbtn.fltrt{ :'data-form-target' => "refresh", :'data-delete-target' => "refresh", :'data-modal-reset' => "reset", :'data-toggle' => "modal-ajax-form", :href => edit_flow_category_path(category) }
            %i.grcicon-edit-grey
          =link_to '#' do
            =category.display_name
