=form_for @category, :url => flow_category_path(@category), :method => :put, :remote => true do |f|
  =render :partial => 'form',
          :layout  => 'layouts/form_modal',
          :locals  => { :f => f }
