=form_for @category, :url => flow_categories_path, :method => :post, :remote => true do |f|
  =render :partial => 'form',
          :layout  => 'layouts/form_modal',
          :locals  => { :f => f }
