-content_for :modal_title do
  -if f.object.new_record?
    New Auditable Population
  -else
    Edit Auditable Population

-if !f.object.new_record?
  -content_for :modal_delete_path, delete_flow_transaction_path(f.object)

=f.hidden_field :system_id

.row-fluid

  .span12{ :class => error_class(f, :title) }
    =f.label :title
    =f.text_field :title, :class => 'span12', :placeholder => 'Title'

  -#.span5
    %label Approximate Record Count
    %input.span12{ :type => 'text', :placeholder => 'Enter approximate record count' }

  -#.span2
    %label Status
    %select.span12.forminputstatus
      %option draft
      %option waiting for approval      
      %option approved

.row-fluid
  .span12{ :class => error_class(f, :description) }
    =f.label "Description of Auditable Population Set"
    .wysiwyg-area
      =f.text_area :description, :class => 'span12 wysihtml5 double', :placeholder => 'Enter a description for this population set. These is a set of records (often transactions) which an auditor might review during an audit.'

=render :partial => "shared/wysihtml5"
