<ul class="tree-structure simple">
  {{#list}}
    <li {{data 'model'}} data-model="true" class="control">
      <div class="item-main" content_id="{{content_id}}">
        {{{render show}}}
      </div>
    </li>
  {{/list}}
</ul>
