<ul class="tree-structure slugtree items">
  {{#this}}
    <li {{data 'model'}} data-model="true" class="main">
      <div class="row-fluid" content_id="{{content_id}}">
        {{> /assets/controls/show.mustache}}
      </div>
    </li>
  {{/this}}
</ul>
