<ul class="tree-structure slugtree">
  {{#list}}
    <li {{data 'model'}} data-model="true" class="main">
      <div class="row-fluid" content_id="{{content_id}}">
        {{> /assets/controls/show_mapping.mustache}}
      </div>
    </li>
  {{/list}}
</ul>
