  <div class="content">
  	{{#model}}
    <div>
      <span class="title">
        <strong>{{title}}</strong>
      </span>
      <span class="code">
        {{prefix}} {{slug}}
      </span>
      <div class="rtf">
        {{{with_line_breaks description}}}
      </div>
    </div>
    {{/model}}
    {{^model}}
    	Nothing selected
    {{/model}}
  </div>
