<div class="item-title">
  <div class="row-fluid">     
  <div class="span11">
    <a href="javascript://" class="oneline">
      <span class="title">{{title}}</span>           
      <span class="code">{{slug}}</span>
    </a>       
  </div>
  <div class="span1 actions">
    <div class="pull-right">
      <!--
      <a class="widgetbtn btn btn-mini edit-control" data-modal-class="modal-wide" data-toggle="modal-ajax-listeditform" href="/controls/{{id}}/edit">             
        <i class="grcicon-edit"></i>           
      </a>
      -->           
      <input type="checkbox" class="map-control" name="control[{{id}}]" />
    </div>       
  </div>     

