<div class="span12">
	{{#withclass 'selected:selected =type span12 item slot regulationslot selector collapsed'}}
	<a href="javascript://">
		<strong class="prefix">{{prefix}} {{slug}}</strong>
		{{title}}
		<i class="grcicon-ok slct"></i>
		{{#unless title}} {{description}} {{/unless}}
	</a>
	{{/withclass}}
</div>
