  <div class="content">
  	{{#model}}
    <div>
      <strong class="prefix">
        {{prefix}} {{slug}}
      </strong>
      {{title}}
      <br>
      <div class="rtf">
        {{{with_line_breaks description}}}
      </div>
    </div>
    {{/model}}
    {{^model}}
    	Nothing selected
    {{/model}}
  </div>
