<div class="item-main">
  <div class="item-title">
    <div class="row-fluid">
      <div class="span11">
        <div class="oneline expand-on-hover">
          <span class="title">
            {{slug}}          
          </span>
          <span class="code">
            {{prefix}}
          </span>
        </div>
        <div class="description">
          <div class="rtf">
            {{{with_line_breaks description}}}
          </div>
        </div>
      </div>
    </div>
    <div class="item-actions">
      <a class="btn btn-mini pull-right unmapbtn" data-type="{{type}}" data-id="{{id}}" href="javascript://" rel="tooltip" title="Unmap">
        <i class="grcicon-remove"></i>
      </a>
    </div>
  </div>
</div>
