<div class="span12">
	{{#withclass 'selected:selected =type span12 item slot regulationslot selector collapsed oneline'}}
	<a href="javascript://">
		<i class="grcicon-ok slct"></i>
		<span class="title">
		  {{firstnonempty title description_inline}}
		</span>
		<span class="code">{{prefix}} {{slug}}</span>
	</a>
	{{/withclass}}
</div>
