  <div class="content">
  	{{#model}}
    <div>
      <strong class="prefix">
        {{prefix}} {{slug}}
      </strong>
      {{title}}
    </div>
    {{/model}}
    {{^model}}
    	Nothing selected
    {{/model}}
  </div>
