.widget-toolbar
  .row-fluid
    .span2
      %a.span12.btn.btn-warning{"data-toggle" => "modal", :href => "#comingsoonModal"}
        New
    .span5
      %a.span12.btn.btn-warning{"data-toggle" => "modal", :href => "#comingsoonModal"}
        Request Audit
    .span5
      %a.span12.btn.btn-warning{"data-toggle" => "modal", :href => "#comingsoonModal"}
        Relationship Map
