-content_for :widget_title do
  Impact / Scope

-content_for :widget_help, 'product_impact'
#impactScopeInfo.open
  /Button Filters
  .button-set
    .row-fluid
      .span4
        .span12.btn{:href => ""}
          Programs
      .span4
        .span12.btn{:href => ""}
          -
      .span4
        .span12.btn{:href => ""}
  .button-set
    .row-fluid
      .span4
        .span12.btn{:href => ""}
      .span4
        .span12.btn{:href => ""}
          -
      .span4
        .span12.btn{:href => ""}
  %hr.hr-widget
  / TABS
  .row-fluid
    .span12
      %h4
        Applicable Regulations
        %a.btn.btn-blue.addbtn.fltrt Edit List
  .row-fluid
    .span12.audit
      .subtitle Regulations or programs that are directly applicable to this program.
