-content_for :widget_title do
  Product Info

-content_for :widget_help, 'product_info'

-content_for :widget_id, 'product_info_widget'

%ul.info-list
  %li.float-element
    %label
      Code
    %span
      %strong=product.slug
  %li.float-element
    %label
      Title
    %span
      %strong=product.title
  -if product.type
    %li.float-element
      %label
        Type
      %span
        =product.type.title
  %li
    %label
      Description
    -if product.description != ""
      =display_as_html product.description
    -else
      .rtf
        %p.no-data no description available
  -if product.url.present?
    %li.float-element
      %label
        Direct Link
      %span
        =link_to(product.url, absolute_url(product.url), :target => "_blank", :class => "inner-element")
  -if product.start_date
    %li.float-element
      %label
        Effective Date
      %span
        =product.start_date.strftime("%m/%d/%y")
  -if product.stop_date
    %li.float-element
      %label
        Stop Date
      %span
        =product.stop_date.strftime("%m/%d/%y")

%section.footer
  .row-fluid
    .span6
      %p.footer-left
        Created: #{product.created_at.strftime("%m/%d/%y")}
