-content_for :widget_title do
  Product Information

-content_for :widget_help, 'product_info'

-content_for :widget_id, 'product_info_widget'

.information
  -if has_feature? :BETA
    .well
      %label
        .pull-right
          %span.statustextgreen 85
          %span /
          %span.statustextyellow 5
          %span /
          %span.statustextred 10
        Status
      .progress.progress-striped.active
        .bar.progressbar-success{"data-percentage" => "85", :style => "float: left; width: 0%; "}
        .bar.progressbar-danger{"data-percentage" => "10", :style => "float: right; width: 0%; "}
        .bar.progressbar-warning{"data-percentage" => "5", :style => "float: right; width: 0%; "}

%ul.info-list
  %li.float-element
    %label
      Code
    %span
      =product.slug
  %li.float-element
    %label
      Type
    %span
      =product.type && product.type.title
  %li.float-element
    %label
      Full Title
    %span
      =product.title
  %li
    %label
      Description
    %span
      =display_as_html product.description
  %li.float-element
    %label
      Direct Link
    %span
      =link_to(product.url,product.url,:target => "_blank",:class => "inner-element")
  %li.float-element
    %label
      Effective Date
    %span
      =product.start_date && product.start_date.strftime("%m/%d/%y")
  %li.float-element
    %label
      Stop Date
    %span
      =product.stop_date && product.stop_date.strftime("%m/%d/%y")
      

%ul.tree
  %li.category
    =render :partial => 'documents/object_list',
            :locals  => { :object => product }
  %li.category
    =render :partial => 'people/object_list',
            :locals  => { :object => product }

%section.footer
  .row-fluid
    .span6
      %p.footer-left
        Created: #{product.created_at.strftime("%m/%d/%y")}
    .span6
      %p.footer-right
        Updated: #{product.updated_at.strftime("%m/%d/%y")}
