-content_for :tooltip_title do
  %h3 Product Information

=product.title
\|
=product.slug

%h3 Description

.item
  =product.description

.item
  Created:
  =display_time(product.created_at)
.item
  Updated:
  =display_time(product.updated_at)
