.container-fluid
  .row-fluid
    .span4
    .span4
      %section#LoginBox.widget
        %section.header
          %h2
            Login to Google GRC
        %section.content
          .flash!=[:error, :warning, :notice].map { |type| content_tag(:div, flash[type], :class => "message #{type}") if flash[type] }.join
  
          =form_for :user_session, :url => user_sessions_create_path, :html => { :class => :form } do |f|
            .row-fluid
              .span12
                =f.label :email
                =f.text_field :email, :class => "input-block-level"
            .row-fluid
              .span12
                =f.label :password
                =f.password_field :password, :class => "input-block-level"
            .row-fluid
              .span6.remember-row
                =f.check_box :remember_me
                =f.label :remember_me
                //=f.submit "Login"
              .span6
                .pull-right
                  %button.btn.btn-success.pull-right{:type => "submit"} Login
    .span4