.secondary-navigation
  %ul.wat-cf
    %li.active=link_to "Top", url_for(:action => :top)
    %li.first=link_to "Regulation", url_for(:action => :byregulation)
    %li.first=link_to "Process", url_for(:action => :byprocess)
