=render :partial => 'menu'

%h1 Business Process Issue Tracking

-form_for :biz_process, '/testreport/process', :class => :form do |f|
  = f.collection_select :id, BizProcess.all, :id, :title, { :include_blank => true }
  = f.submit "Show", :class => :button

.dashboard
  %table.table
    %tr
      %th System and Control
      %th Result
      %th Impact
      %th Recommendation
    -@system_controls.each do |sc|
      %tr
        %td
          Control:
          &=sc.control.title
          %p.slug
            &=sc.control.slug
          System:
          &=sc.system.title
          %p.slug
            &=sc.system.slug
        -if sc.evidence_complete?
          -unless sc.good_state?
            %td
              &=sc.test_why
            %td
              &=sc.test_impact
            %td
              &=sc.test_recommendation
        -else
          %td Evidence Incomplete
          %td
