=render :partial => 'menu'

%h1 Regulation Issue Tracking

.dashboard
  %table.table
    %tr
      %th Process
      %th Result
      %th Remediation Status
    -@system_controls.each do |sc|
      %tr
        %td
          -sc.control.biz_processes.each do |bp|
            %p
              &=bp.title
          %p.slug
            &=sc.control.slug
        -if sc.evidence_complete?
          -unless sc.good_state?
            %td
              %p
                &=sc.test_why
              %p
                &=sc.test_recommendation
        -else
          %td
            -sc.control.biz_processes.each do |bp|
              %p
                &=bp.title
            %p.slug
              &=sc.control.slug
          %td Evidence Incomplete

-content_for :sidebar, render(:partial => "base/sidebar")
