.tree.remote.control<
  =link_to url_for(:action => :show, :system_id => sc.system.id, :control_id => sc.control.id), :remote => true do
    %img.tree{:src => "/images/expand.gif"}>
  %span{:class => :control, :title => sc.control.slug}=sc.control.title
  -if sc.evidence_complete?
    %span.review.done
      -ControlState::VALUES.each do |value|
        =link_to value.to_s.capitalize, url_for(:action => :update_control_state, :system_id => sc.system.id, :control_id => sc.control.id, :value => value.to_s), :class => (sc.state == value ? "#{value} selected" : value), :remote => true, :method => :post
  -else
    %div.note Incomplete evidence
