:javascript
  $(document).ready(function(){
    $('div.dashboard')
    .bind("ajax:success", function(evt, data, status, xhr){
      el = $(evt.target).parents("div.remote")[0];
      $(el).replaceWith(xhr.responseText);
    })
  });

%h1 Test Results

.dashboard
  -@systems.each do |system|
    -scs = system.system_controls.slugfilter(session[:slugfilter])
    -next if scs.empty?
    %div.system<
      %div{:class => :systemhead, :title => system.slug}&=system.title
      -scs.each do |sc|
        =render :partial => 'testing/closed_control', :locals => {:sc => sc}

/-content_for :sidebar, partial("base/sidebar")
