.modal-header
  %a.close{ :href => '#', :'data-dismiss' => 'modal' } x
  %h1=yield_content!(:modal_title) || "&nbsp;".html_safe

.modal-body.cleanlabels.compact-rows
  =yield

.modal-footer
  =f.submit pat(:save)
  =f.submit pat(:cancel), :type => 'reset'
