.modal-header
  -help_path = yield_content!(:modal_help)
  .pull-right
    -if !help_path.blank?
      %a.btn.btn-mini{ :href => "/help/#{help_path}", :'data-toggle' => 'modal-ajax', :title => "Help - What is this?"}
        %i.grcicon-help-black
    %a.btn.btn-mini{ :'data-dismiss' => 'modal', :href => '#'}
      %i.grcicon-x-grey
      
  %h2=yield_content!(:modal_title) || "&nbsp;".html_safe

.modal-body
  =yield

.modal-info
  =render :partial => 'shared/object_info', :locals => { :object => f.object }

.modal-footer
  .row-fluid
    .span3
      .deny-buttons
        %a.btn{:'data-dismiss' => 'modal-reset', :href => '#' } Cancel
        -delete_path = yield_content!(:modal_delete_path)
        -if !delete_path.blank?
          %a.btn{:href => delete_path, :'data-toggle' => 'modal-ajax-deleteform'} Delete
    .span6
      &nbsp;
    .span3
      .confirm-buttons
        -save_button = yield_content!(:modal_save_button)
        -if !save_button.blank?
          =save_button
        -else
          %a.btn.btn-primary.preventdoubleclick{:'data-toggle' => 'modal-submit', :href => 'javascript://' } Save 
        -approve_path = yield_content!(:modal_approve_path)
        -if !approve_path.blank?
          %a.btn.btn-success.btn-primary.disabled{:'data-toggle' => 'modal-approve', :href => 'javascript://', :disabled => 'disabled'} Approve

