.modal-header
  %nav
    -help_path = yield_content!(:modal_help)
    -if !help_path.blank?
      %a.widgetbtn{ :href => "/help/#{help_path}", :'data-toggle' => 'modal-ajax', :title => "Help - What is this?"}
        %i.gcmsicon-questionmark-grey
    %a.widgetbtn{ :'data-dismiss' => 'modal', :href => '#'}
      %i.gcmsicon-x-grey
  %h1=yield_content!(:modal_title) || "&nbsp;".html_safe

.modal-body.cleanlabels.compact-rows
  =yield

.modal-footer
  .row-fluid
    %nav.fltlft.txtlft.span3
      %a.btn-large.btn-info{:'data-dismiss' => 'modal-reset', :href => '#' } Cancel
      -delete_path = yield_content!(:modal_delete_path)
      -if !delete_path.blank?
        %a.btn-large.btn-warning{:href => delete_path, :'data-toggle' => 'form-destroy', :'data-remote' => 'remote', :'data-method' => 'delete'} Delete
    .toolbar-widget.span6.disabled
      %a.btn{:href => "#", :'data-toggle' => 'version-prev'}
        %i.gcmsicon-arrowleft-black
      %span.btnwell
        Showing Most Recent of
        %strong=f.object.versions.count
        Revisions
      %a.btn{:href => "#", :'data-toggle' => 'version-next'}
        %i.gcmsicon-arrowright-black
    %nav.fltrt.txtrt.span3
      %a.btn-large.btn-warning{:'data-toggle' => 'modal-submit', :href => '#' } Save
      %a.btn-large.btn-success.disabled{:'data-toggle' => 'modal-approve', :href => '#', :disabled => 'disabled'} Approve
