.modal-header
  %nav
    %a.widgetbtn{ :'data-dismiss' => 'modal', :href => '#'}
      %i.gcmsicon-x-grey
  %h1=yield_content!(:modal_title) || "Help"

.modal-body
  =yield

.modal-footer
  .row-fluid
    .span9
    %nav.fltrt.txtrt.span3
      %a.btn-large.btn-success{"data-dismiss" => "modal", :href => "#"} Close
