.modal-header
  %nav
    =yield_content!(:modal_buttons)
    -help_path = yield_content!(:modal_help)
    -if !help_path.blank?
      %a.widgetbtn{ :href => "/help/#{help_path}", :'data-toggle' => 'modal-ajax', :title => "Help - What is this?"}
        %i.gcmsicon-questionmark-grey
    %a.widgetbtn{ :'data-dismiss' => 'modal', :href => '#'}
      %i.gcmsicon-x-grey
  =yield_content!(:modal_title) || 'Add Object'

.modal-body
  =yield

.modal-footer
  .row-fluid
    %nav.fltlft.txtlft.span3
      %input.btn-large.btn-info{:type => 'reset', :value => 'Cancel'}
    .span6
    %nav.fltrt.txtrt.span3
      %input.btn-large.btn-warning{:type => 'submit', :value => 'Save'}
