%section.widget
  %header.header
    %h2
      =yield_content!(:widget_title)
    %a.pull-right{:href => "#", :title => "Help - What is this?"}
      /%i.grcicon-x-grey
      -help_path = yield_content!(:widget_help)
      -if !help_path.blank?
        %a.pull-right.btn.btn-mini{:href => "/help/#{help_path}", :'data-toggle' => 'modal-ajax', :title => "Help - What is this?"}
          %i.grcicon-help-black
          
  =yield_content!(:widget_buttons)
      
      
  %section.content
    =yield
  
  %footer.footer
    =yield_content!(:widget_footer)