.WidgetBox
  .WidgetBoxHeading
    %nav.smallerWidgetBoxHeading
      -# Note, the trailing '>' suppresses whitespace, and is important here.
      /%a.widgetbtn{:href => "#", :title => "Help - What is this?"}
      /  %i.gcmsicon-x-grey
      -help_path = yield_content!(:widget_help)
      -if !help_path.blank?
        %a.widgetbtn{:href => "/help/#{help_path}", :'data-toggle' => 'modal-ajax', :title => "Help - What is this?"}
          %i.gcmsicon-questionmark-grey
      /%a.widgetbtn{:href => "#", :title => "Help - What is this?"}
      /  %i.gcmsicon-edit-grey
      /%a.widgetbtn{:href => "#", :title => "Help - What is this?"}
      /  %i.gcmsicon-enlarge-grey
      =yield_content!(:widget_buttons)
    .WidgetTitle
      =yield_content!(:widget_title)
  .WidgetBoxContent
    =yield
