-widget_class = '' if local_assigns[:widget_class].nil?
-widget_class_yield = yield_content!(:widget_class)
-widget_class += " #{widget_class_yield}" if widget_class_yield

%section.widget{ :class => widget_class }
  %header.header
    %h2
      =yield_content!(:widget_title)
      -help_path = yield_content!(:widget_help)
    %a.remove{:href => "#", :class => "btn btn-mini pull-right", :rel => "tooltip", :title => "Remove widget"}
      %i.grcicon-x-grey
    -if !help_path.blank?
      %a.pull-right.btn.btn-mini{:href => "/help/#{help_path}", :'data-toggle' => 'modal-ajax', :rel => "tooltip", :title => "Help - What is this?"}
        %i.grcicon-help-black      
          
  =yield_content!(:widget_buttons)
      
      
  %section.content
    =yield
  
  
  =yield_content!(:widget_footer)