-widget_class = '' if local_assigns[:widget_class].nil?
-widget_class_yield = yield_content!(:widget_class)
-widget_class += " #{widget_class_yield}" if widget_class_yield
-widget_id_yield = yield_content!(:widget_id)
-widget_id = widget_id_yield if local_assigns[:widget_id].nil?

%section{ :class => "widget #{widget_class}", :id => widget_id }
  %header.header
    .showhide.active{:rel => "tooltip", :title => "open/close widget", :'data-placement' => "right"}
    %h2
      =yield_content!(:widget_title)
      -help_path = yield_content!(:widget_help)
    -if has_feature? :BETA
      %a.remove{:href => "#", :class => "btn btn-mini pull-right", :rel => "tooltip", :title => "Remove widget", :'data-placement'=>"left"}
        %i.grcicon-x-grey
    -if !help_path.blank?
      %a.pull-right.btn.btn-mini{:href => "/help/#{help_path}", :'data-toggle' => 'modal-ajax', :rel => "tooltip", :title => "Help - What is this?", :'data-placement'=>"left"}
        %i.grcicon-help-black      
          
  =yield_content!(:widget_buttons)
      
      
  %section.content
    =yield
  
  
  =yield_content!(:widget_footer)