!!! Strict
%html{:lang => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %title=@title || "GRC"
    -if has_feature? :BETA
      =stylesheet_link_tag 'design'
      =javascript_include_tag 'design'
      -#
        %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
        %meta{:content => "", :name => "description"}/
        %meta{:content => "", :name => "author"}/
        / The HTML5 shim, for IE6-8 support of HTML5 elements
        /[if lt IE 9] <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    -else
      =stylesheet_link_tag 'dashboard'
      =javascript_include_tag 'dashboard'
    =csrf_meta_tag
    -#FIXME: This resource occasionally hangs and prevents page from rendering
      %link(href='https://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css')
    %link(href='/favicon.ico' rel='icon' type='image/x-icon')
    :javascript
      jQuery(function($) { $('head').append("<link href='https://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'></link>"); });

  %body{ :class => "#{has_feature?(:BETA) ? 'BETA' : ''}" }
    .navbar.navbar-fixed-top
      .navbar-inner#pageheader
        .row-static.container
          .headerleft
            %a.brand{:href => root_path}
              -if CMS_CONFIG["COMPANY_LOGO"].present?
                =image_tag(CMS_CONFIG['COMPANY_LOGO'], :alt => 'GRC', :title => 'GRC')
              -elsif has_feature? :BETA
                =image_tag('/images/logos/google_logo_white.png')
                GRC
              -else
                Google GRC
          -if has_feature? :BETA
            -if controller.controller_name == 'programs_dash'
              .headercenter.fltnone
                =render :partial => 'design/templates/grcmenu'
          .headerright
            .btn-toolbar.fltrt.toolbar-nav
              .btn-group
                -if controller_name == 'design'
                  -path = programs_dash_path
                -else
                  -path = request.fullpath
                -path = path.gsub(/BETA=[^&]*&?/, '').sub(/[?&]$/, '')
                -path += path.include?('?') ? '&' : '?'
                -if has_feature? :BETA
                  %a.btn.btn-warning{ :href => "#{path}BETA=0" } Hide
                -else
                  %a.btn.btn-success{ :href => "#{path}BETA=1" } Show Demo
              -if controller.controller_name != 'programs_dash'
                .btn-group
                  -# should find their site path back, jvg hack
                  %a.btn{ :onclick => 'history.back(); return false;'  }
                    %i.gcmsicon-back-black
                    Back
              -help_path = yield(:page_help)
              -if !help_path.blank?
                .btn-group
                  %a.btn{ :href => "/help/#{help_path}", :'data-toggle' => 'modal-ajax' } Help
              -# Show 'Dashboard' unless on dashboard page
              -if controller.controller_name != 'programs_dash'
                .btn-group
                  %a.btn{ :href => programs_dash_path } Dashboard
              =yield :header_buttons
      .navbar-secondinner
        .row-static.container
          .headerleft
            =yield :header
          .headerright
            =yield :subheader_plus
            .btn-toolbar.fltrt.userInfo-nav
              #userInfo
                Welcome
                %strong=current_user.name || current_user.email
                %a{:href => logout_path} Logout
              =yield :subheader_extras

    .container.graphpaper
      .row
        .span12
          .flash!=[:error, :warning, :notice].map { |type| content_tag(:div, flash[type], :class => type) if flash[type] }.join
      =yield

    .gcms-footer
      .block
        %p
          =CMS_CONFIG['COMPANY']
          Confidential.
          Copyright &copy;
          =Time.now.year
          =CMS_CONFIG['COMPANY']

    #templates
      #help-modal.modal.hide.fade
        .modal-header
          %a.close{"data-dismiss" => "modal"} x
          %h1 This content/function is coming soon
        .modal-body
          %p We are working on it!
        .modal-footer
          %a.close{"data-dismiss" => "modal", :href => "#"} Close

      #comingsoon-modal.modal.hide.fade
        .modal-header
          %a.close{"data-dismiss" => "modal"} x
          %h1 This content/function is coming soon
        .modal-body
          %p We are working on it!
        .modal-footer
          %a.close{"data-dismiss" => "modal", :href => "#"} Close
