-content_for :modal_title do
  -if f.object.new_record?
    Create a new account
  -else
    Edit account details

-if !f.object.new_record?
  -content_for :modal_delete_path, delete_flow_account_path(f.object)

-content_for :modal_help, :create_account

.row-fluid
  =wrapped_text_field f, :span6, :email, :placeholder => 'user@google.com'
.row-fluid
  -if !CmsRails::Application.sso_callback_url
    =wrapped_text_field f, :span4, :password, :placeholder => 'Enter password', :type => 'password'
    =wrapped_text_field f, :span4, :password_confirmation, :placeholder => 'Confirm password', :type => 'password'
  -else
    .span8
      %input{ :type => :hidden, :name => :disable_password, :value => 'yes' }
  =wrapped_select f, :span4, :role, access_control_roles

