-if @accounts.empty?
  .no-results
    No results found
-else
  %ul.tree-structure.simple.one-line-structure
    -@accounts.sort_by { |account| account.person.nil? ? 'z' : (account.person.last_name || 'z') }.each do |account|
      %li
        .item-title
          .row-fluid
            .span10
              .title
                =link_to '#' do
                  =account.display_search_name || "&nbsp;".html_safe
          .item-actions
            %a.widgetbtn.btn.btn-mini{ :'data-form-target' => "refresh", :'data-delete-target' => "refresh", :'data-modal-reset' => "reset", :'data-toggle' => "modal-ajax-form", :href => edit_flow_account_path(account) }
              %i.grcicon-edit
