.group
  =f.label :state
  =f.select :state, BizProcessControl.properties[:state].flag_map.to_a.sort.map { |ind, name| name }, {:class => :enum}

.group
  =f.label :ticket
  =f.text_field :ticket, :class => :text_field

.group
  =f.label :biz_process_id
  =f.collection_select :biz_process_id, BizProcess.all, :id, :display_name, {}, {:class => :collection}


.group.navform.wat-cf
  =f.submit pat(:save), :class => :button
