.secondary-navigation
  %ul.wat-cf
    %li.first.active=link_to pat(:list), controls_path
    %li=link_to pat(:new), new_control_path
    %li=link_to pat(:sections), sections_controls_path
    %li=link_to pat(:biz_processes), biz_processes_controls_path
    %li=link_to pat(:systems), systems_controls_path
    %li=link_to pat(:implemented_controls), controls_controls_path
    %li=link_to pat(:evidence_descriptors), evidence_descriptors_controls_path
