.block
  =render :partial => "admin/controls/secnav"
  =form_for((@cycle || Cycle.new), :url => slugfilter_cycle_update_path(:format => :js) , :html => { :class => :form, :remote => true }) do |f|
    Cycle:
    =f.collection_select :id, Cycle.all(:order => :start_at), :id, :display_name, :include_blank => true
    =f.submit "Show", :class => :button


  -if @cycle
    =render :template => "base/many2many_nested"
  -else
    Must choose a cycle before connecting systems.
